<mat-horizontal-stepper #widgetStepper>

  <mat-step label="Widget">
    <widget-header [stepper]="widgetStepper" [container]="container" title="Choose a Widget Type" [showBack]="false"></widget-header>

    <widget-type [widgetTypes]="widgetTypes" (onSelect)="onSelectWidgetType($event)"></widget-type>
  </mat-step>

  <mat-step label="Category">
    <widget-header [stepper]="widgetStepper" [container]="container" title="Choose a Category" [showBack]="true"></widget-header>

    <ng-container *ngIf="model.type" [ngSwitch]="model.type.id">
      <widget-category *ngSwitchCase="widgets.ANALYSIS" (onSelect)="onSelectCategory($event)">
      </widget-category>

      <widget-metric *ngSwitchCase="widgets.KPI" (onSelect)="onSelectMetric($event)">
      </widget-metric>
    </ng-container>
  </mat-step>

  <mat-step label="Analysis">
    <widget-header [stepper]="widgetStepper" *ngIf="model.subCategory || model.metric" [container]="container" [title]="model.subCategory ? model.subCategory.name : model.metric.metricName"
      [showBack]="true"></widget-header>

    <widget-analysis *ngIf="model.subCategory" [category]="model.subCategory.id" (onAnalysisAction)="onAnalysisAction($event)">
    </widget-analysis>

    <widget-kpi *ngIf="model.metric" [metric]="model.metric" [column]="model.column" (onKPIAction)="onKPIAction($event)">
    </widget-kpi>
  </mat-step>

</mat-horizontal-stepper>
