@import "themes/base/colors";

add-widget {
  background-color: whitesmoke;
  display: block;
  min-height: 100%;
  max-width: 400px;

  mat-horizontal-stepper.mat-stepper-horizontal {
    background-color: transparent;

    .mat-horizontal-stepper-header-container {
      display: none;
    }
  }

  widget-type {
    button.choose-widget-type {
      background-color: white;
      margin: 5px 0;
      width: 100%;

      &:first-child {
        margin-top: 10px;
      }
    }
  }

  widget-category {
    mat-expansion-panel.mat-expansion-panel {
      background-color: transparent;
      border-bottom: 1px solid $primary-grey-g1;

      mat-expansion-panel-header.mat-expansion-panel-header {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid $primary-grey-g1;
      }

      &:not([class*=mat-elevation-z]) {
        box-shadow: none;
      }
    }

    button.choose-category {
      width: 100%;
      text-align: left;
    }
  }

  widget-analysis {
    .choose-analysis {
      color: $primary-grey-g5;
      padding: 16px 10px;
      display: flex;
      margin: 5px 0;
      background: white;

      mat-icon {
        font-size: 48px;
        height: 48px;
        width: 20%;

        &::before {
          color: $primary-grey-g2;
        }
      }

      & > div {
        flex-grow: 1;
        width: 80%;
        display: flex;
        flex-direction: column;

        & > * {
          margin: 5px 0;
        }

        p {
          margin: 0;
        }

        small.analysis-metric {
          color: $primary-grey-g3;
        }
      }
    }
  }
}
