<mat-horizontal-stepper #widgetStepper>
  <mat-step label="Widget">
    <widget-type [widgetTypes]="widgetTypes" (onSelect)="onSelectWidgetType($event)"></widget-type>
  </mat-step>
  <mat-step label="Category">
    <widget-category (onSelect)="onSelectCategory($event)"></widget-category>
  </mat-step>
  <mat-step label="Analysis">
    <widget-analysis *ngIf="model.subCategory" [category]="model.subCategory.id"
      (onAnalysisAction)="onAnalysisAction($event)">
    </widget-analysis>
  </mat-step>
</mat-horizontal-stepper>
