@import "src/themes/base/colors";
$header-padding-top: 12px;
$header-padding-bottom: 12px;
$header-font-size: 18px;

:host {
  .title {
    margin: 0;
    padding: $header-padding-top 0 $header-padding-bottom;
    text-align: center;
    font-weight: normal;
    font-size: $header-font-size;
    margin-left: 16%;
  }

  .toggle-icons {
    text-align: right;
    font-size: 15px;
    margin-right: 10px;
  }

  .mat-icon.active {
    color: $primary-blue-b2;
  }
  .chart-data-grid {
    height: 100%;

    dx-data-grid {
      height: calc(100% - 45px);
    }
  }
}
