@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?g1ve0q') format('truetype'),
    url('fonts/icomoon.woff?g1ve0q') format('woff'),
    url('fonts/icomoon.svg?g1ve0q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeseries-chart:before {
  content: "\e902";
}
.icon-help:before {
  content: "\e900";
}
.icon-pie-chart:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-fork:before {
  content: "\e90a";
}
.icon-bell-list:before {
  content: "\e90c";
}
.icon-bell:before {
  content: "\e90d";
}
.icon-spline-chart:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-caret-small:before {
  content: "\e910";
}
.icon-rounded-square:before {
  content: "\e911";
}
.icon-card-view:before {
  content: "\e912";
}
.icon-chart-placeholder:before {
  content: "\e913";
}
.icon-chart-view:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-collapse:before {
  content: "\e916";
}
.icon-description:before {
  content: "\e919";
}
.icon-folder:before {
  content: "\e91a";
}
.icon-full-screen:before {
  content: "\e91b";
}
.icon-group-by-column:before {
  content: "\e91c";
}
.icon-hor-bar-chart:before {
  content: "\e920";
}
.icon-key:before {
  content: "\e926";
}
.icon-launchpad:before {
  content: "\e927";
}
.icon-menu:before {
  content: "\e929";
}
.icon-more:before {
  content: "\e92a";
}
.icon-navicon:before {
  content: "\e92b";
}
.icon-pivot:before {
  content: "\e92c";
}
.icon-plus:before {
  content: "\e92d";
}
.icon-print:before {
  content: "\e931";
}
.icon-caret-large:before {
  content: "\e932";
}
.icon-sort:before {
  content: "\e934";
}
.icon-Table-view:before {
  content: "\e935";
}
.icon-trash:before {
  content: "\e936";
}
.icon-upload:before {
  content: "\e937";
}
.icon-user-placeholder:before {
  content: "\e938";
}
.icon-vert-bar-chart:before {
  content: "\e939";
}
.icon-AVG:before {
  content: "\e93a";
}
.icon-query-mode:before {
  content: "\e93b";
}
.icon-MIN:before {
  content: "\e93c";
}
.icon-Sum:before {
  content: "\e93d";
}
.icon-bubble-chart:before {
  content: "\e93e";
}
.icon-line-chart:before {
  content: "\e93f";
}
.icon-scatter-chart:before {
  content: "\e940";
}
.icon-export:before {
  content: "\e941";
}
.icon-combo-chart:before {
  content: "\e942";
}
.icon-designer-mode:before {
  content: "\e943";
}
.icon-remove:before {
  content: "\e944";
}
.icon-download:before {
  content: "\e945";
}
.icon-report:before {
  content: "\e946";
}
.icon-edit:before {
  content: "\e947";
}
.icon-expand:before {
  content: "\e949";
}
.icon-eye-disabled:before {
  content: "\e94b";
}
.icon-filter:before {
  content: "\e94d";
}
.icon-search:before {
  content: "\e94e";
}
.icon-MAX:before {
  content: "\e951";
}
.icon-area-chart-minimal:before {
  content: "\e953";
}
.icon-xy-axes:before {
  content: "\e954";
}
.icon-line-chart-minimal:before {
  content: "\e955";
}
