<div class="brand-logo" e2e="brand-logo"></div>
<div>
  <h1>Login</h1>

  <div class="login-info">
    <span
      >Use the login credentials given at time of sign up. If you don't</span
    >
    <br />
    <span>have an account yet contact your system administrator</span>
  </div>

  <form
    #loginForm="ngForm"
    name="loginForm"
    class="login-form"
    method="post"
    (submit)="login()"
  >
    <div class="error-msg" e2e="error-msg" [innerHtml]="states.error"></div>

    <mat-form-field>
      <input
        matInput
        #username
        maxlength="30"
        [(ngModel)]="dataHolder.username"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Username"
        e2e="username-input"
        required
      />

      <button tabindex="-1" mat-button matSuffix mat-icon-button>
        <mat-icon matTooltip="Username" fontIcon="icon-chat-bot"></mat-icon>
      </button>
    </mat-form-field>
    <br />
    <password-toggle
      [placeholder]="'Password'"
      (change)="passwordChanged($event)"
      [state]="state"
    >
    </password-toggle>

    <div class="login-buttons button-row">
      <div class="forgot-password">
        <a (click)="reset()" e2e="forgot-password">Forgot Password?</a>
      </div>
      <button mat-raised-button color="primary" e2e="login-btn" type="submit">
        Login
      </button>
    </div>
  </form>
</div>
