@import "themes/base/colors";

designer-settings-group {
  .settings__group__list {
    border: 1px solid $primary-blue-b2;
    min-height: 40px;
    padding: 5px;
  }

  .settings__group__title {
    color: $primary-blue-b3;
  }
}
