<div>
  <span class ="settings__group__title">
      {{groupAdapter.title}}
  </span>
  <div *ngIf="artifactColumns"
       class="settings__group__list"
       [dndSortableContainer]="dndSortableContainerObj"
       [dndCollection]="artifactColumns"
       (dndOnDrop)="onDrop($event)">
    <expandable-field *ngFor="let artifactColumn of artifactColumns; let i = index; trackBy: trackByFn"
                      [dndSortable]="artifactColumn"
                      [dndSortableIndex]="i"
                      (dndOnDragEnd)="onDragEnd($event, fromIndex)"
                      [artifactColumn]="artifactColumn"
                      (removeRequest)="onRemoveField(artifactColumn)"
                      class="settings__list-item"></expandable-field>
  </div>
</div>
