@import "themes/base/colors";

designer-settings-group {
  background-color: balck;

  .settings__group__list {
    border: 1px solid $primary-blue-b2;
    background-color: $primary-grey-g6;
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .settings__group__title {
    color: $primary-blue-b3;
  }
}
