<div>
  <span class ="settings__group__title">
      {{groupAdapter.title}}
  </span>
  <div *ngIf="artifactColumns"
       class="settings__group__list">
    <expandable-field *ngFor="let artifactColumn of artifactColumns; let i = index; trackBy: index"
                      [artifactColumn]="artifactColumn"
                      (moveRequest)="onMoveField($event, i)"
                      (removeRequest)="onRemoveField(artifactColumn)"
                      class="settings__list-item"></expandable-field>
  </div>
</div>
