[Unit]
Description=SAW container logger
Before=saw-deploy.service

[Service]
ExecStart=/usr/bin/bash -c "journalctl -f > /proc/1/fd/1"
SyslogIdentifier=saw-logger
Restart=on-failure

[Install]
WantedBy=multi-user.target
