<style>.verticalcenter{
    position: absolute;
    top: 42%;
    left: 50%;
    margin-top: -186px;
    margin-left: -200px;
    width:300px;
}</style>
<div class="section">
    
    <div class="gallery-section">
    <div class="verticalcenter">
        <div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Log in to get started </h4>
      <p class="text-center ng-binding" style="color:red; margin-bottom: 25px;"></p>
      <form action="/#" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" style="margin-bottom: 0px !important;" id="loginForm" name="login_name" ng-submit="submit()" ng-enter="login();">
						<div class="form-group">
							<div class="col-sm-12 col-xs-12 col-md-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="username" name="user" placeholder="Username" ng-model="usrname" ng-enter="login()" required="">
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3"><p class="help-block ng-hide" ng-show="login_name.user.$error.required &amp;&amp; login_name.user.$dirty"><i class="fa fa-times-circle"></i> Required</p></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 col-xs-12 col-md-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="password" placeholder="Password" name="pass" ng-model="paswrd" ng-enter="login()" required="">
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3"><p class="help-block ng-hide" ng-show="login_name.pass.$error.required &amp;&amp; login_name.pass.$dirty"><i class="fa fa-times-circle"></i> Required</p></div>
              </div>
						</div>
      </form>
      <div class="clearfix">
        <div class="pull-right">
          <button class="btn-primary btn" ng-click="login();" ng-disabled="login_name.$invalid || vm.dataLoading" disabled="disabled">Login</button>
          <a href="#/pre" class="btn-primary btn">Reset Password</a>
        </div>
      </div>
    </div>
    </div>
	</div>
    </div>
</div>