@import "themes/base/colors";

.base-dialog {
  display: block;
  margin: -5px;
  color: $primary-grey-g4;

  .base-dialog__header {
    padding: 0 0 10px;
    border-bottom: 1px solid $primary-grey-g2;

    strong {
      font-size: 20px;
    }
  }

  .base-dialog__content {
    padding: 0 10px;
    overflow-y: auto;
  }

  .base-dialog__actions {
    padding-top: 10px;
    border-top: 1px solid $primary-grey-g2;
  }
}
