<div fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <mat-radio-group [(ngModel)]="limitType" style="width:50%;">
    <mat-radio-button value="top">Top</mat-radio-button>
    <mat-radio-button style="margin-left: 4%;" value="bottom">Bottom</mat-radio-button>
  </mat-radio-group> -->
  <mat-button-toggle-group [(ngModel)]="limitType" class="limit-type">
    <mat-button-toggle value="top">
      Top
    </mat-button-toggle>
    <mat-button-toggle value="bottom">
      Bottom
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field style="width:35%;">
      <input matInput type="number"
                      [(ngModel)]="limitValue"
                      autocomplete="off"
                      min="0"
                      placeholder="Value"/>
  </mat-form-field>
  <button mat-raised-button color="primary"
          (click)="onLimitDataChange()"
  >
    Apply
  </button>
</div>
