<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-button-toggle-group [vertical]="isInTabletMode" [(ngModel)]="limitType" class="limit-type" appearance="legacy">
    <mat-button-toggle value="top">
      Top
    </mat-button-toggle>
    <mat-button-toggle value="bottom">
      Bottom
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field style="width:35%;">
      <input matInput type="number"
                      [(ngModel)]="limitValue"
                      autocomplete="off"
                      min="0"
                      placeholder="Value"/>
  </mat-form-field>
  <button mat-raised-button color="primary"
          (click)="onLimitDataChange()"
  >
    Apply
  </button>
</div>
