@import "src/themes/base/colors";

:host {
  border: 1px solid #CCC;
}

.dateDetails {
  float: left;
  margin: 12px;

  label {
    margin-right: 20px;
  }

  .clear {
    color: #0096D5;
    cursor: pointer;
    font-size: 14px;
  }
}

input.cron-scheduler__input:focus {
  outline: none;
}

::ng-deep mat-tab-group mat-tab-header div div div .mat-tab-label {
  min-width: 80px !important;
}

mat-form-field {
  width: 115px !important;
  padding: 5px;
}

mat-select {
  padding: 0;
}

mat-radio-group.to-date {
  padding-left: 90px;

  .end-date {
    padding-left: 45px;
  }

  div mat-form-field {
    width: 115px !important;
    float: right;
    margin-top: -68px;
  }
}

::ng-deep .mat-select-value {
  width: 90% !important;
  padding: 8px 15px;
}

::ng-deep .mat-select {
  position: relative !important;
  width: 100px !important;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.tab {
  overflow: hidden;
  border: 1px solid #CCC;
  background-color: #F1F1F1;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;

  div .daysOfWeek {
    float: left;
    margin: 5px 65px 0 -44px;
  }

  .week-datePicker {
    float: left;
  }
}

.checkbox {
  text-align: center;
  margin: 0 5px 15px 42px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary-blue-b2;
}

.owl-dt-control-button-content {
  color: $primary-blue-b2 !important;
}

.owl-dt-container-info .owl-dt-container-info-active {
  color: $primary-blue-b2 !important;
}
