<div class="dialog-container" #zoomAnalysisChartContainer>
  <div class="dialog__content" fxLayout="column">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
      *ngIf="(filterCount$ | async) > 0"
    >
      <div fxLayout="column">
        <span class="filter-counter" i18n
          >{(filterCount$ | async), plural, =1 {1 Filter} other
          {{{(filterCount$ | async)}} Filters} } Applied</span
        >
      </div>

      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let filter of filters$ | async; let i = index"
          style="padding-bottom: 1px;padding-top: 3px;"
        >
          {{ getDisplayName(filter) }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div
      *ngIf="data.analysis"
      [ngSwitch]="data.analysis.type"
      class="observe-analysis"
    >
      <observe-map
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'map':data.analysis?.mapOptions?.mapType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-map>
      <observe-map-chart
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'mapChart':data.analysis?.mapOptions?.mapType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [enableChartDownload]="true"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-map-chart>

      <observe-chart
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'chart':data.analysis?.chartOptions?.chartType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [enableChartDownload]="true"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-chart>

      <observe-pivot
        *ngIf="data.analysis.type === 'pivot'"
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
      >
      </observe-pivot>

      <observe-report
        *ngIf="['report', 'esReport'].includes(data.analysis.type)"
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
      >
      </observe-report>
      <mat-icon
        (click)="close()"
        class="close-icon"
        fontIcon="icon-close"
      ></mat-icon>
    </div>
  </div>
</div>
