<div class="dialog-container" #zoomAnalysisChartContainer>
  <div
    class="dialog__content"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="10px"
  >
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        style="position: fixed; background: white; z-index: 1;"
        mat-icon-button
        (click)="close()"
      >
        <mat-icon class="close-icon" fontIcon="icon-close"></mat-icon>
      </button>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
      class="filter-row"
      *ngIf="(filterCount$ | async) > 0"
    >
    <div style="font-size: 15px;">
        <span class="filter-counter" i18n>
          Filters:
        </span>
        <code
        [innerHTML]="
          previewString ||
          'Filters might be missing or invalid. Please add fields below or check for errors.'
        "
        >
      </code>
      </div>
    </div>

    <div
      *ngIf="data.analysis"
      [ngSwitch]="data.analysis.type"
      class="observe-analysis"
      [ngClass]="{ 'observe-map-analysis': data.analysis.type === 'map' }"
    >
      <observe-map
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'map':data.analysis?.mapOptions?.mapType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-map>
      <observe-map-chart
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'mapChart':data.analysis?.mapOptions?.mapType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [enableChartDownload]="true"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-map-chart>

      <observe-chart
        *ngIf="
          data.analysis.type
            | isAnalysisType: 'chart':data.analysis?.chartOptions?.chartType
        "
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [enableChartDownload]="true"
        [updater]="data.updater"
        [ViewMode]="true"
      >
      </observe-chart>

      <observe-pivot
        *ngIf="data.analysis.type === 'pivot'"
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
      >
      </observe-pivot>

      <observe-report
        *ngIf="['report', 'esReport'].includes(data.analysis.type)"
        class="analysis-container"
        [item]="data"
        (onRefresh)="refreshTile($event)"
        [analysis]="data.analysis"
        [updater]="data.updater"
      >
      </observe-report>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Details</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutGap="10px">
            <strong>Description:</strong>
            <div style="margin: 0px; word-break: break-all;">
              {{ data.analysis.description || 'No description provided.' }}
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <strong>Data Pod:</strong>
            <div style="margin: 0px">
              {{ data.analysis.metricName || 'Not Available' }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
