@import 'src/themes/base/colors';

:host {
  .dialog-container {
    height: calc(100vh - 110px) !important;

    .dialog__content {
      height: 100%;
    }
  }
}

.observe-map-analysis {
  min-height: 75%;
}

::ng-deep code {
  .bool-op {
    color: $primary-blue-b2;
  }

  .operator {
    color: $secondary-orange;
  }
}
