/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-size: 9pt;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 1em;
	line-height: 1em;
	color: #000000;
	text-align: left;
	font-family: Arial;
	mc-hyphenate: never;
}

h1
{
	margin: 0;
	line-height: normal;
	margin-bottom: .5em;
	page-break-before: always;
	font-family: Arial;
	page-break-after: avoid;
	mc-hyphenate: never;
	color: #00c9e8;
	font-size: 18pt;
	font-weight: normal;
}

h2
{
	margin: 0;
	line-height: normal;
	margin-bottom: .5em;
	font-family: Arial;
	page-break-before: always;
	page-break-after: avoid;
	mc-hyphenate: never;
	color: #176bce;
	font-size: 13pt;
	font-weight: normal;
}

h3
{
	margin: 0;
	line-height: normal;
	margin-bottom: .5em;
	font-family: Arial;
	page-break-after: avoid;
	page-break-before: always;
	mc-hyphenate: never;
	color: #914191;
	font-size: 13pt;
	font-weight: normal;
	text-transform: uppercase;
}

h4
{
	margin: 0;
	line-height: normal;
	margin-bottom: .5em;
	font-style: italic;
	font-family: Arial;
	font-weight: bold;
	page-break-after: avoid;
	mc-hyphenate: never;
	color: #000000;
	font-size: 9pt;
}

h5
{
	font-size: 9pt;
	line-height: normal;
	margin-top: 0em;
	margin-bottom: 0em;
	margin: 0;
	font-weight: bold;
	font-family: Arial;
	page-break-after: avoid;
	color: #0095d4;
	mc-hyphenate: never;
}

h6
{
	font-weight: bold;
	font-size: 0.81em;
	line-height: normal;
	font-family: Arial;
}

p
{
	margin-top: 0pt;
	margin: 0;
	padding: 0px;
	margin-bottom: 1em;
	color: #000000;
	padding-bottom: 0em;
	line-height: normal;
	font-family: Arial;
	mc-hyphenate: never;
	font-size: 9pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial;
	font-size: 9pt;
}

div.sideContent
{
	float: right;
	margin-left: .81em;
	margin-bottom: .81em;
	width: auto;
	margin-top: 1em;
}

img
{
	border: none;
	padding-left: 0;
	text-align: center;
	text-indent: 0;
	margin-left: 0;
	max-width: 6.5in;
	max-height: auto;
}

a.Popup
{
	color: #009BDF;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	font-weight: normal;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	font-family: Arial;
	color: #009BDF;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
	font-family: Arial;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-family: Arial;
	mc-closed-image: none;
	mc-image: none;
	color: #009BDF;
	font-weight: normal;
	mc-open-image: none;
}

MadCap|TextPopupArrow
{
	display: none;
	mc-closed-image: none;
	mc-image: none;
	mc-image-position: none;
	mc-open-image: none;
	font-family: Arial;
}

p.footer_center
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: center;
	line-height: normal;
	font-size: 9pt;
	font-family: Arial;
}

ol
{
	line-height: normal;
	font-family: Arial;
	mc-hyphenate: never;
}

p.IndexHeading
{
	font-family: Arial;
	font-weight: bold;
}

p.ManualTitleWORD
{
	font-size: 18pt;
	color: #009BDF;
	font-family: Arial;
	font-weight: bold;
}

MadCap|topicToolbarProxy
{
	width: 100%;
	font-family: Arial;
	text-align: right;
}

MadCap|searchBarProxy
{
	margin-bottom: 2em;
	float: right;
	font-family: Arial;
}

MadCap|menuProxy
{
	width: auto;
	overflow: auto;
	max-width: auto;
	margin-top: 1.6em;
	z-index: 200;
	left: 0.81em;
	clear: none;
	font-family: Arial;
}

a:link
{
	mc-open-image: none;
	mc-image: none;
	mc-closed-image: none;
	font-weight: normal;
	color: #203ab1;
}

a:visited
{
	mc-open-image: none;
	mc-image: none;
	mc-closed-image: none;
	font-weight: normal;
	color: #dcdadb;
}

a:focus
{
	mc-open-image: none;
	mc-image: none;
	mc-closed-image: none;
	font-weight: normal;
	color: #009bdf;
}

a:hover
{
	mc-open-image: none;
	mc-image: none;
	mc-closed-image: none;
	font-weight: normal;
	color: #00c8e8;
}

a:active
{
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	font-weight: normal;
	color: #203ab1;
}

MadCap|bodyProxy
{
	overflow: auto;
	z-index: 100;
	font-family: Arial;
}

MadCap|helpControlMenuItem
{
	font-size: .81em;
	font-weight: bold;
	font-family: Arial;
}

MadCap|helpControlMenu
{
	font-family: Arial;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #009bdf;
}

table
{
	mc-caption-repeat: true;
	mc-caption-continuation: ' (continued)';
	table-layout: auto;
	font-family: Arial;
	mc-breadcrumbs-count: inherit;
	font-size: 9pt;
	line-height: normal;
	margin-bottom: 1em;
}

table.TableStyle-Simple3-colm
{
	width: auto;
}

table.TableStyle-Simple4-colm
{
	width: auto;
}

table.widthPercent-CODE
{
	width: 95%;
	font-family: monospace;
	font-size: 9pt;
	line-height: normal;
}

div.TableHead	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.TableHead::before
{
	content: ' ';
	display: table;
}

div.TableHead::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.TableHead > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.TableHead > div:nth-child(1)
{
	width: auto;
	margin-left: 0%;
}

div.TableHead > div:nth-child(2)
{
	width: auto;
	margin-left: 0%;
}

div.TableHead > div:nth-child(3)
{
	width: auto;
	margin-left: 0%;
}

MadCap|breadcrumbsProxy
{
	z-index: 300;
	font-family: Arial;
	font-size: 0.8em;
	font-style: italic;
}

div.GlossaryPageDefinition
{
	margin-left: 4em;
	font-family: Arial;
}

tr
{
	font-family: Arial;
}

div
{
	
}

MadCap|glossaryTerm.Expanding
{
	color: #253746;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #009BDF;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
}

MadCap|glossaryTerm.Popup
{
	color: #009BDF;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
	border: none;
}

MadCap|glossaryTerm:focus
{
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
	color: #009bdf;
}

MadCap|glossaryTerm:hover
{
	color: #253746;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
}

MadCap|glossaryTerm
{
	color: #009BDF;
	font-family: Arial;
	font-weight: normal;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	background-image: none;
	border: none;
}

MadCap|expanding
{
	background-image: none;
	mc-closed-image: none;
	mc-image: none;
	mc-image-position: none;
	mc-image-spacing: 0;
	mc-open-image: none;
	color: #009bdf;
}

nav
{
	mc-closed-image: none;
	background-image: none;
	mc-image: none;
	mc-open-image: none;
	font-family: Arial;
}

caption
{
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
	line-height: normal;
	padding-bottom: 1em;
	mc-auto-number-class: inherit;
	font-weight: normal;
	color: #009bdf;
	margin-bottom: 0;
}

figcaption
{
	color: #253746;
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
	line-height: normal;
	padding-bottom: 1em;
}

th
{
	font-family: Arial;
	font-weight: normal;
}

thead
{
	font-family: Arial;
}

b
{
	font-family: Arial;
	font-weight: bold;
}

footer
{
	font-family: Arial;
}

header
{
	font-family: Arial;
	mc-heading-level: 1;
}

MadCap|conceptLink:focus
{
	font-family: Arial;
	font-weight: bold;
	mc-image: none;
	color: #203ab1;
}

MadCap|footnote
{
	font-family: Arial;
}

MadCap|footnoteBlock
{
	font-family: Arial;
}

MadCap|footnotesBlock
{
	font-family: Arial;
}

div.GlossaryPageEntry
{
	font-family: Arial;
}

div.GlossaryPageHeading
{
	font-weight: bold;
	font-family: Arial;
}

div.GlossaryPageTerm
{
	font-family: Arial;
	font-weight: bold;
}

MadCap|popup:focus
{
	color: #009bdf;
}

MadCap|xref:focus
{
	color: #009bdf;
}

p.sanserif
{
	font-family: sans-serif;
}

p.TOC1
{
	font-family: Arial;
	font-weight: bold;
}

span
{
	font-family: Arial;
}

h2.NoNumbering
{
	
}

code
{
	font-size: 9pt;
}

div.codebold
{
	font-size: 1.2em;
}

p.Index2
{
	margin-bottom: 0.5em;
}

p.Index3
{
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

p.Index1
{
	margin-bottom: 0.5em;
}

p.Index4
{
	margin-bottom: 0.5em;
}

@media print
{
	p
	{
		padding: 0px;
		padding-bottom: 0em;
		mc-short-line: 5px;
		mc-short-line-method: loosen-tighten;
		orphans: 3;
		widows: 3;
		mc-hyphenate: never;
		font-family: Arial;
	}

	p.Half_Space
	{
		margin-bottom: 1em;
	}

	body
	{
		orphans: 4;
		font-family: Arial;
	}

	img.Thumbnail
	{
		margin-left: 0em;
		left: 0em;
		text-align: center;
		margin-bottom: 0px;
	}

	td.footer
	{
		font-size: .81em;
		font-family: Arial;
	}

	p.header
	{
		font-size: 0.81em;
		font-family: Arial;
	}

	p.TOC1
	{
		padding-bottom: 0pt;
		page-break-after: avoid;
		margin-bottom: 0;
		margin-top: 1em;
		text-indent: 12pt;
	}

	p.TOC2
	{
		padding-bottom: 0pt;
		margin-bottom: 0;
		font-weight: bold;
		text-indent: 12pt;
	}

	p.IndexHeading
	{
		text-align: left;
		margin-bottom: 0pt;
		color: #009bdf;
		border-bottom-color: #000000;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		margin-top: 12pt;
		padding-top: 12pt;
		font-size: 14pt;
		padding-bottom: 3pt;
	}

	p.Index2
	{
		margin-bottom: 0em;
		mc-leader-align: right;
		mc-leader-format: 'dot';
		mc-leader-offset: 25px;
		mc-multiline-indent: 0.50in;
		font-style: normal;
		font-weight: normal;
		font-size: 10pt;
	}

	p.Index3
	{
		margin-bottom: 0em;
		mc-leader-align: right;
		mc-leader-format: 'dot';
		mc-leader-offset: 25px;
		mc-multiline-indent: 5.50in;
		font-weight: normal;
	}

	p.ManualTitleWORD
	{
		font-size: 3em;
		font-weight: bold;
		color: #134b8e;
		text-align: center;
		margin-bottom: 2.00em;
		padding-bottom: 2.00em;
	}

	p.ManualTitlePDF
	{
		color: #134b8e;
		font-weight: bold;
		font-size: 28pt;
		margin-top: 1em;
	}

	p.TOC3
	{
		margin-bottom: 2pt;
		font-weight: normal;
		text-indent: 12pt;
	}

	p.Index4
	{
		mc-leader-offset: 25px;
		mc-leader-align: right;
		mc-leader-format: 'dot';
		mc-multiline-indent: 0.50in;
		margin-bottom: 2pt;
	}

	p.Index5
	{
		mc-leader-align: right;
		mc-leader-format: 'dot';
		mc-leader-offset: 25px;
		mc-multiline-indent: 0.50in;
		margin-bottom: 2pt;
	}

	p.TOC4
	{
		margin-bottom: 2pt;
		text-indent: 12pt;
	}

	p.TOC5
	{
		margin-bottom: 2pt;
	}

	p.TOC6
	{
		margin-bottom: 2pt;
	}

	p.TOC7
	{
		margin-bottom: 2pt;
	}

	p.TOC8
	{
		margin-bottom: 2pt;
	}

	h1
	{
		border-top: solid 0px #000000;
		font-size: 2em;
		margin-bottom: 0.75em;
		mc-auto-number-format: 'CH:{chapnum} ';
		page-break-before: avoid;
	}

	h2
	{
		font-size: 1.5em;
		margin-bottom: 0.75em;
		page-break-before: avoid;
		column-break-before: avoid;
		mc-auto-number-format: 'CH:{chapnum}.{n+} ';
	}

	li
	{
		margin-bottom: 1em;
		margin-left: 1em;
		font-family: Arial;
	}

	p.Over
	{
		margin-bottom: 1em;
	}

	p.Over2
	{
		margin-bottom: 1em;
	}

	h3
	{
		font-size: 1.25em;
		margin-bottom: 0.75em;
		page-break-before: avoid;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n+} ';
	}

	h4
	{
		font-size: 1.25em;
		margin-bottom: 0.75em;
		color: #134b8e;
		page-break-before: avoid;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n}.{n+} ';
	}

	a.Popup:hover
	{
		color: #253746;
	}

	a.Popup:link
	{
		color: #009BDF;
	}

	a.Popup:visited
	{
		color: #88c2e2;
	}

	img
	{
		max-height: 4.50in;
		height: auto;
		text-align: center;
		padding-bottom: 0;
	}

	MadCap|dropDownHotspot
	{
		font-size: 1.25em;
	}

	table
	{
		table-layout: auto;
	}

	h5
	{
		font-size: 9pt;
		margin-bottom: 0.75em;
		page-break-before: avoid;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n}.{n}.{n+} ';
	}

	p.noSpace
	{
		mc-float: center;
		text-align: center;
	}

	td
	{
		mc-hyphenate: never;
	}

	b.BoldCode
	{
		font-size: 9pt;
	}

	div.codebold
	{
		font-size: 9pt;
		font-family: monospace;
	}

	p.code
	{
		font-size: 9pt;
	}

	p.code_bold
	{
		font-size: 9pt;
	}

	p.footer_center
	{
		font-family: Arial;
	}

	p.footer_center_81em
	{
		font-family: Arial;
	}

	a
	{
		color: #009BDF;
		font-family: Arial;
	}

	b
	{
		font-family: Arial;
	}

	ul
	{
		font-family: Arial;
	}

	MadCap|glossaryTerm
	{
		font-family: Arial;
	}

	p.codeORANGE
	{
		font-family: monospace;
	}

	p.Bold
	{
		font-family: Arial;
	}

	td.Note
	{
		font-family: Arial;
	}

	div.GlossaryPageDefinition
	{
		font-family: Arial;
		margin-top: 3pt;
	}

	div.GlossaryPageTerm
	{
		font-family: Arial;
		font-size: 11pt;
		margin-top: 3pt;
	}

	div.GlossaryPageHeading
	{
		font-family: Arial;
		color: #009bdf;
		padding-top: 12pt;
		margin-bottom: 0;
		margin-top: 12pt;
		font-size: 14pt;
		padding-bottom: 3pt;
	}

	div.NoteOver
	{
		font-family: Arial;
	}

	blockquote
	{
		font-family: Arial;
	}

	caption
	{
		font-family: Arial;
		mc-auto-number-format: 'CT:Table {n+}: ';
	}

	div
	{
		font-family: Arial;
	}

	div.TableHead
	{
		font-family: Arial;
	}

	footer
	{
		font-family: Arial;
	}

	header
	{
		font-family: Arial;
	}

	MadCap|footnote
	{
		font-size: 12pt;
		font-family: Arial;
	}

	MadCap|footnoteBlock
	{
		font-family: Arial;
	}

	MadCap|footnotesBlock
	{
		font-family: Arial;
	}

	MadCap|popupHead
	{
		font-family: Arial;
		color: #000000;
	}

	MadCap|popup
	{
		font-family: Arial;
	}

	MadCap|popupBody
	{
		font-family: Arial;
	}

	div.GlossaryPageEntry
	{
		font-family: Arial;
		font-size: 10pt;
	}

	p.sanserif
	{
		font-family: Arial;
	}

	MadCap|conceptLink.SeeAlso
	{
		color: #009BDF;
		mc-image: none;
	}

	MadCap|conceptLink:hover
	{
		color: #009BDF;
	}

	MadCap|conceptLink
	{
		color: #009BDF;
	}

	MadCap|conceptLink:focus
	{
		
	}

	p.SeeAlso
	{
		color: #009BDF;
		mc-image: none;
		mc-conditions: 'default.OnlineOnly';
	}

	MadCap|helpControlMenu
	{
		font-family: Arial;
	}

	a:visited
	{
		font-family: Arial;
	}

	h6
	{
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n}.{n}.{n}.{n+} ';
	}

	h1.NoNumbering
	{
		mc-heading-level: 1;
		mc-auto-number-format: ' ';
	}

	h2.NoNumbering
	{
		font-size: 1.50em;
		margin: 0;
		line-height: normal;
		page-break-before: avoid;
		margin-bottom: .5em;
		color: #009bdf;
		font-weight: bold;
		font-family: Arial;
		page-break-before: always;
		mc-heading-level: 1;
		mc-auto-number-format: ' ';
	}

	p.Index1
	{
		padding-top: 0;
		mc-leader-align: right;
		mc-leader-format: 'dot';
		mc-leader-offset: 25px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0.81em;
		font-size: 11pt;
	}

	figcaption
	{
		mc-auto-number-format: 'CF: Figure: {n+}';
	}

	p.Figure
	{
		mc-auto-number-format: 'CF:Figure {n+}: ';
		mc-auto-number-class: FigureNumb;
	}

	div.figure_together
	{
		text-align: center;
	}

	div.center
	{
		text-align: center;
	}
}

li.One_Em_After
{
	margin-bottom: 1em;
}

a
{
	font-size: 9pt;
	font-family: Arial;
	font-weight: normal;
	color: #203ab1;
	mc-hyphenate: never;
}

a.Popup:link
{
	color: #009BDF;
	font-weight: normal;
}

a.Popup:visited
{
	font-weight: normal;
	color: #a6bbc3;
}

a.Popup:hover
{
	color: #253746;
	font-weight: normal;
}

MadCap|xref
{
	font-family: Arial;
	color: #1f6bce;
}

MadCap|xref:hover
{
	color: #253746;
}

MadCap|conceptLink.SeeAlso
{
	font-family: Arial;
	font-weight: bold;
	mc-image: none;
	border: solid 1em #000000;
	color: #203ab1;
}

MadCap|conceptLink
{
	line-height: normal;
	font-size: 9pt;
	font-family: Arial;
	mc-image: none;
	border: solid 2px #000000;
	padding: 2px;
	color: #203ab1;
}

MadCap|conceptLink:hover
{
	font-family: Arial;
	font-weight: bold;
	mc-image: none;
	color: #00c8e8;
}

ul
{
	line-height: normal;
	font-family: Arial;
	mc-hyphenate: never;
}

p.Over
{
	margin-left: 2em;
	margin-bottom: 1em;
}

p.OverNoSpaceBelow
{
	margin-left: 2em;
	margin-bottom: 0.5em;
}

p.Over2
{
	margin-left: 3.5em;
	margin-bottom: 1em;
}

p.Over2_HalfSpace
{
	margin-left: 3.5em;
	margin-bottom: 0.5em;
}

p.noSpace
{
	margin-bottom: 0em;
}

b.Bold
{
	
}

p.Bold
{
	font-size: 9pt;
	margin-top: 0pt;
	margin: 0;
	padding-bottom: 0em;
	padding: 0px;
	margin-bottom: 1em;
	font-family: Arial;
	font-weight: bold;
}

MadCap|popup
{
	font-family: Arial;
	font-size: 9pt;
	color: #009BDF;
	font-weight: normal;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
}

MadCap|popup:hover
{
	color: #253746;
}

MadCap|popupBody
{
	font-size: 0.813em;
	font-family: Arial;
	font-weight: normal;
}

MadCap|popupHead
{
	color: #253746;
	font-weight: normal;
}

MadCap|expandingHead:focus
{
	color: #009bdf;
}

MadCap|expandingHead:hover
{
	color: #253746;
}

MadCap|dropDownHotspot:focus
{
	color: #009bdf;
}

MadCap|dropDownHotspot:hover
{
	color: #253746;
}

MadCap|dropDown
{
	mc-closed-image: none;
	mc-open-image: none;
	mc-image: none;
	mc-image-spacing: 0;
	mc-help-control-display: inherit;
	color: #009bdf;
}

MadCap|dropDownHead
{
	mc-image: none;
	mc-open-image: none;
	mc-closed-image: none;
	color: #009BDF;
	font-weight: normal;
	font-family: Arial;
}

MadCap|dropDownBody
{
	color: #000000;
	mc-open-image: none;
	mc-closed-image: none;
	mc-image: none;
}

td.footer
{
	
}

p.header
{
	mc-heading-level: 1;
}

p.ManualTitlePDF
{
	font-size: 24pt;
	color: #009BDF;
	font-family: Arial;
	font-weight: bold;
}

li
{
	font-size: 9pt;
	margin-bottom: 0.81em;
	line-height: normal;
	font-family: Arial;
	mc-hyphenate: never;
}

p.Over_HalfSpacce
{
	margin-bottom: 0.5em;
	margin-left: 2em;
}

td
{
	font-size: 9pt;
	line-height: normal;
	z-index: 100;
	font-family: Arial;
	width: 0;
}

h1.NoNumbering
{
	border: none;
	margin-bottom: 0;
	height: 2.26em;
	max-height: 2.26em;
	page-break-before: avoid;
	page-break-after: avoid;
	color: #00c9e8;
}

p.code
{
	font-family: monospace;
	background-color: #ffffff;
	margin-left: 0;
	padding-left: 5em;
	font-size: 9pt;
	margin-bottom: 1em;
}

@media only screen and (max-width: 1279px)
{
	MadCap|bodyProxy
	{
		padding-left: auto;
	}

	MadCap|menuProxy
	{
		clear: left;
		float: left;
		left: 0.81em;
		max-width: none;
	}

	MadCap|searchBarProxy
	{
		float: none;
		margin-bottom: none;
		width: 100%;
	}

	li.alpha
	{
		mc-auto-number-format: '{a}';
	}

	ol.alpha
	{
		mc-auto-number-format: '{a}';
	}

	p.code
	{
		margin-bottom: 0;
	}

	div.TableHead > div:nth-child(1)
	{
		width: auto;
		margin-left: 0%;
	}

	div.TableHead > div:nth-child(2)
	{
		width: auto;
		margin-left: 0%;
	}

	div.TableHead > div:nth-child(3)
	{
		width: auto;
		margin-left: 0%;
	}

	figcaption
	{
		
	}
}

p.footer_center_81em
{
	text-align: center;
	font-size: .81em;
	font-family: Arial;
}

li.One_EM_Above
{
	margin-top: 1em;
}

p.SpaceAboveANDBelow
{
	margin-top: 1em;
}

div.code
{
	padding-left: 0.375em;
	padding-top: 0.375em;
	margin-left: 4em;
	line-height: normal;
	z-index: 200;
	border: solid 0.083em #000000;
	margin-bottom: 1em;
	font-family: monospace;
	padding-bottom: 0.375em;
	border-collapse: collapse;
	font-size: 1.2em;
}

a.button
{
	display: block;
	width: auto;
	text-decoration: none;
	mc-closed-image: none;
	mc-image: none;
	mc-open-image: none;
	font-weight: normal;
	color: #203ab1;
}

a.button:link
{
	text-decoration: none;
	color: #203ab1;
}

a.button:focus
{
	color: #203ab1;
}

a.button:hover
{
	text-decoration: none;
	color: #464646;
}

p.SeeAlso
{
	mc-conditions: 'default.OnlineOnly';
}

h4.SpaceBefore
{
	font-weight: bold;
	margin: 0;
	line-height: normal;
	margin-bottom: .5em;
	margin-top: 1em;
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

h3.SpaceAbove
{
	margin-top: 1em;
	color: #914191;
}

MadCap|dropDownHead.code
{
	text-decoration: underline;
	margin-bottom: .81em;
	margin-top: 1em;
	font-size: 1.25em;
	line-height: normal;
	mc-closed-image: none;
	mc-image-position: none;
	mc-open-image: none;
	font-family: Arial;
}

p.code_bold
{
	font-family: monospace;
	font-weight: bold;
	line-height: normal;
	padding-left: 5em;
	font-size: 9pt;
	margin-bottom: 1em;
}

b.BoldCode
{
	line-height: normal;
	font-weight: bold;
	font-family: monospace;
	font-size: 9pt;
	padding-bottom: 0;
}

@media only screen and (max-width: 767px)
{
	div.TableHead > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.TableHead > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.TableHead > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}

div.NoteOver
{
	margin-left: 4em;
	margin-right: 2em;
	width: auto;
	margin-bottom: 2em;
	vertical-align: middle;
	text-align: left;
	clear: none;
	page-break-inside: avoid;
}

p.codeORANGE
{
	background-color: #ff8c00;
	font-family: monospace;
	padding-left: 5em;
	font-weight: bold;
	font-size: 9pt;
	padding-bottom: 1em;
}

p.SpaceAbove
{
	margin-bottom: 0em;
	margin-top: 1em;
}

p.SpaceBelow
{
	margin-bottom: 1em;
	margin-top: 0em;
}

li.One_Em_Above_and_After
{
	margin-bottom: 1em;
	margin-top: 1em;
}

td.Table_Head
{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #000000;
	color: #000000;
	width: auto;
	font-family: Arial;
	font-weight: bold;
	border: solid 1.75px #000000;
	padding-left: 0;
	padding-right: 0;
}

td.Table_Data
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: auto;
}

td.code
{
	font-family: monospace;
	border: solid 1px #000000;
	margin-left: 2em;
	margin-right: 1em;
	width: 90%;
}

td.Note
{
	text-align: left;
	vertical-align: middle;
	max-width: 90%;
	float: left;
}

p._NoWord
{
	mc-conditions: 'default.HIDE';
}

div._over
{
	margin-left: 4em;
	margin-right: 2em;
	text-align: left;
}

tr.left
{
	text-align: left;
}

table.note
{
	text-align: left;
	vertical-align: middle;
	width: auto;
}

blockquote.Indent4em
{
	margin-left: 4em;
	margin-right: 2em;
}

li.over
{
	list-style-type: disc;
	margin-left: 2.2em;
}

MadCap|expanding.HotSpot
{
	mc-closed-image: none;
	mc-image: none;
	mc-image-position: none;
	mc-image-spacing: 0;
	mc-open-image: none;
	background-image: none;
	color: #009bdf;
}

MadCap|expanding.open
{
	mc-open-image: none;
}

MadCap|expanding.closed
{
	
}

td.FitToContents
{
	table-layout: fixed;
}

table.absorbing-column
{
	width: 100%;
}

p.Figure
{
	padding-bottom: 1em;
	font-style: italic;
	text-align: center;
	color: #009BDF;
	font-weight: normal;
	font-family: Arial;
	margin-top: 0.5em;
}

span.FigureNum
{
	font-style: normal;
	color: #009bdf;
}

p.Table
{
	font-style: italic;
	color: #009BDF;
	mc-auto-number-class: TableNum;
	mc-auto-number-format: 'CD:Table {n+}: ';
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0.8em;
	font-family: Arial;
	font-weight: bold;
}

span.TableNum
{
	color: #009BDF;
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
}

div.TableFloatLeft
{
	margin-right: 0.81em;
	float: left;
}

img.IconFloat
{
	float: right;
}

div.right
{
	text-align: right;
	float: right;
	margin-bottom: 20pt;
}

div.figure_together
{
	page-break-inside: avoid;
	max-width: 7in;
	text-align: center;
}

td.Table_Data_NoSpace
{
	width: auto;
	font-size: 0.81em;
	padding-left: 0.81em;
	padding-right: 0.81em;
}

img.DeviceImage
{
	padding-top: 0.81em;
	mc-thumbnail: popup;
	max-height: 0;
	max-width: 7in;
}

td.Table_Head_Small
{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #000000;
	color: #000000;
	width: auto;
	font-family: Arial;
	padding-left: 0;
	padding-right: 0;
	font-size: 0.81em;
	font-weight: normal;
	border: solid 1px #000000;
}

th.small
{
	font-size: 0.81em;
}

div.center
{
	text-align: center;
}

p._AvoidBreaks
{
	pause-after: inherit;
	page-break-after: avoid;
	page-break-before: avoid;
}

span._QUESTION
{
	font-weight: bold;
	color: #fa0000;
	text-decoration: underline;
	font-style: italic;
	mc-conditions: 'default.HIDE';
}

b.BoldCodeOrange
{
	line-height: normal;
	font-weight: bold;
	font-family: monospace;
	background: #ff8c00;
	font-size: 9pt;
	padding-bottom: 0px;
}

code.Orange
{
	background: #ff8c00;
}

div.code_small
{
	padding-left: 0.375em;
	padding-top: 0.375em;
	margin-left: 4em;
	line-height: normal;
	z-index: 200;
	border: solid 0.083em #000000;
	margin-bottom: 1em;
	font-family: monospace;
	padding-bottom: 0.375em;
	border-collapse: collapse;
	font-size: 0.81em;
	padding-right: 1em;
	mc-hyphenate: never;
}

.NoBreakInside
{
	pause-after: inherit;
	page-break-inside: avoid;
}

.NoBreakBefore
{
	page-break-before: avoid;
}

.NoBreakAfter
{
	page-break-after: avoid;
}

.NoBreakBefore_or_After
{
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
}

li.over_over
{
	list-style-type: disc;
	margin-left: 4.2em;
}

div.together
{
	page-break-inside: avoid;
}

li.list_disc
{
	list-style-type: disc;
}

p.footer_copyright
{
	font-family: Calibri;
	font-size: 7.5pt;
	margin-bottom: 2px;
}

