create-dashboard {
  .has-movable {
    margin: 20px 5px;
    padding: 20px;
    border: 3px solid #9CE09C;
    min-height: 100px;

    &.draggedOver {
      background-color: #DBFDDB;
    }

    &.dragHinted {
      border-style: dotted;
    }
  }

  li {
    list-style: none;
    background: #9CE09C;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
  }
}
