<div style="height: calc(100vh - 51px - 70px - 65px);">
  <dx-data-grid [customizeColumns]="config.customizeColumns"
                [columnAutoWidth]="config.columnAutoWidth"
                [columnMinWidth]="config.columnMinWidth"
                [columnResizingMode]="config.columnResizingMode"
                [allowColumnReordering]="config.allowColumnReordering"
                [allowColumnResizing]="config.allowColumnResizing"
                [showColumnHeaders]="config.showColumnHeaders"
                [showColumnLines]="config.showColumnLines"
                [showRowLines]="config.showRowLines"
                [showBorders]="config.showBorders"
                [rowAlternationEnabled]="config.rowAlternationEnabled"
                [hoverStateEnabled]="config.hoverStateEnabled"
                [wordWrapEnabled]="config.wordWrapEnabled"
                [scrolling]="config.scrolling"
                [sorting]="config.sorting"
                [dataSource]="analyses"
                [columns]="config.columns"
                [pager]="config.pager"
                [paging]="config.paging"
                [width]="config.width"
                [height]="config.height"
    >

    <div *dxTemplate="let cell of 'linkCellTemplate'">
      <a [innerHtml]="cell.text | highlight: searchTerm"
         uiSref="analyze.executedDetail"
         [uiParams]="{analysisId: cell.data.id, analysis: cell.data}"
      >
      </a>

      <mat-chip class="tag-chip status-chip"
                *ngIf="showExecutingFlag(cell.data.id)"
                i18n>
        EXECUTING
      </mat-chip>
    </div>

    <div *dxTemplate="let cell of 'typeCellTemplate'">
      <mat-chip class="tag-chip"
                [innerHtml]="cell.text | highlight: searchTerm"
      >
      </mat-chip>
    </div>

    <div *dxTemplate="let cell of 'highlightCellTemplate'"
         [innerHtml]="cell.text | highlight: searchTerm">
    </div>

    <div *dxTemplate="let cell of 'dateCellTemplate'">
      {{cell.text | date: 'dd/MMM/yy'}}
    </div>

    <div *dxTemplate="let cell of 'actionCellTemplate'">
      <button mat-icon-button
              *ngIf="canUserFork"
              (click)="fork(cell.data)"
              class="list-action-button"
              i18n-matTooltip="Fork Analysis"
              matTooltip="Fork Analysis"
      >
        <mat-icon fontIcon="icon-fork"></mat-icon>
      </button>
      <analyze-actions-menu-u [analysis]="cell.data"
                              exclude="fork-export"
                              (afterDelete)="afterDelete($event)"
                              (afterExecute)="afterExecute($event)"
                              (afterPublish)="afterPublish($event)"
                              (afterEdit)="afterEdit($event)"
      ></analyze-actions-menu-u>
    </div>

  </dx-data-grid>
</div>
