<div layout="column" layout-gt-sm="row" layout-align="space-between stretch">
  <md-autocomplete md-items="column in $ctrl.artifact.columns | filter:$ctrl.searchText"
                   placeholder="Select filter"
                   md-search-text="$ctrl.searchText"
                   ng-disabled="$ctrl.isRuntime"
                   md-selected-item="$ctrl.filter.column"
                   md-item-text="column.displayName"
                   md-min-length="0"
                   style="width: 290px;"
                   e2e="filter-row"
                   md-selected-item-change="$ctrl.onArtifactChange(column)">
    <md-item-template>
      <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i" >{{column.displayName}}</span>
    </md-item-template>
    <md-not-found translate="NO_COLUMNS_FOUND">
    </md-not-found>
  </md-autocomplete>

  <div ng-switch on="$ctrl.filter.column.type"
        ng-if="!$ctrl.filter.isRuntimeFilter || $ctrl.isRuntime"
       style="padding-left: 10px;">

    <div ng-switch-when="string" style="text-align: center;">
      <string-filter on-change="$ctrl.onFilterChange(model)"
                     model="$ctrl.filter.model">
      </string-filter>
    </div>

    <div ng-switch-when="date|timestamp"
         ng-switch-when-separator="|"
         style="text-align: center;">
      <date-filter on-change="$ctrl.onFilterChange(model)"
                   model="$ctrl.filter.model">
      </date-filter>
    </div>

    <div ng-switch-when="int|double|integer|long|float"
         ng-switch-when-separator="|"
         style="text-align: center;">
      <number-filter on-change="$ctrl.onFilterChange(model)"
                     model="$ctrl.filter.model">
      </number-filter>
    </div>

    <div ng-switch-default style="text-align: center;">
      <p style="height: 30px; padding-right: 10px; padding-left: 10px;" translate="PLEASE_SELECT_AN_ARTIFACT"></p>
    </div>

  </div>
</div>
