[Unit]
Description=SAW Workbench

[Service]
Type=notify
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-workbench-service/saw-workbench.jar --spring.config.location=/opt/bda/saw-workbench-service/conf/application.yml"
SyslogIdentifier=saw-workbench
User=mapr
Restart=on-failure
# Allow service to exit on SIGTERM, if socket-activated
SuccessExitStatus=143

[Install]
WantedBy=default.target
