<md-card layout="column">
  <md-card-title>
    <md-card-title-text>
      <span class="md-title" ng-bind="::$ctrl.analysis.name"></span>
    </md-card-title-text>

    <md-button class="btn-tertiary"
               ng-click="$ctrl.openFilterSidenav()"
               ng-disabled="$ctrl._isEmpty($ctrl.analysis.pivot.filters)">
      <md-icon md-font-icon="icon-filter"></md-icon>
      <span translate="FILTER"></span>
    </md-button>
  </md-card-title>

  <div layout="column" layout-align="space-between center">
    <pivot-grid updater="$ctrl.pivotGridUpdater"></pivot-grid>
  </div>
</md-card>

