@import "themes/base/colors";

data-format-dialog {
  display: block;
  padding: 10px;

  .dialog__header {
    padding: 10px;
    border-bottom: 1px solid $primary-grey-g2;

    strong {
      font-size: 20px;
    }
  }

  .dialog__content {
    padding: 20px 10px;
    min-width: 500px;

    .dialog__content__currency {
      width: 100%;

      mat-form-field {
        margin-left: 50px;
      }
    }

    mat-slide-toggle {
      padding-bottom: 1.25em;
    }

    .mat-input-infix.mat-form-field-infix {
      border-top: 0;
    }
  }

  .dialog__actions {
    padding-top: 10px;
    border-top: 1px solid $primary-grey-g2;
  }
}
