<header class="dialog__header">
  <strong i18n>Format</strong>
</header>
<div class="dialog__content"
     fxLayout="column">
  <mat-slide-toggle i18n
                    color="primary"
                    (change)="onCommaSeparatorChange($event.checked)"
                    [checked]="format.comma">
    Show Comma Separators
  </mat-slide-toggle>

  <div class="dialog__content__currency"
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <mat-slide-toggle i18n
                      color="primary"
                      (change)="onCurrencyFlagChange($event.checked)"
                      [checked]="format.currency">
      Show as Currency
    </mat-slide-toggle>

    <mat-form-field *ngIf="format.currency">
      <mat-select placeholder="Currency Code"
                  (selectionChange)="onCurrencyCodeChange($event.value)"
                  [value]="format.currency">
        <mat-option *ngFor="let currencyCode of currencyCodes; trackBy: index"
                    [value]="currencyCode.code">
          {{ currencyCode.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column">
    <div *ngIf="isFloat">
      <mat-form-field>
        <input matInput
               type="number"
               max="99"
               min="0"
               placeholder="Decimal Precision"
               (ngModelChange)="onPrecisionChange($event)"
               [ngModel]="format.precision"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput
               placeholder="Format"
               type="text"
               disabled
               [value]="sample"/>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="dialog__actions">
  <div fxLayout="row"
       fxLayoutAlign="start center">
    <button (click)="applyFormat()"
            mat-raised-button color="primary" i18n>
      Format
    </button>
    <button mat-button i18n (click)="close()">Cancel</button>
  </div>
</div>
