<div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxFlex="40">
      <div class="category-title" e2e="category-title">{{categoryName | async}}</div>
      <search-box placeholder="Search Analyses"
                  [value]="states.searchTerm"
                  (change)="applySearchFilter($event)"
                  [delay]="1000">
      </search-box>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40">
      <mat-radio-group [value]="states.viewMode" (change)="onViewChange($event.value)" class="switch-view">
        <mat-radio-button [value]="LIST_VIEW">
          <mat-icon fontIcon="icon-Table-view" i18n-matTooltip matTooltip="List view"></mat-icon>
        </mat-radio-button>
        <mat-radio-button [value]="CARD_VIEW">
          <mat-icon fontIcon="icon-card-view" i18n-matTooltip matTooltip="Card view"></mat-icon>
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="select-type">
        <mat-select (selectionChange)="onAnalysisTypeChange($event.value)" [value]="states.analysisType">
          <mat-option *ngFor="let type of analysisTypes" [value]="type.value">
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="20">
      <button *ngIf="canUserCreate"
              mat-raised-button
              color="primary">
        + <span i18n>Analysis</span>
      </button>
    </div>
  </mat-toolbar>
  <div [ngSwitch]="states.viewMode">
    <analyze-list-view-u *ngSwitchCase="LIST_VIEW"
                         [analyses]="analyses"
                         [analysisType]="analysisType"
                         [searchTerm]="states.searchTermValue"
                         [cronJobs]="cronJobs">
    </analyze-list-view-u>
    <analyze-card-view-u *ngSwitchCase="CARD_VIEW"
                         [analyses]="analyses"
                         [analysisType]="analysisType"
                         [searchTerm]="states.searchTermValue"
                         [cronJobs]="cronJobs">
    </analyze-card-view-u>
  </div>
</div>
