<div fxLayout="column" style="width: 400px; padding: 0 50px;">
  <mat-form-field>
    <input matInput
           (input)="onNameChange($event.target.value)"
           [value]="analysis.name"
           placeholder="Name"/>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput
              (input)="onDescriptionChange($event.target.value)"
              [value]="analysis.description"
              placeholder="Description"
              matTextareaAutosize
              matAutosizeMinRows="2"
              matAutosizeMaxRows="10">
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category"
                (selectionChange)="onCategorySelected($event.value)"
                [value]="analysis.categoryId">
      <mat-optgroup *ngFor="let category of categories"
                    [label]="category.name">
        <mat-option *ngFor="let subCategory of category.children"
                    [value]="subCategory.id">
          {{subCategory.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
