target
/node
node_modules
log.txt
debug.log
.tmp/
coverage/
build/
dist/
.awcache


# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/junit.xml
/libpeerconnection.log
npm-debug.log*
testem.log
/typings
yarn.lock
*~

#System Files
.DS_Store
Thumbs.db
