field-details {
  display: grid;
  margin-bottom: -25px;

  .area-fields {
    width: 100%;

    mat-chip-list {
      float: left;

      fieldset {
        border: 1px solid #D1D3D3;
        color: #0077BE;
      }
    }
  }
}
