<div class="area-fields">
  <mat-chip-list #chipList *ngIf="dataFields.length > 0">
    <fieldset>
      <legend>
        Data Fields
      </legend>
      <mat-chip *ngFor="let field of dataFields;">
        {{field.caption}}
      </mat-chip> 
    </fieldset>
  </mat-chip-list>

  <mat-chip-list #chipList *ngIf="rowFields.length > 0">
    <fieldset>
      <legend>
        Row Fields
      </legend>
      <mat-chip *ngFor="let field of rowFields;">
        {{field.caption}}
      </mat-chip> 
    </fieldset>
  </mat-chip-list>

  <mat-chip-list #chipList *ngIf="columnFields.length > 0">
    <fieldset>
      <legend>
        Column Fields
      </legend>
      <mat-chip *ngFor="let field of columnFields;">
        {{field.caption}}
      </mat-chip> 
    </fieldset>
  </mat-chip-list>
</div>
