[Unit]
Description=SIP Workbench Executor Proxy
Requires=sip-workbench-executor.service
After=sip-workbench-executor.service
Requires=sip-workbench-executor-proxy.socket
After=sip-workbench-executor-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:9701
PrivateTmp=yes
