<dx-data-grid [customizeColumns]="config.customizeColumns"
              [columnAutoWidth]="config.columnAutoWidth"
              [columnMinWidth]="config.columnMinWidth"
              [columnResizingMode]="config.columnResizingMode"
              [allowColumnReordering]="config.allowColumnReordering"
              [allowColumnResizing]="config.allowColumnResizing"
              [showColumnHeaders]="config.showColumnHeaders"
              [showColumnLines]="config.showColumnLines"
              [showRowLines]="config.showRowLines"
              [showBorders]="config.showBorders"
              [rowAlternationEnabled]="config.rowAlternationEnabled"
              [hoverStateEnabled]="config.hoverStateEnabled"
              [wordWrapEnabled]="config.wordWrapEnabled"
              [scrolling]="config.scrolling"
              [sorting]="config.sorting"
              [dataSource]="analyses"
              [columns]="config.columns"
              [pager]="config.pager"
              [paging]="config.paging"
              (onRowClick)="config.onRowClick($event)"
>
  </dx-data-grid>
