<div
  e2e="snapshot-kpi"
  class="observe-kpi"
  [ngClass]="{ 'has-secondary-measure': secondaryResult.length > 0 }"
  [style.background-color]="bgColor"
>
  <div class="header-row">
    <div
      class="kpi-title"
      e2e="snapshot-kpi-title"
      [textContent]="_kpi.name"
    ></div>
    <div class="val-change">
      <mat-icon
        *ngIf="primaryChange < 0"
        fontIcon="icon-arrow-down-circle"
      ></mat-icon>
      <mat-icon
        *ngIf="primaryChange >= 0"
        fontIcon="icon-arrow-up-circle"
      ></mat-icon>
      <div
        e2e="snapshot-kpi-change"
        counto
        [step]="5"
        [duration]="2"
        [countFrom]="0"
        [countTo]="primaryResult.change"
        (countoChange)="countToChange = $event"
      >
        {{ countToChange | number: '1.0-2' }}%
      </div>
    </div>
    <div class="filter-icon" *ngIf="_kpi.filters.length > 1">
      <mat-icon class="mat-icon icon-filter" fonticon="icon-filter" matTooltip="View Filters" (click)="displayFilters()"></mat-icon>
    </div>
  </div>

  <div class="filter-label" e2e="snapshot-kpi-filter-label">
    {{ filterLabel }}
  </div>

  <div class="kpi-primary-measure-container">
    <div class="kpi-measure">
      <span
        e2e="snapshot-kpi-current"
        class="kpi-main-measure"
        counto
        [step]="100"
        [countTo]="primaryResult.current"
        [countFrom]="0"
        [duration]="2"
        (countoChange)="countToCurrent = $event"
      >
        {{ countToCurrent | number: '1.0-2' }}
      </span>
    </div>
  </div>

  <div class="kpi-secondary-measure-container">
    <span *ngFor="let measure of secondaryResult">
      <span [attr.e2e]="'snapshot-kpi-' + measure.name" class="mName"
        >{{ measure.name }}:&nbsp;
      </span>
      <span [attr.e2e]="'snapshot-kpi-value-' + measure.name" class="mValue">{{
        measure.value
      }}</span>
    </span>
  </div>
</div>
