<form
  fxFlex
  fxLayout="column"
  fxLayoutAlign="start stretch"
  class="source-container"
  #sourceDetails
  novalidate
  [formGroup]="detailsFormGroup"
  autocomplete="false"
>
  <section fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="10px">
    <mat-form-field appearance="outline" fxFlex="0 1 auto">
      <mat-label i18n>Name Your Channel</mat-label>
      <input
        matInput
        name="name-of-channel"
        e2e="name-of-channel"
        formControlName="channelName"
        required
        autocomplete="off"
      />
      <mat-error
        *ngIf="!!detailsFormGroup.controls.channelName.hasError('required')"
        i18n
      >
        Channel Name is
        <strong>required</strong>
      </mat-error>
      <mat-error
        e2e="channel-exist-error-msg"
        *ngIf="!!detailsFormGroup.controls.channelName.hasError('isUnique')"
        i18n
      >
        Channel Name
        <strong>already exists</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="1 1 auto">
      <mat-label i18n>Hostname</mat-label>
      <input
        matInput
        placeholder="Host Address"
        name="hostAddress"
        e2e="host-address-input"
        formControlName="hostAddress"
        required
        name="address-of-host"
        autocomplete="new-password"
      />
      <mat-error
        *ngIf="!!detailsFormGroup.controls.hostAddress.hasError('required')"
        i18n
      >
        Host Address is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="0 1 auto">
      <mat-label i18n>Port Number</mat-label>
      <input
        matInput
        placeholder="Port Number"
        name="port"
        type="number"
        e2e="port-no-input"
        formControlName="port"
        required
      />
      <mat-error
        *ngIf="!!detailsFormGroup.controls.port.hasError('required')"
        i18n
      >
        Port Number is
        <strong>required</strong>
      </mat-error>
      <mat-error
        e2e="port-number-error-msg"
        *ngIf="!!detailsFormGroup.controls.port.hasError('pattern')"
        i18n
      >
        Port Number can consist of only
        <strong>Numbers</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section fxFlex="6 1 auto">
    <http-metadata [parentForm]="detailsFormGroup"></http-metadata>
  </section>
  <section fxFlex="2 1 auto">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label i18n>Description about the source</mat-label>
      <textarea
        matInput
        formControlName="description"
        e2e="channel-description-input"
      ></textarea>
    </mat-form-field>
  </section>
</form>
