<div class="login-view">
  <div class="bg-container-wrapper"
       layout="row" layout-align="center center">
    <div class="bg-container"
         layout="row" layout-align="center center">
      <div class="login-container"
           layout="column" layout-align="space-around start">
        <div class="brand-logo"></div>

        <ui-view></ui-view>
      </div>

      <div class="middle-logo-container"></div>
    </div>

    <div class="white-container"></div>
  </div>

  <layout-footer></layout-footer>
</div>
