<div fxLayout="row" class="settings__container">

  <div (mouseenter)="expandUnselectedSection()"
       class="settings__unselected-fields"
       [class.anim__expanded]="isUnselectedExpanded">
    <mat-list *ngIf="artifactColumns">
      <mat-list-item>
        keyword filter
      </mat-list-item>
      <mat-list-item>
        type filter
      </mat-list-item>
      <mat-list-item *ngFor="let artifactColumn of unselectedArtifactColumns | artifactColumnFilter:filterObj; trackBy: index"
                     (click)="addToGroupIfPossible(artifactColumn)">
        {{artifactColumn.columnName}}
        <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon"></mat-icon>
      </mat-list-item>
    </mat-list>
  </div>

  <div (mouseenter)="hideUnselectedSection()"
       class="settings__selected-fields"
       [class.anim__expanded]="!isUnselectedExpanded">
    <designer-settings-group *ngFor="let groupAdapter of groupAdapters; trackBy: index"
      [title]="groupAdapter.title"
      [artifactColumns]="groupAdapter.artifactColumns"
    ></designer-settings-group>
  </div>
</div>
