/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: code;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-left: 3.00em;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 80%;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	font-size: 1em;
	font-family: 'Courier New';
	color: #000000;
	cell-content-style-tag: none;
}


/* Cell Styles: */
 
.TableStyle-code
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 3.00em;
	border-spacing: 0px 0px;
}

.TableStyle-code-Column-Column1
{
	width: 80%;
}

.TableStyle-code-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadI-Column1- p
{
	
}

.TableStyle-code-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-HeadE-Column1- p
{
	
}

.TableStyle-code-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadF-Column1- p
{
	
}

.TableStyle-code-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-HeadH-Column1- p
{
	
}

.TableStyle-code-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadD-Column1- p
{
	
}

.TableStyle-code-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadC-Column1- p
{
	
}

.TableStyle-code-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-HeadB-Column1- p
{
	
}

.TableStyle-code-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadA-Column1- p
{
	
}

.TableStyle-code-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-HeadG-Column1- p
{
	
}

.TableStyle-code-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootI-Column1- p
{
	
}

.TableStyle-code-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-FootE-Column1- p
{
	
}

.TableStyle-code-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootF-Column1- p
{
	
}

.TableStyle-code-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-FootH-Column1- p
{
	
}

.TableStyle-code-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootD-Column1- p
{
	
}

.TableStyle-code-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootC-Column1- p
{
	
}

.TableStyle-code-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-FootB-Column1- p
{
	
}

.TableStyle-code-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootA-Column1- p
{
	
}

.TableStyle-code-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-FootG-Column1- p
{
	
}

.TableStyle-code-Body-Body1
{
	
}

.TableStyle-code-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-code-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-code-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-code-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}

.TableStyle-code-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: 'Courier New';
	font-size: 1em;
}


