<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-select placeholder="Operator"
              style="max-width: 180px;"
              e2e="filter-string-select"
              (selectionChange)="onPresetSelected($event.value)"
              [value]="filterModel.operator">
    <mat-option *ngFor="let OPERATOR of OPERATORS"
                [value]="OPERATOR.value"
                [attr.e2e]="'filter-string-option-' + OPERATOR.label">
      {{ OPERATOR.label }}
    </mat-option>
  </mat-select>
  <mat-form-field *ngIf="filterModel.operator === 'EQ' || filterModel.operator === 'NEQ' || filterModel.operator === 'CONTAINS' || filterModel.operator === 'SW' || filterModel.operator === 'EW'">
    <input matInput (input)="onValueChange($event.target.value)"
            [value]="tempValue"/>
  </mat-form-field>
</div>
<mat-form-field *ngIf="filterModel.operator === 'ISIN' || filterModel.operator === 'ISNOTIN'">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let value of filterModel.modelValues; let i = index; trackBy: index"
             [removable]="true" (remove)="remove(i)">
      {{value}}
      <mat-icon matChipRemove fontIcon="icon-remove"></mat-icon>
    </mat-chip>
    <input [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           matChipInputAddOnBlur="true"
           (matChipInputTokenEnd)="add($event)"
           e2e="designer-filter-string-input"/>
  </mat-chip-list>
</mat-form-field>
