<div class="analyze-view">
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools"
         layout-align="start center">
      <div class="analyze-view_search-panel" layout="row" layout-align="start center">
        <span class="md-title"
              ng-bind="$ctrl.category.name"></span>&nbsp;
        <search-box placeholder="Search Analyses"
                    ng-model="$ctrl.states.searchTerm"
                    on-change="$ctrl.applySearchFilter()" delay="1000"></search-box>
      </div>

      <div layout="row" layout-align="start center">
        <md-input-container class="analyze-view_switch-view">
          <md-radio-group ng-model="$ctrl.states.reportView">
            <md-radio-button ng-value="$ctrl.LIST_VIEW">
              <md-icon md-font-icon="icon-Table-view"></md-icon>
            </md-radio-button>

            <md-radio-button ng-value="$ctrl.CARD_VIEW">
              <md-icon md-font-icon="icon-card-view"></md-icon>
            </md-radio-button>
          </md-radio-group>
        </md-input-container>

        <md-input-container class="analyze-view_switch-type">
          <md-select ng-model="$ctrl.states.reportType"
                     ng-change="$ctrl.onReportTypeChange()">
            <md-option value="all" selected translate="ALL_TYPES"></md-option>
            <md-divider></md-divider>
            <md-option value="chart" translate="CHARTS"></md-option>
            <md-option value="report" translate="REPORTS"></md-option>
            <md-option value="pivot" translate="PIVOTS"></md-option>
            <md-divider></md-divider>
            <md-option value="scheduled" translate="SCHEDULED"></md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="analyze-view_action-panel" layout="row" layout-align="end center">
        <md-button class="btn-primary"
                   ng-click="$ctrl.openNewAnalysisModal()">
          + <span translate="ANALYSIS"></span>
        </md-button>
      </div>
    </div>
  </md-toolbar>

  <div layout="column"
       ng-switch="$ctrl.states.reportView">

    <!-- LIST VIEW -->
    <div class="analyze-view_reports-list"
         ng-switch-when="list">
      <md-card>
        <md-card-header layout="row" layout-align="end start">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate="LIST"></span>
            </md-card-title-text>
          </md-card-title>
        </md-card-header>

        <md-card-content layout="row">
          <div dx-data-grid="$ctrl.getGridConfig()" dx-item-alias="report">
            <div data-options="dxTemplate: { name: 'nameCellTemplate' }">
              <span ng-bind-html="::report.value | highlight:$ctrl.states.searchTerm"></span>
            </div>
            <div data-options="dxTemplate: { name: 'metricsCellTemplate' }">
              <span ng-bind-html="::report.value | highlight:$ctrl.states.searchTerm"></span>
            </div>
            <div data-options="dxTemplate: { name: 'typeCellTemplate' }">
              <md-chip class="tag-chip">
                <span ng-bind-html="::report.value | highlight:$ctrl.states.searchTerm"></span>
              </md-chip>
            </div>
            <div data-options="dxTemplate: { name: 'actionCellTemplate' }">
              <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-button btn-card" aria-label="Fork"
                           ng-click="$ctrl.fork(report.data)">
                  <md-icon md-font-icon="icon-fork"></md-icon>
                </md-button>
                <md-button class="md-button btn-card" aria-label="Export">
                  <md-icon md-font-icon="icon-folder"></md-icon>
                </md-button>

                <md-menu-bar>
                  <md-menu>
                    <md-button class="md-button btn-card" aria-label="More"
                               ng-click="$mdMenu.open()">
                      <md-icon md-font-icon="icon-more"></md-icon>
                    </md-button>

                    <md-menu-content>
                      <md-menu-item>
                        <md-button aria-label="Edit"
                                   ng-click="$ctrl.edit(report.data)">Edit
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-bar>
              </md-card-actions>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <!-- CARD VIEW -->
    <div ng-switch-when="card" layout="row" layout-align="start start" layout-wrap>
      <div flex="50" ng-repeat="report in $ctrl.reports | filter:$ctrl.filterReports.bind($ctrl)">
        <analyze-card model="report" on-action="$ctrl.onCardAction(type, model)"
                      highlight-term="$ctrl.states.searchTerm"></analyze-card>
      </div>

      <div class="analyze-view_no-results"
           ng-if="$ctrl.states.searchTerm && !$ctrl.reports.length">
        <span translate="NO_MATCHING_RESULTS"></span>
      </div>
    </div>
  </div>
</div>
