<div class="analyze-view">
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools"
         layout-align="space-between center">
      <div class="md-title">Order Fulfillment
        <md-icon md-font-icon="icon-search"></md-icon>
      </div>

      <div>
        <md-input-container class="analyze-view_switch-view">
          <md-radio-group ng-model="$ctrl.states.reportView">
            <md-radio-button ng-value="$ctrl.LIST_VIEW">
              <md-icon md-font-icon="icon-Table-view"></md-icon>
            </md-radio-button>

            <md-radio-button ng-value="$ctrl.CARD_VIEW">
              <md-icon md-font-icon="icon-card-view"></md-icon>
            </md-radio-button>
          </md-radio-group>
        </md-input-container>

        <md-input-container class="analyze-view_switch-type">
          <md-select ng-model="$ctrl.states.reportType"
                     ng-change="$ctrl.onReportTypeChange()">
            <md-option value="all" selected>All Types</md-option>
            <md-divider></md-divider>
            <md-option value="chart">Charts</md-option>
            <md-option value="report">Reports</md-option>
            <md-option value="pivot">Pivots</md-option>
            <md-divider></md-divider>
            <md-option value="scheduled">Scheduled</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-button class="btn-primary"
                 ng-click="$ctrl.openNewAnalysisModal()">
        + ANALYSIS
      </md-button>
    </div>
  </md-toolbar>

  <div layout="column"
       ng-switch="$ctrl.states.reportView">

    <!-- LIST VIEW -->
    <div class="analyze-view_reports-list"
         ng-switch-when="list">
      <md-card>
        <md-card-header layout="row" layout-align="end start">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">LIST</span>
            </md-card-title-text>
          </md-card-title>
        </md-card-header>

        <md-card-content layout="row">
          <div dx-data-grid="$ctrl.getGridConfig()" dx-item-alias="report">
            <div data-options="dxTemplate: { name: 'typeCellTemplate' }">
              <md-chip class="tag-chip">
                <span ng-bind="::report.value"></span>
              </md-chip>
            </div>
            <div data-options="dxTemplate: { name: 'actionCellTemplate' }">
              <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-button btn-card" aria-label="Fork"
                           ng-click="$ctrl.fork(report.data)">
                  <md-icon md-font-icon="icon-fork"></md-icon>
                </md-button>
                <md-button class="md-button btn-card" aria-label="Export">
                  <md-icon md-font-icon="icon-folder"></md-icon>
                </md-button>

                <md-menu-bar>
                  <md-menu>
                    <md-button class="md-button btn-card" aria-label="More"
                               ng-click="$mdMenu.open()">
                      <md-icon md-font-icon="icon-more"></md-icon>
                    </md-button>

                    <md-menu-content>
                      <md-menu-item>
                        <md-button aria-label="Edit"
                                   ng-click="$ctrl.edit(report.data)">Edit
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-bar>
              </md-card-actions>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <!-- CARD VIEW -->
    <div ng-switch-when="card" layout="row" layout-align="start start" layout-wrap>
      <analyze-card flex="50"
                    ng-repeat="report in $ctrl.reports | filter:$ctrl.filterReports.bind($ctrl)"
                    model="report" on-action="$ctrl.onCardAction(type, model)"></analyze-card>
    </div>
  </div>
</div>
