<mat-card class="createsource-dialog">
  <mat-card-header>
    <mat-card-title class="details-title">Create Data Source</mat-card-title>
    <div fxFlex></div>
    <button mat-icon-button color="warn" (click)="onCancelClick()">
      <mat-icon fontIcon="icon-close"></mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-horizontal-stepper linear>
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <mat-step label="Select Source Type" [stepControl]="firstStep">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="source-container">
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around space-around" class="source-list">
            <mat-card class="mat-elevation-z3" [class.selected]="selectedSource === source.uid" *ngFor="let source of sources"
              fxFlex="31" fxLayout="row" fxLayoutAlign="start center" (click)="sourceSelected(source.uid)">
              <div>{{source.name}}</div>
              <div fxFlex></div>
              <img [src]="source.imgsrc" />
            </mat-card>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" style="height: 15%;">
          <button mat-raised-button color="primary" matStepperNext [disabled]="selectedSource === ''">Next</button>
        </div>
      </mat-step>
      <mat-step label="Source Details">
        <form fxFlex fxLayout="row wrap" class="source-container" #sourceDetails novalidate [formGroup]="detailsFormGroup"
          autocomplete="false">
          <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label>Name Your Source</mat-label>
              <input matInput name="sourceName" formControlName="sourceNameCtrl" maxlength="18" required />
              <mat-error *ngIf="detailsFormGroup.controls.sourceNameCtrl.hasError('required')">
                Host Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Hostname</mat-label>
              <input matInput placeholder="Host Name" name="hostName" formControlName="hostNameCtrl" required />
              <mat-error *ngIf="detailsFormGroup.controls.hostNameCtrl.hasError('required')">
                Host Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Port Number</mat-label>
              <input type="number" matInput placeholder="Port Number" name="portNo" formControlName="portNoCtrl"
                required />
              <mat-error *ngIf="detailsFormGroup.controls.portNoCtrl.hasError('required')">
                Port Number is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <mat-divider fxFlex="2" [vertical]="true"></mat-divider>
          <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label>Access Type</mat-label>
              <mat-select formControlName="accessTypeCtrl">
                <mat-option value="R">Read</mat-option>
                <mat-option value="RW">Read & Write</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Username" name="username" formControlName="userNameCtrl"
                required />
              <button mat-button matSuffix mat-icon-button>
                <mat-icon fontIcon="icon-chat-bot"></mat-icon>
              </button>
              <mat-error *ngIf="detailsFormGroup.controls.userNameCtrl.hasError('required')">
                Username is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" name="password" formControlName="passwordCtrl"
                required autocomplete="new-password" />
              <button mat-button matSuffix mat-icon-button aria-label="show">
                <mat-icon fontIcon="icon-show"></mat-icon>
              </button>
              <mat-error *ngIf="detailsFormGroup.controls.passwordCtrl.hasError('required')">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <section fxFlex fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field style="width: 90%;" appearance="outline">
              <mat-label>Description about the source</mat-label>
              <textarea matInput formControlName="descriptionCtrl"></textarea>
            </mat-form-field>
          </section>
        </form>
        <mat-divider></mat-divider>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="height: 20%;">
          <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
          <button mat-stroked-button color="primary" (click)="testConnection()">
            <mat-icon fontIcon="icon-query-mode" style="vertical-align: bottom;"></mat-icon> Test Connectivity
          </button>
          <button mat-raised-button color="primary" type="submit" matStepperNext [disabled]="!detailsFormGroup.valid"
            (click)="createSource(detailsFormGroup.value)">Create</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>