<mat-card class="createsource-dialog">
  <mat-card-header>
    <mat-card-title class="details-title mat-subheading-2">{{dialogTitle}}</mat-card-title>
    <div fxFlex></div>
    <button mat-icon-button color="warn" (click)="onCancelClick()">
      <mat-icon fontIcon="icon-close"></mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-horizontal-stepper linear [selectedIndex]="selectedStepIndex">
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <mat-step label="Select Channel Type" [stepControl]="firstStep" [editable]="isTypeEditable">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="source-container">
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around space-around" class="source-list">
            <mat-card class="mat-elevation-z3" [class.selected]="selectedSource === source.uid" *ngFor="let source of sources"
              fxFlex="31" fxLayout="row" fxLayoutAlign="start center" (click)="sourceSelected(source)" [class.no-click]="source.supported === false">
              <div>{{source.name}}</div>
              <div fxFlex></div>
              <img [src]="source.imgsrc" [attr.alt]="source.name" />
            </mat-card>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" style="height: 15%;">
          <button mat-raised-button color="primary" matStepperNext [disabled]="selectedSource === ''" i18n>Next</button>
        </div>
      </mat-step>
      <mat-step label="Channel Details">
        <form fxFlex fxLayout="row wrap" class="source-container" #sourceDetails novalidate [formGroup]="detailsFormGroup"
          autocomplete="false">
          <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label i18n>Name Your Channel</mat-label>
              <input matInput name="name-of-channel" formControlName="channelName" maxlength="18" required autocomplete="off" />
              <mat-error *ngIf="detailsFormGroup.controls.channelName.hasError('required')" i18n>
                Channel Name is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="detailsFormGroup.controls.channelName.hasError('isUnique')" i18n>
                Channel Name already
                <strong>exists</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18n>Hostname</mat-label>
              <input matInput placeholder="Host Name" name="hostName" formControlName="hostName" required name="name-of-host"
                autocomplete="new-password" />
              <mat-error *ngIf="detailsFormGroup.controls.hostName.hasError('required')" i18n>
                Host Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18n>Port Number</mat-label>
              <input matInput placeholder="Port Number" name="portNo" formControlName="portNo" required />
              <mat-error *ngIf="detailsFormGroup.controls.portNo.hasError('required')" i18n>
                Port Number is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="detailsFormGroup.controls.portNo.hasError('pattern')" i18n>
                Port Number can consist of only
                <strong>Numbers</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <mat-divider fxFlex="2" [vertical]="true"></mat-divider>
          <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label i18n>Access Type</mat-label>
              <mat-select formControlName="accessType">
                <mat-option value="R" i18n>Read</mat-option>
                <mat-option value="RW" i18n>Read & Write</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18n>Username</mat-label>
              <input type="text" matInput placeholder="Username" name="name-of-user" autocomplete="new-password"
                formControlName="userName" required />
              <button mat-button matSuffix mat-icon-button>
                <mat-icon matTooltip="Username" fontIcon="icon-chat-bot"></mat-icon>
              </button>
              <mat-error *ngIf="detailsFormGroup.controls.userName.hasError('required')" i18n>
                Username is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18n>Password</mat-label>
              <input [type]="show ? 'text' : 'password'" matInput placeholder="Password" name="user-password"
                formControlName="password" required autocomplete="new-password" />
              <button matTooltip="Show Password" *ngIf="!show" mat-button matSuffix mat-icon-button aria-label="show"
                (click)="togglePWD()">
                <mat-icon fontIcon="icon-show"></mat-icon>
              </button>
              <button matTooltip="Hide Password" *ngIf="show" mat-button matSuffix mat-icon-button aria-label="show"
                (click)="togglePWD()">
                <mat-icon fontIcon="icon-hide"></mat-icon>
              </button>
              <mat-error *ngIf="detailsFormGroup.controls.password.hasError('required')" i18n>
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <section fxFlex fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field style="width: 90%;" appearance="outline">
              <mat-label i18n>Description about the source</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </section>
        </form>
        <mat-divider></mat-divider>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="height: 20%;">
          <button mat-raised-button color="primary" *ngIf="isTypeEditable" matStepperPrevious>Previous</button>
          <button mat-stroked-button color="primary" *ngIf="!isTypeEditable" (click)="onCancelClick()" color="warn" matStepperPrevious>Cancel</button>
          <button mat-stroked-button color="primary" (click)="testChannel(detailsFormGroup.value)" i18n [disabled]="!detailsFormGroup.valid">
            <mat-icon fontIcon="icon-query-mode" style="vertical-align: bottom;"></mat-icon> Test Connectivity
          </button>
          <button mat-raised-button *ngIf="opType === 'create'" color="primary" type="submit" [disabled]="!detailsFormGroup.valid"
            (click)="createSource(detailsFormGroup.value)" i18n>Create</button>
          <button mat-raised-button *ngIf="opType === 'update'" color="primary" type="submit" [disabled]="!detailsFormGroup.valid"
            (click)="createSource(detailsFormGroup.value)" i18n>Update</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
