<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="toggleExpansion()">
      <mat-icon fontIcon="icon-expand">
      </mat-icon>
    </button>
    <div class="expandable-field__name" fxLayout="row" fxLayoutAlign="space-between center">
      {{ artifactColumn.alias || artifactColumn.displayName }}
      <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon" class="expandable-field__icon">
      </mat-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngIf="asChartColumn(artifactColumn).comboType">
      <button mat-icon-button [matMenuTriggerFor]="comboTypeSelect" class="expandable-field__option-button">
        <mat-icon [fontIcon]="getComboIcon(asChartColumn(artifactColumn).comboType)"></mat-icon>
      </button>
      <mat-menu #comboTypeSelect="matMenu">
        <button mat-menu-item *ngFor="let comboType of comboTypes; trackBy: index" (click)="onComboTypeChange(comboType.value)">
          <mat-icon [fontIcon]="comboType.icon"></mat-icon>
          <span style="margin-left: 20px;">{{comboType.label}}</span>
        </button>
      </mat-menu>
    </div>

    <aggregate-chooser-u *ngIf="artifactColumn.aggregate" (change)="onAggregateChange($event)" [columnType]="artifactColumn.type" [analysisType]="analysisType" [aggregate]="artifactColumn.aggregate">
    </aggregate-chooser-u>

    <button mat-icon-button class="expandable-field__remove-btn" (click)="removeRequest.emit()">
      <mat-icon fontIcon="icon-close" class="expandable-field__remove-icon">
      </mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isExpanded" [ngSwitch]="analysisType" class="expandable-field__details">
  <expand-detail-pivot *ngSwitchCase="'pivot'" (change)="change.emit($event)" [artifactColumn]="artifactColumn">
  </expand-detail-pivot>

  <expand-detail-chart *ngSwitchCase="'chart'" (change)="change.emit($event)" [artifactColumn]="artifactColumn" [fieldCount]="fieldCount">
  </expand-detail-chart>
</div>
