.new-analysis-content {
  overflow-y: inherit;
  padding: 15px;
  padding-bottom: 40px;

  div.md-subhead {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  div.md-body-1 {
    padding-bottom: 5px;
  }

  .analysis-method-container {
    padding-bottom: 15px;
  }
}

.new-analysis-footer {
  padding: 15px;
}

.new-analysis-header {
  padding: 15px;
}

