designer-settings-aux-chart {
  .button-group {
    display: flex;
    align-items: center;
  }

  .aux__label__options {
    width: 100%;

    mat-checkbox {
      margin-right: 40px;
    }
  }

  mat-select {
    width: unset !important;
  }
}

button.chart-title-button {
  font-size: 14px;
  min-width: 9%;
}

div .chart-title {
  width: 55%;
  margin: 1% 0 0% 21%;
  text-align: center;

  label {
    word-wrap: break-word;
  }

  mat-form-field {
    width: 100%;
    text-align: center;
  }

  .chart-designer-title {
    color: #333;
    font-size: 17px;
    fill: #333;
  }

  mat-icon.icon-edit-solid {
    cursor: pointer;
  }
}
