<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field style="margin-right: 10px; max-width: 100px"
                  *ngIf="filterModel.operator === BETWEEN_NUMBER_FILTER_OPERATOR.value">
    <input matInput type="number"
            autocomplete="off"
            (input)="onOtherValueChange($event.target.value)"
            [value]="filterModel.otherValue"/>
  </mat-form-field>

  <mat-form-field class="select-form-field" style="max-width: 150px" appearance="outline">
    <mat-label>Operator</mat-label>
    <mat-select e2e="filter-number-operator-select"
                (selectionChange)="onOperatorChange($event.value)"
                [value]="filterModel.operator">
      <mat-option *ngFor="let operator of OPERATORS"
                  [value]="operator.value"
                  [attr.e2e]="'filter-number-operator-option-' + operator.label">
        {{ operator.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 10px; max-width: 100px;">
    <input matInput type="number"
            e2e="designer-number-filter-input"
            autocomplete="off"
            (input)="onValueChange($event.target.value)"
            [value]="filterModel.value"/>
  </mat-form-field>
</div>
