# Note: Windows users might have automatic CRLF conversion enabled,
# which causes shell scripts added to Docker containers to not be
# executable.  So as a workaround, disable CRLF conversion for all
# files.
* -text
