{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "color-hex-case": "upper",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "host"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "include",
          "mixin",
          "for"
        ]
      }
    ],
    "function-calc-no-unspaced-operator": null,
    "media-feature-no-missing-punctuation": null,
    "selector-type-no-unknown": null
  }
}
