<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/theme.css">
</head>

<body ng-app="myApp" class="login-view" ng-controller="MainController">
    <script src="dist/libs.js"></script>
    <script src="dist/lib.js"></script>
    <script src="app.js"></script>

    <div layout="row" layout-align="center center">
        <div class="login-container" layout="column" layout-align="space-around start">
            <div class="brand-logo"></div>

            <h1>Login</h1>

            <div class="login-info">
                <span>Use the login credentials given at time of sing up. If you don't</span>
                </br>
                <span>have an account yet contact your system administrator</span>
            </div>

            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="username">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="password">
            </md-input-container>

            <div class="login-buttons" layout="row" layout-align="space-between center">
                <md-button class="btn-primary" ng-click="ctrl.clickMe()">Login</md-button>
                <md-button class="md-primary" ng-href="/" target="_blank">Forgot Password?</md-button>
            </div>
        </div>
    </div>
    <div class="powered-logo"></div>
    <img class="login-background" src="assets/synchronoss_login_RGB_color-white@3x.svg"></img>
</body>
</html>