<div mat-dialog-title>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="icon-arrow-left"></mat-icon>
  </button>
  <span class="header-name">{{analysis.name}}</span>
  <div matTooltip="Metric Name" class="header-description">
    &#40;&nbsp;
    <mat-icon fontIcon="icon-report"></mat-icon>
    <span i18n>{{analysis.metricName}}</span>&nbsp;&#41;
  </div>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon style="color: #E5524C;" fontIcon="icon-close"></mat-icon>
  </button>
</div>

<div class="preview-container">
  <pivot-grid *ngIf="previewData && analysis.type === 'pivot'"
              [artifactColumns]="artifactColumns"
              [sorts]="data.analysis.sqlBuilder.sorts"
              [data]="previewData"
              mode="preview">
  </pivot-grid>
  <report-grid-upgraded *ngIf="analysis.type === 'report' || analysis.type === 'esReport'"
                        [artifacts]="analysis.edit ? null : (analysis.artifacts | checkedArtifactColumnFilter)"
                        [query]="analysis.queryManual"
                        [analysis]="analysis"
                        [sorts]="analysis.sqlBuilder.sorts"
                        [dataLoader]="dataLoader"
                        [isEditable]="false">
  </report-grid-upgraded>
  <designer-map-chart *ngIf="analysis.type === 'chart' && chartType === 'geo'"
                  [chartType]="chartType"
                  [data]="previewData"
                  [auxSettings]="{legend: analysis.legend}"
                  [sqlBuilder]="analysis.sqlBuilder">
  </designer-map-chart>
  <designer-chart *ngIf="analysis.type === 'chart' && chartType !== 'geo'"
                  [chartType]="chartType"
                  [sorts]="analysis.sqlBuilder.sorts"
                  [auxSettings]="{isInverted: analysis.isInverted, legend: analysis.legend}"
                  [data]="previewData"
                  [sqlBuilder]="analysis.sqlBuilder">
  </designer-chart>
</div>
