analyze-pivot-settings {
  h3 {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #EEE;
  }

  .checkbox-container {
    padding-top: 10px;
    padding-left: 10px;
  }

  .checkbox-container:last-of-type {
    padding-bottom: 10px;
  }

  .summary-type {
    md-checkbox {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  md-sidenav.pivot-settings {
    width: 420px;
    max-width: 420px;
  }

  md-toolbar::after {
    content: none;
  }

  md-toolbar.settings-toolbar {
    min-height: 50px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    background-color: #F5F5F5 !important;

    p {
      margin: 0;
    }
  }
}
