<div layout="row">
  <md-sidenav class="pivot-settings"
              md-is-open="true"
              md-disable-backdrop
              md-component-id="{{$ctrl.ANALYZE_PIVOT_SETTINGS_SIDENAV_ID}}"
              md-whiteframe="4">
    <md-toolbar class="settings-toolbar" layout="row" layout-align="space-around center">
      <p class="md-headline" translate="PIVOT_SETTINGS"></p>
    </md-toolbar>
    <div layout="column"
         style="height: calc(100% - 50px); overflow: auto">
      <md-list>

      <md-subheader class="md-no-sticky">
        <md-input-container md-no-float class="md-block">
          <input ng-model="$ctrl.filterText.displayName" placeholder="Filter by keyword"/>
        </md-input-container>
      </md-subheader>

      <md-list-item ng-repeat="artifactColumn in $ctrl.artifactColumns | filter:$ctrl.filterText track by artifactColumn.columnName" md-no-proxy>

        <div layout="row">
          <md-checkbox ng-model="artifactColumn.checked"
                      ng-change="$ctrl.onChecked(artifactColumn)"
                      style="align-self: flex-end;">
          </md-checkbox>

          <p>{{ artifactColumn.alias || artifactColumn.displayName }}
            <md-icon md-font-icon="{{$ctrl.ARTIFACT_ICON_TYPES_OBJ[artifactColumn.type].icon}}">
              <md-tooltip ng-bind="$ctrl.ARTIFACT_ICON_TYPES_OBJ[artifactColumn.type].tooltip | translate"></md-tooltip>
            </md-icon>
          </p>
        </div>

        <md-menu class="md-secondary"
                ng-show="artifactColumn.checked">
          <md-button aria-label="AREA_TYPE"
                    class="md-icon-button"
                    ng-click="$ctrl.openMenu($mdMenu, $event)">
            <md-icon md-menu-origin
                    md-font-icon="{{$ctrl.AREA_TYPES_OBJ[artifactColumn.area].icon}}"></md-icon>
            <md-tooltip ng-bind="'TOOLTIP_PIVOT_AREA' | translate"></md-tooltip>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="areaType in $ctrl.AREA_TYPES | pivotAreaTypeFilter:artifactColumn.type track by areaType.value">
              <md-button ng-click="$ctrl.onSelectAreaType(areaType.value, artifactColumn)"
                        style="font-size: 14px;">
                <md-icon md-font-icon="{{::areaType.icon}}"
                        style="font-size: 14px;"
                        md-menu-align-target></md-icon>
                {{::areaType.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="md-secondary" ng-show="artifactColumn.checked && artifactColumn.area === 'data'">
          <md-button aria-label="TOOLTIP_AGGREGATE_TYPE"
                    class="md-icon-button"
                    ng-click="$ctrl.openMenu($mdMenu, $event)">
            <md-icon md-menu-origin
                    md-font-icon="{{$ctrl.AGGREGATE_TYPES_OBJ[artifactColumn.aggregate].icon}}"></md-icon>
            <md-tooltip ng-bind="'TOOLTIP_AGGREGATE_TYPE' | translate"></md-tooltip>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="aggregateType in $ctrl.AGGREGATE_TYPES track by aggregateType.value">
              <md-button ng-click="$ctrl.onSelectAggregateType(aggregateType, artifactColumn)"
                        style="font-size: 14px;">
                <md-icon md-font-icon="{{::aggregateType.icon}}"
                        style="font-size: 14px;"
                        md-menu-align-target></md-icon>
                {{::aggregateType.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu class="md-secondary" ng-show="artifactColumn.checked && $ctrl.DATE_TYPES.includes(artifactColumn.type)">
          <md-button aria-label="GROUP_INTERVAL"
                    class="md-icon-button"
                    ng-click="$ctrl.openMenu($mdMenu, $event)">
            <md-icon md-menu-origin
                    md-font-icon="icon-calendar"></md-icon>
            <md-tooltip ng-bind="'TOOLTIP_AGGREGATE_TYPE' | translate"></md-tooltip>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="groupInterval in $ctrl.GROUP_INTERVALS track by groupInterval.value">
              <md-button ng-click="$ctrl.onSelectGroupInterval(groupInterval, artifactColumn)"
                        style="font-size: 14px;">
                {{::groupInterval.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </md-list-item>
    </md-list>
    </div>
  </md-sidenav>
</div>
