<md-sidenav class="md-sidenav-left pivot-settings"
            md-component-id="{{$ctrl.ANALYZE_PIVOT_SETTINGS_SIDENAV_ID}}"
            md-whiteframe="4">
  <md-toolbar class="settings-toolbar" layout="row" layout-align="space-around center">
    <p class="md-headline" translate="PIVOT_SETTINGS"></p>
    <md-button class="md-button btn-primary" ng-click="$ctrl.applySettings()" translate="APPLY_SETTINGS"></md-button>
  </md-toolbar>

  <md-content layout-margin>
    <div dx-pivot-grid-field-chooser="$ctrl.fieldChooserOptions"></div>
  </md-content>
</md-sidenav>
