<div md-dialog-title>
  <button md-icon-button (click)="exitCreator()">
    <md-icon fontIcon="icon-arrow-left"></md-icon>
  </button>
  <span>
    {{mode === 'create' ? 'Create new' : 'Edit'}} Dashboard
  </span>
  <div class="title-actions">
    <!-- <button md-button>
      Description
    </button> -->
    <button md-raised-button color="primary" (click)="saveDashboard()" [disabled]="this.fillState === 'empty'">
      Save
    </button>
  </div>
</div>
<div md-dialog-content>
  <dashboard-grid [model]="dashboard"
  [requester]="requester"
  [mode]="mode"
  (getDashboard)="onDashboardChange($event)"></dashboard-grid>
</div>
<span [@hideHelp]="fillState" class="add-button-help">Add a new analysis to the dashboard</span>
<button [@moveButton]="fillState" md-fab color="primary" class="add-analysis" (click)="chooseAnalysis()">
  <md-icon fontIcon="icon-plus"></md-icon>
</button>
