<div mat-dialog-title>
  <button mat-icon-button (click)="exitCreator()">
    <mat-icon fontIcon="icon-arrow-left"></mat-icon>
  </button>
  <span>
    {{mode === 'create' ? 'Create new' : 'Edit'}} Dashboard
  </span>
  <div class="title-actions">
    <!-- <button mat-button>
      Description
    </button> -->
    <button mat-raised-button color="primary" (click)="saveDashboard()" [disabled]="this.fillState === 'empty'">
      Save
    </button>
  </div>
</div>
<div mat-dialog-content>

  <mat-sidenav-container class="widget-container" [autosize]="false">
    <mat-sidenav #widgetChoice
      mode="over"
      [opened]="false"
      position="end">
      <add-widget></add-widget>
    </mat-sidenav>
    <mat-sidenav-content>
      <dashboard-grid [model]="dashboard"
      [requester]="requester"
      [mode]="mode"
      (getDashboard)="onDashboardChange($event)"></dashboard-grid>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<span [@hideHelp]="fillState" class="add-button-help">Add a new analysis to the dashboard</span>
<button [@moveButton]="fillState" mat-fab color="primary" class="add-analysis" (click)="chooseAnalysis()">
  <mat-icon fontIcon="icon-plus"></mat-icon>
</button>
