create-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  [mat-dialog-title] {
    display: flex;
    flex-direction: row;

    span {
      flex-grow: 1;
      line-height: 2em;
    }
  }

  [mat-dialog-content] {
    flex-grow: 1;
    max-height: 100%;
    height: 100%;

    chart {
      max-width: 100%;
      max-height: 100%;
    }

    gridster.dashboard-gridster {
      height: 100%;
      margin-right: 0;
      background-color: whitesmoke;

      gridster-item {
        & > button {
          position: absolute;
          top: 0;
          z-index: 1;
          right: 0;
        }

        & > .analysis-container {
          display: block;
          width: 100%;
          height: 100%;

          & > * {
            display: block;
            width: 100%;
            height: 100%;

            div {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .add-button-help {
    position: absolute;
    font-size: 1.5em;
    opacity: 1;
    bottom: 54%;
    right: 50%;
    transform: translateX(50%);
    z-index: 9999;
  }

  .empty-dashboard-image {
    background-image: url('~img/empty-dashboard.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    z-index: 4;
    position: absolute;
    bottom: 58%;
    right: 50%;
    transform: translateX(50%);
  }

  .add-analysis {
    position: absolute;
    bottom: 48%;
    right: 50%;
    transform: translateX(50%);
    z-index: 9999;

    mat-icon {
      vertical-align: baseline;
    }
  }

  .widget-container {
    height: 100%;
  }
}
