<div mat-dialog-title>
  <button mat-icon-button (click)="exitCreator()">
    <mat-icon fontIcon="icon-arrow-left"></mat-icon>
  </button>
  <span>
    {{mode === 'create' ? 'Create new' : 'Edit'}} Dashboard
  </span>
  <div class="title-actions">
    <!-- <button mat-button>
      Description
    </button> -->
    <button mat-raised-button color="primary" (click)="saveDashboard()" [disabled]="this.fillState === 'empty'">
      Save
    </button>
  </div>
</div>
<div mat-dialog-content>

  <mat-sidenav-container class="widget-container" [autosize]="false">
    <mat-sidenav #widgetChoice mode="over" [opened]="false" position="end">
      <add-widget [style.display]="sidebarWidget !== 'add' ? 'none' : ''" [container]="widgetChoice" (onWidgetAction)="onWidgetAction($event)"></add-widget>
      <edit-widget *ngIf="sidebarWidget === 'edit'" [container]="widgetChoice" (onWidgetAction)="onWidgetAction($event)" [model]="editItem"></edit-widget>

    </mat-sidenav>

    <mat-sidenav-content>
      <dashboard-grid [model]="dashboard" [requester]="requester" [mode]="mode" (getDashboard)="onDashboardChange($event)"></dashboard-grid>

      <span [@hideHelp]="fillState" class="empty-dashboard-image"></span>
      <strong [@hideHelp]="fillState" class="add-button-help">There's nothing here yet.</strong>
      <button [@moveButton]="fillState" mat-raised-button color="primary" class="add-analysis" (click)="chooseAnalysis()">
        <!-- <mat-icon fontIcon="icon-plus"></mat-icon> -->
        Add Widget
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
