[Unit]
Description=SIP Real-time Processing Service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/opt/bda/sip-rtis/sbin/rtis_start.sh --fxj
SyslogIdentifier=sip-rtis
User=mapr
Restart=on-failure
# Consider Java exiting from SIGTERM using exit status 143 to be
# successful
SuccessExitStatus=143
