<h2>{{ groupSelected?.securityGroupName }}</h2>
<div *ngIf="emptyState" style="text-align: center; font-size: 25px;">
  Add a new Attribute
</div>
<div
  *ngIf="!emptyState"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="10px"
>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Expression String
        </mat-panel-title>
      </mat-expansion-panel-header>

      <code
        [innerHTML]="
          previewString ||
          'Cannot parse expression. Filters are missing or invalid.'
        "
      >
      </code>
    </mat-expansion-panel>
  </mat-accordion>
  <dsk-filter-group-view [filterGroup]="dskFilterGroup"></dsk-filter-group-view>
</div>
