<div class="page-header-toolbar">
  <h2>{{(dashboard ? dashboard.name : '') || 'Observe'}}</h2>
  <div class="page-header-actions">
    <button md-button
    color="warn"
    *ngIf="dashboard && privileges.delete"
    (click)="confirmDelete()">Delete</button>

    <button md-button
    color="primary"
    *ngIf="dashboard && privileges.edit"
    (click)="editDashboard()">Edit</button>

    <button md-raised-button
    color="primary"
    (click)="createDashboard()">+ DASHBOARD</button>
  </div>
</div>

<div class="page-content">
  <dashboard-grid [model]="dashboard" mode="view" *ngIf="dashboard"></dashboard-grid>
  <span *ngIf="!dashboard">No dashboards available.</span>
</div>
