[Unit]
Description=SIP MariaDB cluster init

[Service]
Type=oneshot
ExecStart=/opt/sip/libexec/sip-mariadb-cluster-init
SyslogIdentifier=sip-mariadb-cluster-init

[Install]
WantedBy=default.target
