<div fxLayout="row" fxLayoutAlign="space-between start">
  <mat-form-field class="select-form-field" appearance="outline" style="width: 150px">
    <mat-label>Operator</mat-label>
    <mat-select e2e="filter-string-select"
                (selectionChange)="onPresetSelected($event.value)"
                [value]="filterModel.operator">
      <mat-option *ngFor="let OPERATOR of OPERATORS"
                  [value]="OPERATOR.value"
                  [attr.e2e]="'filter-string-option-' + OPERATOR.label">
        {{ OPERATOR.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 10px;"
                  *ngIf="filterModel.operator === 'EQ' || filterModel.operator === 'NEQ' || filterModel.operator === 'CONTAINS' || filterModel.operator === 'SW' || filterModel.operator === 'EW'" >
    <input matInput (input)="onValueChange($event.target.value)"
            autocomplete="off"
            [value]="tempValue"/>
  </mat-form-field>
  <mat-form-field *ngIf="filterModel.operator === 'ISIN' || filterModel.operator === 'ISNOTIN'" style="margin-left: 10px;">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let value of filterModel.modelValues; let i = index; trackBy: index"
               [removable]="true" (removed)="remove(i)">
        {{value}}
        <mat-icon matChipRemove fontIcon="icon-remove"></mat-icon>
      </mat-chip>
      <input [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="true"
             (matChipInputTokenEnd)="add($event)"
             autocomplete="off"
             e2e="designer-filter-string-input"/>
    </mat-chip-list>
  </mat-form-field>
</div>
