<header class="dialog__header">
  <strong i18n>Filter</strong>
</header>
<div class="dialog__content">
  <div class="filter-container">
    <div *ngFor="let artifact of data.artifacts; trackBy: index">
      <div class="filter__table-name">
        {{artifact.artifactName}}
      </div>
      <mat-divider></mat-divider>
      <div class="filter__list">
        <designer-filter-row *ngFor="let filter of groupedFilters[artifact.artifactName];let i = index; trackBy: index"
                             (removeRequest)="removeFilter(i, artifact.artifactName)"
                             (filterChange)="onFilterChange()"
                             (filterModelChange)="onFilterModelChange()"
                             [filter]="filter"
                             [supportsGlobalFilters]="data.supportsGlobalFilters"
                             [isInRuntimeMode]="data.isInRuntimeMode"
                             [artifactColumns]="artifact.columns">
        </designer-filter-row>
      </div>
      <button mat-icon-button
              *ngIf="!data.isInRuntimeMode"
              [attr.e2e]="'filter-add-btn-' + artifact.artifactName"
      >
        <mat-icon fontIcon="icon-plus"
                  (click)="addFilter(artifact.artifactName)"></mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="dialog__actions"
     fxLayout="column"
     fxLayoutAlign="start start">

  <div *ngIf="!data.isInRuntimeMode"
       fxLayout="row"
       fxLayoutAlign="start center"
       style="margin-bottom: 10px;">
    <mat-button-toggle-group (change)="onBooleanCriteriaChange($event.value)"
                              [value]="data.booleanCriteria">
      <mat-button-toggle value="AND" i18n>
        All
      </mat-button-toggle>
      <mat-button-toggle value="OR" i18n>
        Any
      </mat-button-toggle>
    </mat-button-toggle-group>
    <span style="padding-left: 10px;" i18n>of the filters are true</span>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="start center">
    <button (click)="ok()"
            e2e="apply-filter-btn"
            [disabled]="!areFiltersValid"
            mat-raised-button color="primary" i18n>
      Apply Filters
    </button>
    <button mat-button i18n (click)="cancel()" e2e="designer-dialog-cancel">Cancel</button>
  </div>
</div>
