<analyze-dialog control="$ctrl" class="analyze-filters">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="FILTERS"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content style="width: 850px;" layout="column">
    <md-card ng-repeat="artifact in $ctrl.artifacts track by artifact.artifactName">
      <md-card-header>
        <md-card-header-text ng-bind="artifact.artifactName"></md-card-header-text>
      </md-card-header>
      <md-card-content>
        <analyze-filter-row ng-repeat="filter in $ctrl.filters[artifact.artifactName] track by $index"
                            filter="filter"
                            on-change="$ctrl.onFilterChange(filter, artifact.artifactName, $index)"
                            artifact="artifact"
                            analysis-type="{{::$ctrl.analysisType}}">
        </analyze-filter-row>

        <md-button class="md-icon-button"
                    aria-label="Add Filter"
                    ng-click="$ctrl.addFilter(artifact.artifactName)">
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>

      </md-card-content>
    </md-card>

  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.onApplyFilters()"
                 translate="APPLY_FILTERS">
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.$dialog.hide()"
                 translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
