<analyze-dialog control="$ctrl" class="analyze-filters">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="FILTERS"></strong>
    <div>
      <span>Join Filter criteria by: </span>
      <binary-option ng-if="$ctrl.analysisType === 'report'"
                        left="{{::$ctrl.BOOLEAN_CRITERIA.AND}}"
                        right="{{::$ctrl.BOOLEAN_CRITERIA.OR}}"
                        class="md-secondary"
                        ng-model="$ctrl.filterBooleanCriteria"
                        style="align-self: baseline; padding: 5px;"
                        on-change="$ctrl.onBooleanCriteriaSelected(filter, value)">
      </binary-option>
    </div>
  </analyze-dialog-header>

  <analyze-dialog-content style="width: 850px;" layout="column">
    <md-list ng-repeat="artifact in $ctrl.artifacts track by artifact.artifactName">
      <md-subheader class="md-no-sticky">{{artifact.artifactName}}</md-subheader>
      <md-list-item ng-repeat="filter in $ctrl.filters[artifact.artifactName] track by $index"
                    class="md-no-proxy">
        <analyze-filter-row filter="filter"
                            on-change="$ctrl.onFilterChange(filter, artifact.artifactName, $index)"
                            artifact="artifact">
        </analyze-filter-row>

          <md-checkbox class="md-secondary"
                      ng-disabled="!filter.column.filterEligible"
                      ng-model="filter.isRuntimeFilter"
                      ng-change="$ctrl.onRuntimeToggle(filter)">
            <span translate="IS_RUNTIME"></span>
          </md-checkbox>

        <md-button class="md-icon-button md-secondary"
                  aria-label="Remove"
                  ng-click="$ctrl.onRemoveFilter($index, artifact.artifactName)">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

      </md-list-item>
      <md-list-item>
        <md-button class="md-icon-button"
                    aria-label="Add Filter"
                    ng-click="$ctrl.addFilter(artifact.artifactName)">
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.onApplyFilters()"
                 translate="APPLY_FILTERS">
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.$dialog.hide()"
                 translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
