<div class="settings__container">

  <div class="settings__filters">
    <mat-form-field>
      <input matInput type="text"
              placeholder="Filter"
              (input)="onTextFilterChange($event.target.value)"
              [value]="filterObj.keyword"/>
      <button mat-button *ngIf="filterObj.keyword"
              matSuffix mat-icon-button
              aria-label="Clear"
              (click)="onTextFilterChange('')">
        <mat-icon fontIcon="icon-close"></mat-icon>
      </button>
    </mat-form-field>
    <mat-button-toggle-group (change)="onTypeFilterChange($event.value)">
      <mat-button-toggle *ngFor="let typeIcon of TYPE_ICONS; trackBy: index"
                          [value]="typeIcon.value">
        <mat-icon [fontIcon]="typeIcon.icon"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="settings__unselected-fields"
       dndSortableContainer
       dndZone="designer-setting-zone">
    <div *ngIf="unselectedArtifactColumns">
      <div *ngFor="let artifactColumn of (unselectedArtifactColumns | artifactColumnFilter:filterObj); trackBy: index"
           (click)="addToGroupIfPossible(artifactColumn)"
           [dndSortable]="artifactColumn"
           class="settings__list-item"
           fxLayout="row"
           fxLayoutAlign="start center">
        <div class="settings__list-item__name">
          {{ artifactColumn.alias || artifactColumn.displayName }}
          <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon"
                    class="settings__list-item__icon">
          </mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="settings__selected-fields">
    <designer-settings-group *ngFor="let groupAdapter of groupAdapters; trackBy: index"
                             (fieldsChange)="onFieldsChange()"
                             (fieldPropChange)="onFieldPropChange()"
                             (removeField)="removeFromGroup($event, groupAdapter)"
                             [groupAdapter]="groupAdapter"
                             [artifactColumns]="groupAdapter.artifactColumns">
    </designer-settings-group>
  </div>
</div>
