@import "themes/base/colors";

workbench-page {
  width: 99.5%;
  max-width: 99.5% !important;
  height: 100%;
  max-height: 100%;
  overflow: auto;

  ui-view {
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  .margin-btm-9 {
    margin-bottom: 9px !important;
  }

  .dx-datagrid .dx-row > td {
    padding: 3px;
  }

  .dx-datagrid {
    line-height: normal !important;
  }

  .dx-header-row > td {
    padding: 7px !important;
  }

  .dx-freespace-row {
    height: 0 !important;
  }

  .mat-tab-label-active {
    color: $primary-blue-b2;
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  .mat-tab-label,
  .mat-tab-link {
    font-size: 17px;
    font-weight: 600;
  }
}

.full-screen-dialog {
  width: 100%;
  height: 100%;
  max-width: 100% !important;

  mat-dialog-container {
    max-width: 100%;
  }
}
