<div>
  <sidenav id="observe-page-sidenav"
           menu="$ctrl.menu"></sidenav>
  <filter-sidenav></filter-sidenav>
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools" layout-align="space-between center">
      <sidenav-btn target="observe-page-sidenav"></sidenav-btn>

      <md-button sidenav-target="observe-filter-sidenav" class="btn-primary" aria-label="Filter">
        <md-icon md-font-icon="icon-filter"></md-icon>
        Filter
      </md-button>
    </div>
  </md-toolbar>
</div>
