<div>
  <sidenav id="observe-page-sidenav"
           menu="$ctrl.menu"></sidenav>
  <filter-sidenav ng-model="$ctrl.filters" ng-change="$ctrl.onFiltersApplied($ctrl.filters)"></filter-sidenav>
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools" layout-align="space-between center">
      <sidenav-btn target="observe-page-sidenav"></sidenav-btn>

      <md-button sidenav-target="{{$ctrl.filterSidenavId}}" class="btn-primary" aria-label="Filter">
        <md-icon md-font-icon="icon-filter"></md-icon>
        Filter
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <md-chips class="filter-tags"
              ng-if="$ctrl.appliedFilters"
              ng-model="$ctrl.appliedFilters"
              readonly="true"
              md-removable="true"
              md-on-remove="$ctrl.onFilterRemoved()"
              placeholder="6 More Filters...">

      <md-chip-template>
          <span>
            {{$chip}}
          </span>
      </md-chip-template>
      <button md-chip-remove class="md-primary">
        <md-icon md-font-icon="icon-remove"></md-icon>
      </button>
    </md-chips>
  </md-content>
</div>
