<div>
  <h1>Change Password</h1>
  <div class="error-msg" [innerHtml]="errorMsg"></div>
  <form name="changePwdForm" method="post">
    <mat-form-field class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.oldPwd" [ngModelOptions]="{standalone: true}" placeholder="Old Password" required />
    </mat-form-field>
    <br/>

    <mat-form-field  class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.newPwd" [ngModelOptions]="{standalone: true}" placeholder="New Password" required />
    </mat-form-field>
    <br/>

    <mat-form-field  class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.confNewPwd" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password" required />
    </mat-form-field>
    <br/>

    <div class="login-buttons" layout="row">
      <button (click)="changePwd()" class="changePwd-change"
            mat-raised-button color="primary" [disabled]="!formData.oldPwd || !formData.newPwd || !formData.confNewPwd" i18n>
        Change
      </button>
      <button mat-button class="changePwd-cancel" i18n (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>