<category-dialog control="$ctrl" class="delete-category-dialog"> <category-dialog-header>
<div layout="row">
  <div class="md-title" translate="DELETE_HEADER_CATEGORY"></div>
</div>
</category-dialog-header> <category-dialog-content>
<div layout="column">
  <md-input-container flex class="padding-for-container"> 
    <category-label>Category Name : {{$ctrl.deleteCategory.categoryName}}</category-label>
  </md-input-container>
  <md-input-container ng-if="$ctrl.deleteCategory.subCategories.length > 0" flex 
    class="padding-for-container"> 
    <sub-category-label translate="CATEGORY_DELETE_SMENT"></sub-category-label>
  </md-input-container>
  <md-input-container ng-if="$ctrl.deleteCategory.subCategories.length > 0" flex 
    class="padding-for-container">
    <category-label>Sub-Categories</category-label>
    <ul ng-repeat="subCategory in $ctrl.deleteCategory.subCategories">
      <li><sub-category-label>{{subCategory.subCategoryName}}</sub-category-label>
        <md-button class="delete-button btn-card button-pull-right" aria-label="Delete" 
            ng-click="$ctrl.doDeleteSubCategory(subCategory)">
            <md-tooltip ng-bind="'TOOLTIP_DELETE_SUB_CATEGORY' | translate"></md-tooltip>
            <md-icon md-font-icon="icon-trash"></md-icon>
          </md-button>
      </li>
    </ul>
  </md-input-container>
  <div class="layout-row">
    <md-button class="btn-primary" ng-disabled="$ctrl.deleteCategory.subCategories.length > 0"
      ng-click="$ctrl.doDeleteCategory()"
		translate="DELETE_CATEGORY"> </md-button>
    <md-button class="btn-card button-pull-right" ng-click="$ctrl.$dialog.hide()"
		translate="CANCEL"> </md-button>
  </div>
</div>
</category-dialog-content> </category-dialog>
