@import "src/themes/base/colors";

.dialog__header {
  padding: 10px;
  border-bottom: 1px solid $primary-grey-g2;

  strong {
    font-size: 20px;
  }
}

.dialog__content {
  padding: 20px 10px;
  overflow: auto;
  max-height: 500px;

  .filter-container {
    width: 800px;
    min-height: 300px;
    display: block;

    .filter__table-name {
      color: $primary-blue-b2;
      margin-bottom: 10px;
    }

    .filter__list {
      padding-left: 10px;
      margin-top: 10px;
    }
  }
}

.dialog__actions {
  padding-top: 10px;
  border-top: 1px solid $primary-grey-g2;
}
