report-grid-container {
  width: 100%;

  md-card {
    padding: 0;
    margin: 0;
    overflow-x: auto;
  }

  .rgc-group-panel {
    padding: 20px 20px 0;
  }

  .rgc-panel {
    padding: 20px 10px;
  }

  .rgc-view-more-label {
    text-decoration: underline;
  }
}
