<div class="report-grid-container">
  <div class="rgc-group-panel" layout="row" layout-align="end center"
       ng-if="$ctrl.showGroupPanel === 'true' && $ctrl.grouped.by.length">
    Grouped by:&nbsp;<strong ng-bind="$ctrl.grouped.byText()"></strong>

    <md-button class="btn-card"
               ng-click="$ctrl.undoGrouping()">Undo
    </md-button>

    <md-radio-group layout="row" layout-align="end center"
                    ng-model="$ctrl.settings.layoutMode"
                    ng-change="$ctrl.onLayoutModeUpdate()">
      <md-radio-button ng-value="::$ctrl.LAYOUT_MODE.DETAIL">Show Each Row</md-radio-button>
      <md-radio-button ng-value="::$ctrl.LAYOUT_MODE.SUMMARY">Summary View</md-radio-button>
    </md-radio-group>
  </div>

  <md-card>
    <report-grid-node
      report-grid-container="$ctrl"
      source="$ctrl.grouped.source"></report-grid-node>

    <div class="rgc-panel"
         ng-if="$ctrl.showGroupPanel === 'true'">
      <a class="rgc-view-more-label"
         ng-click="$ctrl.viewMore();">View 4 More</a>
    </div>
  </md-card>
</div>
