<md-card style="padding: 20px; height:100%"
         ng-if="$ctrl.render">
  <div layout="row" layout-align="end center"
       ng-if="$ctrl.modifiedData.isGroup">
    <span translate="GROUPED_BY"></span> :&nbsp; <strong ng-bind="$ctrl.groupedBy"></strong>

    <md-button class="btn-card"
               ng-click="$ctrl.undoGrouping()"
               translate="UNDO">
    </md-button>

    <md-radio-group layout="row" layout-align="end center"
                    ng-model="$ctrl.layoutMode">
      <md-radio-button ng-value="::$ctrl.LAYOUT_MODE.DETAIL"
                       translate="SHOW_EACH_ROW"></md-radio-button>
      <md-radio-button ng-value="::$ctrl.LAYOUT_MODE.SUMMARY"
                       translate="SUMMARY_VIEW"></md-radio-button>
    </md-radio-group>
  </div>

  <report-grid-node
    data="$ctrl.modifiedData"
    columns="$ctrl.columns"
    layout-mode="$ctrl.layoutMode"
    settings="$ctrl.settings">
  </report-grid-node>
</md-card>
