[Unit]
Description=SAW Security

[Service]
ExecStart=/opt/bda/saw-security/bin/saw-security.sh start --fg
SyslogIdentifier=saw-security-service

[Install]
WantedBy=default.target
