privileges-view {
  width: 100%;
}

.privileges-view {
  .md-title {
    color: #636363;
    font-weight: bold;
  }

  &_search-panel {
    flex-basis: 40%;
  }

  &_action-panel {
    margin-left: auto;
  }

  &_privileges-list {
    md-card {
      md-card-header {
        margin: 16px 24px;
        padding: 0 0 8px;
        border-bottom: 1px solid #CCC;
      }

      md-card-title {
        padding: 0;
        height: 36px;
      }

      md-card-actions {
        md-menu-bar {
          padding-left: 0;
          padding-right: 0;
        }

        .md-button {
          display: inline-flex;
          min-width: 24px;
          min-height: 24px;
          line-height: 24px;
          height: 24px;
          margin: 0 !important;
        }
      }

      md-card-content {
        margin-bottom: 75px;
      }
    }
  }
}
