[Unit]
Description=SAW Export

[Service]
Type=notify
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-export-service/saw-export.jar --spring.config.location=/opt/bda/saw-export-service/conf/application.yml"
SyslogIdentifier=saw-export
User=mapr
Restart=on-failure
# Allow service to exit on SIGTERM, if socket-activated
SuccessExitStatus=143
