<analyze-dialog control="$ctrl" class="analyze-pivot-dialog">
  <analyze-dialog-header>
    <div layout="row">
      <md-button class="ard_back-btn"
                 ng-click="$ctrl.$dialog.hide()">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>

      <div class="ard_meta" flex>
        <div class="md-title">
          <strong class="e2e-pivot-title" ng-bind="$ctrl.model.name"></strong>
          <label translate="DRAFT"></label>
        </div>
        <div class="md-description">
          <md-icon md-font-icon="icon-report"></md-icon>
          <span translate="ORDERS"></span>
        </div>
      </div>

      <div class="ard_actions" flex>
        <md-button class="btn-primary" ng-click="$ctrl.openSaveModal()"
                   translate="SAVE">
        </md-button>
      </div>
    </div>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <analyze-filter-sidenav></analyze-filter-sidenav>
    <analyze-pivot-settings on-apply-field-settings="$ctrl.onApplyFieldSettings()"
                            field-chooser-options="$ctrl.fieldChooserOptions">
    </analyze-pivot-settings>

    <div layout="column">
      <div layout="row" class="ard_toolbar" layou="space-between">

        <md-button ng-click="$ctrl.toggleSettingsSidenav()" flex="5">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>

        <span class="ard_toolbar-text" flex="25"
              translate="PIVOT"></span>

        <div class="ard_toolbar-actions" flex="70">
          <md-button ng-class="$ctrl.settingsModified ? 'btn-primary' : 'action'" ng-click="$ctrl.onRefreshData()">
            <span translate="REFRESH_DATA"></span>
          </md-button>

          <md-button class="action" ng-click="$ctrl.openDescriptionModal($event)">
            <md-icon md-font-icon="icon-description"></md-icon>
            <span translate="DESCRIPTION"></span>
          </md-button>

          <md-button class="action" ng-click="$ctrl.openPreviewModal($event)">
            <md-icon md-font-icon="icon-full-screen"></md-icon>
            <span translate="PREVIEW"></span>
          </md-button>

          <md-button class="action" ng-click="$ctrl.openSortModal($event)"
                     ng-disabled="!$ctrl.sortFields">
            <md-icon md-font-icon="icon-sort"></md-icon>
            <span translate="SORT"></span>
          </md-button>

          <md-button class="action" ng-click="$ctrl.openFilterSidenav()"
                     ng-disabled="!$ctrl.filters">
            <md-icon md-font-icon="icon-filter"></md-icon>
            <span translate="FILTER"></span>
          </md-button>
        </div>

      </div>

      <md-card>
        <md-card-content layout="column">
          <pivot-grid updater="$ctrl.pivotGridUpdater" send-fields="$ctrl.onGetFields(fields)"></pivot-grid>
        </md-card-content>
      </md-card>
    </div>
  </analyze-dialog-content>
</analyze-dialog>
