<mat-accordion>
  <mat-expansion-panel class="menu-panel-header sidenav-mainmenu" [expanded]="expanded">
    <mat-expansion-panel-header *ngIf="!hasChildren()">
      <mat-panel-title class="sidenav-mainmenu">
          <span [innerHtml]="metadata.name"></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <div *ngIf="hasChildren()">
      one
      <div class="menu-panel-content" *ngFor="let childItem of metadata.children">
        <accordion-menu-link [metadata]="childItem" class="accordion-root"></accordion-menu-link>
      </div>  
    </div> -->

    <div *ngIf="!hasChildren()">
      <div class="menu-panel-content sidenav-mainmenu" *ngFor="let item of metadata.children">
        <a [class.activeButton]="checkActiveMenu(item.url)" [attr.href]="item.url" [class.active]="active">{{item.name}}</a>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="no-children" *ngIf="hasChildren()">
    <a [class.activeButton]="checkActiveMenu(metadata.url)" [attr.href]="metadata.url" [class.active]="active">{{metadata.name}}</a>
  </div>
</mat-accordion>