<mat-accordion>
  <mat-expansion-panel *ngIf="!hasChildren()" class="menu-panel-header sidenav-mainmenu" [expanded]="expanded">
    <mat-expansion-panel-header class="sidenav-mainmenu" *ngIf="!hasChildren()">
      <mat-panel-title class="sidenav-mainmenu">
          <span [innerHtml]="metadata.name"></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="!hasChildren()">
      <div *ngFor="let child of metadata.children">
        <accordion-menu-link [metadata]="child" class="accordion-root"></accordion-menu-link>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="no-children" *ngIf="hasChildren()">
    <a [class.activeButton]="checkActiveMenu(metadata.url)" class="child-item" [attr.href]="metadata.url" [class.active]="active">{{metadata.name}}</a>
  </div>
</mat-accordion>