@import 'src/themes/base/colors';

:host {
  width: 100%;
}

.mat-toolbar {
  background-color: transparent;
  padding: 0 20px;

  .admin-title {
    color: $grey-text-color;
    font-weight: bold;
    margin-right: 10px;
  }
}

.grid-title {
  color: $grey-text-color;
  font-size: 18px;
  margin-right: 10px;
}

admin-import-file-list {
  padding: 10px 0 0;
  display: block;
}

admin-import-list {
  padding: 10px 0 0;
  height: calc(100% - 120px);
  display: block;
}
