@import "src/themes/base/colors";

:host {
  display: block;
  max-width: 860px;
  width: 860px;
}

.base-dialog__content {
  margin: 10px !important;
  max-height: 450px;
  overflow: scroll;

  .mat-form-field {
    width: 100%;
  }

  .form-field {
    margin-bottom: 5px;
  }
}
