<div
  *ngIf="flattenedFilters.length > 0"
  class="filter-chips"
  fxLayout="row"
>
  <div fxLayout="row" fxLayoutAlign="start center" class="filter-expression">
    <mat-icon
      class="icon-filter"
      style="font-size: 22px;"
      fonticon="icon-filter"
      (click)="openFilterPopUp()">
    </mat-icon>

    <code
      [innerHTML]="
        previewString ||
        ''
      "
       (click)="openFilterPopUp()"
       class='highlight-expression'>
    </code>
    <code
      [innerHTML]="aggregatePreview"
      style="margin-left: 50px;"
      (click)="openFilterPopUp()"
      class='highlight-expression'>
    </code>
  </div>

  <div
    fxLayoutAlign="end"
    *ngIf="!readonly"
    fontIcon="icon-remove"
    class="clear-all"
    (click)="onRemoveAll()"
  >
    Clear Filters
  </div>
</div>
