@import 'src/themes/base/colors';
:host {
  display: block;
}

.filter-chips {
  span.filter-counter {
    font-weight: 600;
  }

  button.filter-clear-all {
    text-align: left;
    padding-left: 0;
    min-height: 24px;
    line-height: 15px;
  }

  mat-chip-list {
    padding: 0 0 0 20px;

    mat-chip {
      min-height: 22px;
      max-height: 24px;
    }

    .mat-chip-list-wrapper > .mat-chip {
      margin-bottom: 5px;
    }
  }
}

::ng-deep code {
  .bool-op {
    color: $primary-blue-b2;
  }

  .operator {
    color: $secondary-orange;
  }

  .prompt-filter {
    color: #7f0055;
  }
}

.filter-expression {
  font-size: 15px;
  width: 92%
}

.clear-all {
  font-size: 13px;
  margin-top: 4px;
  color: $primary-blue-b2;
}

.clear-all:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-filter {
  color: $primary-blue-b2;
}

.highlight-expression:hover {
  text-decoration: underline;
  cursor: pointer;
}
