<designer-header class="designer__header"
                 [analysis]="analysis"
                 [isInDraftMode]="isInDraftMode"
                 [designerState]="designerState"
                 (onBack)="onBack.emit()"
                 (requestAction)="onToolbarAction($event)">
</designer-header>

<div *ngIf="analysis" [ngSwitch]="layoutConfiguration" class="designer__main">
  <single-table-designer-layout *ngSwitchCase="'single'"
                                (settingsChange)="onSettingsChange($event)"
                                [artifacts]="artifacts"
                                [data]="data"
                                [sorts]="sorts"
                                [designerState]="designerState">
  </single-table-designer-layout>

  <multi-table-designer-layout *ngSwitchCase="'multi'"
                               (settingsChange)="onSettingsChange($event)"
                               [isInQueryMode]="analysis.edit"
                               [artifacts]="artifacts"
                               [query]="analysis.queryManual"
                               [data]="data"
                               [sqlBuilder]="analysis.sqlBuilder"
                               [designerState]="designerState">
  </multi-table-designer-layout>
</div>
