@import "themes/base/colors";

designer-container {
  background-color: white;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template:
    "header" 7vh
    "content" 93vh;

  .designer__header {
    grid-area: header;
    border-bottom: 1px solid $primary-grey-g1;
    margin: 0 10px;
  }

  .designer__main {
    grid-area: content;
  }
}
