<designer-header class="designer__header"
                 [analysis]="analysis"
                 [isInDraftMode]="isInDraftMode"
                 [designerState]="designerState"
                 (onBack)="onBack.emit()"
                 (requestAction)="onToolbarAction($event)">
</designer-header>

<div [ngSwitch]="layoutConfiguration" class="designer__main">
  <single-table-designer-layout *ngSwitchCase="'single'"
                                (settingsChange)="onSettingsChange($event)"
                                [artifacts]="analysis ? analysis.artifacts : []"
                                [data]="data"
                                [sorts]="sorts"
                                [designerState]="designerState">
  </single-table-designer-layout>

  <multi-table-designer-layout *ngSwitchCase="'multi'"
                               (settingsChange)="onSettingsChange($event)"
                               [isInQueryMode]="analysis ? analysis.edit : false"
                               [artifacts]="analysis ? analysis.artifacts : []"
                               [query]="analysis ? analysis.queryManual : ''"
                               [data]="data"
                               [sorts]="sorts"
                               [designerState]="designerState">
  </multi-table-designer-layout>
</div>
