<designer-header class="designer__header"
                 [analysis]="analysis"
                 [isInDraftMode]="isInDraftMode"
                 [designerState]="designerState"
                 [isInQueryMode]="isInQueryMode"
                 (onBack)="onBack.emit(isInDraftMode)"
                 (requestAction)="onToolbarAction($event)">
</designer-header>

<div *ngIf="analysis" [ngSwitch]="layoutConfiguration" class="designer__main">
  <single-table-designer-layout *ngSwitchCase="'single'"
                                (change)="onSettingsChange($event)"
                                [artifacts]="artifacts"
                                [auxSettings]="auxSettings"
                                [analysisType]="(analysisStarter || analysis).type"
                                [analysisSubtype]="(analysisStarter || analysis).chartType"
                                [data]="data"
                                [sorts]="sorts"
                                [filters]="filters"
                                [sqlBuilder]="analysis && analysis.sqlBuilder"
                                [designerState]="designerState">
  </single-table-designer-layout>

  <multi-table-designer-layout *ngSwitchCase="'multi'"
                               (change)="onSettingsChange($event)"
                               [isInQueryMode]="isInQueryMode"
                               [analysis]="analysis"
                               [artifacts]="artifacts"
                               [data]="data"
                               [dataCount]="dataCount"
                               [sorts]="sorts"
                               [filters]="filters"
                               [sqlBuilder]="analysis.sqlBuilder"
                               [designerState]="designerState">
  </multi-table-designer-layout>
</div>
