<mat-card class="createroute-dialog">
  <mat-card-header>
    <mat-card-title class="details-title mat-subheading-2">
      <span *ngIf="opType === 'create'" e2e="create-route-label">
        Create route for
      </span>
      <span *ngIf="opType === 'update'" e2e="update-route-label">
        Editing route for
      </span>
      <strong>{{ channelName }}</strong></mat-card-title
    >
    <div fxFlex></div>
    <button mat-icon-button color="warn" (click)="onCancelClick()">
      <mat-icon fontIcon="icon-close"></mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-horizontal-stepper linear>
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <mat-step label="Route Details" [stepControl]="stepControl">
        <div
          fxLayout="column"
          fxLayoutAlign="center stretch"
          fxLayoutGap="20px"
          style="height: 100%"
        >
          <ng-container [ngSwitch]="routeData.channelType">
            <sftp-route
              #sftpForm
              *ngSwitchCase="uid.SFTP"
              fxFlex="1 1 auto"
              [routeData]="routeData"
              [opType]="opType"
            ></sftp-route>
            <api-route
              #apiForm
              *ngSwitchCase="uid.API"
              fxFlex="1 1 auto"
              [routeData]="routeData"
              [opType]="opType"
            ></api-route>
          </ng-container>
          <div
            fxFlex="0 1 auto"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <button
              mat-stroked-button
              color="primary"
              color="warn"
              (click)="onCancelClick()"
              e2e="route-cancel-btn"
              i18n
            >
              Cancel
            </button>
            <button
              mat-stroked-button
              color="primary"
              (click)="testRoute(detailsFormTestValue)"
              [disabled]="!isDetailsFormValid"
              e2e="route-test-connectivity-btn"
              i18n
            >
              <mat-icon
                fontIcon="icon-query-mode"
                style="vertical-align: bottom;"
              ></mat-icon>
              Test Connectivity
            </button>
            <button
              mat-raised-button
              color="primary"
              e2e="route-next-btn"
              matStepperNext
              [disabled]="!isDetailsFormValid"
              i18n
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Schedule Route">
        <div
          fxLayout="column"
          fxLayoutAlign="start stretch"
          style="height: 100%"
        >
          <div fxFlex="1 1 auto">
            <cron-job-schedular
              [crondetails]="crondetails"
              (onCronChanged)="onCronChanged($event)"
            ></cron-job-schedular>
          </div>
          <span *ngIf="!startDateCorrectFlag" class="errorTextMsg" i18n
            >Start date cannot be in past. Please select a Date that is current
            or in future.</span
          >
          <mat-divider></mat-divider>
          <div
            fxFlex="0 1 auto"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            style="padding-top: 20px;"
          >
            <button
              mat-raised-button
              color="primary"
              e2e="route-schd-previous-btn"
              matStepperPrevious
              i18n
            >
              Previous
            </button>
            <button
              mat-stroked-button
              color="primary"
              (click)="testRoute(detailsFormTestValue)"
              [disabled]="!isDetailsFormValid"
              e2e="route-schd-test-conn-btn"
              i18n
            >
              <mat-icon
                fontIcon="icon-query-mode"
                style="vertical-align: bottom;"
              ></mat-icon>
              Test Connectivity
            </button>
            <button
              mat-raised-button
              color="primary"
              *ngIf="opType === 'create'"
              [disabled]="!isDetailsFormValid || !isCronExpressionValid"
              (click)="createRoute(detailsFormValue)"
              e2e="route-schd-create-btn"
              i18n
            >
              Create
            </button>
            <button
              mat-raised-button
              color="primary"
              e2e="route-schd-update-btn"
              *ngIf="opType === 'update'"
              [disabled]="!isDetailsFormValid"
              (click)="createRoute(detailsFormValue)"
              i18n
            >
              Update
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
