# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

target
/node
node_modules
log.txt
debug.log
.tmp/
coverage/
build/
dist/
.awcache
output/*
../package-lock.json
local.log

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/junit.xml
/libpeerconnection.log
npm-debug.log*
testem.log
/typings
yarn.lock
/target/*
/target
*~
/protractorFailuresReport/

#System Files
.DS_Store
Thumbs.db
