<div layout="column" layout-align="space-between stretch" class="container">
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools" layout-align="space-between center">

      <div layout="row">
        <md-button ng-click="$ctrl._$window.history.back()" class="md-icon-button back-button" aria-label="Back">
          <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

        <div style="margin-left: 16px;" flex>
          <div class="md-headline">
            <span ng-bind="$ctrl.analysis.name"></span>
            <label ng-if="$ctrl.showExecutingFlag()" translate="STATUS_EXECUTING"></label>
          </div>
          <div class="md-subhead" ng-bind="$ctrl.analysis.metrics"></div>
        </div>
      </div>

      <div>

        <md-menu-bar>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More"
                       ng-click="$mdMenu.open()">
              <md-icon md-font-icon="icon-more"></md-icon>
            </md-button>

            <md-menu-content>
              <md-menu-item>
                <md-button aria-label="Execute"
                          ng-click="$ctrl.executeAnalysis()"
                          translate="EXECUTE">
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button aria-label="Fork"
                           ng-if="::$ctrl.analysis"
                           ng-click="$ctrl.openEditModal('fork')"
                           translate="FORK_AND_EDIT">
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button aria-label="Edit"
                           ng-if="::$ctrl.analysis"
                           ng-click="$ctrl.openEditModal('edit')"
                           translate="EDIT">
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$ctrl.exportData()">
                  <span translate="EXPORT"></span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.openPrintModal()">
                  <span translate="PRINT"></span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$ctrl.openDeleteModal()">
                  <span translate="DELETE" md-colors="{color: 'warn'}"></span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>

        <md-button ng-hide="$ctrl.isPublished" class="btn-primary" ng-click="$ctrl.openPublishModal()">
          <span translate="PUBLISH"></span>
        </md-button>

      </div>
    </div>
  </md-toolbar>
  <md-card  ng-if="$ctrl.analyses && !$ctrl.analyses.length">
    <div class="prompt-execution-container">
      <span translate="NO_PREVIOUS_EXECUTION"></span>
      <div>
        <md-button class="btn-primary" ng-click="$ctrl.executeAnalysis()">
          <span translate="EXECUTE"></span>
        </md-button>
      </div>
    </div>
  </md-card>
  <div ng-switch="$ctrl.analysis.type" ng-if="$ctrl.analyses.length">
    <analyze-chart-detail ng-switch-when="chart" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-chart-detail>
    <analyze-report-detail ng-switch-when="report" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-report-detail>
    <analyze-pivot-detail ng-switch-when="pivot" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-pivot-detail>
  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title" ng-bind="$ctrl.analysis.userFullName | changeCase:'title'"></span>
        <span class="md-subhead" ng-bind="$ctrl.analysis.scheduleHuman"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="row">
        <p ng-bind="$ctrl.analysis.description"></p>
      </div>
    </md-card-content>
    <!--
      <md-card-footer>
        <md-icon md-font-icon="icon-fork"></md-icon>
        <span translate="FORKED_FROM_ANALYSIS_BY_CREATOR"
              translate-values="{analysis: $ctrl.analysis.forkedFrom.analysisName, creator: $ctrl.analysis.forkedFrom.creatorName}"></span>
      </md-card-footer>
    -->
  </md-card>
  <panel start-collapsed="false" ng-if="$ctrl.analyses" title="'OTHER_PUBLISHED_ANALYSES' | translate">
    <analyze-published-list ng-if="$ctrl.analyses.length" analysis="$ctrl.analysis" analyses="$ctrl.analyses"></analyze-published-list>
  </panel>
</div>
