<div layout="column" layout-align="space-between stretch" class="container">
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools" layout-align="space-between center">

      <div layout="row">
        <md-button ng-click="$ctrl._$window.history.back()" class="md-icon-button back-button" aria-label="Back">
          <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

        <div style="margin-left: 16px;" flex>
          <div class="md-headline">
            <span ng-bind="$ctrl.analysis.name"></span>
            <label ng-if="$ctrl.showExecutingFlag()" translate="STATUS_EXECUTING"></label>
          </div>
          <div class="md-subhead" ng-bind="$ctrl.analysis.metrics"></div>
        </div>
      </div>

      <div>
        <md-button class="btn-tertiary" ng-click="$ctrl.executeAnalysis()">
          <md-icon md-font-icon="icon-upload"></md-icon>
          <span translate="EXECUTE"></span>
        </md-button>

        <md-button class="btn-tertiary" ng-click="$ctrl.exportData()">
          <md-icon md-font-icon="icon-export"></md-icon>
          <span translate="EXPORT"></span>
        </md-button>

        <md-button class="btn-tertiary" ng-click="$ctrl.openPrintModal()">
          <md-icon md-font-icon="icon-print"></md-icon>
          <span translate="PRINT"></span>
        </md-button>

        <md-button ng-hide="$ctrl.isPublished" class="btn-tertiary" ng-click="$ctrl.openEditModal()">
          <md-icon md-font-icon="icon-edit"></md-icon>
          <span translate="EDIT"></span>
        </md-button>

        <md-button ng-hide="$ctrl.isPublished" class="btn-primary" ng-click="$ctrl.openPublishModal()">
          <span translate="PUBLISH"></span>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <div ng-switch="$ctrl.analysis.type">
    <analyze-chart-detail ng-switch-when="chart" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-chart-detail>
    <analyze-report-detail ng-switch-when="report" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-report-detail>
    <analyze-pivot-detail ng-switch-when="pivot" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-pivot-detail>
  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title" ng-bind="$ctrl.analysis.creatorName"></span>
        <span class="md-subhead" ng-bind="$ctrl.analysis.scheduled"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p ng-bind="$ctrl.analysis.description"></p>
    </md-card-content>
    <md-card-footer>
      <md-icon md-font-icon="icon-fork"></md-icon>
      <span translate="FORKED_FROM_ANALYSIS_BY_CREATOR"
            translate-values="{analysis: $ctrl.analysis.forkedFrom.analysisName, creator: $ctrl.analysis.forkedFrom.creatorName}"></span>
    </md-card-footer>
  </md-card>
  <panel start-collapsed="false" title="'OTHER_PUBLISHED_ANALYSES' | translate">
    <analyze-published-list analyses="$ctrl.analyses"></analyze-published-list>
  </panel>
</div>
