@font-face {
  font-family: 'icomoon';
  src: url('~fonts/icomoon.eot?iqcrtq');
  src: url('~fonts/icomoon.eot?iqcrtq#iefix') format('embedded-opentype'),
  url('~fonts/icomoon.ttf?iqcrtq') format('truetype'),
  url('~fonts/icomoon.woff?iqcrtq') format('woff'),
  url('~fonts/icomoon.svg?iqcrtq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AVG:before {
  content: "\e938";
}

.icon-MAX:before {
  content: "\e939";
}

.icon-MIN:before {
  content: "\e93a";
}

.icon-Sum:before {
  content: "\e93b";
}

.icon-Count:before {
  content: "#";
  font-size: 26px;
  font-weight: bolder;
}

.icon-Table-view:before {
  content: "\e933";
}

.icon-fork:before {
  content: "\e900";
}

.icon-arrow-down-circled .path1:before {
  content: "\e901";
  color: rgb(132, 150, 160);
}

.icon-arrow-down-circled .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-up-circles .path1:before {
  content: "\e904";
  color: rgb(132, 150, 160);
}

.icon-arrow-up-circles .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-bell-list:before {
  content: "\e906";
}

.icon-bell:before {
  content: "\e907";
}

.icon-calendar:before {
  content: "\e908";
}

.icon-card-view:before {
  content: "\e909";
}

.icon-chart-placeholder:before {
  content: "\e90a";
}

.icon-chart-view:before {
  content: "\e90b";
}

.icon-chart:before {
  content: "\e90c";
}

.icon-close:before {
  content: "\e90d";
}

.icon-collapse:before {
  content: "\e90e";
}

.icon-column-options .path1:before {
  content: "\e90f";
  color: rgb(92, 102, 112);
}

.icon-column-options .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(209, 211, 211);
}

.icon-description:before {
  content: "\e911";
}

.icon-designer-mode:before {
  content: "\e912";
}

.icon-download:before {
  content: "\e913";
}

.icon-edit:before {
  content: "\e914";
}

.icon-expand:before {
  content: "\e915";
}

.icon-eye-disabled:before {
  content: "\e916";
}

.icon-filter:before {
  content: "\e917";
}

.icon-folder:before {
  content: "\e918";
}

.icon-full-screen:before {
  content: "\e919";
}

.icon-group-by-column:before {
  content: "\e91a";
}

.icon-hor-bar-chart:before {
  content: "\e91b";
}

.icon-inner-join .path1:before {
  content: "\e91c";
  color: rgb(165, 221, 238);
}

.icon-inner-join .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}

.icon-inner-join .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}

.icon-key:before {
  content: "\e91f";
}

.icon-launchpad:before {
  content: "\e920";
}

.icon-left-join .path1:before {
  content: "\e921";
  color: rgb(165, 221, 238);
}

.icon-left-join .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(25, 146, 246);
}

.icon-left-join .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}

.icon-menu:before {
  content: "\e924";
}

.icon-more:before {
  content: "\e925";
}

.icon-navicon:before {
  content: "\e926";
}

.icon-pivot:before {
  content: "\e927";
}

.icon-plus:before {
  content: "\e928";
}

.icon-print:before {
  content: "\e929";
}

.icon-query-mode:before {
  content: "\e92a";
}

.icon-remove:before {
  content: "\e92b";
}

.icon-report:before {
  content: "\e92c";
}

.icon-right-join .path1:before {
  content: "\e92d";
  color: rgb(165, 221, 238);
}

.icon-right-join .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}

.icon-right-join .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(25, 146, 246);
}

.icon-search:before {
  content: "\e930";
}

.icon-Shape-Copy-2:before {
  content: "\e931";
}

.icon-sort:before {
  content: "\e932";
}

.icon-trash:before {
  content: "\e934";
}

.icon-upload:before {
  content: "\e935";
}

.icon-user-placeholder:before {
  content: "\e936";
}

.icon-vert-bar-chart:before {
  content: "\e937";
}

.icon-export:before {
  content: url(../svg/export.svg);
}

.icon-row:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAI0lEQVQoz2P4z4AfAlHCfwjEzqKPAsKObIBA7Cz6KBgGIQkAQ8IdQJKOGQIAAAAASUVORK5CYII=);
}

.icon-column:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAIElEQVQoz2P4z4AfAlHCfwgEshogEFmMPgpGHUkfRwIAQ8IdQALkrHMAAAAASUVORK5CYII=);
}

.icon-data:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMhClIOE/NkiSAl+ooG8CQwKIzwChEQpQlGBXgKYEwxeoSrB6k7ACfFYkYPgDXQGKdAItQpKi2AQAaDQFJxj4SdQAAAAASUVORK5CYII=);
}

.icon-string-type:before {
  content: 'abc';
  font-weight: bolder;
}

.icon-number-type:before {
  content: '123';
  font-weight: bolder;
}
