<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-button class="bck-btn">
            <mat-icon fontIcon="icon-arrow-left" (click)="backToDS()"></mat-icon>
        </button>
        <div fxFlex>Create Datapod </div>
        <span fxFlex>Select Dataset/s to Create</span>
        <mat-slide-toggle (change)="joinEligibleToggled()" [checked]="joinToggleValue" [(ngModel)]="joinToggleValue" labelPosition="before">
            Show Join Eligible
        </mat-slide-toggle>
        <button mat-raised-button color="primary" [disabled]="!isSelected" i18n (click)="gotoValidate()">
            <span>VALIDATE</span>
        </button>
    </div>
    <div class="body" fxLayout="row" fxLayoutAlign="center stretch">
        <mat-card fxFlex>
            <mat-card-content>
                <dx-data-grid #dsGrid fxFlex [dataSource]="gridDataAvailableDS" [rowAlternationEnabled]="true" [height]="'100%'" [width]="'100%'"
                    [showBorders]="false" [showColumnLines]="true" [masterDetail]="{ enabled: true, template: 'schemaGird' }"
                    (onRowExpanding)="onDSExpanding($event)" [hoverStateEnabled]="true" (onSelectionChanged)="onDSSelectionChanged($event)">
                    <dxo-selection selectAllMode="allMode" showCheckBoxesMode="always" [mode]="selectionMode"></dxo-selection>
                    <dxi-column caption="Dataset Name" dataField="system.name"></dxi-column>
                    <dxi-column caption="Created By" dataField="system.createdBy"></dxi-column>
                    <dxi-column caption="Updated Time" dataField="system.modifiedTime" dataType="date" cellTemplate="timeTemplate"></dxi-column>
                    <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
                    <dxo-filter-row [visible]="true" [applyFilter]="auto"></dxo-filter-row>
                    <div *dxTemplate="let data of 'timeTemplate'">
                        <span> {{data.value * 1000 | date: 'short'}}</span>
                    </div>
                    <div *dxTemplate="let details of 'schemaGird'">
                        <dx-data-grid id="schemaGrid" [dataSource]="details.data?.schema?.fields" [showBorders]="true" [height]="'300px'">
                            <dxi-column caption="No" [width]="50" cellTemplate="NoTemplate"></dxi-column>
                            <dxi-column caption="Field Name" dataField="name"></dxi-column>
                            <dxi-column caption="Data Type" dataField="type"></dxi-column>
                            <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
                            <dxo-filter-row [visible]="true" [applyFilter]="auto"></dxo-filter-row>
                            <dxo-header-filter [visible]="false"></dxo-header-filter>
                            <div *dxTemplate="let data of 'NoTemplate'">
                                <span> {{data.rowIndex + 1}}</span>
                            </div>
                        </dx-data-grid>
                    </div>
                </dx-data-grid>
            </mat-card-content>
        </mat-card>
    </div>
</div>