@import "themes/base/colors";

sql-executor {
  width: 100%;

  .executor-container {
    height: 99%;
    max-height: 100%;
    padding: 3px;
  }

  .title-elem {
    height: 36px;
  }

  .ds-name {
    font-size: 16px;
  }

  .bck-btn {
    min-width: 50px;
    height: 32px;
  }

  .action-title {
    color: $primary-blue-b2;
    font-size: 16px;
  }

  .gridContainer {
    border-right: 3px #F5F9FC solid;
    padding-top: 3px;
  }

  .exec-body {
    height: calc(100% - 45px);
    max-height: calc(100% - 45px);
  }

  .script-pane {
    overflow: auto;
  }

  .preview-pane {
    overflow: auto;
  }

  .exec-btn-icon {
    font-size: 24px;
  }

  .btn-padding {
    padding-left: 25px;
    padding-right: 25px;
  }

  .list-items {
    background-color: white;
    border-radius: 0 3px 3px;
    border: $primary-blue-b2 0.5px dotted;

    &:hover {
      box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
      cursor: pointer;
    }
  }

  .btn-icon {
    color: $primary-blue-b2;

    .mat-button {
      vertical-align: middle;
      line-height: 32px !important;
      height: 32px !important;
      border-radius: 2px;
      background-color: white;
      border: solid 1px #1A89D4;
    }

    .mat-button .mat-button-wrapper > * {
      vertical-align: initial;
    }
  }

  .create-btn > .mat-raised-button {
    line-height: 32px !important;
  }
}
