<analyze-dialog control="$ctrl" class="analyze-report-publish">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="PUBLISH_ANALYSIS"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <div class="ars-content" layout-padding>
      <div class="form-container" layout="column">
        <label class="field-label" translate="PUBLISH_LOCATION"></label>
        <div layout="row">

          <md-select placeholder="Select a Category"
                     ng-model="::$ctrl.model.categoryId">
            <md-optgroup ng-repeat="category in $ctrl.dataHolder" label="{{::category.name}}">
              <md-option
                  ng-repeat="subCategory in category.children"
                  ng-bind="::subCategory.name"
                  ng-value="subCategory.id"></md-option>
            </md-optgroup>
          </md-select>
        </div>
      </div>

      <div class="form-container" layout="column">
        <label translate="SCHEDULE"></label>
        <md-radio-group ng-model="$ctrl.schedule" layout="row">

          <md-radio-button ng-value="::$ctrl.scheduleOptions[0]">
            <span ng-bind="::$ctrl.scheduleOptions[0] | translate"></span>
          </md-radio-button>
          <md-radio-button ng-value="::$ctrl.scheduleOptions[1]">
            <span ng-bind="::$ctrl.scheduleOptions[1] | translate"></span>
          </md-radio-button>

        </md-radio-group>
      </div>

      <div ng-if="$ctrl.schedule === $ctrl.scheduleOptions[1]" class="repeat-schedule-container" layout="column">
        <div layout="row" class="form-container">

          <label translate="REPEAT_EVERY" flex="20"></label>

          <md-select ng-model="::$ctrl.repeatInterval" flex="20">
            <md-option ng-repeat="repeatInterval in $ctrl.repeatIntervals"
                       ng-bind="::repeatInterval | translate"
                       ng-value="repeatInterval">
            </md-option>
          </md-select>

          <md-select ng-model="::$ctrl.repeatOrdinal" flex="20" style="margin-left: 24px;">
            <md-option ng-repeat="repeatOrdinal in $ctrl.repeatOrdinals"
                       ng-bind="::repeatOrdinal | translate"
                       ng-value="repeatOrdinal">
            </md-option>
          </md-select>

        </div>

        <div ng-if="$ctrl.repeatInterval === $ctrl.repeatIntervals[1]" class="form-container" layout="row">

          <label translate="REPEAT_ON" flex="20"></label>

          <div class="days-of-week-checkboxes">
            <md-checkbox ng-repeat="day in $ctrl.repeatOnDaysOfWeek track by day.keyword"
                         ng-checked="day.checked"
                         ng-click="day.checked = !day.checked">
              <span ng-bind="day.keyword | translate | truncate:2"></span>
            </md-checkbox>
          </div>

        </div>

        <!--
        <div class="form-container" layout="row">

          <label translate="STARTS_ON" flex="20"></label>

          <div class="input-container" md-no-float>
            <md-datepicker ng-model="$ctrl.startsOnDate"></md-datepicker>
          </div>
        </div>

        <div class="form-container" layout="row">

          <label translate="ENDS" flex="20"></label>

          <md-radio-group ng-model="$ctrl.endCriterion">

            <div class="end-criteria-radio">
              <md-radio-button ng-value="::$ctrl.endCriteria.never.keyword">
                <span translate="{{::$ctrl.endCriteria.never.keyword}}"></span>
              </md-radio-button>
            </div>

            <div class="end-criteria-radio" layout="row">

              <md-radio-button ng-value="$ctrl.endCriteria.after.keyword" flex="30">
                <span translate="{{::$ctrl.endCriteria.after.keyword}}"></span>
              </md-radio-button>

              <div class="input-container" flex="20">
                <input ng-model="$ctrl.endCriteria.after.occurenceCount"
                       type="number" flex="100"
                       ng-disabled="$ctrl.endCriterion !== $ctrl.endCriteria.after.keyword"/>
              </div>

              <span translate="OCCURENCES" flex="50" style="padding-left: 6px;"></span>

            </div>

            <div class="end-criteria-radio" layout="row">

              <md-radio-button ng-value="$ctrl.endCriteria.on.keyword" flex="30">
                <span translate="{{::$ctrl.endCriteria.on.keyword}}"></span>
              </md-radio-button>

              <div class="input-container" flex="70">
                <md-datepicker ng-disabled="$ctrl.endCriterion !== $ctrl.endCriteria.on.keyword"
                               ng-model="$ctrl.on.endDate">
                </md-datepicker>
              </div>

            </div>

          </md-radio-group>

        </div>
        -->

      </div>

      <div class="form-container" layout="column" flex="50">
        <label translate="EMAIL_TO_COLLABORATORS"></label>
        <md-input-container md-no-float flex="20">
          <input ng-model="$ctrl.email" type="email" />
        </md-input-container>
      </div>

    </div>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary" ng-click="$ctrl.publish()" translate="PUBLISH">
      </md-button>

      <md-button class="btn-card" ng-click="$ctrl.cancel()" translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
