<div class="reset-password-form">
  <h1>Reset Password</h1>
  <div class="error-msg" [innerHtml]="errorMsg"></div>
  <form name="changePwdForm" method="post">
    <mat-form-field  class="changePwd-formField">
      <input matInput maxlength="30" [(ngModel)]="dataHolder.masterLoginId" [ngModelOptions]="{standalone: true}" placeholder="Username" required />
    </mat-form-field>
    <br/>
    <div class="login-buttons" layout="row" layout-align="space-between center">
      <button mat-raised-button color="primary" class="changePwd-change" type="submit" (click)="resetPwd()">Reset</button>
      <button mat-raised-button color="primary" class="changePwd-login" (click)="login()">Login</button>
    </div>
  </form>
</div>
