@import "../../../../../../../../themes/base/colors";

$range-handle-dimension: 20px;

global-filter {
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  padding: 10px;

  .filter-header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .filter-content {
    flex-grow: 1;
  }

  .filter-footer-actions {
    display: flex;
    justify-content: space-around;
  }

  .full-width {
    width: 100%;
  }

  .mat-chip-list-wrapper {
    width: 460px;

    mat-chip {
      margin-top: 5px;
    }
  }

  mat-icon.remove-filter-chip {
    text-align: right;

    &::before {
      font-size: 10px;
      vertical-align: middle;
    }
  }

  nouislider {
    width: calc(100% - #{$range-handle-dimension});
  }

  .noUi-target.noUi-horizontal {
    border: none;
    box-shadow: none;
    height: 5px;

    .noUi-connect {
      background-color: $primary-blue-b2;
    }

    .noUi-origin {
      top: -2px;

      .noUi-handle {
        outline: none;
        width: $range-handle-dimension;
        height: $range-handle-dimension;
        border-radius: 50%;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  .mat-expansion-panel-header {
    color: #464646;
    font-weight: bold;
  }

  .mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
  }
}
