<div fxLayout="column">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button (click)="goBack()" mat-button>
        <mat-icon fontIcon="icon-arrow-left"></mat-icon>
      </button>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
          <span *ngIf="analysis" class="analysis__title">{{analysis.name}}</span>
          <label *ngIf="isExecuting" class="execution-tag" i18n>Executing</label>
        </div>
        <div *ngIf="analysis" class="analysis__subheader">{{analysis.metrics}}</div>
      </div>
    </div>

    <div>
        <button *ngIf="canUserEdit"
            mat-button
            e2e="action-edit-btn"
            (click)="edit()">
          <span i18n>Edit</span>
        </button>
        <button *ngIf="canUserFork"
                    mat-button
                    e2e="action-fork-btn"
                    (click)="fork()">
          <span i18n>Fork & Edit</span>
        </button>

        <analyze-actions-menu-u *ngIf="analysis"
                                [analysis]="analysis"
                                exclude="publish-fork-edit"
                                [actionsToDisable]="(isExecuting ? 'execute' : '') + (analysis.type === 'chart' ? 'export' : '')"
                                (afterDelete)="afterDelete(analysis)"
                                (afterExport)="exportData()"
        ></analyze-actions-menu-u>

        <button *ngIf="canUserPublish"
                mat-raised-button
                color="primary"
                e2e="action-publish-btn"
                (click)="publish()">
          <span i18n>Publish</span>
        </button>
      </div>
  </mat-toolbar>
  <mat-card>
    <div *ngIf="analyses && !analyses.length">
      <div class="prompt-execution-container" fxLayout="column" fxLayoutAlign="center center">
        <span i18n>This analysis hasn't been been executed yet. Execute it now?</span>
          <button mat-raised-button color="primary" [disabled]="!analysis" (click)="executeAnalysis(analysis)" i18n>
            Execute
          </button>
      </div>
    </div>
    <filter-chips-u *ngIf="analysis"
                    [filters]="analysis.sqlBuilder.filters"
                    [readonly]="true"
                    [artifacts]="analysis.artifacts">
    </filter-chips-u>
    <div *ngIf="analysis && analyses && analyses.length" [ngSwitch]="analysis.type">
      <executed-report-view *ngSwitchCase="(analysis.type === 'report' || analysis.type === 'esReport') ? analysis.type : ''"
                            [analysis]="analysis"
                            [dataLoader]="dataLoader"
      ></executed-report-view>
    </div>
  </mat-card>

  <mat-card *ngIf="analysis" style="padding: 5px;">
    <mat-card-title>
      <span class="mat-card-title" i18n>
        Analysis Details
      </span>
    </mat-card-title>
    <mat-card-content style="padding-left: 5px;">
      <div>
        <strong *ngIf="analysis.userFullName">Created By:</strong>
        {{analysis.userFullName | changeCase:'title'}}
      </div>
      <div>
        <strong *ngIf="analysis.scheduleHuman">Schedule:</strong>
        {{analysis.scheduleHuman}}
      </div>
      <div class="analysis-detail-description">
        <strong *ngIf="analysis.description">Description</strong>
        <p>{{analysis.description}}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="padding: 5px;">
    <mat-card-title><span class="mat-card-title" i18n>Previous Versions</span></mat-card-title>
    <executed-list *ngIf="analysis && analyses && analyses.length"
                   [analyses]="analyses"
                   [analysis]="analysis"
    ></executed-list>
  </mat-card>
</div>
