@import "themes/base/colors";

executed-view {
  width: 100%;

  .prompt-execution-container {
    padding: 50px;
    text-align: center;
    font-size: 14px;

    button {
      margin-top: 15px;
    }
  }

  .mat-card {
    color: $primary-grey-g4;
    padding: 0;
    margin: 10px;
  }

  .mat-toolbar {
    background-color: transparent;
    color: $primary-grey-g4;

    .analysis__title {
      font-size: 24px;
    }

    .analysis__subheader {
      font-size: 16px;
    }
  }

  .execution-tag {
    padding: 0 2px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: $secondary-orange;
    color: $primary-white;
    vertical-align: top;
  }

  .mat-card-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    color: $primary-grey-g4;
  }

  .analysis-detail-description {
    margin: 1em 0;

    p {
      margin: 0;
    }
  }
}
