@import "themes/base/colors";

datasets-page {
  width: 100%;
}

.dataSets-view {
  .toolbar-white {
    background-color: #FFF;
    height: 45px;
  }

  .md-subhead {
    color: #0096D5;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_search-panel {
    flex-basis: 40%;
  }

  &_switch-view {
    width: 60px;

    mat-radio-group {
      display: inline-flex;

      mat-radio-button {
        margin: 0;
        padding-right: 3px;

        &.mat-radio-checked {
          mat-icon {
            color: $primary-blue-b2;
          }
        }

        .mat-radio-container {
          display: none;
        }

        .mat-label {
          margin: 0;

          mat-icon {
            text-align: center;
          }
        }
      }
    }
  }

  &_switch-type {
    width: 160px;
    font-size: 16px;
  }

  &_action-panel {
    margin-left: auto;
  }

  &_sets-list {
    margin: 3px;
  }
}

