@import 'src/themes/base/colors';

:host {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 3px;
  background-color: $background-color;
}

.filter {
  &__form {
    width: 95%;

    &__title {
      font-size: 15px;
    }

    mat-form-field {
      max-width: 215px;
      min-width: 215px;
    }

    ::ng-deep .mat-form-field-infix {
      padding: 0.5em 0 0.5em 0;
    }

    ::ng-deep .mat-form-field-label {
      margin-top: -0.5em;
    }
  }
}
