[Unit]
Description=Deploy SAW application
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "tar -xzf saw.tgz && saw/deploy /root/config"
WorkingDirectory=/maven
Environment=SAW_ENV=dev
SyslogIdentifier=saw-deploy

[Install]
WantedBy=default.target
