<div [ngClass]="{'has-secondary-measure': secondaryResult.length > 0}" [style.background-color]="bgColor">
  <div class="header-row">
    <div class="kpi-title" [textContent]="_kpi.name"></div>
    <div class="val-change">
      <mat-icon *ngIf="primaryChange < 0" fontIcon="icon-arrow-down-circle"></mat-icon>
      <mat-icon *ngIf="primaryChange >= 0" fontIcon="icon-arrow-up-circle"></mat-icon>
      <div counto [step]="5" [duration]="2" [countFrom]="0" [countTo]="primaryResult.change" (countoChange)="countToChange = $event">{{countToChange | number : '1.0-0'}}%</div>
    </div>
  </div>

  <div class="filter-label">{{filterLabel}}</div>

  <div class="kpi-primary-measure-container">
    <div class="kpi-measure">
      <span class="kpi-main-measure" counto [step]="100" [countTo]="primaryResult.current" [countFrom]="0" [duration]="2" (countoChange)="countToCurrent = $event">
        {{countToCurrent | number : '1.0-0'}}
      </span>
    </div>
  </div>

  <div class="kpi-secondary-measure-container">
    <span *ngFor="let measure of secondaryResult">
      <span class="mName">{{measure.name}}</span>
      <span class="mValue">{{measure.value}}</span>
    </span>
  </div>
</div>