[Unit]
Description=SIP Executor

[Service]
Type=notify
NotifyAccess=all
ExecStart=/opt/bda/sip-executor/bin/run-executor
SyslogIdentifier=sip-executor
User=mapr
Restart=always
Environment="JAVA_OPTS=-Dsaw.executor=%i"
EnvironmentFile=/etc/bda/mapr-ticket.env
SuccessExitStatus=143
TimeoutSec=600
KillMode=mixed
[Install]
WantedBy=sip-storage-proxy.service

