[Unit]
Description=SIP Executor

[Service]
ExecStart=/opt/bda/sip-executor/bin/run-executor
SyslogIdentifier=sip-executor
User=mapr
Restart=always
Environment="JAVA_OPTS=-Dsaw.executor=%i"

[Install]
WantedBy=sip-storage-proxy.service
