[Unit]
Description=SAW Observe

[Service]
Type=notify
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-observe-service/saw-observe.jar --spring.config.location=/opt/bda/saw-observe-service/conf/application.yml"
SyslogIdentifier=saw-observe
User=mapr
Restart=on-failure
# Allow service to exit on SIGTERM, if socket-activated
SuccessExitStatus=143

[Install]
WantedBy=default.target
