$header-padding-top: 12px;
$header-padding-bottom: 12px;
$header-font-size: 18px;
$report-height: calc(100% - #{$header-padding-bottom} - #{$header-padding-top} - #{$header-font-size});

.toggle-grid dx-data-grid .dx-datagrid {
  .dx-datagrid-rowsview .dx-datagrid-content table tbody tr td {
    text-align: left !important;
  }

  .dx-datagrid-headers .dx-datagrid-content table tbody tr td {
    text-align: left !important;
  }

  .dx-datagrid-pager {
    padding-top: 2px !important;
  }
}

observe-chart.analysis-container .grid-view {
  height: $report-height;

  .toggle-grid {
    height: 100%;
  }
}

.chart.report-title {
  margin: 0;
  padding: $header-padding-top 0 $header-padding-bottom;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: $header-font-size;
}

observe-chart div .toggle-icons {
  height: 20px !important;
  margin: 14px 14px 0 0;
  float: right;
}
