<div style="width:84%;float: left;">
  <h1 style="padding:0;" class="chart report-title" [textContent]="analysis.chartTitle || analysis.name"></h1>
</div>
<div class="toggle-icons" style="height: 48px;margin-right: 48px;">
  <mat-icon class="mat-icon material-icons icon-report" role="img" (click)="viewToggle(true)" [ngClass]="{'active':toggleToGrid === true}" matTooltip="Toggle to Grid">
  </mat-icon>

  <mat-icon class="mat-icon material-icons icon-vert-bar-chart" role="img" (click)="viewToggle(false)" [ngClass]="{'active':toggleToGrid === false}" matTooltip="Toggle to Chart">
  </mat-icon>
</div>

<div class="chart-data-grid" *ngIf="toggleToGrid">
  <dx-data-grid #dataGrid [columnMinWidth]="150"
      [columnResizingMode]="widget"
      [allowColumnReordering]="true"
      [allowColumnResizing]= "true"
      [showColumnHeaders]= "true"
      [showColumnLines]= "false"
      [showRowLines]= "false"
      [showBorders]= "false"
      [rowAlternationEnabled]= "true"
      [hoverStateEnabled]= "true"
      [wordWrapEnabled]= "false"
      [dataSource]="chartToggleData">
    <dxo-paging [pageSize]="25"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25,50,75,100]"></dxo-pager>
  </dx-data-grid>
</div>


<div *ngIf="!toggleToGrid">
  <chart [updater]="updater"
       [options]="chartOptions"
       [isStockChart]="isStockChart"
       [enableExport]="true"
       [attr.e2e]="'chart-type:' + analysis.chartType">
  </chart>
</div>
