<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title [textContent]="_filter.columnName"></mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field e2e="filter-date-preset">
    <mat-select placeholder="Select a preset"
      [value]="model.preset"
      (selectionChange)="onPresetChange($event)">
      <mat-option *ngFor="let preset of presets"
        [value]="preset.value"
        [textContent]="preset.label">
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput
      [value]="model.gte"
      [matDatepicker]="frompicker"
      (dateInput)="onDateChange('gte', $event)"
      (click)="frompicker.open()"
      placeholder="From" />
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput
      [value]="model.lte"
      [matDatepicker]="topicker"
      (dateInput)="onDateChange('lte', $event)"
      (click)="topicker.open()"
      placeholder="To" />
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker disabled="false"></mat-datepicker>
  </mat-form-field>

</mat-expansion-panel>
