<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title [textContent]="_filter.columnName"></mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput
      [value]="value.gte"
      [matDatepicker]="frompicker"
      (dateInput)="onDateChange('gte', $event)"
      placeholder="From"
      disabled />
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput
      [value]="value.lte"
      [matDatepicker]="topicker"
      (dateInput)="onDateChange('lte', $event)"
      placeholder="To"
      disabled />
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker disabled="false"></mat-datepicker>
  </mat-form-field>

</mat-expansion-panel>
