@import "src/themes/base/colors";

:host {
  width: 100%;
}

.category-title {
  color: $grey-text-color;
  font-weight: bold;
}

.analyses-container {
  margin: 0 10px;
  padding: 0;
}

.mat-toolbar.mat-toolbar-single-row {
  background-color: transparent;
}

.select-type {
  width: 140px;
  font-size: 16px;
}

.switch-view {
  margin-right: 20px;
  display: inline-flex;

  mat-radio-button {
    margin: 0;
    padding-right: 7px;

    mat-icon {
      font-size: 14px;
      color: $primary-grey-g4;
    }

    &.mat-radio-checked {
      mat-icon {
        color: $primary-blue-b2;
      }
    }

    ::ng-deep .mat-radio-container {
      display: none;
    }

    ::ng-deep .mat-radio-label {
      margin: 0;

      mat-icon {
        text-align: center;
      }
    }
  }
}
