@import "themes/base/colors";

widget-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $primary-grey-g1;

  strong {
    font-size: 18px;
    flex-grow: 1;
  }

  mat-icon.icon-close {
    font-size: 16px;
  }

  mat-icon.icon-arrow-left {
    font-size: 18px;
  }
}
