.app-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.root-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
  position: relative;
}

// used to hide sidebar on screens wider than 1600px (greater than md)
.sidebar-hider {
  // the z-index of the modal-backdrop is 79
  // the z-index of the sidenav is 60
  z-index: 78;
  background-color: rgb(192, 192, 192);
}

// ********************** FOOTER *******************************
.footer-container {
  display: flex;
  justify-content: center;
}
.synchronoss-logo {
  background-image: url($powered-by-synchronoss-logo-path);
  height: 31px;
  width: 96px;
  background-size: 96px 31px;
}
