<div class="root-container">
  <header-component></header-component>

  <main class="main-content" style="position: relative; display: flex;">
    <sidenav id="left-side-nav"
             flex="none"></sidenav>

    <sidenav-btn target="left-side-nav"
                 style="margin-top: 18px;"></sidenav-btn>

    <div style="width: 100%; overflow: hidden; padding: 0 15px 30px;">
      <ui-view style="display: flex; height: 100%;"></ui-view>
    </div>
  </main>

  <footer-component></footer-component>
</div>
