<div class="root-container">
  <header-component></header-component>

  <main class="main-content" style="position: relative; display: flex;">
    <sidenav-btn target="left-side-nav"
                 style="position: absolute; z-index: 1000; top: 18px; left: 0;"></sidenav-btn>

    <sidenav id="left-side-nav"
             flex="none" style="z-index: 1001;"></sidenav>

    <div style="width: 100%;">
      <ui-view style="display: flex; height: 100%;"></ui-view>
    </div>
  </main>

  <footer-component></footer-component>
</div>
