@import "themes/base/colors";

designer-sort {
  mat-card-header > .mat-card-header-text {
    margin-left: 0;
  }

  .sort-fields-title {
    margin-bottom: 10px;
  }

  .available-fields {
    width: 250px;
    min-height: 40px;
  }

  .sorted-fields-container {
    width: 400px;
    min-height: 200px;
  }

  .sorted-fields {
    width: 400px;
    min-height: 40px;
  }

  .sort-field {
    cursor: move;
    font-size: 14px;
    margin-top: 3px;
    border: solid 1px $primary-grey-g1;
    border-radius: 2px;
    padding: 5px;
    min-height: 40px;
  }

  .sorted-field__remove-button__container {
    padding-left: 4px;
    margin-left: 10px;
    border-left: 1px solid $primary-grey-g1;
  }

  .sorted-field__remove-button__icon {
    color: red;
  }

  .sort-divider {
    border-left: 1px solid $primary-grey-g1;
    margin: 23px 15px 0;
  }

  .non-ideal-state__message {
    color: $primary-grey-g3;
    font-size: 26px;
  }

  .non-ideal-state__icon {
    color: $primary-grey-g2;
    margin-top: 10px;
    display: table;
    font-size: 90px;
  }

  mat-button-toggle {
    .mat-button-toggle-label-content {
      line-height: 24px;
      padding: 0 5px;
      width: 70px;
      text-align: center;
    }

    mat-icon {
      text-align: center;
      font-size: 11px;
      line-height: 24px !important;
      transform: rotate(180deg) translateY(3px);
    }
  }

  button.mat-icon-button {
    line-height: 24px;
    height: 26px;
    width: 26px;
  }
}
