<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <ng-container i18n>Available fields</ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="available-fields"
           dndSortableContainer
           dndZone="available-fields-container">
        <div *ngFor="let field of availableFields; trackBy: trackByFn"
             [dndSortable]="field"
             [dndRemoveFromCallback]="removeFromAvailableFields"
             [dndContainer]="sorts"
             (click)="addSort(field)"
             fxLayout="row"
             fxLayoutAlign="space-around center"
             class="sort-field">
          {{field.aliasName || field.displayName}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <ng-container i18n>Sorted fields</ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sorted-fields"
           dndSortableContainer
           [dndContainer]="sorts"
           [dndAddToCallback]="addToSortedFields">
        <div *ngFor="let sort of sorts; let i = index; trackBy: trackByFn"
             [dndSortable]="sort"
             [dndSortableIndex]="i"
             [dndRemoveFromCallback]="removeFromSortedFields"
             [dndContainer]="sorts"
             class="sort-field"
             fxLayout="row"
             fxLayoutAlign="space-between center">
          <mat-icon fontIcon="icon-close"
                    (click)="removeSort(sort)"
                    class="sorted-field__remove"></mat-icon>
          {{nameMap[sort.columnName]}}
          <mat-button-toggle-group (change)="onSortOrderChange(sort, $event.value)"
                                   [value]="sort.order">
            <mat-button-toggle value="asc">
              <mat-icon fontIcon="icon-arrow-left" class="up"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="desc">
              <mat-icon fontIcon="icon-arrow-left" class="down"></mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
