@import "src/themes/base/colors";

$back-button-size: 32px;

designer-header {
  background-color: white;

  .header__container {
    height: 100%;

    button {
      line-height: 32px;
    }
  }

  .mat-icon {
    height: 18px;
  }

  .back-button-icon.mat-icon {
    color: $primary-grey-g4;
    font-size: $back-button-size;
    line-height: $back-button-size;
    width: $back-button-size;
    height: $back-button-size;
  }

  .header__name {
    strong {
      color: $primary-blue-b2;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.005em;
    }

    label {
      padding: 0 2px;
      font-size: 11px;
      text-transform: uppercase;
      background-color: $secondary-orange;
      color: $primary-white;
      vertical-align: top;
    }
  }

  .header__description {
    font-size: 14px;
    padding-top: 5px;
    color: $primary-grey-g3;

    .mat-icon {
      font-size: 14px;
      height: 14px;
      width: 14px;
    }
  }

  .mat-progress-bar {
    height: 2px !important;
  }

  .mat-button-toggle-checked {
    background-color: $primary-blue-b2;
    color: white;
  }

  .mat-button-toggle-label-content {
    line-height: 32px !important;

    .mat-icon {
      width: auto;
    }
  }

  .mat-button-toggle-label-content > * {
    vertical-align: bottom;
  }
}
