@import 'src/themes/base/colors';

$back-button-size: 32px;

:host {
  background-color: white;
}

.header__container {
  height: 100%;

  button {
    line-height: 24px;
    min-width: unset;

    mat-icon {
      font-size: 22px;
    }
  }

  ::ng-deep .mat-button-toggle-checked {
    background-color: $primary-blue-b2;
    color: white;
  }

  ::ng-deep .mat-button-toggle-label-content {
    line-height: 32px !important;
    font-size: 13px;
  }

  ::ng-deep .mat-button-toggle-label-content > * {
    vertical-align: inherit;
  }
}

.back-button-icon.mat-icon {
  color: $primary-grey-g4;
  font-size: $back-button-size;
  line-height: $back-button-size;
  width: $back-button-size;
  height: $back-button-size;
}

.header__name {
  strong {
    color: $primary-blue-b2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
  }

  label {
    padding: 0 2px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: $secondary-orange;
    color: $primary-white;
    vertical-align: top;
  }
}

.header__name__small {
  strong {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: $primary-blue-b2;
    letter-spacing: 0.005em;
  }

  label {
    padding: 0 2px;
    font-size: 8px;
    text-transform: uppercase;
    background-color: $secondary-orange;
    color: $primary-white;
    vertical-align: top;
  }
}

.header__description {
  font-size: 11px;
  padding-top: 5px;
  color: $primary-grey-g3;

  .mat-icon {
    font-size: 11px;
    height: 14px;
    width: 14px;
  }
}

.mat-progress-bar {
  height: 2px !important;
}
