.align-center {
  text-align: center;
}

.alert-unsubscribe-button {
  background: #0077be;
  color: white;
}

.alert-unsubscribe {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  background-size: contain;
}
