<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration>
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <logger name="demo" level="DEBUG" />
        <springProfile name="staging">
                <logger name="demo" level="TRACE" />
        </springProfile> -->
        
        <configuration scan="true" scanPeriod="300 seconds">
        
        <!--  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
                <resetJUL>true</resetJUL>
        </contextListener> -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
                <encoder> 
          <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
                </encoder> 
                </layout>
    </appender>
        <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${raw.log.file}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${raw.log.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </layout>
  </appender>
        
        <logger name="org.springframework.*">
        <level value="INFO" />
    </logger>
        
        <logger name="org.springframework.jdbc.core.JdbcTemplate">
        <level value="INFO" />
    </logger>
        
        <logger name="org.springframework.jdbc.core.StatementCreatorUtils">
                <level value="DEBUG" />
        </logger>
<!--     ACTIVEMQ CLIENT RELETED LOGGING INTO LOG BACK STARTS HERE -->
        <logger name="org.apache.activemq.spring">
        <level value="WARN" />
    </logger>
        
        <logger name="org.apache.activemq.transport.failover.FailoverTransport">
        <level value="INFO" />
    </logger>
        
        <logger name="org.apache.activemq.transport.TransportLogger">
        <level value="INFO" />
    </logger>
<!--    ACTIVEMQ CLIENT RELETED LOGGING INTO LOG BACK ENDS HERE --> -->
        <logger name="org.springframework.integration.*">
        <level value="INFO" />
    </logger>
        
        <logger name="com.razor.raw.*">
        <level value="TRACE" />
    </logger>
        
        <logger name="com.sncr.nsso.*">
        <level value="TRACE" />
    </logger>
        
        <logger name="org.quartz*">
        <level value="INFO" />
    </logger>
    <logger name="org.quartz.core.QuartzSchedulerThread">
        <level value="INFO" />
    </logger> 
     <logger name=" org.eclipse.jetty*">
        <level value="INFO" />
    </logger>
     <logger name=" org.eclipse.jetty.io*">
        <level value="OFF" />
    </logger>
        <logger name="org.springframework" level="INFO"/>
        
         <logger name="org.apache.activemq.spring">
        <level value="WARN" />
    </logger>
        
        <logger name="org.apache.activemq.transport.failover.FailoverTransport">
        <level value="INFO" />
    </logger>
        
        <logger name="org.apache.activemq.transport.TransportLogger">
        <level value="INFO" />
    </logger>
        <logger name="org.eclipse.jetty.server.session*">
        <level value="INFO" />
        </logger>
        <logger name="org.apache.zookeeper*">
            <level value="INFO" />
    </logger>
     <logger name="drill.allocator">
                <level value="OFF" />
    </logger>
    <logger name="org.apache.drill.exec.memory*">
                <level value="OFF" />
    </logger>
    
    <logger name="org.eclipse.jetty.http*">
                <level value="OFF" />
    </logger>
    <logger name="org.apache.activemq.transport.AbstractInactivityMonitor">
                <level value="ERROR" />
    </logger>
    
    <root level="DEBUG">
      <appender-ref ref="ROLLING" />
        <!--   <appender-ref ref="CONSOLE" /> -->
    </root>

</configuration>

