<div class="dataSets-view" fxLayout="column" (window:resize)="onResize($event)">
  <mat-toolbar class="toolbar-white">
    <mat-toolbar-row>
      <div fxFlex="47" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" e2e="data-mode-group" class="data-mode">
        <mat-button-toggle-group [(ngModel)]="dataView" [value]="dataView" (change)="onDataObjectViewChange()"
          #viewType="matButtonToggleGroup">
          <mat-button-toggle e2e="data-sets-view" i18n value="sets">
            <mat-icon fontIcon="icon-exchange"></mat-icon>
            <span>Data Sets</span>
          </mat-button-toggle>
          <mat-button-toggle e2e="data-pods-view" i18n value="pods">
            <mat-icon fontIcon="icon-portal-libraries"></mat-icon>
            <span>Data Pods</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <search-box placeholder="Search" [value]="states.searchTerm" (searchTermChange)="applySearchFilter($event)"
          [delay]="1000"></search-box>
      </div>
      <div fxFlex="20" fxLayout="row" e2e="view-mode-group" class="view-mode">
        <mat-button-toggle-group [(ngModel)]="viewState" [value]="viewState" (change)="onViewChange()" #viewMode="matButtonToggleGroup">
          <mat-button-toggle e2e="list-view" matTooltip="List view" value="list">
            <mat-icon fontIcon="icon-list-view" style="font-size: 24px;"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle e2e="card-view" matTooltip="Card view" value="card">
            <mat-icon fontIcon="icon-tile-view-solid" style="font-size: 21px;"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <span fxFlex></span>
      <div class="action-buttons" fxLayout="row" fxLayoutGap="10px">
        <mat-slide-toggle *ngIf="dataView == 'sets'" checked="false" (change)="togglePoll()">Auto Refresh</mat-slide-toggle>

        <button mat-raised-button e2e="add-new-data-sets" color="primary" i18n (click)="addDataSet()">
          <span>+ Dataset</span>
        </button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="dataView == 'sets'">
    <div class="grid-view" [style.max-height.px]="contentHeight" *ngIf="viewState == 'list'">
      <div [style.height.px]="contentHeight - 6">
        <datasets-grid-page [updater]="updater" [searchTerm]="states.searchTermValue"></datasets-grid-page>
      </div>
    </div>

    <div class="card-view" [style.max-height.px]="contentHeight" *ngIf="viewState == 'card'">
      <datasets-card-page [updater]="updater" [searchTerm]="states.searchTermValue"></datasets-card-page>
    </div>
  </div>

  <div *ngIf="dataView == 'pods'">
    <div class="grid-view" [style.max-height.px]="contentHeight" *ngIf="viewState == 'list'">
      <div [style.height.px]="contentHeight - 6">
        <datapods-grid-page [updater]="dpUpdater" [searchTerm]="states.searchTermValue">
        </datapods-grid-page>
      </div>
    </div>

    <div class="card-view" [style.max-height.px]="contentHeight" *ngIf="viewState == 'card'">
      <datapods-card-page [updater]="dpUpdater" [searchTerm]="states.searchTermValue">
      </datapods-card-page>
    </div>
  </div>

</div>