@import "src/themes/base/colors";

:host {
  background-color: white;
  height: 100%;
  max-width: 100vw;
  display: grid;
  grid-template:
    "data-settings content" 100%
    / 25% auto;
}

.designer__data-settings {
  grid-area: data-settings;
  border-right: 1px solid $primary-grey-g1;
  margin: 10px 0;
}

.designer__content {
  grid-area: content;
  padding: 10px;
}

filter-chips-u {
  padding: 0 20px;
}

.non-ideal-state__container {
  margin-top: 50px;
}

.non-ideal-state__message {
  color: $primary-grey-g3;
  font-size: 26px;
}

.non-ideal-state__icon {
  color: $primary-grey-g2;
  margin-top: 50px;
  display: table;
  font-size: 200px;
  width: 200px;
}
