@import 'src/themes/base/colors';

:host {
  background-color: white;
  height: 100%;
  max-width: 100vw;
  display: grid;
  grid-template:
    'data-settings content' 100%
    / 25% 75%;
}

.designer {
  &__data-settings {
    grid-area: data-settings;
    border-right: 1px solid $primary-grey-g1;
    margin: 10px 0;
  }
  &__content {
    grid-area: content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    // grid-template-rows: repeat(2, auto) 1fr;
    // grid-template-areas:
    //   'aux-settings'
    //   'filters'
    //   'data';
  }
  &__filters {
    padding: 0 20px;
    grid-area: filters;
  }
  &__aux-settings {
    padding: 0 20px;
    grid-area: aux-settings;
  }
  &__data {
    grid-area: data;
    overflow: auto;
    flex: 1;
    height: 100%;
    width: 100%;
  }
}

.non-ideal-state__container {
  margin-top: 50px;
}

.non-ideal-state__message {
  color: $primary-grey-g3;
  font-size: 26px;
}

.non-ideal-state__icon {
  color: $primary-grey-g2;
  margin-top: 50px;
  display: table;
  font-size: 200px;
  width: 200px;
}
