@import "src/themes/base/colors";

.designer__data-settings {
  grid-area: data-settings;
  border-right: 1px solid $primary-grey-g1;
  margin: 10px 0;
}

.designer__content {
  grid-area: content;
  padding: 10px;
}

filter-chips-u {
  padding: 0 20px;
}
