<designer-settings-single-table class="designer__data-settings"
                   [analysisType]="analysisType"
                   [analysisSubtype]="analysisSubtype"
                   (change)="change.emit($event)"
                   [fieldCount]="fieldCount"
                   [sqlBuilder]="sqlBuilder"
                   [artifacts]="artifacts">
</designer-settings-single-table>

<div fxLayout="column">
  <designer-settings-aux class="designer__content"
                         [auxSettings]="auxSettings"
                         [analysisType]="analysisType"
                         [analysisSubtype]="analysisSubtype"
                         [chartTitle]="chartTitle"
                         (change)="change.emit($event)"></designer-settings-aux>

  <ng-container [ngSwitch]="analysisType">

    <filter-chips-u *ngIf="filters.length > 0"
                    (remove)="onRemoveFilter($event)"
                    (removeAll)="onRemoveFilterAll()"
                    [filters]="filters"
                    [artifacts]="artifacts">
    </filter-chips-u>

    <designer-pivot class="designer__content"
                    *ngSwitchCase="'pivot'"
                    [data]="data"
                    [sorts]="sorts"
                    [artifacts]="artifacts"
                    [designerState]="designerState">
    </designer-pivot>
    <designer-chart class="designer__content"
                    *ngSwitchCase="'chart'"
                    [chartType]="analysisSubtype"
                    [sorts]="sorts"
                    [auxSettings]="auxSettings"
                    [data]="data"
                    [designerState]="designerState"
                    [sqlBuilder]="sqlBuilder">
    </designer-chart>
  </ng-container>
</div>
