<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlex="40">
    <div class="category-title" e2e="category-title">{{section | changeCase:'title'}} Management</div>
    <search-box placeholder="Search"
                [value]="filterObj.searchTerm"
                (searchTermChange)="applySearchFilter($event)"
                [delay]="1000">
    </search-box>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40">
    Customer: {{customer}}
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="20">
    <button (click)="openNewModal()"
            mat-raised-button
            color="primary">
      + <span i18n>{{section | uppercase}}</span>
    </button>
  </div>
</mat-toolbar>
<div *ngIf="data; else loading">
  <admin-list-view [data]="filteredData"
                   [columns]="columns"
                   [section]="section"
                   [highlightTerm]="filterObj.searchTermValue">
  </admin-list-view>
</div>
<ng-template #loading>Loading Data...</ng-template>
