@import "themes/base/colors";

single-table-designer-layout {
  background-color: white;
  max-height: 93vh;
  max-width: 100vw;
  display: grid;
  grid-template:
    "data-settings content" 93vh
    / 25vw 75vw;

  .designer__data-settings {
    grid-area: data-settings;
    border-right: 1px solid $primary-grey-g1;
    margin: 10px 0;
  }

  .designer__content {
    grid-area: content;
    padding: 10px;
  }
}
