<mat-tab-group [formGroup]="parentForm">
  <mat-tab fxLayout="column" fxLayoutAlign="center start">
    <ng-template mat-tab-label>
      <span
        [ngClass]="{
          'tab-error':
            !parentForm.get('apiEndPoint').valid ||
            !parentForm.get('bodyParameters.content').valid
        }"
        e2e="e2e-request-tab"
      >
        Request
      </span>
    </ng-template>
    <div fxLayout="row">
      <!-- Request Method -->
      <mat-form-field class="left-align" appearance="outline" fxFlex="0 1 auto">
        <mat-label i18n>Request Method</mat-label>
        <mat-select
          formControlName="httpMethod"
          e2e="e2e-http-method-select"
          (selectionChange)="httpMethodChanged()"
          required
        >
          <mat-option
            *ngFor="let method of httpMethods"
            [value]="method"
            [attr.e2e]="'e2e-http-method-' + method"
            i18n
            >{{ method }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- Endpoint -->
      <mat-form-field
        class="right-align"
        appearance="outline"
        fxFlex="10 1 auto"
      >
        <mat-label i18n>Endpoint</mat-label>
        <input
          type="text"
          matInput
          placeholder="Endpoint"
          [required]="isRequired('apiEndPoint')"
          name="api-endpoint"
          e2e="e2e-api-endpoint"
          formControlName="apiEndPoint"
          autocomplete="new-password"
        />
        <mat-error
          *ngIf="
            isRequired('apiEndPoint') &&
            !!parentForm.controls.apiEndPoint.hasError('required')
          "
          i18n
        >
          Endpoint is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div
      formGroupName="bodyParameters"
      class="parameters body"
      [style.display]="showBodyParams ? 'inherit' : 'none'"
    >
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label i18n>Request Body</mat-label>
        <textarea
          matInput
          formControlName="content"
          e2e="e2e-body-parameter-content"
        ></textarea>
        <mat-error
          *ngIf="
            !!parentForm.controls.bodyParameters.controls.content.hasError(
              'required'
            )
          "
          i18n
        >
          Body is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        [ngClass]="{ 'tab-error': !headerParams.valid }"
        e2e="e2e-headers-tab"
      >
        Headers &nbsp;
        <ng-container
          *ngIf="headerParams.controls.length + provisionalHeaders.length"
        >
          <span class="dot"></span>
        </ng-container>
      </div>
    </ng-template>

    <div
      class="parameters headers"
      [style.display]="provisionalHeaders.length ? 'block' : 'none'"
    >
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Provisional Headers
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div
            formArrayName="provisionalHeaders"
            *ngFor="let item of provisionalHeaderParams.controls; let i = index"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              [formGroupName]="i"
              fxLayoutGap="10px"
            >
              <!-- Header Key -->
              <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                fxLayoutGap="10px"
                matTooltip="Use Authorization tab to update"
              >
                <mat-label i18n>Header Name</mat-label>
                <input
                  matInput
                  name="name-of-header"
                  [e2e]="'provisional-header-name-' + i"
                  formControlName="key"
                  readonly
                />
              </mat-form-field>

              <mat-form-field
                fxFlex="5 1 auto"
                appearance="outline"
                matTooltip="Use Authorization tab to update"
              >
                <mat-label i18n>Header Value</mat-label>
                <input
                  matInput
                  name="value-of-header"
                  [e2e]="'provisional-header-value-' + i"
                  formControlName="value"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- Header Parameters form -->
    <div class="parameters headers" fxLayout="row" fxLayoutAlign="end center">
      <button
        [disabled]="!canAddHeader"
        mat-stroked-button
        color="primary"
        (click)="addHeader()"
        e2e="e2e-add-header-btn"
      >
        + Header
      </button>
    </div>

    <div
      formArrayName="headerParameters"
      *ngFor="let item of headerParams.controls; let i = index"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        [formGroupName]="i"
        fxLayoutGap="10px"
      >
        <!-- Header Key -->
        <mat-form-field
          fxFlex="1 1 auto"
          appearance="outline"
          fxLayoutGap="10px"
        >
          <mat-label i18n>Header Name</mat-label>
          <input
            matInput
            name="name-of-header"
            [attr.e2e]="'e2e-name-of-header-' + i"
            formControlName="key"
            required
            autocomplete="off"
            [matAutocomplete]="headerFieldAuto"
          />
          <mat-autocomplete #headerFieldAuto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredHeaderFields[i] | async"
              [value]="option"
              [attr.e2e]="'header-name-options-' + i + '-' + option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!!item.controls.key.hasError('required')" i18n>
            Header Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="5 1 auto" appearance="outline">
          <mat-label i18n>Header Value</mat-label>
          <input
            matInput
            name="value-of-header"
            [attr.e2e]="'e2e-value-of-header-' + i"
            formControlName="value"
            required
            [matAutocomplete]="headerValueAuto"
            autocomplete="off"
          />
          <mat-autocomplete #headerValueAuto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredHeaderValues[i] | async"
              [value]="option"
              [attr.e2e]="'header-value-options-' + i + '-' + option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!!item.controls.value.hasError('required')" i18n>
            Header Value is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          mat-icon-button
          (click)="removeHeader(i)"
          fxFlex="0 1 auto"
          [attr.e2e]="'e2e-remove-header-' + i"
        >
          <mat-icon fontIcon="icon-delete" color="warn"></mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        [ngClass]="{ 'tab-error': !queryParams.valid }"
        e2e="e2e-query-tab"
      >
        Query Params &nbsp;
        <ng-container *ngIf="queryParams.controls.length">
          <span class="dot"></span>
        </ng-container>
      </div>
    </ng-template>
    <!-- Query Parameters form -->
    <div class="parameters query" fxLayout="row" fxLayoutAlign="end center">
      <button
        [disabled]="!canAddQueryParam"
        mat-stroked-button
        color="primary"
        (click)="addQueryParam()"
        e2e="e2e-add-query-param-btn"
      >
        + Parameter
      </button>
    </div>

    <div
      formArrayName="queryParameters"
      *ngFor="let item of queryParams.controls; let i = index"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        [formGroupName]="i"
        fxLayoutGap="10px"
      >
        <!-- Query Param Key -->
        <mat-form-field fxFlex="1 1 auto" appearance="outline">
          <mat-label i18n>Parameter Name</mat-label>
          <input
            matInput
            name="name-of-query-param"
            [attr.e2e]="'e2e-name-of-query-param-' + i"
            formControlName="key"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="!!item.controls.key.hasError('required')" i18n>
            Parameter Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Query Param Value -->
        <mat-form-field fxFlex="5 1 auto" appearance="outline">
          <mat-label i18n>Parameter Value</mat-label>
          <input
            matInput
            name="value-of-query-parameter"
            [attr.e2e]="'e2e-value-of-query-parameter-' + i"
            formControlName="value"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="!!item.controls.value.hasError('required')" i18n>
            Parameter Value is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          mat-icon-button
          (click)="removeQueryParam(i)"
          fxFlex="0 1 auto"
          [attr.e2e]="'e2e-remove-query-param-btn-' + i"
        >
          <mat-icon fontIcon="icon-delete" color="warn"></mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div fxLayout="row" fxLayoutAlign="center center">
        Authorization &nbsp;
        <ng-container *ngIf="provisionalHeaders.length">
          <span class="dot"></span>
        </ng-container>
      </div>
    </ng-template>
    <!-- Query Parameters form -->
    <form
      fxFlex
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="5px"
      class="parameters authorization"
      novalidate
      [formGroup]="authorizationForm"
      autocomplete="false"
    >
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex="35">
          <mat-label>Authorization Type</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let type of authorizationTypeValues"
              [value]="type"
            >
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p
          style="margin: 0"
          [style.display]="
            authType.value === authorizationTypes.NONE ? 'none' : 'block'
          "
        >
          The authorization header will be automatically generated when you test
          connectivity or save.
        </p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div
        fxFlex="50"
        style="height: 62px; text-align: center; line-height: 62px;"
        [style.display]="
          authType.value === authorizationTypes.NONE ? 'block' : 'none'
        "
      >
        Please choose an Authorization scheme.
      </div>
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        [style.display]="
          authType.value === authorizationTypes.BASIC ? 'flex' : 'none'
        "
      >
        <mat-form-field fxFlex appearance="outline">
          <mat-label i18n>Username</mat-label>
          <input
            matInput
            name="auth-username"
            e2e="auth-username"
            formControlName="userName"
            [required]="authType.value === authorizationTypes.BASIC"
            autocomplete="off"
          />
          <mat-error *ngIf="!!authUsername.hasError('required')" i18n>
            Username is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="outline">
          <mat-label i18n>Password</mat-label>
          <input
            matInput
            name="auth-password"
            e2e="auth-password"
            showPassword
            formControlName="password"
            [required]="authType.value === authorizationTypes.BASIC"
            autocomplete="off"
          />
          <mat-icon
            matTooltip="Toggle Password"
            matSuffix
            fontIcon="icon-show"
            e2e="show-password"
          ></mat-icon>
          <mat-error *ngIf="!!authPassword.hasError('required')" i18n>
            Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
