.md-toolbar-tools, md-toolbar.secondary-toolbar {
  max-height: 48px;
  min-height: 32px;
}

.tb-secondary {
  //height: 68px;
  //min-height: 68px;

  .md-button {
    margin-right: 14px;
    margin-left: 0;
  }

  .md-toolbar-tools {
    padding-left: 9px;
    padding-right: 24px;
  }
  .md-button.md-button-toggle {
    height: 100%;
    min-width: 64px;
    padding: 0;
    margin-right: 24px;

    &:hover {
      background-color: #FFFFFF;
    }
  }

  .md-button-toggle.toggled {
    background-color: #FFFFFF;
  }

  .md-button-toggle.toggled .md-toggle-icon{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  .md-toolbar-tools > .md-button:last-child {
    margin: 0;
  }
}

md-toolbar.#{$theme-cls}.app-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
  border-bottom: 1px solid $cards-border-color;
}

md-toolbar.#{$theme-cls}.secondary-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
}

.symmetra-logo {
  background-image: url($symmetra-logo-path);
  height: 25px;
  width: 24px;
  background-size: 25px 24px;
  margin-right: 10px;
}
