<div layout="row" layout-align="start center" ng-class="$ctrl.sizeClass">
  <md-button layout="column"
             ng-repeat="item in $ctrl.items track by item.type"
             ng-class="{'selected': item.type === $ctrl.ngModel}"
             ng-disabled="item.disabled"
             ng-value="item.type"
             ng-click="$ctrl.onItemSelected(item)">
    <md-icon flex
             md-font-icon="{{::item.icon}}">
    </md-icon>
    <md-tooltip ng-bind="item.label | translate"
                ng-if="::$ctrl.iconOnly"></md-tooltip>
    <p ng-bind="::item.label"
       ng-if="::!$ctrl.iconOnly"></p>
  </md-button>
</div>
