.kpi-filter-header {
  padding: 10px;
  border-bottom: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
}

.kpi-filter-content {
  padding: 0px 45px;
  color: #5c6670;
  overflow: auto;
}

.filter-counter {
  font-weight: 600;
}

.filter-list {
  padding: 10px 0px 20px 0px;
}

.dialog-actions {
  border-top: 1px solid #999;
}
