[Unit]
Description=SAW Transport

[Service]
ExecStart=/opt/saw/service/bin/sawsrvc_start.sh --fxj -v
SyslogIdentifier=saw-transport
User=mapr
Restart=on-failure

[Install]
WantedBy=default.target
