[Unit]
Description=SAW Transport

[Service]
ExecStart=/opt/saw/service/bin/sawsrvc_start.sh --fxj -v
SyslogIdentifier=saw-transport-service
User=mapr

[Install]
WantedBy=default.target
