<div ng-class="{'collapser-collapsed': $ctrl.isCollapsed}">
  <div class="collapser-title"
      layout="row">
    <h3 ng-bind="::$ctrl.title" flex="grow"></h3>
    <md-icon ng-if="$ctrl.action.isVisible()"
             md-font-icon="{{$ctrl.action.icon}}"
             ng-class="$ctrl.action.class"
             ng-click="$ctrl.action.callback()">
    </md-icon>
    <md-icon md-font-icon="icon-expand"
            ng-click="$ctrl.toggleCollapse()">
    </md-icon>
  </div>
  <div class="collapser-content">
    <ng-transclude></ng-transclude>
  </div>
</div>
