@import 'src/themes/base/colors';

:host {
  display: block;
  height: calc(100% - 20px);
  width: calc(100% - 20px);

  & > div {
    height: 100%;
    width: 100%;

    map-chart {
      display: block;
      width: 100%;
      height: 100%;

      & > ::ng-deep div {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.no-map-selected {
  color: $primary-grey-g3;
  font-size: 26px;
}
