@import 'src/themes/base/colors';

:host {
  mat-toolbar {
    background-color: $primary-white;
    height: 45px !important;
    min-height: 45px !important;
  }

  .job-logs__details {
    padding: 5px;
    margin: 10px;
  }
  .job-logs__details__cell {
    padding: 5px;

    & > span:first-child {
      padding-right: 10px;
    }
  }

  .job-logs__data-grid {
    margin: 10px;
  }
}
