<div *ngIf="asChartColumn(artifactColumn).comboType">
  <button mat-icon-button [matMenuTriggerFor]="comboTypeSelect" class="expandable-field__option-button">
    <mat-icon [fontIcon]="getComboIcon(asChartColumn(artifactColumn).comboType)"></mat-icon>
  </button>
  <mat-menu #comboTypeSelect="matMenu">
    <button mat-menu-item *ngFor="let comboType of comboTypes; trackBy: index" (click)="onComboTypeChange(comboType.value)">
      <mat-icon [fontIcon]="comboType.icon"></mat-icon>
      <span style="margin-left: 20px;">{{comboType.label}}</span>
    </button>
  </mat-menu>
</div>
