<mat-form-field class="password-container">
  <input
    *ngIf="!showPassword"
    matInput
    #passwordHide
    type="password"
    maxlength="30"
    [(ngModel)]="userPassword"
    placeholder="{{ placeHolder }}"
    [ngModelOptions]="{ standalone: true }"
    e2e="password-input"
    (focus)="onPasswordFocus()"
    (blur)="onPasswordBlur($event)"
    (keyup)="passwordChange($event)"
    (change)="passwordChange($event)"
    required
  />

  <input
    *ngIf="showPassword"
    matInput
    #passwordShow
    type="text"
    maxlength="30"
    [(ngModel)]="userPassword"
    placeholder="{{ placeHolder }}"
    [ngModelOptions]="{ standalone: true }"
    e2e="password-input"
    (focus)="onPasswordFocus()"
    (blur)="onPasswordBlur($event)"
    (keyup)="passwordChange($event)"
    (change)="passwordChange($event)"
    required
  />

  <button
    tabindex="-1"
    e2e="show-password-login"
    color="primary"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="show"
    (click)="togglePassword()"
    *ngIf="shouldShowIcon"
  >
    <mat-icon
      matTooltip="Toggle Password"
      *ngIf="!showPassword"
      fontIcon="icon-show"
      e2e="show-password"
    ></mat-icon>
    <mat-icon
      matTooltip="Toggle Password"
      *ngIf="showPassword"
      fontIcon="icon-hide"
      e2e="hide-password"
    ></mat-icon>
  </button>
</mat-form-field>
