[Unit]
Description=Deploy SAW application
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "tar -xzf *.tgz && bda-saw-security-*/deploy"
WorkingDirectory=/maven
SyslogIdentifier=saw-deploy

[Install]
WantedBy=default.target
