@import "src/themes/base/colors";

:host {
  display: block;
  margin: 5px;
}

.saw-ac-placeholder {
  height: 159px;
  width: 434px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;

  &.m-report {
    background-image: url('/assets/img/charts/report.png');
  }

  &.m-esReport {
    background-image: url('/assets/img/charts/report.png');
  }

  &.m-pivot {
    background-image: url('/assets/img/charts/pivot.png');
  }

  &.m-chart-bubble {
    background-image: url('/assets/img/charts/chart-bubble.png');
  }

  &.m-chart-column {
    background-image: url('/assets/img/charts/chart-column.png');
  }

  &.m-chart-area {
    background-image: url('/assets/img/charts/chart-area.svg');
  }

  &.m-chart-combo {
    background-image: url('/assets/img/charts/chart-combo.svg');
  }

  &.m-chart-bar {
    background-image: url('/assets/img/charts/chart-bar.png');
  }

  &.m-chart-donut {
    background-image: url('/assets/img/charts/chart-donut.png');
  }

  &.m-chart-line {
    background-image: url('/assets/img/charts/chart-line.png');
  }

  &.m-chart-pie {
    background-image: url('/assets/img/charts/chart-pie.png');
  }

  &.m-chart-scatter {
    background-image: url('/assets/img/charts/chart-scatter.png');
  }

  &.m-chart-stack {
    background-image: url('/assets/img/charts/chart-stack.png');
  }

  &.m-chart-geo {
    background-image: url('/assets/img/charts/chart-geo-location.png');
  }

  &.m-chart-tsspline {
    background-image: url('/assets/img/charts/timeseries-chart.png');
  }

  &.m-chart-tsPane {
    background-image: url('/assets/img/charts/timeseries-multi-chart.png');
  }

  &.m-map-map {
    background-image: url('/assets/img/charts/chart-geo-location.png');
  }

  &.m-map-chart_scale {
    background-image: url('/assets/img/charts/chart-geo-location.png');
  }
}

mat-card-title.mat-card-title {
  padding: 0;
  margin: 0;

  > a {
    font-size: 18px;
    font-weight: 700;
  }
}

mat-card-subtitle.mat-card-subtitle {
  padding-top: 0 !important;
  margin: 0;

  > span {
    font-size: 12px;
  }
}

mat-card-footer.mat-card-footer {
  padding: 0 20px;
}

.mat-button-wrapper > mat-icon {
  color: $primary-grey-g4;
}

mat-chip.tag-chip {
  color: $primary-grey-g4;
}
