<div>
  <h1>Reset Password</h1>

  <form name="resetPwdForm" method="post">
    <div class="error-msg"
         ng-bind="$ctrl.errorMsg"></div>
    <md-input-container>
      <label>Username</label>
      <input type="text" maxlength="30" required
             disabled ng-model="$ctrl.username"/>
    </md-input-container>
    <br/>

    <md-input-container>
      <label>New Password</label>
      <input required type="password"
             ng-model="$ctrl.newPwd"/>
    </md-input-container>
    <br/>

    <md-input-container>
      <label>Confirm New Password</label>
      <input required type="password"
             ng-model="$ctrl.confNewPwd"/>
    </md-input-container>
    <br/>

    <div class="login-buttons"
         layout="row" layout-align="space-between center">
      <md-button class="btn-primary"
                 ng-disabled="resetPwdForm.$invalid"
                 ng-click="$ctrl.resetPwd()">Reset
      </md-button>

      <md-button class="btn-primary"
                 ng-click="$ctrl.login()">Login
      </md-button>
    </div>
  </form>
</div>
