@import "themes/base/colors";

designer-preview-dialog {
  background-color: $primary-grey-g7;
  display: block;
  margin-top: -24px;
  margin-left: -22px;
  width: 100vw;
  height: 100vh;

  header {
    color: white;

    strong {
      font-size: 24px;
    }

    button.mat-icon-button {
      margin: 10px 15px;

      .mat-icon {
        line-height: 40px;
        height: 40px;
        width: 40px;
        font-size: 40px;
      }
    }
  }

  .preview-container {
    padding: 10px;
  }
}
