<header fxLayout="row" fxLayoutAlign="start center">
  <button mat-icon-button
          (click)="close()">
    <mat-icon fontIcon="icon-remove"></mat-icon>
  </button>
  <div class="preview__title">
    <strong>
      {{analysis.name}}
    </strong>
  </div>
</header>

<div class="preview-container" [ngSwitch]="analysis.type">
  <pivot-grid *ngIf="previewData && analysis.type === 'pivot'"
              [artifactColumns]="artifactColumns"
              [sorts]="data.analysis.sqlBuilder.sorts"
              [data]="previewData"
              mode="preview">
  </pivot-grid>

  <report-grid-upgraded *ngIf="analysis.type === 'report' || analysis.type === 'esReport'"
                        [artifacts]="analysis.artifacts"
                        [query]="analysis.queryManual"
                        [sorts]="analysis.sqlBuilder.sorts"
                        [dataLoader]="dataLoader"
                        [isEditable]="false">
  </report-grid-upgraded>
</div>
