@import "themes/base/colors";

designer-settings-query {
  display: block;
  height: 100%;
  overflow: auto;
  margin-top: 4px;
  border-bottom: 1px solid $primary-grey-g1;
  background-color: $report-designer-settings-bg-color;

  .query-actions {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
}
