<div mat-dialog-title>
  <span>Select an Analysis</span>
  <mat-progress-bar [mode]="'indeterminate'" *ngIf="showProgress"></mat-progress-bar>
</div>

<div mat-dialog-content>
  <mat-select placeholder="Category" [(ngModel)]="selection.category" (change)="onCategoryUpdated()">
    <mat-option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </mat-option>
  </mat-select>
  <mat-select placeholder="Sub Category" [(ngModel)]="selection.subCategory" (change)="onSubCategoryUpdated()">
    <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
      {{ subCategory.name }}
    </mat-option>
  </mat-select>
  <mat-select placeholder="Analysis" [(ngModel)]="selection.analysis">
    <mat-option *ngFor="let analysis of analyses" [value]="analysis.id">
      {{ analysis.name }}
      <mat-chip color="primary">{{analysis.type}}</mat-chip>
    </mat-option>
  </mat-select>
</div>

<div class="layout-row" mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!selection.analysis">Save</button>
</div>
