
@import "themes/base/colors";

role-edit-dialog {
  z-index: 80;
  display: block;
  max-width: 500px;

  .mat-dialog-content {
    padding: 0 50px;

    mat-form-field {
      width: 100%;
    }
  }

  .dialog-actions {
    padding: 10px 0;
  }
}
