<?xml version="1.0" encoding="UTF-8"?>
<settings
  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>sncr-libs-releases</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>sncr-libs-snapshots</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>client-releases</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>client-snapshots</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>cts-releases</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>cts-snapshots</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>cts-mobile-releases</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>cts-mobile-snapshots</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>sncr-plugins-snapshots</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>sncr-plugins-releases</id>
      <username>developer</username>
      <password>password</password>
    </server>
    <server>
      <id>client-implementations-site</id>
      <username>client_implementations</username>
      <password>welcome</password>
    </server>
    <server>
      <id>cts-site</id>
      <username>cts</username>
      <password>welcome</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>RepositoryProxy</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>releases-only</id>
          <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/releases-only</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots-only</id>
          <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/snapshots-only</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>plugin-releases-only</id>
          <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/releases-only</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugin-releases-only</id>
          <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/releases-only</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <!-- this is disabled because we should not use snapshot versions of plugins
        <pluginRepository>
          <id>plugin-snapshots-only</id>
          <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/snapshots-only</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
        -->
      </pluginRepositories>
    </profile>
  </profiles>
  <mirrors>
    <mirror>
      <id>central</id>
      <mirrorOf>*,!snapshots-only</mirrorOf>
      <url>http://maven-us.synchronoss.net:8081/nexus/content/repositories/releases-only</url>
      <name>SNCR US Maven Repository</name>
    </mirror>
  </mirrors>
  <pluginGroups>
    <pluginGroup>com.oracle.weblogic</pluginGroup>
    <pluginGroup>com.sncr.maven.plugins</pluginGroup>
    <pluginGroup>com.newbay.maven.plugins</pluginGroup>
  </pluginGroups>
</settings>