<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlex="40">
    <div class="admin-title" e2e="security-group-title">Data Security Groups</div>
    <search-box placeholder="Search"
                [value]="filterObj.searchTerm"
                (searchTermChange)="applySearchFilter($event)"
                [delay]="1000">
    </search-box>
  </div>

  <div fxLayout="row" class="customer-name" fxLayoutAlign="start center" fxFlex="40">
    Customer: {{ticket.custCode}}
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="20">
    <button (click)="addPropperty('securityGroup')"
            mat-raised-button
            color="primary" style="margin-right:10px;">
      + <span i18n>Security Group</span>
    </button>
    <button (click)="addPropperty('attribute')"
            mat-raised-button
            color="primary">
      + <span i18n>Attribute</span>
    </button>
  </div>
</mat-toolbar>
