@import "themes/base/colors";

analyze-report {
  width: 100%;
  height: 100%;
}

.analyze-report-dialog,
.analyze-chart-dialog {
  .analyze-dialog {
    min-height: 100%;
    min-width: 100%;
  }

  analyze-dialog-content,
  .analyze-dialog_content {
    display: flex;
    flex-grow: 1;

    > .layout-column {
      flex-grow: 1;
    }
  }

  .ard {
    &_back-btn {
      padding: 0;
      min-width: 36px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      align-self: center;
    }

    &_meta {
      .md-title {
        color: $primary-blue-b2;

        label {
          padding: 0 2px;
          font-size: 11px;
          text-transform: uppercase;
          background-color: $secondary-orange;
          color: $primary-white;
          vertical-align: top;
        }
      }

      .md-description {
        font-size: 14px;
        color: #C7C7C7;

        md-icon {
          text-align: center;
        }

        span {
          vertical-align: middle;
        }
      }
    }

    &_actions {
      align-self: center;
      text-align: right;

      .md-button {
        margin: 0;
        padding: 0 15px;
        min-width: 36px;
      }
    }

    &_content {
      width: 100%;
      height: 100%;
      padding: 10px 24px;
      background-color: #F3F5F8;
      flex-grow: 1;
    }

    &_sub-header {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #E0E4EA;
      align-items: center;
      justify-content: space-between;
      font-size: 26px;
      flex-shrink: 0;

      md-radio-button {
        display: inline-block;
        margin: 0;
        padding: 8px;
        border: 1px solid #C4C4C4;
        color: #AFAFAF;
        font-size: 15px;

        .md-container {
          display: none;
        }

        .md-label {
          margin: 0;
        }

        md-icon {
          text-align: center;
        }
      }

      .md-button.mode-selector {
        margin: 0;
        border: 1px solid #C4C4C4;
        color: #707070;
        font-size: 15px;

        &.m-active {
          background-color: #DADADA;
        }

        &:nth-child(1) {
          margin-right: -3px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:nth-child(2) {
          margin-left: -3px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    &_canvas {
      flex-grow: 1;
      overflow-y: scroll;

      js-plumb-canvas {
        display: block;
      }

      &-query {
        width: 100%;

        textarea {
          width: 100%;
          height: 200px;
          padding: 15px;
          box-sizing: border-box;
          font-size: 14px;
          text-transform: uppercase;
          color: #575757;
        }
      }
    }

    &_toolbar {
      height: 50px;
      border-top: 1px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;
      background-color: #F5F5F5;
      flex-shrink: 0;
      z-index: 1;

      &-expand {
        margin: 0;
        min-width: 50px;
        border-radius: 0;
        border-right: 1px solid #C4C4C4;

        &.m-expanded {
          md-icon {
            transform: rotate(180deg);
          }
        }
      }

      &-text {
        padding-left: 15px;
        font-size: 18px;
        align-self: center;
      }

      &-actions {
        text-align: right;
        align-self: center;

        .md-button:not(.btn-primary) {
          border: 1px solid #E7E8E9;
          background-color: #F8F8F8;
          color: #898989;
        }

        .md-button:last-child {
          margin-right: 8px;
        }
      }
    }

    &_details-panel {
      min-height: 40%;
      max-height: 50%;
      overflow-y: scroll;
      padding: 20px;

      &-empty {
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #B2B2B2;

        span {
          width: 300px;
          font-size: 28px;
          word-break: break-word;
          text-align: center;
          margin-bottom: 30px;
        }

        md-icon {
          font-size: 90px;
          height: 90px;
          line-height: 90px;
          margin: 0;
          color: #B2B2B2;
        }
      }
    }
  }
}
