@import "src/themes/base/colors";
$header-padding-top: 12px;
$header-padding-bottom: 12px;
$header-font-size: 18px;
$report-height: calc(100% - #{$header-padding-bottom} - #{$header-padding-top} - #{$header-font-size});

.chart.report-title {
  margin: 0;
  padding: $header-padding-top 0 $header-padding-bottom;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: $header-font-size;
}

.analysis-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  width: 90%;
}

.toggle-icons {
  text-align: right;
  font-size: 15px;
  margin-top: 7px;

  .icon-report {
    width: 19px;
  }
}

.mat-icon.active {
  color: $primary-blue-b2;
}

mat-icon.export {
  background-image: url('/assets/img/excel.png');
  transform: scale(0.7);
}
