<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.dir}/app_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	<maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>3</maxHistory>
      <totalSizeCap>200MB</totalSizeCap>				
    </rollingPolicy>
    <encoder>
      <pattern>%date [%level] -- %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>
  
  <!-- Silence libraries that are verbose at INFO level -->
  <logger name="akka.event" level="WARN"/>
  <logger name="org.apache.hadoop" level="WARN"/>
  <!-- Silence even warnings for now until they can be fixed in the
       new Spark SQL Executor -->
  <logger name="org.apache.spark" level="ERROR"/>
  <logger name="org.spark_project" level="WARN"/>
  <!-- Silence warning about loading native code -->
  <logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>

  <logger name="play" level="INFO"/>

  <logger name="controllers" level="INFO"/>
  <logger name="sncr" level="INFO"/>
  <logger name="com.synchronoss" level="INFO"/>
  <logger name="test" level="${log.test.level:-INFO}"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" /> 
    <appender-ref ref="FILE" />
  </root>
</configuration>
