[Unit]
Description=SAW testing deployer
After=default.target

[Service]
Type=oneshot
ExecStart=/root/saw-deploy
Environment=container=docker
SyslogIdentifier=saw-deploy

[Install]
WantedBy=default.target
