
@import "themes/base/colors";

privilege-edit-dialog {
  max-width: 500px;

  &.wide {
    max-width: 910px;
  }

  .base-dialog__content {
    padding: 10px 50px !important;
    max-height: 450px;

    .mat-form-field {
      width: 100%;
    }

    .form-field {
      margin-bottom: 5px;
    }
  }
}
