<mat-card class="createsource-dialog">
  <mat-card-header>
    <mat-card-title class="details-title mat-subheading-2">{{
      dialogTitle
    }}</mat-card-title>
    <div fxFlex></div>
    <button mat-icon-button color="warn" (click)="onCancelClick()">
      <mat-icon fontIcon="icon-close"></mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content e2e="data-source-panel">
    <mat-horizontal-stepper linear [selectedIndex]="selectedStepIndex">
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <mat-step
        label="Select Channel Type"
        [stepControl]="firstStep"
        [editable]="isTypeEditable"
      >
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="center center"
          class="source-container"
        >
          <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="space-around space-around"
            class="source-list"
          >
            <mat-card
              class="mat-elevation-z3"
              [class.selected]="selectedSource === source.uid"
              *ngFor="let source of sources"
              fxFlex="31"
              fxLayout="row"
              [attr.e2e]="source.name"
              fxLayoutAlign="start center"
              (click)="sourceSelected(source)"
              [class.no-click]="source.supported === false"
            >
              <div>{{ source.name }}</div>
              <div fxFlex></div>
              <img [src]="source.imgsrc" [attr.alt]="source.name" />
            </mat-card>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="end center"
          style="height: 15%;"
        >
          <button
            mat-raised-button
            color="primary"
            e2e="create-channel-next-button"
            matStepperNext
            [disabled]="selectedSource === ''"
            i18n
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step label="Channel Details">
        <ng-container [ngSwitch]="selectedSource">
          <sftp-source
            #sftpForm
            *ngSwitchCase="uid.SFTP"
            [channelData]="channelData"
            [opType]="opType"
          ></sftp-source>
          <api-source
            #apiForm
            *ngSwitchCase="uid.API"
            [channelData]="channelData"
            [opType]="opType"
          ></api-source>
        </ng-container>
        <mat-divider></mat-divider>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="space-between center"
          style="height: 20%;"
        >
          <button
            mat-raised-button
            color="primary"
            *ngIf="isTypeEditable"
            matStepperPrevious
            e2e="channel-prev-btn"
          >
            Previous
          </button>
          <button
            mat-stroked-button
            color="primary"
            *ngIf="!isTypeEditable"
            (click)="onCancelClick()"
            color="warn"
            e2e="channel-cancel-btn"
            matStepperPrevious
          >
            Cancel
          </button>
          <button
            e2e="channel-test-connect-btn-model"
            mat-stroked-button
            color="primary"
            (click)="testChannel(detailsFormTestValue)"
            i18n
            [disabled]="!isDetailsFormValid"
          >
            <mat-icon
              fontIcon="icon-query-mode"
              style="vertical-align: bottom;"
            ></mat-icon>
            Test Connectivity
          </button>
          <button
            e2e="channel-create-btn"
            mat-raised-button
            *ngIf="opType === 'create'"
            color="primary"
            type="submit"
            [disabled]="!isDetailsFormValid"
            (click)="createSource(detailsFormValue)"
            i18n
          >
            Create
          </button>
          <button
            e2e="channel-update-btn"
            mat-raised-button
            *ngIf="opType === 'update'"
            color="primary"
            type="submit"
            [disabled]="!isDetailsFormValid"
            (click)="createSource(detailsFormValue)"
            i18n
          >
            Update
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
