analyze-card-view {
  display: block;
  height: calc(100vh - 74px - 60px - 64px);
  overflow: auto;
  background-color: whitesmoke;

  .analyze-card-view__no-results {
    width: 100%;
    color: #B2B2B2;
    text-align: center;

    span {
      font-size: 28px;
      word-break: break-word;
    }
  }
}
