<js-plumb-table-u *ngFor="let artifact of artifacts; trackBy: index"
                  class="jsp-table"
                  (change)="onChange($event)"
                  [artifact]="artifact"
                  [plumbInstance]="_jsPlumbInst">
</js-plumb-table-u>

<js-plumb-connector-u *ngFor="let join of joins; trackBy: index; let i = index"
             (change)="onJoinChange($event)"
             [join]="join"
             [index]="i"
             [plumbInstance]="_jsPlumbInst">
</js-plumb-connector-u>

