:host {
  height: 99%;
  width: 100%;

  mat-card {
    padding: 3px;
    border-radius: 3px;
    background-size: contain;
    background-image: linear-gradient(to right, black 0%, #434343 100%);
    color: white;
  }
}
