<analyze-dialog control="$ctrl" class="analyze-save-dialog">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="SAVE_REPORT"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <div class="ars-content" layout-padding>
      <md-input-container class="md-block" md-no-float>
        <label translate="REPORT_NAME"></label>
        <input type="text" placeholder="Name your analysis"
               ng-model="$ctrl.model.name"/>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <label translate="DESCRIPTION"></label>
        <textarea type="text" placeholder="Describe the analysis"
                  ng-model="$ctrl.model.description"></textarea>
      </md-input-container>

      <div layout="column">
        <label translate="MY_ANALYSIS_CATEGORY"></label>
        <md-select placeholder="Select a Category"
                   ng-model="::$ctrl.model.categoryId">
          <md-optgroup ng-repeat="category in $ctrl.dataHolder" label="{{::category.name}}">
            <md-option
              ng-repeat="subCategory in category.children"
              ng-bind="::subCategory.name"
              ng-value="subCategory.id"></md-option>
          </md-optgroup>
        </md-select>
      </div>
    </div>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.save()"
                 translate="SAVE">
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.hide()"
                 translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
