<div class="grid-container" fxFill>
  <dx-data-grid #dsGrid fxFlex [dataSource]="gridData" [rowAlternationEnabled]="true" [height]="'100%'" [width]="'100%'" keyExpr="id"
                                                                                                                         [showBorders]="false" [showColumnLines]="false" [hoverStateEnabled]="true">
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column caption="Datapod Name" dataField="metricName" cellTemplate="nameTemplate"></dxi-column>
    <dxi-column caption="Created By" dataField="createdBy" cellTemplate="cellTemplate"></dxi-column>
    <dxi-column caption="Updated Time" dataField="createdAt" dataType="date" cellTemplate="dateTemplate"></dxi-column>
    <dxi-column caption="Actions" dataField="id" cellTemplate="actionsTemplate" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
    <div *dxTemplate="let data of 'nameTemplate'">
      <a (click)="viewDetails(data.data)" [innerHTML]="data.value | highlight: searchTerm"></a>
    </div>
    <div *dxTemplate="let data of 'cellTemplate'">
      <span [innerHTML]="data.value | highlight: searchTerm"></span>
    </div>
    <div *dxTemplate="let data of 'dateTemplate'">
      <span [innerHTML]="data.value * 1000 | date: 'short' | highlight: searchTerm"></span>
    </div>
    <div *dxTemplate="let data of 'actionsTemplate'">
      <datapod-actions [dpMetadata]="pod"></datapod-actions>
    </div>
    <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
  </dx-data-grid>
</div>
