span.filter-counter {
  font-weight: 600;
}

button.filter-clear-all {
  text-align: left;
  padding-left: 0;
  min-height: 24px;
  line-height: 15px;
}

mat-chip-list {
  padding: 0 0 0 20px;

  .mat-chip-list-wrapper > .mat-chip {
    margin-bottom: 5px;
  }
}
