- name: Migrate Security Service database password from old location
  fetch:
    src: /etc/bda/saw-security-db-password
    dest: "{{ inventory_dir + '/sip-security-db-password' }}"
    flat: yes
    fail_on_missing: no
  when: "groups['saw-security'].index(inventory_hostname) == 0"
- name: Look up Security Service database password
  set_fact:
    saw_security_db_password: >-
      {{ lookup('password', inventory_dir
        + '/sip-security-db-password chars=ascii_letters,digits') }}
- name: Set the SAW Security Service database password
  copy:
    content: "{{ saw_security_db_password }}"
    dest: /etc/bda/saw-security-db-password
- name: Create SAW Security group
  group: name=saw
- name: Create SAW Security user
  user: name=saw group=saw
- name: Create BDA directory
  file: path=/etc/bda state=directory
- name: Create SAW Security variables file
  template: src=saw-security.vars dest=/etc/bda/saw-security.vars
- name: Copy SAW Security package
  copy: src="{{ item }}" dest=/tmp/saw-security.rpm
  with_fileglob: ["../rpms/saw-security-*.rpm"]
- name: Install SAW Security package
  yum: name=/tmp/saw-security.rpm state=present
  notify:
    - restart saw-security
- name: Run SAW Security configuration initialization
  command: /opt/bda/saw-security/bin/conf_init
- name: Run SAW Security initial database setup
  command: /opt/bda/saw-security/db/setup/init
  # Note: Run database initialization only on one of the nodes
  when: "groups['saw-security'].index(inventory_hostname) == 0"
- name: Enable SAW Security service
  systemd: name=saw-security enabled=true daemon_reload=true
