:host {
  display: block;

  mgl-map {
    height: calc(100vh - 54px - 64px - 65px);
    width: 100%;
  }
}

::ng-deep .marker-cluster {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4f615a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #56C498;
  cursor: pointer;
}

.marker {
  width: 25px;
  height: 41px;
  background-image: url('/assets/img/additional-icons/marker-icon.png');
}
