<mgl-map *ngIf="source"
    [style]="mapStyle"
    [zoom]="[6]"
    [center]="center"
>
  <mgl-control mglNavigation>
  </mgl-control>
  <mgl-control mglGeocoder
               position="top-left">
  </mgl-control>

  <!-- <mgl-marker *ngFor="let datum of data" [lngLat]="datum.lnglat"
  >
    <sncr-marker [fields]="dataFields" [data]="datum"
    ></sncr-marker>
  </mgl-marker> -->

  <mgl-marker-cluster *ngIf="source"
                      [data]="source"
                      [maxZoom]="14"
                      [radius]="50"
  >
    <ng-template mglPoint let-feature>
      <div
        class="marker"
        title="Whatever"
      >
      {{ feature.properties?.label }}
      </div>
    </ng-template>
    <ng-template mglClusterPoint let-feature>
      <div
        class="marker-cluster"
        (click)="selectCluster($event, feature)"
      >
        {{ feature.properties?.point_count }}
      </div>
    </ng-template>
  </mgl-marker-cluster>
</mgl-map>
