.snapshot-card {
  .snapshot-card-title {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    color: @card-content-main-color;
  }

  .snapshot-card-title-val {
    margin: 0 5px;
  }

  md-card-content {
    padding: 8px 16px 16px 16px;
  }

  md-card-header {
    padding: 16px;
  }


  md-card-content {
    align-items: flex-start;
    flex-direction: column;
  }

  snapshot-bar-chart {
    padding-right: 16px;
  }

  .snapshot-card-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #8496A0;
    padding: 5px 0;
  }

  .snapshot-card-val {
    font-size: 14px;
    color: @card-content-main-color;
  }

  .snapshot-card-range {
    .snapshot-card-val {
      margin-left: 10px;
    }
  }
}

.snapshot-card-big-value {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 15px 0;
}

.alerts-card {
  .alerts-card-time {
    float: right;
  }
}

.alerts-card .alerts-card-title,
.snapshot-card .snapshot-card-title {
  font-weight: bold;
  font-size: 18px;
}

.snapshot-card,
.alerts-card {
  font-size: 12px;
  line-height: 18px;
}

.preview-chart-card {
  md-card-footer {
    padding: 24px;
  }
}

.expandable-card {
  md-card-header::after {
    display: block;
    border-bottom: 1px solid #D1D3D3;
    content: '';
    margin-top: 20px;
  }
}