.snapshot-card {
  .snapshot-card-title {
    flex: 1;
  }

  md-card-content, md-card-header {
    padding: 16px;
  }

  md-card-content {
    align-items: flex-start;
    flex-direction: column;
  }
}

.snapshot-card-value {
  font-size: 36px;
  line-height: 36px;
  margin: 5px 0;
}

.alerts-card {
  .alerts-card-time {
    float: right;
  }
}

.alerts-card .alerts-card-title,
.snapshot-card .snapshot-card-title {
  font-weight: bold;
  font-size: 18px;
}

.snapshot-card,
.alerts-card {
  font-size: 12px;
  line-height: 18px;
}