.ui-grid {
  .ui-grid-cell {
    height: 36px !important;
    color: #575757;
    font-size: 14px;

    .ui-grid-cell-contents {
      padding: 0 5px;
      line-height: 36px;
    }
  }

  .ui-grid-column-menu-button .ui-grid-icon-angle-down {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
  }

  [class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
    margin-right: 0;
  }
}