[Unit]
Description=SAW Quartz scheduler

[Service]
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-quartz-scheduler-service/saw-quartz-scheduler.jar --spring.config.location=/opt/bda/saw-quartz-scheduler-service/conf/application.yml"
SyslogIdentifier=saw-quartz-scheduler
User=mapr
Restart=on-failure

[Install]
WantedBy=default.target
