@import 'themes/base/colors';

.sidenav-container {
  position: fixed !important;
  width: 300px;
  background-color: $primary-blue-b2 !important;
  color: white !important;

  .menu-logo {
    height: 63.9px;
    border-bottom: 0.1px solid #D1D3D3;
    padding-left: 18%;
  }
}

sidenav {
  z-index: 80;

  .menu-icon-btn {
    font-size: 24px !important;
    position: fixed;
    margin: -47px 0 1px 10px;
    cursor: pointer;
  }

  mat-sidenav {
    &.sidenav-closed:not(.ng-animating) * {
      display: none;
    }
  }
}

.sidemenu.backdrop {
  width: 600%;
  height: 900px;
  margin-top: -22px;
}
