.sidenav-container {
  position: fixed !important;
  width: 20%;
  margin-top: 64px;
}

sidenav {
  z-index: 80;

  div mat-icon {
    font-size: 24px;
    position: fixed;
    margin: -47px 0 1px 10px;
  }

  mat-sidenav {
    &.sidenav-closed:not(.ng-animating) * {
      display: none;
    }
  }
}

.sidebar-header {
  border-bottom: 1px solid #EEE;

  h3 {
    padding-left: 7px;
  }
}

.sidemenu.backdrop {
  width: 600%;
  height: 900px;
  margin-top: -22px;
}
