<header class="base-dialog__header">
  <strong>
    {{ operation }} Attributes - {{ data?.groupSelected?.securityGroupName }}
  </strong>
</header>
<div class="base-dialog__content">
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div class="errors" *ngIf="errorState">
      <span [innerHtml]="errorMessage"></span>
    </div>

    <mat-accordion style="margin-bottom: 10px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preview Expression
          </mat-panel-title>
        </mat-expansion-panel-header>

        <code
          [innerHTML]="
            previewString ||
            'Filters might be missing or invalid. Please add fields below or check for errors.'
          "
          >{{
        </code>
      </mat-expansion-panel>
    </mat-accordion>
    <dsk-filter-group
      [data] = "data"
      [filterGroup]="dskFilterObject"
      (onChange)="updateFilter($event)"
    ></dsk-filter-group>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="base-dialog__actions"
>
  <button
    (click)="submit()"
    e2e="save-attributes-btn"
    color="primary"
    [disabled]="errorState"
    mat-raised-button
  >
    Save
  </button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</div>
