<header class="base-dialog__header" [attr.e2e]="'filter-dialog-header-text'">
  <span [ngSwitch]="data.mode">
    <strong *ngSwitchCase="'ANALYZE'">
      {{data.isInRuntimeMode ? 'Enter Prompt Values' : 'Filters'}}
    </strong>
    <strong *ngSwitchCase="'DSK'">
      {{ operation }} Attributes - {{ data?.groupSelected?.securityGroupName }}
    </strong>
  </span>
</header>
<div class="base-dialog__content">
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div class="errors" *ngIf="errorState">
      <span [innerHtml]="errorMessage"></span>
    </div>
    <h3 *ngIf="!data.isInRuntimeMode"> Filters </h3>
    <dsk-filter-group
      *ngIf="(!data.isInRuntimeMode && data.mode === 'ANALYZE') || data.mode === 'DSK'"
      [data]="data"
      [filterGroup]="dskFilterObject"
      [showGlobalOption]="showGlobalOption"
      (onChange)="updateFilter($event)"
    ></dsk-filter-group>

    <filter-prompt-layout
      *ngIf="data.isInRuntimeMode"
      [data]="data"
      [filterGroup]="dskFilterObject"
      [showGlobalOption]="showGlobalOption"
      (onChange)="updateFilter($event)"
    >
    </filter-prompt-layout>

    <div class="analyze-aggregate-filters" *ngIf="data.mode === 'ANALYZE' && data.supportsAggregationFilters">
        <h3> Aggregated Filters </h3>
        <div class="filter__table-name">
          {{ data.artifacts[0].artifactName }}
        </div>
        <mat-divider></mat-divider>
        <aggregated-filters
          [data]="data"
          *ngFor="let agfilter of aggregatedFilters; let i = index;trackBy: filterRowTrackBy"
          (removeRequest)="removeAggrFilter(i)"
          (filterChange)="onFilterChange($event)"
          [filter]='agfilter'
        >
        </aggregated-filters>
        <button
          mat-icon-button
          [attr.e2e]="'aggregate-filter-add-btn-'"
          (click)="addaggregateFilter()"
          *ngIf="!data.isInRuntimeMode"
        >
          <mat-icon fontIcon="icon-plus"></mat-icon>
        </button>
      </div>

    <mat-accordion style="margin-top: 10px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preview Expression
            <mat-divider></mat-divider>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row">
          <div style="width: 83%;">

              <code
              [innerHTML]="
                previewString ||
                ''
              "
              >
            </code>

            <code
              [innerHTML]="fetchAggregatedFilters(aggregatedFilters) || ''"
              *ngIf="data.mode === 'ANALYZE'"
              style="margin-left: 50px;"
              >
            </code>
          </div>
          <div fxLayout="column"
          *ngIf="data.mode === 'ANALYZE'"
          >
          <div fxLayout="row" style="margin-bottom: 2px;">
            <div class="index-box-boolean">

            </div>
            <div class="condition-type">
              Boolean Creteria
            </div>
          </div>


          <div fxLayout="row" style="margin-bottom: 2px;">
            <div class="index-box-operator">

            </div>
            <div class="condition-type">
              Operator
            </div>
          </div>


            <div fxLayout="row" style="margin-bottom: 2px;">
              <div class="index-box-prompt">

              </div>
              <div class="condition-type">
                Prompt Filter
              </div>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="base-dialog__actions"
>
  <button
    (click)="submit()"
    e2e="save-attributes-btn"
    color="primary"
    [disabled]="errorState"
    mat-raised-button
  >
    {{ data.mode === 'ANALYZE' ? 'Apply Filters' : 'Save'}}
  </button>
  <button [attr.e2e]="'designer-dialog-cancel'" mat-button mat-dialog-close i18n>Cancel</button>
</div>
