<header class="base-dialog__header">
  <span [ngSwitch]="data.mode">
    <strong *ngSwitchCase="'ANALYZE'">
      Filter
    </strong>
    <strong *ngSwitchCase="'DSK'">
      {{ operation }} Attributes - {{ data?.groupSelected?.securityGroupName }}
    </strong>
  </span>
</header>
<div class="base-dialog__content">
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div class="errors" *ngIf="errorState">
      <span [innerHtml]="errorMessage"></span>
    </div>

    <mat-accordion style="margin-bottom: 10px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preview Expression
          </mat-panel-title>
        </mat-expansion-panel-header>

        <code
          [innerHTML]="
            previewString ||
            'Filters might be missing or invalid. Please add fields below or check for errors.'
          "
          >{{
        </code>
      </mat-expansion-panel>
    </mat-accordion>
    <dsk-filter-group
      [data]="data"
      [filterGroup]="dskFilterObject"
      (onChange)="updateFilter($event)"
    ></dsk-filter-group>
  </div>

  <div class="analyze-aggregate-filters" *ngIf="data.mode === 'ANALYZE' && data.supportsAggregationFilters">
    <h3> Aggregated Filters </h3>
    <div class="filter__table-name">
      {{ data.artifacts[0].artifactName }}
    </div>
    <mat-divider></mat-divider>
    <aggregated-filters
      [data]="data"
      *ngFor="let agfilter of aggregatedFilters; let i = index;trackBy: filterRowTrackBy"
      (removeRequest)="removeAggrFilter(i)"
      (filterChange)="onFilterChange($event)"
      [filter]='agfilter'
    >
    </aggregated-filters>
    <button
      mat-icon-button
      [attr.e2e]="'aggregate-filter-add-btn-'"
      (click)="addaggregateFilter()"
    >
      <mat-icon fontIcon="icon-plus"></mat-icon>
    </button>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="base-dialog__actions"
>
  <button
    (click)="submit()"
    e2e="save-attributes-btn"
    color="primary"
    [disabled]="errorState"
    mat-raised-button
  >
    {{ data.mode === 'ANALYZE' ? 'Apply Filters' : 'Save'}}
  </button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</div>
