@import 'src/themes/base/colors';

:host {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

::ng-deep code {
  .bool-op {
    color: $primary-blue-b2;
  }

  .operator {
    color: $secondary-orange;
  }
}

::ng-deep add-attribute-dialog {
  max-width: 100%;
  width: 100%;

  .base-dialog__header {
    padding: 0 0 10px;
    border-bottom: 1px solid #999;

    strong {
      font-size: 20px;
      color: #5c6670;
    }
  }

  .base-dialog__content {
    padding: 10px !important;
    max-height: 450px;
    overflow: auto;

    .mat-form-field {
      width: 100%;
    }

    .form-field {
      margin-bottom: 5px;
    }

    div .errors {
      width: 100%;
      text-align: center;
      color: red;
    }

    .seperator {
      width: 100px;
      margin: 19px 0 0 27px;
      font-weight: bold;
    }
  }

  .base-dialog__actions {
    padding-top: 10px;
    border-top: 1px solid #999;
  }

  .red {
    color: #e53935;
  }
}

.analyze-aggregate-filters {
  padding: 5px;

  div {
    color: var(--theme-primary-600);
  }

  mat-divider {
    height: 10px;
  }
}
