<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" style="width: 100vw;">
  <div fxLayout="row" fxFlex="10">
    <div class="admin-title">Export Analysis</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="87" style="height: auto;">
    <mat-form-field class="select-form-field"
                    appearance="outline"
                    (mouseenter)= "onFocus()"
                    (mouseleave)= "onBlur()"
    >
      <mat-label i18n>
        <ng-container *ngIf="selectedMetrics.length === 0">
          {{isMetricSelectorFocused ? 'Metric' : 'Select a metric'}}
        </ng-container>
        <ng-container *ngIf="selectedMetrics.length === 1">
          Metric
        </ng-container>
        <ng-container *ngIf="selectedMetrics.length > 1">
          Metrics
        </ng-container>

      </mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let metric of selectedMetrics; let i = index"
          [selectable]="false"
          [removable]="true"
          (removed)="onRemove(i)">
          {{metric.metricName}}
          <mat-icon matChipRemove fontIcon="icon-remove"></mat-icon>
        </mat-chip>
        <input
          #metricInput
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [formControl]="metricCtrl"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"/>
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let metric of unSelectedMetrics | async" [value]="metric">
          {{metric.metricName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary"
          (click)="export()"
          [disabled]="isEmpty(analyses) || !isAtLeastOneAnalysisSelected"
          i18n
  >
    Export
  </button>
</mat-toolbar>

<admin-export-list *ngIf="!isEmpty(analyses)" [analyses]="analyses" (validityChange)="onValidityChange($event)">
</admin-export-list>
