<md-card>
  <md-card-header layout="row" layout-align="end start">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate="LIST"></span>
      </md-card-title-text>
    </md-card-title>
  </md-card-header>

  <md-card-content layout="row">
    <div dx-data-grid="$ctrl.gridConfig" dx-item-alias="report">
        <div data-options="dxTemplate: { name: 'nameCellTemplate' }" >
            <span class="clickable" ng-bind-html="::report.value | highlight:$ctrl.searchTerm"
                  ng-click="$ctrl.goToLastPublishedAnalysis(report.data.id)"></span>
      </div>
      <div data-options="dxTemplate: { name: 'metricsCellTemplate' }">
        <span ng-bind-html="report.value | highlight:$ctrl.searchTerm"></span>
      </div>
      <div data-options="dxTemplate: { name: 'typeCellTemplate' }">
        <md-chip class="tag-chip">
          <span ng-bind-html="report.value | highlight:$ctrl.searchTerm"></span>
        </md-chip>
      </div>
      <div data-options="dxTemplate: { name: 'actionCellTemplate' }">
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-button btn-card" aria-label="Fork"
                  ng-click="$ctrl.fork(report.data)">
            <md-tooltip ng-bind="'TOOLTIP_FORK_ANALYSIS' | translate"></md-tooltip>

            <md-icon md-font-icon="icon-fork"></md-icon>
          </md-button>

          <md-menu-bar>
            <md-menu>
              <md-button class="md-button btn-card" aria-label="More"
                          ng-click="$mdMenu.open()">
                <md-icon md-font-icon="icon-more"></md-icon>
              </md-button>

              <md-menu-content>
                <md-menu-item>
                  <md-button aria-label="Execute"
                              ng-click="$ctrl.execute(report.data.id)"
                              translate="EXECUTE">
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button aria-label="Edit"
                              ng-click="$ctrl.edit(report.data)"
                              translate="EDIT">
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button aria-label="Delete"
                              ng-click="$ctrl.openDeleteModal(report.data)">
                    <span translate="DELETE" md-colors="{color: 'warn'}"></span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </md-card-actions>
      </div>
    </div>
  </md-card-content>
</md-card>
