<form [formGroup]="saveForm">
  <div fxLayout="column" style="width: 400px;">
    <mat-form-field>
      <input
        matInput
        (input)="onNameChange($event.target.value)"
        [value]="analysis.name"
        e2e="save-dialog-name"
        autocomplete="off"
        placeholder="Name"
        formControlName="name"
        required
      />
      <mat-error *ngIf="saveForm.hasError('required', ['name'])"
        >This field is required
      </mat-error>
      <mat-error *ngIf="saveForm.value.name.length > 100" i18n>
        <strong> {{ displayErrorMessage('nameLength') }} </strong>
      </mat-error>
      <mat-error *ngIf="saveForm.hasError('nameIsInValid', ['name'])" i18n>
        <strong> {{ displayErrorMessage('specialChars') }} </strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        (input)="onDescriptionChange($event.target.value)"
        [value]="analysis.description"
        placeholder="Description"
        e2e="save-dialog-description"
        autocomplete="off"
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="10"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        formControlName="category"
        e2e="category-list"
        (selectionChange)="onCategorySelect($event)"
      >
        <mat-optgroup
          *ngFor="let category of categories"
          [label]="category.name"
        >
          <mat-option
            *ngFor="let subCategory of fetchChildren(category.children)"
            [value]="subCategory.id.toString()"
          >
            {{ subCategory.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
</form>
