<md-card layout="column">
  <md-card-title>
    <md-card-title-text>
      <span class="md-title" ng-bind="::$ctrl.analysis.name"></span>
    </md-card-title-text>

    <md-button class="btn-tertiary">
      <md-icon md-font-icon="icon-filter"></md-icon>
      <span translate="FILTER"></span>
    </md-button>
  </md-card-title>

  <div layout="column" layout-align="space-between center">
    <div class="chart-card">
      <chart style="width: 100%" options="$ctrl.barChartOptions"></chart>
    </div>
  </div>
</md-card>

