<mat-expansion-panel
  class="data-option"
  [attr.e2e]="'designer-data-option-' + artifactColumn.displayName"
>
  <mat-expansion-panel-header class="data-option__header">
    <mat-panel-title class="data-option__display-name">
      <mat-icon [fontIcon]="typeIcon"></mat-icon>
      {{ artifactColumn.displayName }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="data-option__fieldset" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex i18n>Alias:</label>
      <mat-form-field appearance="outline" fxFlex="75">
        <input
          matInput
          type="text"
          maxlength="20"
          autocomplete="off"
          [attr.e2e]="'alias-input-' + artifactColumn.displayName"
          (input)="onAliasChange($event.target.value)"
          [value]="artifactColumn.alias || artifactColumn.aliasName || ''"
        />
      </mat-form-field>
    </div>

    <div
      *ngIf="artifactColumn.aggregate"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Aggregate:</label>
      <aggregate-chooser-u
        (change)="onAggregateChange($event)"
        [columnType]="artifactColumn.type"
        [artifactColumn]="artifactColumn"
        [analysisType]="analysisType"
        [aggregate]="artifactColumn.aggregate"
        [sipQuery]="sipQuery"
        [analysisSubtype]="analysisSubtype"
        [enablePercentByRow]="checkChartType()"
        fxFlex="75"
      >
      </aggregate-chooser-u>
    </div>

    <div
      *ngIf="analysisType === 'chart' && chartDisplayType"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Chart type:</label>
      <designer-combo-type-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        [comboTypes]="comboTypes"
        fxFlex="75"
      >
      </designer-combo-type-selector>
    </div>

    <div
      *ngIf="
        analysisType === 'chart' &&
        asChartColumn(artifactColumn).area === 'y' &&
        fieldCount < 2
      "
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Limit:</label>
      <designer-data-limit-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        fxFlex="75"
      >
      </designer-data-limit-selector>
    </div>

    <div
      *ngIf="analysisType === 'pivot' && hasDateInterval"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <label fxFlex i18n>Group interval:</label>
      <designer-date-interval-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        fxFlex="75"
      >
      </designer-date-interval-selector>
    </div>
    <div
      *ngIf="
        (analysisType !== 'pivot' && hasDateInterval) ||
        (analysisType === 'pivot' &&
          hasDateInterval &&
          asPivotColumn(artifactColumn).groupInterval === 'day')
      "
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Format:</label>
      <designer-date-format-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        [analysisType]="analysisType"
        fxFlex="75"
      >
      </designer-date-format-selector>
    </div>

    <div
      *ngIf="analysisType === 'pivot' && isDataField"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Format:</label>
      <designer-data-format-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        fxFlex="75"
      >
      </designer-data-format-selector>
    </div>

    <div
      *ngIf="
        (analysisType | isAnalysisType: 'mapChart':analysisSubtype) &&
        artifactColumn.geoType
      "
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <label fxFlex i18n>Region:</label>
      <designer-region-selector
        (change)="change.emit($event)"
        [artifactColumn]="artifactColumn"
        fxFlex="75"
      >
      </designer-region-selector>
    </div>

    <div
      *ngIf="!!artifactColumn.formula"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      class="data-option__formula"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <label fxFlex>Formula:</label>
        <button
          mat-icon-button
          matTooltip="Edit Formula"
          (click)="
            change.emit({
              subject: 'updateDerivedMetric',
              column: artifactColumn
            })
          "
        >
          <mat-icon fontIcon="icon-edit"></mat-icon>
        </button>
      </div>
      <pre>{{ artifactColumn.formula }}</pre>
    </div>

    <div *ngIf="isDataField">
      <custom-color-picker
        [config]="colorPickerConfig"
        [bgColor]="artifactColumn.seriesColor || '#ffffff'"
        (change)="selectedColor($event)"
      >
      </custom-color-picker>
    </div>
  </div>
</mat-expansion-panel>
