<div>
  <h1>Login</h1>

  <div class="login-info">
    <span>Use the login credentials given at time of sign up. If you don't</span>
    <br/>
    <span>have an account yet contact your system administrator</span>
  </div>

  <form name="loginForm" class="login-form" method="post">
    <div class="error-msg"
         [innerHtml]="states.error"></div>

    <mat-form-field>
      <input matInput maxlength="30" [(ngModel)]="dataHolder.username"  [ngModelOptions]="{standalone: true}" placeholder="Username" required />
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput type="password" maxlength="30" [(ngModel)]="dataHolder.password"  placeholder="Password" [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>

    <div class="login-buttons button-row">
      <button mat-button color="primary" (click)="reset()">Forgot Password?</button>
      <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
    </div>
  </form>
</div>
