.login-form mat-form-field {
  width: 100%;
}

.login-buttons {
  .mat-button {
    padding: 0 !important;
  }

  .mat-raised-button {
    float: right;
  }
}

layout-footer .powered-logo-container {
  margin-left: 46% !important;
}

