<div>
  <h1>Login</h1>

  <div class="login-info">
    <span>Use the login credentials given at time of sign up. If you don't</span>
    <br/>
    <span>have an account yet contact your system administrator</span>
  </div>

  <form name="loginForm" method="post">
    <div class="error-msg"
         ng-bind="$ctrl.states.error"></div>

    <label>Username</label>
    <mat-form-field>
      <input matInput maxlength="30" [(ngModel)]="dataHolder.username"  [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>
    <br/>

    <label>Password</label>
    <mat-form-field>
      <input matInput type="password" maxlength="30" [(ngModel)]="dataHolder.password"  [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>

    <div class="login-buttons"
         layout="row" layout-align="space-between center">
      <button mat-button (click)="reset()" class="md-primary">Forgot Password?</button>
      <button mat-button class="btn-primary"
                 type="submit"
                 (click)="login()">Login
      </button>

    </div>
  </form>
</div>
