@import "src/themes/base/colors";

:host {
  display: block;
}

.mat-expansion-panel-header {
  height: 34px;
}

.mat-expansion-panel {
  background-color: $report-designer-settings-bg-color;
}

.data-option__fieldset {
  font-size: 11px;
}

.data-option__display-name {
  color: $primary-blue-b1;
  font-size: 11px;
}
