<dx-data-grid
  [customizeColumns]="config.customizeColumns"
  [columnAutoWidth]="config.columnAutoWidth"
  [columnMinWidth]="config.columnMinWidth"
  [columnResizingMode]="config.columnResizingMode"
  [allowColumnReordering]="config.allowColumnReordering"
  [allowColumnResizing]="config.allowColumnResizing"
  [showColumnHeaders]="config.showColumnHeaders"
  [showColumnLines]="config.showColumnLines"
  [showRowLines]="config.showRowLines"
  [showBorders]="config.showBorders"
  [rowAlternationEnabled]="config.rowAlternationEnabled"
  [hoverStateEnabled]="config.hoverStateEnabled"
  [wordWrapEnabled]="config.wordWrapEnabled"
  [scrolling]="config.scrolling"
  [sorting]="config.sorting"
  [dataSource]="analyses | async"
  [columns]="config.columns"
  [pager]="config.pager"
  [paging]="config.paging"
  [width]="config.width"
  [height]="config.height"
>
  <div *dxTemplate="let cell of 'selectionCellTemplate'">
    <mat-checkbox
      (change)="onItemToggled($event, cell.data)"
      [checked]="isSelectedForExport$(cell.data) | async"
    >
    </mat-checkbox>
  </div>
</dx-data-grid>
