@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v6f2m8');
  src:  url('fonts/icomoon.eot?v6f2m8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v6f2m8') format('truetype'),
    url('fonts/icomoon.woff?v6f2m8') format('woff'),
    url('fonts/icomoon.svg?v6f2m8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group-by-column:before {
  content: "\e915";
}
.icon-collapse:before {
  content: "\e91f";
}
.icon-expand:before {
  content: "\e92a";
}
.icon-search:before {
  content: "\e930";
}
.icon-remove:before {
  content: "\e931";
}
.icon-trash:before {
  content: "\e932";
}
.icon-chart:before {
  content: "\e933";
}
.icon-menu:before {
  content: "\e934";
}
.icon-column-options .path1:before {
  content: "\e900";
  color: rgb(92, 102, 112);
}
.icon-column-options .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(209, 211, 211);
}
.icon-arrow-down-circled .path1:before {
  content: "\e902";
  color: rgb(132, 150, 160);
}
.icon-arrow-down-circled .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-up-circles .path1:before {
  content: "\e905";
  color: rgb(132, 150, 160);
}
.icon-arrow-up-circles .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bell-list:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-card-view:before {
  content: "\e90a";
}
.icon-chart-placeholder:before {
  content: "\e90b";
}
.icon-chart-view:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-description:before {
  content: "\e90e";
}
.icon-designer-mode:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-eye-disabled:before {
  content: "\e912";
}
.icon-filter:before {
  content: "\e913";
}
.icon-full-screen:before {
  content: "\e914";
}
.icon-hor-bar-chart:before {
  content: "\e916";
}
.icon-inner-join .path1:before {
  content: "\e917";
  color: rgb(189, 206, 215);
}
.icon-inner-join .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-inner-join .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-key:before {
  content: "\e91a";
}
.icon-launchpad:before {
  content: "\e91b";
}
.icon-left-join .path1:before {
  content: "\e91c";
  color: rgb(189, 206, 215);
}
.icon-left-join .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-left-join .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-More:before {
  content: "\e920";
}
.icon-navicon:before {
  content: "\e921";
}
.icon-pivot:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-print:before {
  content: "\e924";
}
.icon-query-mode:before {
  content: "\e925";
}
.icon-report:before {
  content: "\e926";
}
.icon-right-join .path1:before {
  content: "\e927";
  color: rgb(189, 206, 215);
}
.icon-right-join .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-right-join .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(139, 156, 165);
}
.icon-sort:before {
  content: "\e92b";
}
.icon-table-view:before {
  content: "\e92c";
}
.icon-upload:before {
  content: "\e92d";
}
.icon-user-placeholder:before {
  content: "\e92e";
}
.icon-vert-bar-chart:before {
  content: "\e92f";
}

