<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{dd MMM yyyy HH:mm:ss,SSS} [%level] %date %thread %logger %line - %message%n%xException</pattern>
    </encoder>
  </appender>
  <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
  <logger level="DEBUG" name="sncr.saw.common.config">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger level="DEBUG" name="com.synchronoss.saw">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger level="TRACE" name="com.synchronoss.sip">
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
