@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$font-source-sans-pro: 'Source Sans Pro';

body {
  font-family: $font-source-sans-pro;
  font-size: 14px;
  font-weight: 400;
  color: $app-font-color;
}

a {
  font-family: $font-source-sans-pro;
  font-size: 14px;
  font-weight: 600;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}

.link {
  font-family: $font-source-sans-pro;
  font-size: 14px;
  font-weight: 600;
  color: $app-font-color;
  text-decoration: none;
  cursor: pointer;

  &.m-active {
    color: $link-color;
    pointer-events: none;
  }
}

.version-tag {
  color: $primary-grey-g4;
  font-size: 12px;
  margin: 5px;
  align-self: baseline;
}

.highlight {
  background-color: $highlight-bg-color;
}

button, select, html, textarea, input {
  font-family: $font-source-sans-pro !important;
}

.dx-widget {
  font-family: $font-source-sans-pro !important;
  line-height: normal !important;
}
