save-dashboard {
  .mat-dialog-actions {
    flex-direction: row-reverse;
  }

  form {
    min-width: 450px;

    .full-form-field {
      width: 100%;
    }

    mat-select {
      width: 50%;
    }
  }
}
