<div md-dialog-title>
  <span>
    Save Dashboard
  </span>
</div>
<div md-dialog-content>
  <form class="save-dashboard-form">
    <md-form-field class="full-form-field">
      <input mdInput name="dashboardName" placeholder="Dashboard Name"
        [(ngModel)]="dashboard.name" required />
    </md-form-field>
    <md-form-field class="full-form-field">
      <textarea mdInput mdTextareaAutosize [mdAutosizeMaxRows]="6"
        name="dashboardDesc" placeholder="Description"
        [(ngModel)]="dashboard.description">
      </textarea>
    </md-form-field>

    <md-select required name="dashboardCat" placeholder="Category" [(ngModel)]="dashboard.categoryId">
      <md-optgroup *ngFor="let category of categories" [label]="category.name">
        <md-option *ngFor="let subCategory of category.children" [value]="subCategory.id.toString()">
          {{ subCategory.name }}
        </md-option>
      </md-optgroup>
    </md-select>
  </form>
</div>
<div md-dialog-actions>
  <button md-raised-button color="primary" (click)="saveDashboard()"
    [disabled]="!isValid(dashboard)">
    Save
  </button>
  <button md-button color="primary" (click)="closeDashboard()">
    Cancel
  </button>
</div>
