<mat-card
  fxFlex
  FxFill
  fxLayout="column"
  class="add-container mat-elevation-z3"
>
  <div fxFlex class="add-container__body">
    <mat-vertical-stepper
      linear
      #addAlertStepper
      (selectionChange)="onStepperSelectionChange($event)"
      class="add-container__body__stepper"
    >
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="alertDefFormGroup">
        <form [formGroup]="alertDefFormGroup">
          <ng-template matStepLabel>Name your alert</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label>Alert name</mat-label>
              <input
                matInput
                required
                placeholder="Alert Name"
                formControlName="alertRuleName"
                e2e="alertRuleName"
              />

              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleName.hasError('required')
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertDefFormGroup.value.alertRuleName.length > nameLengthLimit
                "
                i18n
              >
                <strong> {{ displayErrorMessage('nameLength') }} </strong>
              </mat-error>
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleName.hasError(
                    'nameIsInValid'
                  )
                "
                i18n
              >
                <strong> {{ displayErrorMessage('specialChars') }} </strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert severity level</mat-label>
              <mat-select
                formControlName="alertSeverity"
                required
                e2e="alertSeverity"
              >
                <mat-option
                  *ngFor="let sev of alertSeverity"
                  [value]="sev.value"
                  [attr.e2e]="sev.value"
                  >{{ sev.value | titlecase }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert status</mat-label>
              <mat-select formControlName="activeInd" e2e="alertStatus">
                <mat-option
                  *ngFor="let stat of alertStatus"
                  [value]="stat.value"
                  [attr.e2e]="stat.name"
                  >{{ stat.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert description</mat-label>
              <textarea
                matInput
                formControlName="alertRuleDescription"
                e2e="alertRuleDescription"
              ></textarea>
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleDescription.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
            </mat-form-field>

            <div>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toSubscriberSelection"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="alertSubscribersFormGroup">
        <form [formGroup]="alertSubscribersFormGroup">
          <ng-template matStepLabel>Select subscribers</ng-template>
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label>Notification</mat-label>
              <mat-select
                formControlName="notification"
                required
                multiple
                e2e="notification"
              >
                <mat-option
                  *ngFor="let notification of notifications$ | async"
                  [value]="notification.value"
                  [disabled]="!notification.enabled"
                  [attr.e2e]="notification.label"
                  >{{ notification.label }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <div
              *ngIf="showNotificationEmail"
              fxLayout="column"
              style="width: 80%;"
            >
              <label i18n>Email</label>
              <email-list
                formControlName="notificationEmails"
                [emails]="
                  alertSubscribersFormGroup.controls.notificationEmails.value
                "
                [allowCustomInput]="false"
                [autoCompleteSuggestions]="subscriberEmails$ | async"
              ></email-list>
            </div>

            <div
              fxFlex="45px"
              fxLayout="row"
              fxLayoutGap="36px"
              class="padtop10"
            >
              <button
                *ngIf="showNotificationEmail"
                color="primary"
                mat-button
                e2e="addNewSubscriber"
                (click)="addSubscriber()"
              >
                + Subscriber
              </button>
              <button
                color="secondary"
                mat-stroked-button
                matStepperPrevious
                e2e="toNameAlert"
              >
                Back
              </button>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toMetricSelection"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="alertMetricFormGroup">
        <form [formGroup]="alertMetricFormGroup">
          <ng-template matStepLabel>Select a metric to monitor</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Datapod</mat-label>
              <mat-select
                (selectionChange)="onDatapodSelected($event?.value)"
                formControlName="datapodId"
                required
                e2e="datapodId"
              >
                <mat-option
                  *ngFor="let datapod of datapods$ | async"
                  [value]="datapod.id"
                  [attr.e2e]="datapod.metricName"
                  >{{ datapod.metricName }}</mat-option
                >
              </mat-select>

              <mat-error
                class="add-container__body__stepper__errmsg"
                fxFlex
                *ngIf="
                  alertMetricFormGroup.controls.datapodId.hasError('required')
                "
                ><small>This field is required </small></mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Metric</mat-label>
              <mat-select
                (selectionChange)="onSelectedMetricsColumn($event?.value)"
                formControlName="metricsColumn"
                required
                e2e="metricsColumn"
              >
                <mat-option
                  *ngFor="
                    let metric of metricsList$
                      | async
                      | filterFn: numericMetricFilter
                  "
                  [value]="metric.columnName"
                  [attr.e2e]="metric.displayName"
                  >{{ metric.displayName }}</mat-option
                >
              </mat-select>
              <mat-error
                class="add-container__body__stepper__errmsg"
                fxFlex
                *ngIf="
                  alertMetricFormGroup.controls.metricsColumn.hasError(
                    'required'
                  )
                "
                ><small>This field is required </small></mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Monitoring type</mat-label>
              <mat-select
                formControlName="monitoringType"
                required
                e2e="monitoringType"
              >
                <mat-option
                  *ngFor="let monitoringType of monitoringTypes$ | async"
                  [value]="monitoringType.id"
                  [attr.e2e]="monitoringType.name"
                  >{{ monitoringType.name }}</mat-option
                >
              </mat-select>
              <mat-error
                *ngIf="
                  alertMetricFormGroup.controls.monitoringType.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Aggregation</mat-label>
              <mat-select
                formControlName="aggregationType"
                required
                e2e="aggregationType"
              >
                <mat-option
                  *ngFor="let aggr of aggregations$ | async"
                  [value]="aggr.id"
                  [attr.e2e]="aggr.name"
                  >{{ aggr.name }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Operator Name</mat-label>
              <mat-select
                placeholder="Operator Name"
                formControlName="operator"
                required
                e2e="alertOperator"
              >
                <mat-option
                  *ngFor="let op of operators$ | async"
                  [value]="op.id"
                  [attr.e2e]="op.name"
                  >{{ op.name }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              *ngIf="showOtherThresholdValue"
            >
              <mat-label>From</mat-label>
              <input
                matInput
                placeholder="Other threshold Value"
                formControlName="otherThresholdValue"
                required
                type="number"
                step="any"
                e2e="otherThresholdValue"
              />
              <mat-error
                *ngIf="
                  alertMetricFormGroup.controls.otherThresholdValue.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertMetricFormGroup.controls.otherThresholdValue.hasError(
                    'pattern'
                  )
                "
                >Only numbers are allowed for other threshold value.</mat-error
              >
            </mat-form-field>
            <mat-error *ngIf="alertMetricFormGroup.errors?.lessThan">
              To should be greater than From.
            </mat-error>
            <mat-form-field appearance="outline">
              <mat-label>{{ thresholdValueLabel }}</mat-label>
              <input
                matInput
                placeholder="Threshold Value"
                formControlName="thresholdValue"
                required
                type="number"
                step="any"
                e2e="alertThresholdValue"
              />

              <mat-error
                *ngIf="
                  alertMetricFormGroup.controls.thresholdValue.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertMetricFormGroup.controls.thresholdValue.hasError(
                    'pattern'
                  )
                "
                >Only numbers are allowed for Threshold value.</mat-error
              >
            </mat-form-field>

            <div
              fxFlex="45px"
              fxLayout="row"
              fxLayoutGap="36px"
              class="padtop10"
            >
              <button
                color="secondary"
                mat-stroked-button
                matStepperPrevious
                e2e="toNameAlert"
              >
                Back
              </button>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toAlertRules"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="alertRuleFormGroup">
        <form [formGroup]="alertRuleFormGroup">
          <ng-template matStepLabel>Alerting Rule</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Lookback column</mat-label>
              <mat-select
                (selectionChange)="onLookbackColumnSelected($event?.value)"
                formControlName="lookbackColumn"
                required
                e2e="lookbackColumn"
              >
                <mat-option
                  *ngFor="
                    let metric of metricsList$
                      | async
                      | filterFn: dateMetricFilter
                  "
                  [value]="metric.columnName"
                  [attr.e2e]="metric.displayName"
                  >{{ metric.displayName }}</mat-option
                >
              </mat-select>
              <mat-error
                class="add-container__body__stepper__errmsg"
                fxFlex
                *ngIf="
                  alertRuleFormGroup.controls.lookbackColumn.hasError(
                    'required'
                  )
                "
                ><small>This field is required </small></mat-error
              >
            </mat-form-field>
            <div
              fxLayout="row"
              fxLayoutAlign="center center"
              style="width: 80%;"
            >
              <mat-form-field appearance="outline" style="width: 50%;">
                <mat-label>Lookback period</mat-label>
                <input
                  matInput
                  required
                  placeholder="Loockback period"
                  formControlName="lookbackPeriodValue"
                  type="number"
                  [readonly]="!alertRuleFormGroup.controls.lookbackColumn.value"
                  e2e="lookbackPeriodValue"
                />
                <mat-error
                  *ngIf="
                    alertRuleFormGroup.controls.lookbackPeriodValue.hasError(
                      'required'
                    )
                  "
                  >This field is required</mat-error
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="lookbackperiodtype-field"
                style="width: 50%;"
              >
                <mat-label>Lookback period type</mat-label>

                <mat-select
                  formControlName="lookbackPeriodType"
                  required
                  e2e="lookbackPeriodType"
                >
                  <mat-option
                    *ngFor="let type of lookbackPeriodTypes"
                    [value]="type"
                    [attr.e2e]="type"
                    >{{ type }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="
                    alertRuleFormGroup.controls.lookbackPeriodType.hasError(
                      'required'
                    )
                  "
                  >This field is required</mat-error
                >
              </mat-form-field>
              <!-- <mat-icon
                class="lookback-period__info-icon"
                fontIcon="icon-info"
                matTooltip="Interval made of weeks, days, hours, minutes. Ex: '2w 3d', '3h', '1w 10m'"
              ></mat-icon> -->
            </div>
            <div style="width: 80%;">
              <mat-checkbox
                formControlName="triggerOnLookback"
                e2e="triggerOnLookback"
              >
                Trigger on lookback
              </mat-checkbox>
            </div>

            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect padtop10"
            >
              <mat-label>Attribute filter column</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                formControlName="attributeName"
                [items]="metricsList$ | async | filterFn: stringMetricFilter"
                displayExpr="displayName"
                valueExpr="columnName"
                [searchEnabled]="true"
                placeholder="Select a column"
                (onSelectionChanged)="
                  onAttributeColumnSelected($event?.selectedItem)
                "
                e2e="attributeName"
              ></dx-select-box>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect padtop10"
            >
              <mat-label>Attribute filter value</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                formControlName="attributeValue"
                [items]="attributeValues$ | async"
                [searchEnabled]="true"
                placeholder="Select a value"
                e2e="attributeValue"
              ></dx-select-box>
            </mat-form-field>

            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="36px"
              class="padtop10"
            >
              <button
                color="secondary"
                mat-stroked-button
                matStepperPrevious
                e2e="backtoMetricSelection"
              >
                Back
              </button>
              <div fxFlex></div>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toAddStep"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step style="max-height: 100px;">
        <ng-template matStepLabel>Validate and create</ng-template>
        <code>
          <pre class="add-container__body__stepper__validate">{{
            endPayload | json
          }}</pre>
        </code>

        <div fxFlex fxLayout="row" fxLayoutGap="36px" class="padtop10">
          <button
            color="primary"
            mat-stroked-button
            matStepperPrevious
            e2e="backtoAlertRules"
          >
            Back
          </button>
          <div fxFlex></div>
          <button
            *ngIf="alertDefinition.action === 'create'"
            (click)="createAlert()"
            color="primary"
            mat-stroked-button
            e2e="add-alert"
          >
            Add
          </button>
          <button
            *ngIf="alertDefinition.action === 'update'"
            (click)="updateAlert()"
            color="primary"
            mat-stroked-button
            e2e="update-alert"
          >
            Update
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</mat-card>
