<mat-card
  fxFlex
  FxFill
  fxLayout="column"
  class="add-container mat-elevation-z3"
>
  <div fxFlex class="add-container__body">
    <mat-vertical-stepper
      linear
      #addAlertStepper
      (selectionChange)="constructPayload()"
      class="add-container__body__stepper"
    >
      <ng-template matStepperIcon="done">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <mat-icon fontIcon="icon-checkmark"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="alertDefFormGroup">
        <form [formGroup]="alertDefFormGroup">
          <ng-template matStepLabel>Name Your Alert</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="outline">
              <mat-label>Alert Name</mat-label>
              <input
                matInput
                placeholder="Alert Name"
                formControlName="alertRuleName"
                maxlength="18"
                e2e="alertRuleName"
              />
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleName.hasError('required')
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleName.hasError('maxlength')
                "
                >Alert Name cannot exceed 18 characters</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert Severity Level</mat-label>
              <mat-select
                formControlName="alertSeverity"
                required
                e2e="alertSeverity"
              >
                <mat-option
                  *ngFor="let sev of alertSeverity"
                  [value]="sev.value"
                  >{{ sev.value | titlecase }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Notification</mat-label>
              <mat-select
                formControlName="notification"
                required
                e2e="notification"
              >
                <mat-option
                  *ngFor="let notification of notifications$ | async"
                  [value]="notification.value"
                  >{{ notification.label }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert Status</mat-label>
              <mat-select formControlName="activeInd" e2e="alertStatus">
                <mat-option
                  *ngFor="let stat of alertStatus"
                  [value]="stat.value"
                  >{{ stat.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alert Description</mat-label>
              <textarea
                matInput
                formControlName="alertRuleDescription"
                maxlength="36"
                e2e="alertRuleDescription"
              ></textarea>
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleDescription.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.alertRuleDescription.hasError(
                    'maxlength'
                  )
                "
                >Alert Description cannot exceed 36 characters</mat-error
              >
            </mat-form-field>

            <div>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toMetricSelection"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="alertMetricFormGroup">
        <form [formGroup]="alertMetricFormGroup">
          <ng-template matStepLabel>Select a metric to monitor</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect"
            >
              <mat-label>Datapod</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                required
                formControlName="datapodId"
                [items]="datapods$ | async"
                displayExpr="metricName"
                valueExpr="id"
                [searchEnabled]="true"
                placeholder="Select a Datapod"
                (onValueChanged)="onDatapodChanged()"
                (onSelectionChanged)="onDatapodSelected($event?.selectedItem)"
                e2e="datapodId"
              ></dx-select-box>
            </mat-form-field>
            <mat-error
              class="add-container__body__stepper__errmsg"
              fxFlex
              *ngIf="
                alertMetricFormGroup.controls.datapodId.hasError('required')
              "
              ><small>This field is required </small></mat-error
            >

            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect padtop10"
            >
              <mat-label>Monitoring Entity</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                required
                formControlName="monitoringEntity"
                [items]="metricsList$ | async | filterFn: numericMetricFilter"
                displayExpr="displayName"
                valueExpr="columnName"
                [searchEnabled]="true"
                placeholder="Select a monitoring entity"
                [readOnly]="
                  alertMetricFormGroup.controls.datapodId.hasError('required')
                "
                e2e="monitoringEntity"
              ></dx-select-box>
            </mat-form-field>
            <mat-error
              class="add-container__body__stepper__errmsg"
              fxFlex
              *ngIf="
                alertMetricFormGroup.controls.monitoringEntity.hasError(
                  'required'
                )
              "
              ><small>This field is required </small></mat-error
            >
            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect padtop10"
            >
              <mat-label>Entity name</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                required
                formControlName="monitoringEntity"
                [items]="metricsList$ | async"
                displayExpr="displayName"
                valueExpr="columnName"
                [searchEnabled]="true"
                placeholder="Select an Entity"
                [readOnly]="
                  alertMetricFormGroup.controls.datapodId.hasError('required')
                "
                e2e="entityName"
              ></dx-select-box>
            </mat-form-field>
            <mat-error
              class="add-container__body__stepper__errmsg"
              fxFlex
              *ngIf="
                alertMetricFormGroup.controls.entityName.hasError('required')
              "
              ><small>This field is required </small></mat-error
            >

            <mat-form-field
              appearance="outline"
              class="add-container__body__stepper__dxselect padtop10"
            >
              <mat-label>Lookback column</mat-label>
              <input
                hidden="true"
                value="dummy"
                matInput
                placeholder="Placeholder"
              />
              <dx-select-box
                ngDefaultControl
                required
                formControlName="lookbackColumn"
                [items]="metricsList$ | async | filterFn: dateMetricFilter"
                displayExpr="displayName"
                valueExpr="columnName"
                [searchEnabled]="true"
                placeholder="Select a column"
                [disabled]="!alertMetricFormGroup.controls.datapodId.value"
                e2e="lookbackColumn"
              ></dx-select-box>
            </mat-form-field>
            <mat-error
              class="add-container__body__stepper__errmsg"
              fxFlex
              *ngIf="
                alertMetricFormGroup.controls.lookbackColumn.hasError(
                  'required'
                )
              "
              ><small>This field is required </small></mat-error
            >
            <mat-form-field appearance="outline">
              <mat-label>Lookback period</mat-label>
              <input
                matInput
                placeholder="Loockback period"
                formControlName="lookbackPeriod"
                [disabled]="!alertMetricFormGroup.controls.lookbackColumn.value"
                maxlength="20"
                e2e="lookbackPeriod"
              />
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.lookbackPeriod.hasError('required')
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertDefFormGroup.controls.lookbackPeriod.hasError(
                    'maxlength'
                  )
                "
                >Alert Name cannot exceed 20 characters</mat-error
              >
            </mat-form-field>

            <div
              fxFlex="45px"
              fxLayout="row"
              fxLayoutGap="36px"
              class="padtop10"
            >
              <button
                color="secondary"
                mat-stroked-button
                matStepperPrevious
                e2e="toNameAlert"
              >
                Back
              </button>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toAlertRules"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="alertRuleFormGroup">
        <form [formGroup]="alertRuleFormGroup">
          <ng-template matStepLabel>Alerting Rule</ng-template>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
              <mat-label>Aggregation </mat-label>
              <mat-select formControlName="aggregation" e2e="alertAggregation">
                <mat-option
                  *ngFor="let aggr of aggregations$ | async"
                  [value]="aggr.id"
                  >{{ aggr.name }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Operator Name</mat-label>
              <mat-select
                placeholder="Operator Name"
                formControlName="operator"
                e2e="alertOperator"
              >
                <mat-option
                  *ngFor="let op of operators$ | async"
                  [value]="op.id"
                  >{{ op.name }}</mat-option
                >
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Threshold Value</mat-label>
              <input
                matInput
                placeholder="Threshold Value"
                formControlName="thresholdValue"
                required
                type="number"
                e2e="alertThresholdValue"
              />
              <mat-error
                *ngIf="
                  alertRuleFormGroup.controls.thresholdValue.hasError(
                    'required'
                  )
                "
                >This field is required</mat-error
              >
              <mat-error
                *ngIf="
                  alertRuleFormGroup.controls.thresholdValue.hasError('pattern')
                "
                >Only numbers are allowed for Threshold Value.</mat-error
              >
            </mat-form-field>

            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="36px"
              class="padtop10"
            >
              <button
                color="secondary"
                mat-stroked-button
                matStepperPrevious
                e2e="backtoMetricSelection"
              >
                Back
              </button>
              <div fxFlex></div>
              <button
                color="primary"
                mat-stroked-button
                matStepperNext
                e2e="toAddStep"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step style="max-height: 100px;">
        <ng-template matStepLabel>Validate and Create</ng-template>
        <code>
          <pre class="add-container__body__stepper__validate">{{
            endPayload | json
          }}</pre>
        </code>

        <div fxFlex fxLayout="row" fxLayoutGap="36px" class="padtop10">
          <button
            color="primary"
            mat-stroked-button
            matStepperPrevious
            e2e="backtoAlertRules"
          >
            Back
          </button>
          <div fxFlex></div>
          <button
            *ngIf="alertDefinition.action === 'create'"
            (click)="createAlert()"
            color="primary"
            mat-stroked-button
            e2e="add-alert"
          >
            Add
          </button>
          <button
            *ngIf="alertDefinition.action === 'update'"
            (click)="updateAlert()"
            color="primary"
            mat-stroked-button
            e2e="update-alert"
          >
            Update
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</mat-card>
