@import 'src/themes/base/colors';

:host {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: $background-color;
  padding: 3px;
}

.padtop10 {
  padding-top: 10px;
}

.add-container {
  max-width: 99%;
  max-height: 100%;
  overflow: auto;

  .mat-form-field {
    width: 80%;
  }

  .lookback-period__info-icon {
    position: absolute;
    margin-top: 12px;
    font-size: 20px;
  }

  &__body {
    background-color: white;

    &__stepper {
      height: 99%;

      &__dxselect {
        ::ng-deep .mat-form-field-infix {
          padding: 3px 0;
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0px;
        }

        .dx-texteditor {
          border: none;
        }

        ::ng-deep .dx-dropdowneditor-icon {
          background-color: transparent;
        }
      }

      &__validate {
        font-size: 10px;
      }

      &__errmsg {
        width: 175px;
      }
    }
  }
}

.name-validation {
  color: $primary-red;
  padding: 0px 0px 10px 45px;
  font-size: 13px;

  span {
    padding-bottom: 10px;
  }
}
