edit-widget {
  background-color: whitesmoke;
  display: block;
  min-height: 100%;
  width: 400px;

  mat-horizontal-stepper.mat-stepper-horizontal {
    background-color: transparent;

    .mat-horizontal-stepper-header-container {
      display: none;
    }
  }
}
