<div>
  <h1>Change Password</h1>
  <div class="error-msg" [innerHtml]="errorMsg"></div>
  <form name="changePwdForm" method="post">
    <mat-form-field class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.oldPwd" [ngModelOptions]="{standalone: true}" placeholder="Old Password" required />
    </mat-form-field>
    <br/>

    <mat-form-field  class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.newPwd" [ngModelOptions]="{standalone: true}" placeholder="New Password" required />
    </mat-form-field>
    <br/>

    <mat-form-field  class="changePwd-formField">
      <input matInput type="password" [(ngModel)]="formData.confNewPwd" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password" required />
    </mat-form-field>
    <br/>

    <div class="login-buttons" layout="row" layout-align="space-between center">
      <button mat-raised-button color="primary" class="changePwd-change" type="submit" [disabled]="formData.oldPwd.invalid || formData.newPwd.invalid || formData.confNewPwd.invalid" (click)="changePwd()">Change</button>
      <button mat-raised-button color="primary" class="changePwd-login mat-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>