<div ng-repeat="filter in $ctrl.ngModel track by $index" ng-switch on="filter.type">

  <time-range-filter ng-switch-when="time-range"
                     filter="filter"
                     ng-model="filter.model"
                     ng-change="$ctrl.onFilterSelected()">
  </time-range-filter>

  <checkbox-filter ng-switch-when="checkbox"
                   filter="filter"
                   ng-model="filter.model"
                   ng-change="$ctrl.onFilterSelected()">
  </checkbox-filter>

  <radio-filter ng-switch-when="radio"
                filter="filter"
                ng-model="filter.model"
                ng-change="$ctrl.onFilterSelected()">
  </radio-filter>

  <price-range-filter ng-switch-when="price-range"
                      filter="filter"
                      ng-model="filter.model"
                      ng-change="$ctrl.onFilterSelected()">
  </price-range-filter>

</div>

