<form
  fxFlex
  fxLayout="row wrap"
  class="source-container"
  #sourceDetails
  novalidate
  [formGroup]="detailsFormGroup"
  autocomplete="false"
>
  <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline">
      <mat-label i18n>Name Your Route</mat-label>
      <input
        matInput
        name="name-of-route"
        e2e="name-of-route"
        formControlName="routeName"
        maxlength="18"
        required
        autocomplete="off"
      />
      <mat-error
        *ngIf="!!detailsFormGroup.controls.routeName.hasError('required')"
        i18n
      >
        Route Name is
        <strong>required</strong>
      </mat-error>
      <mat-error
        e2e="route-exist-error-msg"
        *ngIf="!!detailsFormGroup.controls.routeName.hasError('isUnique')"
        i18n
      >
        Route Name
        <strong>already exists</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n>Destination</mat-label>
      <input
        matInput
        placeholder="Destination"
        name="destinationLocation"
        e2e="destination-location-input"
        formControlName="destinationLocation"
        required
        autocomplete="new-password"
      />
      <mat-error
        *ngIf="
          !!detailsFormGroup.controls.destinationLocation.hasError('required')
        "
        i18n
      >
        Destination is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <mat-divider fxFlex="2" [vertical]="true"></mat-divider>
  <section fxFlex="49" fxLayout="column" fxLayoutAlign="space-around center">
    <http-metadata
      [parentForm]="detailsFormGroup"
      [requiredFields]="['apiEndPoint']"
    ></http-metadata>
  </section>
  <section fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field style="width: 90%;" appearance="outline">
      <mat-label i18n>Description about the route</mat-label>
      <textarea
        matInput
        formControlName="description"
        e2e="route-description-input"
      ></textarea>
    </mat-form-field>
  </section>
</form>
