<div
  class="boolean-criteria-header"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxFlex>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Toggle Boolean Criteria"
      (click)="toggleCriteria()"
    >
      {{ filterGroup.booleanCriteria }}
    </button>

    <button
      mat-icon-button
      [popper]="newDSKChild"
      popperApplyClass="new-child-popper"
      popperTrigger="click"
      [popperHideOnClickOutside]="true"
      popperPlacement="right"
    >
      <mat-icon fontIcon="icon-plus2"></mat-icon>
    </button>
    <popper-content #newDSKChild>
      <button mat-button (click)="addField(newDSKChild)">Field</button>
      <button mat-button (click)="addGroup(newDSKChild)">Group</button>
    </popper-content>
    <mat-error
      style="display: inline-block;"
      *ngIf="filterGroup.booleanQuery.length < 1"
      >Add <strong>1 or more </strong> fields or groups.</mat-error
    >
  </div>
  <button
    mat-icon-button
    *ngIf="selfIndex >= 0"
    aria-label="Remove dsk field attribute"
    matTooltip="Remove Group"
    (click)="onRemoveGroup.emit(selfIndex)"
  >
    <mat-icon fontIcon="icon-close"></mat-icon>
  </button>
</div>

<div
  class="dsk-query-child"
  *ngFor="let child of filterGroup.booleanQuery; let childId = index"
  [ngClass]="{ 'dsk-query-child__group': child['booleanCriteria'] }"
>
  <dsk-filter-group
    [filterGroup]="child"
    [selfIndex]="childId"
    (onRemoveGroup)="removeGroup($event)"
    (onChange)="onChange.emit(this.filterGroup)"
    *ngIf="child['booleanCriteria']; else attributeFields"
  ></dsk-filter-group>

  <ng-template #attributeFields>
    <div fxLayout="row" fxLayoutGap="10px" flexLayoutAlign="start center">
      <div fxLayout="column" fxFlex="30" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline">
          <mat-label>Attribute</mat-label>
          <input
            matInput
            required
            placeholder="Attribute"
            (keydown)="preventSpace($event)"
            [ngModel]="child['columnName']"
            [matAutocomplete]="fieldAutocomplete"
            (ngModelChange)="updateAttributeName(childId, $event)"
          />
        </mat-form-field>

        <mat-autocomplete #fieldAutocomplete="matAutocomplete">
          <mat-option
            *ngFor="let field of filterAutocompleteFields(child['columnName'])"
            [value]="field.columnName"
          >
            {{ field.displayName || field.columnName }} ({{ field.columnName }})
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!child['columnName']"
          >Field Name is <strong>required</strong>.</mat-error
        >
      </div>

      <div fxLayout="column" fxFlex fxLayoutAlign="start stretch">
        <mat-form-field>
          <mat-chip-list
            #chipList
            (change)="onChange.emit(filterGroup)"
            required
          >
            <mat-chip
              *ngFor="let item of child['model'].values; let valueId = index"
              [removable]="true"
              (removed)="removeValue(childId, valueId)"
            >
              {{ item }}
              <mat-icon matChipRemove fontIcon="icon-close"></mat-icon>
            </mat-chip>
            <input
              autocomplete="new-password"
              placeholder="Add new value"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addValue(childId, $event)"
            />
          </mat-chip-list>
        </mat-form-field>
        <mat-error *ngIf="child['model'].values.length === 0"
          >At least 1 value is <strong>required</strong>.</mat-error
        >
      </div>
      <button
        mat-icon-button
        aria-label="Remove dsk field attribute"
        matTooltip="Remove Field"
        (click)="removeField(childId)"
      >
        <mat-icon fontIcon="icon-close"></mat-icon>
      </button>
    </div>
  </ng-template>
</div>
