@import "themes/base/colors";

dataset-detail-view {
  width: 100%;
  padding: 0 3px 3px;
  background-color: $background-color;

  mat-tab-group {
    max-width: 100%;
    height: 100%;
  }

  .details-container {
    height: 100%;
  }

  .details-header {
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
    padding: 8px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid white;

    .mat-icon {
      font-size: 20px;
    }

    .mat-chip {
      color: rgba(0, 0, 0, 0.54);
      font-size: 16px;
    }
  }

  .details-body {
    background-color: #FFF;
    height: calc(100% - 50px);
  }

  .mat-tab-body {
    background-color: $background-color;
  }

  .details-card {
    margin: 3px;

    .details-title {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      color: #555;
    }

    .details-content {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.43;
    }

    .mat-divider {
      position: relative;
      padding-bottom: 5px;
    }

    .prop-name {
      color: #727272;
      width: 136px;
      line-height: 1.43;
    }

    .prop-value {
      color: #555;
    }
  }

  .details-grid {
    padding: 3px;
  }

  .loading {
    width: 100%;
    height: 150px;
    color: rgb(189, 189, 189);
    text-align: center;

    span {
      font-size: 28px;
      word-break: break-word;
    }
  }
}
