<md-card>
  <md-card-content layout="row">
    <div dx-data-grid="$ctrl.gridConfig" dx-item-alias="report">
      <div data-options="dxTemplate: { name: 'nameCellTemplate' }" >
        <span class="clickable"
              ng-bind-html="::report.value | highlight:$ctrl.searchTerm"
              ui-sref="analyze.executedDetail({analysisId: report.data.id, analysis: report.data})"></span>

        <md-chip class="tag-chip status-chip"
                  translate="STATUS_EXECUTING"
                  ng-if="$ctrl.showExecutingFlag(report.data.id)"></md-chip>
      </div>
      <div data-options="dxTemplate: { name: 'metricsCellTemplate' }">
        <span ng-bind-html="report.value | highlight:$ctrl.searchTerm"></span>
      </div>
      <div data-options="dxTemplate: { name: 'typeCellTemplate' }">
        <md-chip class="tag-chip">
          <span ng-bind-html="report.value | highlight:$ctrl.searchTerm"></span>
        </md-chip>
      </div>
      <div data-options="dxTemplate: { name: 'creatorCellTemplate' }">
        <span ng-bind-html="report.value | highlight:$ctrl.searchTerm"></span>
      </div>
      <div data-options="dxTemplate: { name: 'timecreatedCellTemplate' }">
          <span ng-bind-html="report.value | date: 'dd/MMM/yy' | highlight:$ctrl.searchTerm"></span>
      </div>
      <div data-options="dxTemplate: { name: 'actionCellTemplate' }">
        <md-card-actions layout="row"
                         layout-align="center center"
                         e2e="{{'analysis-type:' + $ctrl.model.chartType + ':' + $ctrl.model.chartType}}">
          <md-button class="md-button btn-card"
                     aria-label="Fork"
                     ng-show="$ctrl.canUserFork"
                     ng-click="$ctrl.fork(report.data)">
            <md-tooltip ng-bind="'TOOLTIP_FORK_ANALYSIS' | translate"></md-tooltip>

            <md-icon md-font-icon="icon-fork"></md-icon>
          </md-button>

          <analyze-actions-menu analysis="report.data"
                                exclude="fork-export"
                                on-successful-deletion="$ctrl.onSuccessfulDeletion(analysis)"
                                on-successful-execution="$ctrl.onSuccessfulExecution(analysis)"
                                on-successful-publish="$ctrl.onSuccessfulPublish(analysis)"
          ></analyze-actions-menu>

        </md-card-actions>
      </div>
    </div>
  </md-card-content>
</md-card>
