[Unit]
Description=SAW Scheduler

[Service]
Type=notify
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-scheduler-service/saw-scheduler.jar --spring.config.location=/opt/bda/saw-scheduler-service/conf/application.yml"
SyslogIdentifier=saw-scheduler
User=mapr
Restart=on-failure
# Allow service to exit on SIGTERM
SuccessExitStatus=143

[Install]
# Note: Leave the service as wanted by default.target despite being
# socket-activated, so that it comes up when system starts in case
# there are scheduled tasks
WantedBy=default.target
