[Unit]
Description=SAW scheduler

[Service]
ExecStart=/bin/sh -c "exec java -jar /opt/bda/saw-scheduler-service/saw-scheduler.jar --spring.config.location=/opt/bda/saw-scheduler-service/conf/application.yml"
SyslogIdentifier=saw-scheduler
User=mapr
Restart=on-failure
# Allow service to exit on SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=default.target
