<md-card class="saw-analyze-card"
         e2e="analysis-card">
  <md-card-header>
    <span flex></span>
    <md-chip class="tag-chip status-chip"
             ng-if="$ctrl.showExecutingFlag()"
             translate="STATUS_EXECUTING"></md-chip>
    <md-chip class="tag-chip"
             ng-bind-html="$ctrl.model.type | uppercase | highlight:$ctrl.highlightTerm"></md-chip>
  </md-card-header>
  <md-card-content layout="row" layout-align="center center">
    <div class="saw-ac-placeholder m-{{::$ctrl.model.type}}{{::$ctrl.model.chartType ? '-'+$ctrl.model.chartType : ''}}" style="cursor: pointer; cursor: hand;" ui-sref="analyze.executedDetail({analysisId: $ctrl.model.id, analysis: $ctrl.model})"></div>
    <md-icon md-font-icon="icon-chart-placeholder" style="display: none;"></md-icon>
  </md-card-content>

  <md-card-footer layout="row" layout-align="end start">
    <md-card-title>
      <md-card-title-text>
        <a class="md-headline"
           e2e="analysis-name"
           ng-bind-html="$ctrl.model.name | highlight:$ctrl.highlightTerm"
           ui-sref="analyze.executedDetail({analysisId: $ctrl.model.id, analysis: $ctrl.model})">
        </a>
        <span class="md-subhead">
          <span ng-bind-html="::($ctrl.mkdel.metrics || []).join(', ') | highlight:$ctrl.highlightTerm"></span>
          <span>
            <md-icon md-font-icon="icon-calendar"></md-icon>
            <span ng-bind="$ctrl.model.scheduleHuman || 'No Schedule Set'"></span>
          </span>
        </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-button btn-card"
                 aria-label="Fork"
                 ng-show="$ctrl.canUserFork"
                 e2e="action-fork-btn"
                 ng-click="$ctrl.fork()">
        <md-tooltip ng-bind="'TOOLTIP_FORK_ANALYSIS' | translate"></md-tooltip>
        <md-icon md-font-icon="icon-fork"></md-icon>
      </md-button>

      <analyze-actions-menu analysis="$ctrl.model"
                            exclude="fork"
                            on-successful-deletion="$ctrl.onSuccessfulDeletion(analysis)"
                            on-successful-execution="$ctrl.onSuccessfulExecution(analysis)"
                            on-successful-publish="$ctrl.onSuccessfulPublish(analysis)"
      ></analyze-actions-menu>

    </md-card-actions>
  </md-card-footer>
</md-card>
