[Unit]
Description=SAW test metrics
Requires=saw-deploy.service
After=saw-deploy.service
# Note: Set also After=default.target here, as it seems that the
# WantedBy=default.target at the end of the file otherwise results in
# an implicit Before=default.target.  That causes this unit to not run
# as the After=saw-deploy.service cannot be satisfied.
After=default.target

[Service]
Type=oneshot
ExecStart=/root/saw-metrics/sample-elasticsearch/load-metric
ExecStart=/root/saw-metrics/sample-spark/load-metric
ExecStart=/root/saw-metrics/sample-csv/load
SyslogIdentifier=saw-metrics

[Install]
WantedBy=default.target
