[Unit]
Description=SAW Analyze test data loader
Requires=saw-transport.service
After=saw-transport.service

[Service]
Type=oneshot
ExecStart=/root/saw-metrics/sample-elasticsearch/load-metric
ExecStart=/root/saw-metrics/sample-spark/load-metric
SyslogIdentifier=saw-analyze-testdata

[Install]
WantedBy=saw-transport.service
