<mat-accordion [multi]="true" displayMode="flat">

  <mat-expansion-panel *ngFor="let category of categories"
                       [attr.e2e]="'dashboard-add-analysis-category-' + category.id">
    <mat-expansion-panel-header>
      {{category.name}}
    </mat-expansion-panel-header>

    <button mat-button
      class="choose-category"
      *ngFor="let subCategory of category.subCategories"
      [attr.e2e]="'dashboard-add-analysis-subcategory-' + subCategory.id"
      (click)="onSelectSubCategory(subCategory)">
      {{subCategory.name}}
    </button>
  </mat-expansion-panel>
</mat-accordion>
