<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="width: 100%;"
>
  <div fxLayout="row" fxFlex="10">
    <div class="admin-title">Export Analysis</div>
  </div>

  <div class="admin-export__actions">
    <mat-checkbox class="admin-export__actions--metrics-checkbox"
      >Include Metrics</mat-checkbox
    >
    <button
      mat-raised-button
      color="primary"
      (click)="export()"
      [disabled]="isExportListEmpty$ | async"
      i18n
    >
      Export
    </button>
  </div>
</mat-toolbar>

<div class="admin-export__main-content">
  <admin-export-tree
    [menu]="analyzeMenu$"
    (select)="onSelectMenuItem($event)"
  ></admin-export-tree>
  <admin-export-content
    [exportList]="exportList$"
    [analyses]="exportAnalyses$"
    (change)="onChangeItemSelection($event)"
  ></admin-export-content>
  <admin-export-list
    [exportList]="exportList$"
    (change)="onChangeItemSelection($event)"
  ></admin-export-list>
</div>
