@import 'src/themes/base/colors';
$toolbar-height: 74px;

:host {
  max-height: calc(100vh - (63px + 55px));
  width: 100%;
}

.admin-title {
  color: $grey-text-color;
  font-weight: bold;
  margin-right: 10px;
}

.mat-toolbar {
  background-color: transparent;
  height: auto;
  padding: 0 20px;
}

.admin-export {
  &__actions {
    padding: 5px 0;

    &--metrics-checkbox {
      margin-right: 10px;
      font-size: 16px;
    }
  }

  &__main-content {
    height: calc(100% - 46px);
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 100%;
  }
}
