// Branding colors
$primary-blue-b1: #1A89D4;
$primary-blue-b2: #0077BE;
$primary-blue-b3: #206BCE;
$primary-blue-b4: #1D3AB2;

$primary-hover-blue: #1D61B1;
$grid-hover-color: #f5f9fc;
$grid-header-bg-color: #d7eafa;
$grid-header-color: #0b4d99;
$grid-text-color: #464646;
$grey-text-color: #636363;

$selection-highlight-col: rgba(0, 140, 260, 0.2);
$primary-grey-g1: #D1D3D3;
$primary-grey-g2: #999;
$primary-grey-g3: #737373;
$primary-grey-g4: #5C6670;
$primary-grey-g5: #313131;
$primary-grey-g6: #F5F5F5;
$primary-grey-g7: #3D3D3D;

$primary-white: #FFF;
$primary-red: #AB0E27;
$primary-green: #73B421;
$primary-orange: #F07601;

$secondary-green:  #6FB320;
$secondary-yellow: #FFBE00;
$secondary-orange: #FF9000;
$secondary-red:    #D93E00;
$secondary-berry:  #AC145A;
$secondary-purple: #914191;

$report-designer-settings-bg-color: #F3F5F8;
$background-color: #F5F9FC;
