// Branding colors
$primary-blue-b1: rgb(0, 301, 232);
$primary-blue-b2: #1A89D4;
$primary-blue-b3: #206BCE;
$primary-blue-b4: #1D3AB2;

$grid-hover-color: rgba(0, 201, 232, 0.1);

$primary-grey-g1: #D1D3D3;
$primary-grey-g2: #999;
$primary-grey-g3: #737373;
$primary-grey-g4: #5C6670;
$primary-grey-g5: #313131;
$primary-grey-g6: #F5F5F5;
$primary-grey-g7: #3D3D3D;

$primary-white: #FFF;
$primary-red: #E5524C;
$primary-green: #97CC0F;

$secondary-green:  #6FB320;
$secondary-yellow: #FFBE00;
$secondary-orange: #FF9000;
$secondary-red:    #D93E00;
$secondary-berry:  #AC145A;
$secondary-purple: #914191;
