<header [ngSwitch]="data.action"
        class="dialog__header">
  <strong *ngSwitchCase="'sort'" i18n>Sort</strong>
  <strong *ngSwitchCase="'filter'" i18n>Filter</strong>
  <strong *ngSwitchCase="'description'" i18n>Description</strong>
</header>
<div [ngSwitch]="data.action"
     class="dialog__content">
  <designer-sort *ngSwitchCase="'sort'"
                  (sortsChange)="onSortsChange($event)"
                  [sorts]="data.sorts"
                  [artifactColumns]="data.artifactColumns">
  </designer-sort>
  <designer-filter-container *ngSwitchCase="'filter'"
                  (filtersChange)="onFiltersChange($event)"
                  (booleanCriteriaChange)="onBooleanCriteriaChange($event)"
                  [filters]="data.filters"
                  [booleanCriteria]="data.booleanCriteria"
                  [artifacts]="data.artifacts">
  </designer-filter-container>
  <designer-description *ngSwitchCase="'description'"
                        (descriptionChange)="onDescriptionChange($event)"
                        [description]="data.description">
  </designer-description>
  <designer-save *ngSwitchCase="'save'"
                 (nameChange)="onNameChange($event)"
                 [analysis]="data.analysis">
  </designer-save>
</div>
<div class="dialog__actions"
     fxLayout="row"
     fxLayoutAlign="start center">
  <div [ngSwitch]="data.action">
      <button *ngSwitchCase="'sort'"
              (click)="onOk()"
              mat-raised-button color="primary" i18n>
        Apply Sort
      </button>
      <button *ngSwitchCase="'filter'"
              (click)="onOk()"
              mat-raised-button color="primary" i18n>
        Apply Filters
      </button>
      <button *ngSwitchCase="'description'"
              (click)="onOk()"
              mat-raised-button color="primary" i18n>
        Save Description
      </button>
      <button *ngSwitchCase="'save'"
              (click)="onOk()"
              mat-raised-button color="primary" i18n>
        Save
      </button>
  </div>
  <button mat-button i18n (click)="onBack()">Cancel</button>
</div>
