<div ng-controller="ChartsCtrl" style="margin: 5px;">
    <!--<bar-chart style="margin: 5"></bar-chart>-->

    <md-card class="chart-card" style="width: 700px; height: 600px">
        <md-card-header>
            <md-input-container class="normal">
                <md-select ng-model="armor" placeholder="Products">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>
            <span>My Chart Card Title</span>
            <md-button-group class="button-group" layout="row" layout-align="center center">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="icon-search"></md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="icon-search"></md-icon>
                </md-button>
            </md-button-group>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-icon="icon-bell-list"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-icon="icon-bell-list"></md-icon>
            </md-button>

        </md-card-header>

        <md-card-content>
            <line-chart data="data" style="height: 300px;"></line-chart>
        </md-card-content>

        <md-card-footer layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Y-Axis">
                    <md-option value="cloth">Revenue</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Measure By">
                    <md-option value="cloth">Million</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <div class="divider-vertical"></div>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="X-Axis">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Measure By">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>
        </md-card-footer>
    </md-card>

</div>