<div ng-controller="ChartsCtrl" style="margin: 5px;" ng-init="showChart = true">
    <md-card class="chart-card" style="width: 700px;">
        <md-card-header>
            <md-input-container class="normal">
                <md-select ng-model="armor" placeholder="Products">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>
            <span class="header-title">My Chart Card Title</span>
            <md-button-group class="button-group" layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-click="showChart = true">
                    <md-icon md-font-icon="icon-chart"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="showChart = false">
                    <md-icon md-font-icon="icon-report"></md-icon>
                </md-button>
            </md-button-group>

            <md-button style="margin-left: 24px" class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-icon="icon-print"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-icon="icon-download"></md-icon>
            </md-button>

        </md-card-header>

        <md-card-content>
            <line-chart
                    data="data"
                    ng-if="showChart"
                    style="width: 100%;height: 100%; display: inline-block;"></line-chart>

            <div ng-if="!showChart" ui-grid="gridOptions"></div>

        </md-card-content>

        <md-card-footer layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Y-Axis">
                    <md-option value="cloth">Revenue</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Measure By">
                    <md-option value="cloth">Million</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <div class="divider-vertical"></div>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="X-Axis">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Armor</label>
                <md-select ng-model="armor" placeholder="Measure By">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                </md-select>
            </md-input-container>
        </md-card-footer>
    </md-card>

    <bar-chart style="margin: 5"></bar-chart>

</div>