<div ng-controller="ControlsCtrl as ctrl" style="padding: 10px">

    <md-button class="md-primary" ng-click="ctrl.clickMe()">Primary</md-button>
    <md-button class="btn-secondary">Secondary</md-button>
    <md-button md-no-ink class="btn-secondary">Secondary, md-no-ink</md-button>
    <md-button class="btn-card">Card button</md-button>

    </br>

    <md-button class="btn-card">
        <md-icon md-font-icon="icon-search"></md-icon> Card button
    </md-button>

    </br>

    <md-button-group class="button-group" layout="row" layout-align="center center">
        <md-button>
            <md-icon md-font-icon="icon-search"></md-icon>
            Apple
        </md-button>
        <md-button ng-click="ctrl.clickMe()">Samsung</md-button>
        <md-button>Sony</md-button>
        <md-button>B&amp;O</md-button>
    </md-button-group>

    <md-radio-group>
        <md-radio-button value="1" aria-label="Label 1">Label 1</md-radio-button>
        <md-radio-button ng-model="color" ng-value="specialValue" aria-label="Green">
            Green
        </md-radio-button>
    </md-radio-group>


    <md-checkbox ng-model="isChecked" aria-label="Finished?">
        Finished ?
    </md-checkbox>
    <md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
        No Ink Effects
    </md-checkbox>
    <md-checkbox ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
        Disabled
    </md-checkbox>

    </br>

    <md-input-container md-no-float>
        <label>Color</label>
        <input type="text" ng-model="color" placeholder="placeholder">
    </md-input-container>


    </br>


    <div class="new-alerts-container">
        <span class="new-alerts-count-box">0</span>
        <span class="new-alerts-label"> New Alerts </span>
    </div>

    </br>


    <h2 class="md-title">Filter tags as chips (with custom template).</h2>
    <p>Note: the variables <code>$chip</code> and <code>$index</code> are available in custom chip templates.</p>

    <md-chips class="filter-tags" ng-model="ctrl.vegObjs" readonly="ctrl.readonly"
              md-transform-chip="ctrl.newVeg($chip)" md-removable="ctrl.removable">
        <md-chip-template>
        <span>
          <strong>[{{$index}}] {{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
        </md-chip-template>
        <button md-chip-remove class="md-primary">
            <md-icon md-font-icon="icon-remove"></md-icon>
        </button>
    </md-chips>

    <br>

    <md-chip class="tag-chip">Tag 1</md-chip>
    <md-chip class="tag-chip">Lacrosse</md-chip>
    <md-chip class="tag-chip">Baseball</md-chip>


    </br>

    <div style="width: 400px;">
        <range-slider
                lower-value="ctrl.rangeSlider.lower"
                upper-value="ctrl.rangeSlider.upper"
                min-gap="2000"
                step="100"
                min="ctrl.rangeSlider.min"
                max="ctrl.rangeSlider.max" ></range-slider>
    </div>

    </br>

    <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
        <md-icon md-font-icon="icon-launchpad"></md-icon>
        <badge label="{{ctrl.badgeCount}}"></badge>
    </md-button>

    </br>

    <div class="search-input-wrapper">
        <span class="search-label">Order Fulfillment</span>
        <md-input-container md-no-float class="search-input md-block">
            <md-icon md-font-icon="icon-search"></md-icon>
            <input type="text" placeholder="Search">
        </md-input-container>
    </div>
</div>