<br ng-controller="DropDownsCtrl as ctrl" style="margin: 10px;">

    <div> Inline Dropdown </div>
    <md-input-container>
        <label>Armor</label>
        <md-select ng-model="armor" placeholder="Armor">
            <md-option value="cloth">Cloth</md-option>
            <md-option value="leather">Leather</md-option>
            <md-option value="chain">Chainmail</md-option>
            <md-option value="plate">Plate</md-option>
        </md-select>
    </md-input-container>

    </br>



    <div>Normal Dropdown </div>
    <md-input-container class="normal">
        <md-select ng-model="armor" placeholder="Armor">
            <md-option value="cloth">Cloth</md-option>
            <md-option value="leather">Leather</md-option>
            <md-option value="chain">Chainmail</md-option>
            <md-option value="plate">Plate</md-option>
        </md-select>
    </md-input-container>

</div>