<div fxLayout="row"
     fxLayoutAlign="space-between center"
     [ngSwitch]="TYPE_MAP[filter.type]">
  <div fxLayout="row"
       fxFlex="grow"
       class="filter__data__space"
       fxLayoutAlign="start">
    <mat-form-field>
      <input type="text" placeholder="Column" matInput
             #autoInput
             e2e="filter-autocomplete-input"
             [matAutocomplete]="auto"
             [formControl]="formControl"/>
      <button mat-button *ngIf="autoInput.value" matSuffix mat-icon-button (click)="clearInput()">
        <mat-icon fontIcon="icon-close"></mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayWith"
                        (optionSelected)="onArtifactColumnSelected($event.option.value.columnName)">
        <mat-option *ngFor="let artifactColumn of filteredColumns | async"
                    [value]="artifactColumn">
          {{ artifactColumn.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="!filter.isRuntimeFilter" style="margin-left: 10px;">
      <designer-string-filter *ngSwitchCase="'string'"
                              (filterModelChange)="onFilterModelChange($event)"
                              [filterModel]="filter.model">
      </designer-string-filter>
      <designer-date-filter *ngSwitchCase="'date'"
                            (filterModelChange)="onFilterModelChange($event)"
                            [filterModel]="filter.model">
      </designer-date-filter>
      <designer-number-filter *ngSwitchCase="'number'"
                              (filterModelChange)="onFilterModelChange($event)"
                              [filterModel]="filter.model">
      </designer-number-filter>
    </div>
  </div>

  <div fxLayout="row"
       class="filter__action__space"
       fxLayoutAlign="space-between center">
    <mat-checkbox [checked]="filter.isRuntimeFilter"
                  (change)="onRuntimeCheckboxToggle(filter, $event.checked)"
                  i18n>
      Prompt
    </mat-checkbox>

    <button mat-icon-button (click)="remove()">
      <mat-icon fontIcon="icon-close"
                class="filter__remove-button__icon">
      </mat-icon>
    </button>
  </div>
</div>
