designer-filter-row {
  .filter__remove-button__icon {
    color: red;
  }

  .filter__data__space {
    max-width: 80%;
  }

  .filter__action__space {
    mat-checkbox:first-child {
      margin-right: 10px;
    }

    mat-checkbox:nth-child(2) {
      margin-right: 10px;
    }
  }

  .mandatory-asterisk {
    color: red;
    position: absolute;
    top: 3px;
    left: -4px;
  }
}
