<md-card class="saw-analyze-card">
  <md-card-header>
    <span flex></span>
    <md-chip class="tag-chip"
             ng-bind-html="::$ctrl.model.type | uppercase | highlight:$ctrl.highlightTerm"></md-chip>
  </md-card-header>

  <md-card-content layout="row" layout-align="center center">
    <div class="saw-ac-placeholder m-{{::$ctrl.model.type}}{{::$ctrl.model.chartType ? '-'+$ctrl.model.chartType : ''}}"></div>
    <md-icon md-font-icon="icon-chart-placeholder" style="display: none;"></md-icon>
  </md-card-content>

  <md-card-footer layout="row" layout-align="end start">
    <md-card-title>
      <md-card-title-text>
        <a class="md-headline"
              ng-bind-html="::$ctrl.model.name | highlight:$ctrl.highlightTerm"
              ui-sref="analyze.publishedDetailLast({analysisId: $ctrl.model.id})">
        </a>
        <span class="md-subhead">
          <span ng-bind-html="::($ctrl.mkdel.metrics || []).join(', ') | highlight:$ctrl.highlightTerm"></span>
          <span>
            <md-icon md-font-icon="icon-calendar"></md-icon>
            <span ng-bind="::($ctrl.model.scheduled || 'No Schedule Set')"></span>
          </span>
        </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-button btn-card" aria-label="Fork"
                 ng-click="$ctrl.fork()">
        <md-tooltip><span translate="TOOLTIP_FORK_ANALYSIS"></span></md-tooltip>
        <md-icon md-font-icon="icon-fork"></md-icon>
      </md-button>

      <md-button class="md-button btn-card"
                 aria-label="Execute"
                 ng-click="$ctrl.execute($ctrl.model.id)">
        <md-icon md-font-icon="icon-folder"></md-icon>
        <md-tooltip>
          <span translate="TOOLTIP_EXECUTE_ANALYSIS"></span>
        </md-tooltip>
      </md-button>

      <md-menu-bar>
        <md-menu>
          <md-button class="md-button btn-card" aria-label="More"
                     ng-click="$mdMenu.open()">
            <md-icon md-font-icon="icon-more"></md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item>
              <md-button aria-label="Edit"
                         ng-click="$ctrl.edit()"
                         translate="EDIT">
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.openPublishModal($event)">
                <span translate="PUBLISH"></span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.openPrintModal($event)">
                <span translate="PRINT"></span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.openExportModal($event)">
                <span translate="EXPORT"></span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </md-card-actions>
  </md-card-footer>
</md-card>
