.saw-analyze-card {
  .saw-ac-placeholder {
    height: 159px;
    width: 434px;
    background-size: 434px 159px;

    &.m-chart {
      background-image: url('~img/chart-placeholder.png');
    }
  }

  md-card-title {
    padding: 0;
  }

  md-icon {
    text-align: center;
  }

  .md-button {
    min-width: 35px;
  }

  &_report {
    width: 100%;
  }
}
