.analyze-report-publish {
  md-dialog-content {
    width: 550px;
  }

  .label-inline-with-select {
    text-align: center;
    line-height: 38px;
  }

  .form-container {
    padding-top: 16px;

    label {
      font-weight: bold;
      padding-bottom: 10px;
    }

    md-input-container {
      margin: 0;
    }
  }

  .schedule-container {
    padding: 0 30px;
  }

  .days-of-week-checkboxes {
    padding-top: 6px;
  }

  .end-criteria-radio {
    line-height: 32px;
  }
}
