<analyze-dialog control="$ctrl" class="analyze-report-publish">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="PUBLISH_ANALYSIS"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <div class="ars-content" layout-padding>
      <div class="form-container" layout="column">
        <label class="field-label" translate="PUBLISH_LOCATION"></label>
        <div layout="row">

          <md-select placeholder="Select a Category"
                     ng-model="::$ctrl.model.categoryId">
            <md-optgroup ng-repeat="category in $ctrl.dataHolder" label="{{::category.name}}">
              <md-option
                  ng-repeat="subCategory in category.children"
                  ng-bind="::subCategory.name"
                  ng-value="subCategory.id"></md-option>
            </md-optgroup>
          </md-select>
        </div>
      </div>

      <div class="form-container" layout="column">
        <md-checkbox ng-checked="$ctrl.hasSchedule"
                      ng-click="$ctrl.hasSchedule = !$ctrl.hasSchedule">
          <span translate="SET_SCHEDULE_LABEL"></span>
        </md-checkbox>
      </div>

      <div ng-show="$ctrl.hasSchedule" class="schedule-container" layout="column">
        <cron-job-schedular ng-if="$ctrl.hasSchedule" [crondetails]="$ctrl.crondetails" (on-cron-changed)="$ctrl.onCronChanged($event)"></cron-job-schedular>

        <div class="form-container" layout="column">
          <label translate="EMAIL_TO_COPY"></label>
          <md-input-container md-no-float flex="20">
            <md-chips ng-model="$ctrl.emails"
              placeholder="Enter email-id and separate by ';'"
              secondary-placeholder="Emails separate by ';'"
              md-separator-keys="$ctrl.separatorKeys"
              md-enable-chip-edit="false">
              <md-chip-template >
                <div ng-if="!$ctrl.validateThisEmail($chip)" class="errorMsg">?</div>
                <span>
                  {{$chip}}
                </span>
              </md-chip-template>
            </md-chips> 
          </md-input-container>
        </div>

        <div ng-if="$ctrl.model.type !== 'chart'" class="form-container" layout="column">
          <md-checkbox ng-checked="$ctrl.hasDispatch"
                        ng-click="$ctrl.hasDispatch = !$ctrl.hasDispatch">
            <span translate="SET_DISPATCH_LABEL"></span>
          </md-checkbox>
        </div>
        <span ng-if="$ctrl.emailValidateFlag" class="errorTextMsg" translate="EMAIL_ERROR_MSG"></span>
        <span ng-if="$ctrl.errorFlagMsg" class="errorTextMsg" translate="PUBLISH_ERROR_MSG"></span>
      </div>

    </div>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row" layout-align="start center">
      <md-button class="btn-primary" ng-click="$ctrl.publish()" translate="PUBLISH">
      </md-button>

      <md-button class="btn-card" ng-click="$ctrl.cancel()" translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
