@import "themes/base/colors";

.analyze-report-publish {
  md-dialog-content {
    width: 700px;
  }

  .label-inline-with-select {
    text-align: center;
    line-height: 38px;
  }

  .form-container {
    padding-top: 16px;

    label {
      font-weight: bold;
      padding-bottom: 10px;
    }

    md-input-container {
      margin: 0;
    }
  }

  .schedule-container {
    padding: 0 30px;
  }

  .days-of-week-checkboxes {
    padding-top: 6px;
  }

  .end-criteria-radio {
    line-height: 32px;
  }

  md-chips.md-triton-theme .md-chips .md-chip-input-container input {
    width: 250px;
  }

  .errorTextMsg {
    color: $secondary-red;
  }

  .errorMsg {
    color: $primary-white;
    background-color: $secondary-orange;
    border-radius: 14px;
    float: left;
    height: 26px;
    width: 24px;
    text-align: center;
    font-size: larger;
    margin-top: 3px;
    margin-right: 2px;
  }
}
