<div fxLayout="row" fxLayoutAlign="space-around between">
  <div *ngFor="let forecast of forecasts">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="5px"
      [matTooltip]="forecast?.description"
    >
      <img *ngIf="forecast" [src]="forecast?.iconUrl" />
      <mat-icon [class]="forecast.iconClass + ' weather-icon'"></mat-icon>
      <div>
        {{ forecast.dayOfWeek }}
      </div>
      <div>
        {{ forecast.maxTemp }}
        /
        {{ forecast.minTemp }}
      </div>
    </div>
  </div>
</div>
