@import "src/themes/base/colors";

:host {
  background-color: white;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template:
    "header" 5vh
    "content" 94vh;
}

.designer__header {
  grid-area: header;
  margin: 0 10px 3px;
  padding: 0 7px;
}

.designer__main {
  grid-area: content;
}
