@import "src/themes/base/colors";

:host {
  background-color: white;
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template:
    "header" 80px
    "content" calc(100% - 80px);
}

.designer__header {
  grid-area: header;
  margin: 0 10px 3px;
  padding: 0 7px;
}

.designer__main {
  grid-area: content;
}
