@import 'src/themes/base/colors';

$designer-header-height: 57px;

:host {
  background-color: white;
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template:
    'header' $designer-header-height
    'content' calc(100% - #{$designer-header-height}) / 100%;
  gap: 0;
  overflow: hidden;
}

.designer__header {
  grid-area: header;
  margin: 0 10px 3px;
  padding: 0 7px;
}

.designer__main {
  grid-area: content;
}
