:host {
  ::ng-deep .mat-tab-label-content {
    font-size: 11px;
  }

  ::ng-deep .mat-tab-label {
    min-width: 80px;
    height: 30px;
    padding: 0 10px;
  }

  ::ng-deep .mat-tab-label-content {
    font-weight: 600;
  }

  ::ng-deep .mat-tab-labels {
    background-color: white;
  }
}
