@import 'src/themes/base/colors';

:host {
  ::ng-deep .mat-tab-label-content {
    font-size: 11px;
  }

  ::ng-deep .mat-tab-label {
    min-width: 80px;
    height: 36px;
    padding: 0 10px;
  }

  ::ng-deep .mat-tab-label-content {
    font-weight: 600;
    color: black;
  }

  ::ng-deep .mat-tab-labels {
    background-color: white;
    height: 36px;
  }

  ::ng-deep .mat-tab-label-active > .mat-tab-label-content {
    color: $primary-blue-b1;
    opacity: 1;
  }
  ::ng-deep .mat-tab-label-active {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: $report-designer-settings-bg-color;
    opacity: 1;
  }
}
