<mat-tab-group>
  <mat-tab label="Data Settings">
    <designer-data-option-field *ngFor="let col of selectedColumns"
                                (change)="change.emit($event)"
                                [artifactColumn]="col"
                                [analysisType]="analysisType"
                                [sqlBuilder]="sqlBuilder"
                                [analysisSubtype]="analysisSubtype"
    >
    </designer-data-option-field>
  </mat-tab>
  <mat-tab label="Chart Settings">
    Chart Settings
  </mat-tab>
</mat-tab-group>
