.number-format .format-row {
  border-bottom: 1px solid #CCC;
  height: 50px;
  padding: 8px;

  span {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }

  input {
    margin-top: 20px;
  }
}

.date-format md-radio-group .row {
  border-top: 1px solid #CCC;
  height: 50px;

  .md-container {
    margin: 8px;
  }

  .md-label span {
    padding: 10px;
    padding-top: 22px;
  }
}
