<div fxLayout="row"
     fxLayoutAlign="space-between center"
>
  <div fxLayout="row wrap"
       fxFlex="grow"
       class="filter__data__space"
       fxLayoutAlign="start"
  >
    <mat-form-field>
      <span *ngIf="!filter.isOptional && isInRuntimeMode" class="mandatory-asterisk">*</span>
      <input type="text" placeholder="Column" matInput
             #autoInput
             e2e="filter-autocomplete-input"
             [matAutocomplete]="auto"
             [formControl]="formControl"/>
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayWith"
                        (optionSelected)="onArtifactColumnSelected($event.option.value.columnName)">
        <mat-option *ngFor="let artifactColumn of filteredColumns | async"
                    [value]="artifactColumn">
          {{ artifactColumn.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="isInRuntimeMode ? filter.isRuntimeFilter : (!filter.isRuntimeFilter && !filter.isGlobalFilter)"
         style="margin-left: 10px;"
         [ngSwitch]="TYPE_MAP[filter.type]">
      <designer-string-filter *ngSwitchCase="'string'"
                              (filterModelChange)="onFilterModelChange($event)"
                              [filterModel]="filter.model">
      </designer-string-filter>
      <designer-date-filter *ngSwitchCase="'date'"
                            (filterModelChange)="onFilterModelChange($event)"
                            [filterModel]="filter.model">
      </designer-date-filter>
      <designer-number-filter *ngSwitchCase="'number'"
                              (filterModelChange)="onFilterModelChange($event)"
                              [filterModel]="filter.model">
      </designer-number-filter>
    </div>
  </div>

  <div fxLayout="row"
       class="filter__action__space"
       fxLayoutAlign="space-between center">
    <mat-checkbox [checked]="filter.isGlobalFilter"
                  *ngIf="!isInRuntimeMode && supportsGlobalFilters"
                  (change)="onGlobalCheckboxToggle(filter, $event.checked)"
                  i18n>
      Global
    </mat-checkbox>
    <mat-checkbox *ngIf="!isInRuntimeMode"
                  [checked]="filter.isRuntimeFilter"
                  (change)="onRuntimeCheckboxToggle(filter, $event.checked)"
                  i18n>
      Prompt
    </mat-checkbox>
    <mat-checkbox *ngIf="!isInRuntimeMode && filter.isRuntimeFilter"
                  [checked]="filter.isOptional"
                  (change)="onOptionalCheckboxToggle(filter, $event.checked)"
                  i18n>
      Optional
    </mat-checkbox>

    <button *ngIf="!isInRuntimeMode"
            mat-icon-button (click)="remove()"
    >
      <mat-icon fontIcon="icon-close"
                class="filter__remove-button__icon">
      </mat-icon>
    </button>
  </div>
</div>
