<form [formGroup]="kpiFilterForm">
  <mat-form-field class="select-form-field" appearance="outline">
    <mat-label>Preset</mat-label>
    <mat-select formControlName="preset">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let filt of dateFilters" [value]="filt.value">
        {{filt.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput formControlName="gte" [max]="kpiFilterForm.get('lte').value" [matDatepicker]="frompicker" (click)="frompicker.open()"
      placeholder="From" />
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput formControlName="lte" [min]="kpiFilterForm.get('gte').value" [matDatepicker]="topicker" (click)="topicker.open()"
      placeholder="To" />
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker disabled="false"></mat-datepicker>
  </mat-form-field>
</form>
