@import "src/themes/base/colors";

:host {
  display: block;
  height: calc(100% - 156px);
  width: calc(100% - 20px);
}

.non-ideal-state__container {
  margin-top: 50px;
}

.non-ideal-state__message {
  color: $primary-grey-g3;
  font-size: 26px;
}

.non-ideal-state__icon {
  color: $primary-grey-g2;
  margin-top: 50px;
  display: table;
  font-size: 200px;
  width: 200px;
}

.designer-chart-container {
  height: 100%;

  chart {
    height: 100%;


    ::ng-deep div {
      height: 100%;

      ::ng-deep div {
        height: 100% !important;

        ::ng-deep svg {
          max-height: 100% !important;
        }
      }
    }
  }
}
