:host {
  display: block;
  height: calc(100% - 90px) !important;
  width: calc(100% - 20px);
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.designer-chart-container {
  height: 100%;

  chart {
    height: 100%;
  }
}
