<header class="base-dialog__header">
  <strong>
    Update Attributes
  </strong>
</header>
<div class="base-dialog__content">
  <div fxLayout="column" fxLayoutAlign="center start">
    <div class="errors" *ngIf="errorState">
      <span [innerHtml]="errorMessage"></span>
    </div>
    <dsk-filter-group
      [filterGroup]="dskFilters$ | async"
      (onChange)="updateFilter($event)"
    ></dsk-filter-group>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="base-dialog__actions"
>
  <button
    (click)="submit()"
    e2e="save-attributes-btn"
    color="primary"
    mat-raised-button
  >
    Save
  </button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</div>
