@import "src/themes/base/colors";

:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

ul.node-ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

li {
  list-style-type: none;

  .mat-tree-node {
    min-height: 28px;
    height: 28px;

    &.selected {
      background-color: $grid-header-bg-color;
    }

    mat-icon.new-folder {
      display:none;
    }

    &:hover {
      mat-icon.new-folder {
        display:block;
      }
    }
  }
}

.folder-empty {
  color: $primary-grey-g1;
}

.node-button-empty {
  pointer-events: none;
}

.node-label {
  cursor: pointer;
}
