<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-nested-tree-node *matTreeNodeDef="let node">
    <li>
      <div class="mat-tree-node"
           [class.selected]="node === selectedNode"
           fxLayout="row"
           fxLayoutAlign="space-between center"
      >
        <div>
          <ng-template #nodeicon>
            <mat-icon [class.folder-empty]="isNodeEmpty(node)"
                      [fontIcon]="treeControl.isExpanded(node) ? 'icon-folder-solid' : 'icon-folder-solid'"
            >
            </mat-icon>
          </ng-template>

          <button *ngIf="isNodeEmpty(node)" class="node-button-empty" mat-icon-button>
            <ng-container *ngTemplateOutlet="nodeicon"></ng-container>
          </button>

          <button *ngIf="!isNodeEmpty(node)" mat-icon-button matTreeNodeToggle>
            <ng-container *ngTemplateOutlet="nodeicon"></ng-container>
          </button>

          <span (click)="selectNode(node)" class="node-label">
            {{getNodeLabel(node)}}
          </span>
        </div>

        <button *ngIf="enableFolderCreation"
                mat-icon-button
                (click)="createFolder(node)"
        >
          <mat-icon fontIcon="icon-new-folder"
                    color="primary"
                    class="new-folder"
                    matTooltip="New Folder"
          ></mat-icon>
        </button>
      </div>
      <ul class="node-ul" [class.hidden]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
