@theme-name: triton;
@theme-cls: ~"md-@{theme-name}-theme";


//== Iconography
//

//** Load fonts from this directory.
@icon-font-path:          "../fonts/fonts";
//** File name for all font files.
@icon-font-name:          "icomoon";


// Forms
@input-color: #5C6670;
@input-bg-color: #F6F8FB;
@input-border: 1px solid #CECECE;
@input-border-radius: 3px;
@input-font-size: 12px;

@input-label-color: #8D9398;


// Buttons
@btn-primary-bg-color: rgba(26, 137, 212, 0.75);

@btn-secondary-color: #5C6670;
@btn-secondary-border: 1px solid #D1D3D3;
@btn-secondary-hover-color: #F6F6F6;

// Side bars
@sidebar-right-bg-color: #F3F5F8;

// Grid
@grid-cell-padding-right: 30px;


// Typography

@app-font-color: #5C6670;


