.rtis-registration-title {
  color: #5c6670;
  font-size: 24px;
}

:host {
  mat-toolbar {
    background-color: white !important;
  }

  .registration-form {
    overflow: auto;
    height: calc(100vh - 40%);

    section mat-form-field {
      width: 50%;
    }
  }

  div form {
    padding: 0 0 0 20px;
    height: 600px;
  }

  mat-slide-toggle {
    padding: 0 0 0 20px;
  }
}
