.rtis-registration-title {
  color: #636363;
  font-weight: bold;
}

:host {
  mat-toolbar {
    background-color: white !important;
  }

  .registration-form {
    overflow: auto;
    height: calc(100vh - 270px);
  }

  div form {
    padding: 0 0 0 20px;
  }

  mat-slide-toggle {
    padding: 0 0 0 20px;
  }
}
