<div
  *ngFor="let adapter of groupAdapters$ | async; let adapterIndex = index"
  fxLayout="row"
  fxLayoutAlign="start center"
  class="selected-fields__container"
>
  <div
    fxFlex="10"
    class="selected-fields__label"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    {{ adapter.title }}:
  </div>
  <perfect-scrollbar
    [config]="{
      suppressScrollX: true
    }"
    fxFlex="90"
    [class.highlighted]="isDragInProgress && canAcceptMap[adapter.title]"
  >
    <mat-chip-list
      class="selected-fields__list"
      [attr.e2e]="'designer-selected-container' + adapter.title"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="adapter"
      [cdkDropListEnterPredicate]="acceptPredicateFor(adapter)"
      (cdkDropListDropped)="drop($event, adapterIndex)"
    >
      <mat-chip
        *ngFor="let col of adapter.artifactColumns"
        class="selected-fields__item"
        [attr.e2e]="'designer-selected-field-' + (col.displayName || col.alias)"
        [ngClass]="getFieldItemClass(col)"
        cdkDrag
        (cdkDragStarted)="dragStarted($event)"
        (cdkDragReleased)="dragReleased($event)"
        [cdkDragData]="col"
        [removable]="true"
        (removed)="removeFromGroup(col, adapter)"
      >
        <ng-container *ngIf="col.area === 'data' || col.area === 'y'; else defaultTemplate">
          <span
            [matTooltip]="AGGREGATE_TYPES_OBJ[col.aggregate | lowercase].label"
            [innerHtml]="
              AGGREGATE_TYPES_OBJ[col.aggregate | lowercase].designerLabel
            "
          >
          </span>
          <span> (&nbsp;{{ getDisplayNameForColumn(col) }}&nbsp;) </span>
        </ng-container>
        <ng-template #defaultTemplate>
          {{ col.displayName ? getDisplayNameForColumn(col) : col.alias }}
        </ng-template>

        <mat-icon matChipRemove fontIcon="icon-remove"></mat-icon>
      </mat-chip>
    </mat-chip-list>
  </perfect-scrollbar>
</div>

<div
  *ngIf="filters.length > 0"
  fxLayout="row"
  fxLayoutAlign="start center"
  class="selected-fields__container"
>
  <div
    fxFlex="10"
    class="selected-fields__label"
    i18n
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    Filters:
  </div>

  <perfect-scrollbar
    [config]="{
      suppressScrollX: true
    }"
    fxFlex="90"
  >
    <mat-chip-list e2e="designer-applied-filters" class="selected-fields__list">
      <mat-chip
        *ngFor="let filter of filters; let i = index"
        class="selected-fields__item"
        [attr.e2e]="
          'applied-filter-' +
          getDisplayNameForFilter(filter) +
          getFilterValue(filter)
        "
        [removable]="true"
        (removed)="removeFilter.emit(i)"
      >
        {{ getDisplayNameForFilter(filter) }}{{ getFilterValue(filter) }}
        <mat-icon matChipRemove fontIcon="icon-remove"></mat-icon>
      </mat-chip>
    </mat-chip-list>
  </perfect-scrollbar>
</div>
