<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
      <mat-icon fontIcon="icon-expand"
                (click)="toggleExpansion()">
      </mat-icon>
    </button>
    <div class="expandable-field__name"
         fxLayout="row" fxLayoutAlign="space-between center">
      {{ artifactColumn.alias || artifactColumn.displayName }}
      <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon"
                class="expandable-field__icon">
      </mat-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngIf="artifactColumn.aggregate">
      <button mat-icon-button
              [matMenuTriggerFor]="aggregatemenu"
              class="expandable-field__option-button">
        <mat-icon [fontIcon]="AGGREGATE_TYPES_OBJ[artifactColumn.aggregate].icon"></mat-icon>
      </button>
      <mat-menu #aggregatemenu="matMenu">
        <button mat-menu-item
                *ngFor="let aggregateType of AGGREGATE_TYPES; trackBy: index"
                (click)="onAggregateChange(aggregateType.value)">
          <mat-icon [fontIcon]="aggregateType.icon"></mat-icon>
          <span>{{aggregateType.label}}</span>
        </button>
      </mat-menu>
    </div>

    <button mat-icon-button
            (click)="removeRequest.emit()">
      <mat-icon fontIcon="icon-close"
                class="expandable-field__remove-icon">
      </mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isExpanded"
     [ngSwitch]="analysisType"
     class="expandable-field__details">
  <expand-detail-pivot *ngSwitchCase="'pivot'"
                       (change)="change.emit(artifactColumn)"
                       [artifactColumn]="artifactColumn">

  </expand-detail-pivot>
</div>
