<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
      <mat-icon fontIcon="icon-expand"
                (click)="toggleExpansion()">
      </mat-icon>
    </button>
    <div class="expandable-field__name"
         fxLayout="row" fxLayoutAlign="space-between center">
      {{ artifactColumn.alias || artifactColumn.displayName }}
      <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon"
                class="expandable-field__icon">
      </mat-icon>
    </div>
  </div>
  <button mat-icon-button
          (click)="removeRequest.emit()">
    <mat-icon fontIcon="icon-close"
              class="expandable-field__remove-icon">
    </mat-icon>
  </button>
</div>

<div *ngIf="isExpanded"
     [ngSwitch]="analysisType"
     class="expandable-field__details">
  <expand-detail-pivot *ngSwitchCase="'pivot'"
                       (change)="change.emit(artifactColumn)"
                       [artifactColumn]="artifactColumn">

  </expand-detail-pivot>
</div>
