<div class="indent" ng-if="$ctrl.data.isGroup">

  <div ng-repeat="groupNode in $ctrl.data.groupNodes track by $index">
    <div layout="row" layout-align="start center">

      <h3>{{groupNode.groupValue}}</h3>

      <md-chips>
        <md-chip>{{groupNode.itemCount}}</md-chip>
      </md-chips>

    </div>
    <report-grid-node data="groupNode.data" layout-mode="$ctrl.layoutMode"></report-grid-node>
  </div>

</div>
<div ng-if="!$ctrl.data.isGroup && $ctrl.layoutMode === $ctrl.LAYOUT_MODE.DETAIL">
  <report-grid data="$ctrl.data"></report-grid>
</div>
