@import "themes/base/colors";

multi-table-designer-layout {
  background-color: white;
  max-height: 93vh;
  height: 93vh;
  max-width: 100vw;
  display: block;

  .designer__data-settings {
    height: 50%;
    width: 100%;
    position: relative;

    button.grid-panel-toggle__btn {
      position: absolute;
      bottom: 0;

      mat-icon.grid-panel-toggle__icon {
        height: 15px;
        margin-bottom: 5px;
      }

      &.expanded {
        bottom: 10px;

        mat-icon.grid-panel-toggle__icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .designer__data-settings.expanded {
    height: 100%;
  }

  .designer__data-grid {
    height: 50%;
    width: 100%;
  }
}
