<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field e2e="filter-to-datepicker">
    <input matInput
           (dateChange)="modelChange($event.value, 'gte')"
           [matDatepicker]="gte"
           [value]="tempModel.gte"
           [max]="tempModel.lte"
           placeholder="From"
           [formControl]="date"/>
    <mat-datepicker-toggle matSuffix [for]="gte"></mat-datepicker-toggle>
    <mat-datepicker #gte
                    [startAt]="tempModel.gte"
                    disabled="false">
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field e2e="filter-from-datepicker">
    <input matInput
           (dateChange)="modelChange($event.value, 'lte')"
           [matDatepicker]="lte"
           [value]="tempModel.lte"
           [min]="tempModel.gte"
           placeholder="To"
           [formControl]="date"/>
    <mat-datepicker-toggle matSuffix [for]="lte"></mat-datepicker-toggle>
    <mat-datepicker #lte
                    [startAt]="tempModel.lte"
                    disabled="false">
    </mat-datepicker>
  </mat-form-field>
</div>
