<designer-header
  class="designer__header"
  [analysis]="analysis"
  [areMinRequirmentsMet]="areMinRequirmentsMet"
  [isInDraftMode]="isInDraftMode"
  [designerState]="designerState"
  [isInQueryMode]="isInQueryMode"
  (onBack)="onBack.emit(isInDraftMode)"
  (change)="onSettingsChange($event)"
  (requestAction)="onToolbarAction($event)"
>
</designer-header>

<div *ngIf="analysis" [ngSwitch]="layoutConfiguration" class="designer__main">
  <single-table-designer-layout
    *ngSwitchCase="'single'"
    cdkDropListGroup
    (change)="onSettingsChange($event)"
    [artifacts]="artifacts"
    [auxSettings]="auxSettings"
    [analysisType]="analysis.type"
    [analysisSubtype]="analysisSubType"
    [data]="data"
    [sorts]="analysis.sipQuery ? (dslSorts$ | async) : sorts"
    [filters]="filters"
    [chartTitle]="chartTitle"
    [sipQuery]="analysis.sipQuery"
    [designerState]="designerState"
  >
  </single-table-designer-layout>

  <multi-table-designer-layout
    *ngSwitchCase="'multi'"
    (change)="onSettingsChange($event)"
    [isInQueryMode]="isInQueryMode"
    [analysis]="analysis"
    [artifacts]="artifacts"
    [data]="data"
    [dataCount]="dataCount"
    [sorts]="sorts"
    [filters]="filters"
    [sqlBuilder]="analysis.sipQuery ? (sipQuery$ | async) : analysis.sqlBuilder"
    [designerState]="designerState"
  >
  </multi-table-designer-layout>
</div>
