<div>
  <h1 e2e="Change-Password">Change Password</h1>
  <div class="error-msg" e2e="error-msg" [innerHtml]="errorMsg"></div>
  <form name="changePwdForm" method="post">
    <mat-form-field class="changePwd-formField">
      <input
        *ngIf="!showOldPassword"
        matInput
        type="password"
        [(ngModel)]="formData.oldPwd"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Old Password"
        required
      />

      <input
        *ngIf="showOldPassword"
        matInput
        type="text"
        [(ngModel)]="formData.oldPwd"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Old Password"
        required
      />

      <button
        tabindex="-1"
        e2e="show-old-password"
        color="primary"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="show"
        (click)="toggleOldPassword()"
      >
        <mat-icon
          matTooltip="Show Password"
          *ngIf="!showOldPassword"
          fontIcon="icon-show"
          e2e="show-old-password"
        ></mat-icon>
        <mat-icon
          matTooltip="Hide Password"
          *ngIf="showOldPassword"
          fontIcon="icon-hide"
          e2e="hide-old-password"
        ></mat-icon>
      </button>
    </mat-form-field>
    <br />

    <mat-form-field class="changePwd-formField">
      <input
        *ngIf="!showNewPassword"
        matInput
        type="password"
        [(ngModel)]="formData.newPwd"
        [ngModelOptions]="{ standalone: true }"
        placeholder="New Password"
        required
      />

      <input
        *ngIf="showNewPassword"
        matInput
        type="text"
        [(ngModel)]="formData.newPwd"
        [ngModelOptions]="{ standalone: true }"
        placeholder="New Password"
        required
      />

      <button
        tabindex="-1"
        e2e="show-new-password"
        color="primary"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="show"
        (click)="toggleNewPassword()"
      >
        <mat-icon
          matTooltip="Show Password"
          *ngIf="!showNewPassword"
          fontIcon="icon-show"
          e2e="show-new-password"
        ></mat-icon>
        <mat-icon
          matTooltip="Hide Password"
          *ngIf="showNewPassword"
          fontIcon="icon-hide"
          e2e="hide-new-password"
        ></mat-icon>
      </button>
    </mat-form-field>
    <br />

    <mat-form-field class="changePwd-formField">
      <input
        *ngIf="!showNewConfirmPassword"
        matInput
        type="password"
        [(ngModel)]="formData.confNewPwd"
        e2e="confirm-password"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Confirm Password"
        required
      />

      <input
        *ngIf="showNewConfirmPassword"
        matInput
        type="text"
        [(ngModel)]="formData.confNewPwd"
        e2e="confirm-password"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Confirm Password"
        required
      />

      <button
        tabindex="-1"
        e2e="show-new-confirm-password"
        color="primary"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="show"
        (click)="toggleNewConfirmPassword()"
      >
        <mat-icon
          matTooltip="Show Password"
          *ngIf="!showNewConfirmPassword"
          fontIcon="icon-show"
          e2e="show-new-confirm-password"
        ></mat-icon>
        <mat-icon
          matTooltip="Hide Password"
          *ngIf="showNewConfirmPassword"
          fontIcon="icon-hide"
          e2e="hide-new-confirm-password"
        ></mat-icon>
      </button>
    </mat-form-field>
    <br />

    <div class="login-buttons" layout="row">
      <button
        (click)="changePwd()"
        class="changePwd-change"
        mat-raised-button
        color="primary"
        [disabled]="
          !formData.oldPwd || !formData.newPwd || !formData.confNewPwd
        "
        i18n
      >
        Change
      </button>
      <button mat-button class="changePwd-cancel" i18n (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
