.changePwd-change {
  float: left !important;
}

.changePwd-formField {
  width: 420px !important;
}

.changePwd-cancel {
  margin-left: 10px !important;
}

.change-password-logo {
  width: 170px;
  height: 60px;
  margin: 0 auto;
  background-size: contain;
  text-align: center;
}
