<div class="change-password-logo">
    <app-branding-logo class="branding-logo" [page]="'others'"></app-branding-logo>
</div>

<div>
  <h1 e2e="Change-Password">Change Password</h1>
  <div
    class="error-msg"
    e2e="error-msg"
    [innerHtml]="allErrors"
    style="white-space: pre;"
  ></div>
  <form name="changePwdForm" method="post" style="width: 420px;">
    <password-toggle
      [placeholder]="passwordType.OLDPASSWORD"
      (change)="onPasswordChanged($event, passwordType.OLDPASSWORD)"
      required
    >
    </password-toggle>
    <br />

    <password-toggle
      [placeholder]="passwordType.NEWPASSWORD"
      (change)="onPasswordChanged($event, passwordType.NEWPASSWORD)"
      required
    >
    </password-toggle>

    <password-toggle
      [placeholder]="passwordType.CONFIRMPASSWORD"
      (change)="onPasswordChanged($event, passwordType.CONFIRMPASSWORD)"
      required
    >
    </password-toggle>
    <br />

    <div class="login-buttons" layout="row">
      <button
        (click)="changePwd()"
        class="changePwd-change"
        mat-raised-button
        color="primary"
        i18n
      >
        Change
      </button>
      <button mat-button class="changePwd-cancel" i18n (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
