<div>
  <h1 e2e="Change-Password">Change Password</h1>
  <div class="error-msg" e2e="error-msg" [innerHtml]="errorMsg"></div>
  <form name="changePwdForm" method="post">
    <password-toggle
      [placeholder]="passwordType.OLDPASSWORD"
      (change)="onPasswordChanged($event, passwordType.OLDPASSWORD)"
    >
    </password-toggle>
    <br />

    <password-toggle
      [placeholder]="passwordType.NEWPASSWORD"
      (change)="onPasswordChanged($event, passwordType.NEWPASSWORD)"
    >
    </password-toggle>
    <br />

    <password-toggle
      [placeholder]="passwordType.CONFIRMPASSWORD"
      (change)="onPasswordChanged($event, passwordType.CONFIRMPASSWORD)"
    >
    </password-toggle>
    <br />

    <div class="login-buttons" layout="row">
      <button
        (click)="changePwd()"
        class="changePwd-change"
        mat-raised-button
        color="primary"
        [disabled]="
          !formData.oldPwd || !formData.newPwd || !formData.confNewPwd
        "
        i18n
      >
        Change
      </button>
      <button mat-button class="changePwd-cancel" i18n (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
