<mat-form-field flex="20" style="width: 100%;">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let email of emails; trackBy: trackByValue; let i = index"
      (removed)="removeEmail(i)"
      [attr.e2e]="'email-address-' + email"
    >
      {{ email }}
      <mat-icon
        matChipRemove
        fontIcon="icon-close"
        [attr.e2e]="'remove-email-' + email"
      ></mat-icon>
    </mat-chip>
    <input
      (click)="openAutocomplete()"
      (change)="onTextEntered()"
      class="email__chip"
      placeholder="Emails separate by ';'"
      #emailInput
      type="text"
      [formControl]="emailField"
      [matChipInputFor]="chipList"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeys"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addEmailIfCorrect($event.value)"
      [attr.e2e]="'email-list-input'"
    />
  </mat-chip-list>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addEmail($event.option.value)"
  >
    <mat-option
      *ngFor="let email of filteredSuggestions | async"
      [value]="email"
    >
      {{ email }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-error *ngIf="emailField?.errors?.pattern">
  <strong>Invalid</strong> email!
</mat-error>
<mat-error
  *ngIf="
    autoCompleteSuggestions &&
    autoCompleteSuggestions.length === 0 &&
    !allowCustomInput
  "
>
  No subscribers present. <strong>Add subscribers</strong> from below.
</mat-error>
