@import "themes/base/colors";

date-format-dialog {
  display: block;
  padding: 10px;

  .dialog__header {
    padding: 10px;
    border-bottom: 1px solid $primary-grey-g2;

    strong {
      font-size: 20px;
    }
  }

  .dialog__content {
    padding: 20px 10px;
    min-width: 500px;

    mat-radio-group {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .dialog__actions {
    padding-top: 10px;
    border-top: 1px solid $primary-grey-g2;
  }
}
