<md-card>
  <md-card-header layout="row" layout-align="end start">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate="IMPORT_ANALYSIS_LIST_VIEW"></span>        
      </md-card-title-text>
    </md-card-title>
  </md-card-header>     
  <md-card-content layout="row">
    <div id="user-grid" dx-data-grid="$ctrl.gridConfig" dx-item-alias="report">     
      <div data-options="dxTemplate: { name: 'selectionCellTemplate' }">
        <md-card-actions layout="row" layout-align="center center">
            <md-checkbox ng-if="report.data.noMetricInd" ng-click="$ctrl.editRow(report, report.value)" 
            ng-disabled="report.data.noMetricInd"
            ng-model="report.value"></md-checkbox>
          <md-checkbox ng-if="!report.data.noMetricInd" ng-click="$ctrl.editRow(report, report.value)" 
          ng-disabled="report.data.duplicateAnalysisInd && !report.data.overrideInd"
          ng-model="report.value"></md-checkbox>
          <span>
            <a ng-if="report.data.duplicateAnalysisInd"
            class="analysis-override"
            ng-click="$ctrl.overrideAnalysis(report)">
            [OVERRIDE]</a></span>
        </md-card-actions>

      </div> 
      <div data-options="dxTemplate: { name: 'analysisNameCellTemplate' }" >
        <span ng-bind-html="report.value"></span>
      </div>
      <div data-options="dxTemplate: { name: 'analysisTypeCellTemplate' }" >
        <span ng-bind-html="report.value"></span>   
      </div>
      <div data-options="dxTemplate: { name: 'metricNameCellTemplate' }" >
        <span ng-bind-html="report.value"></span>
      </div>
      <div data-options="dxTemplate: { name: 'logCellTemplate' }" 
        ng-style="{'color': report.data.logColor}">
        <span ng-bind-html="report.value"></span>
      </div>         
    </div>
  </md-card-content>
  <div class="layout-row">
      <md-button class="md-raised md-primary" 
            ng-click="$ctrl.doImport($ctrl.analysisList)"
            ng-disabled="$ctrl.validation()"
            style="margin-top: 10px; margin-left: 24px; margin-bottom: 10px;"
		        translate="IMPORT_BUTTON"> </md-button>
          </div>
</md-card>
      