<div class="dataPods-cardView" fxLayout="row wrap">
  <div class="dp-card" fxFlex.gt-md="25" fxFlex.md="33" fxFlex.lt-md="50" fxFlex.lt-sm="100" *ngFor="let pod of dataPods">
    <mat-card class="dataPods-card">
      <mat-card-header class="SUCCESS">

        <!-- There is no state for Datapods as of now since they are still logical entities. 
          Once they are physical the below switch case will reflect real value -->

        <div class="status-icon" matTooltip="{{pod?.status}}" ngSwitch="SUCCESS">
          <mat-icon *ngSwitchCase="'FAILED'" style="color: #AB0E27;" fontIcon="icon-warning"></mat-icon>
          <mat-icon *ngSwitchCase="'SUCCESS'" fontIcon="icon-portal-libraries"></mat-icon>
          <mat-icon *ngSwitchCase="'INIT'" fontIcon="icon-wip"></mat-icon>
        </div>
        <a class="datapod-name" (click)="viewDetails(pod)" fxFlex [innerHTML]="pod.metricName | highlight: searchTerm"></a>
        <datapod-actions [dpMetadata]="pod"></datapod-actions>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mat-body-1">
        <div class="margin-btm-9" fxLayout="row wrap">
          <div fxFlex="70" class="mat-body-1">Data Pods:
            <span [innerHTML]="pod?.dataPods?.numberOfPods"></span>
          </div>
          <div class="mat-caption" fxLayoutAlign="end end" fxFlex="30">Size: </div>
        </div>
        <div class="descr margin-btm-9">
          Description:
          <span [innerHTML]="pod?.description | highlight: searchTerm"></span>
        </div>
        <div class="margin-btm-9" fxLayout="row">
          <div fxFlex="35" fxLayout="column" fxLayoutAlign="start start">Created by:
            <span [innerHTML]="pod?.createdBy | highlight: searchTerm"></span>
          </div>
          <div fxFlex="65
                    " fxLayout="column" fxLayoutAlign="center end">Last updated:
            <div fxLayout="row" style="align-items: baseline;">
              <span [innerHTML]="pod?.modifiedTime * 1000 | date: 'short' | highlight: searchTerm"> </span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="dataPods-view_no-results" *ngIf="searchTerm && dataPods.length== 0">
    <span i18n>NO MATCHING RESULTS</span>
  </div>
</div>