<user-dialog control="$ctrl" class="edit-user-dialog"> <user-dialog-header>
<div layout="row">
  <div class="md-title" translate="EDIT_USER"></div>
</div>
</user-dialog-header> <user-dialog-content>
<div layout="column">
<form name="editUserForm" method="post">
  <md-input-container flex class="padding-for-container"> <label
		translate="USER_ROLES_LABEL"></label> <md-select
		ng-model="$ctrl.editUser.roleId" required> <md-option
		ng-repeat="role in $ctrl.roles" ng-value="role.roleId"
		ng-bind="::role.roleName"></md-option> </md-select> </md-input-container>
  <md-input-container flex> <label
		translate="USER_FIRST_NAME_LABEL"></label> <input
		ng-model="$ctrl.editUser.firstName" 
		ng-pattern="/^[a-zA-Z]*$/"
		required/> </md-input-container>
  <md-input-container flex> <label
		translate="USER_MIDDLE_NAME_LABEL"></label> <input
		ng-model="$ctrl.editUser.middleName" 
		ng-pattern="/^[a-zA-Z\s]*$/" /> </md-input-container>
  <md-input-container flex> <label
		translate="USER_LAST_NAME_LABEL"></label> <input
		ng-model="$ctrl.editUser.lastName" 
		ng-pattern="/^[a-zA-Z]*$/"
		required/> </md-input-container>
  <md-input-container flex> <label
		translate="USER_ID_LABEL"></label> <input 
		ng-model="$ctrl.editUser.masterLoginId" ng-readonly="true"
		ng-pattern="/^[A-z\d_@.#$=!%^)(\]:\*;\?\/\,}{'\|<>\[&\+-`~]*$/"
		required/> </md-input-container>
  <md-input-container flex> <label
		translate="USER_EMAIL_LABEL"></label> <input type="email"
		ng-model="$ctrl.editUser.email" 
		required/> </md-input-container>
  <md-input-container flex> <label
		translate="USER_PASSWORD_LABEL"></label> <input type="password"
		ng-model="$ctrl.editUser.password" placeholder="********"/> 
</md-input-container>
  <md-input-container flex class="padding-for-container"> <label
		translate="USER_ACTIVE_LABEL"></label> <md-select
		ng-model="$ctrl.editUser.activeStatusInd" required> <md-option
		ng-repeat="status in $ctrl.statuses" ng-value="status.ind"
		ng-bind="::status.name"></md-option> </md-select> </md-input-container>
<div class="layout-row">
  <md-button class="btn-primary" ng-disabled="editUserForm.$invalid"
		ng-click="$ctrl.updateUser()" translate="UPDATE_USER"> </md-button>
  <md-button class="btn-card button-pull-right" ng-click="$ctrl.$dialog.hide()"
		translate="CANCEL"> </md-button>
</div>
</form>
</div>
</user-dialog-content> </user-dialog>
