<div class="container" (window:resize)="onResize($event)">
    <div class="header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-button class="bck-btn">
            <mat-icon fontIcon="icon-arrow-left" (click)="backToDS()"></mat-icon>
        </button>
        <div fxFlex>Create Datapod </div>
        <span fxFlex>Select Dataset/s to Create</span>
        <mat-slide-toggle (change)="joinEligibleToggled()" [checked]="joinToggleValue" [(ngModel)]="joinToggleValue" labelPosition="before">
            Show Join Eligible
        </mat-slide-toggle>
        <button mat-raised-button color="primary" [disabled]="!isSelected" i18n (click)="gotoValidate()">
            <span>VALIDATE</span>
        </button>
    </div>
    <div class="body" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <mat-card fxFlex="25">
            <mat-card-content style="overflow:hidden;">
                <dx-data-grid #dsGrid fxFlex [dataSource]="gridDataAvailableDS" [rowAlternationEnabled]="true" [height]="contentHeight" [width]="'100%'"
                    [showBorders]="false" [showColumnLines]="false" [hoverStateEnabled]="true" (onSelectionChanged)="onDSSelectionChanged($event)">
                    <dxo-selection selectAllMode="allMode" showCheckBoxesMode="always" [mode]="selectionMode"></dxo-selection>
                    <dxi-column caption="Dataset Name" dataField="system.name"></dxi-column>
                    <dxi-column caption="Created By" dataField="system.createdBy"></dxi-column>
                    <dxi-column caption="Updated Time" dataField="system.modifiedTime" dataType="date" cellTemplate="timeTemplate"></dxi-column>
                    <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
                    <dxo-filter-row [visible]="true" applyFilter="auto"></dxo-filter-row>
                    <div *dxTemplate="let data of 'timeTemplate'">
                        <span> {{data.value * 1000 | date: 'short'}}</span>
                    </div>
                </dx-data-grid>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="75">
            <mat-card-content fxLayout="row" fxLayoutAlign="center stretch">
                <div class="results" fxLayout="row" fxLayoutAlign="center center" *ngIf="!selectedDSData?.length">
                    <span>Select Dataset/s from left pane to view schema</span>
                </div>
                <mat-tab-group fxFlex *ngIf="selectedDSData.length" dynamicHeight="false" [selectedIndex]="selectedDSData?.length">
                    <mat-tab *ngFor="let ds of selectedDSData; let index = index" [label]="ds?.system?.name">
                        <dx-data-grid [dataSource]="ds.schema?.fields" [showBorders]="true" [height]="'100%'" [width]="'100%'" [rowAlternationEnabled]="true"
                            [showColumnLines]="false" style="position:absolute;top:0;bottom:0;left:0;bottom:0;">
                            <dxi-column caption="No" [width]="50" cellTemplate="NoTemplate"></dxi-column>
                            <dxi-column caption="Field Name" dataField="name"></dxi-column>
                            <dxi-column caption="Data Type" dataField="type"></dxi-column>
                            <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
                            <dxo-filter-row [visible]="true" applyFilter="auto"></dxo-filter-row>
                            <dxo-header-filter [visible]="false"></dxo-header-filter>
                            <div *dxTemplate="let data of 'NoTemplate'">
                                <span> {{data.rowIndex + 1}}</span>
                            </div>
                        </dx-data-grid>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
