<div class="settings__container">

  <div class="settings__filters"
       fxLayout="column"
       fxLayoutAlign="center start">

    <mat-form-field class="settings__filters__keyword" fxLayout="row">
      <input matInput type="text"
              fxFlex="70"
              autocomplete="off"
              placeholder="Search"
              name="filter-settings"
              (input)="onTextFilterChange($event.target.value)"
              [value]="filterObj.keyword"/>

      <div fxFLex="30" fxLayout="row">
        <mat-icon *ngFor="let typeIcon of TYPE_ICONS; trackBy: trackByIndex"
                  class="settings__filters_toggle"
                  [class.selected]="filterObj.types.includes(typeIcon.value)"
                  [fontIcon]="typeIcon.icon"
                  (click)="onTypeFilterChange(typeIcon.value)"
        >
        </mat-icon>
      </div>

    </mat-form-field>
  </div>

  <div class="settings__unselected-fields">
    <div *ngIf="unselectedArtifactColumns">
      <div *ngIf="!isEmpty(unselectedArtifactColumns)"
           cdkDropList
           [cdkDropListEnterPredicate]="noReturnPredicate"
           [cdkDropListData]="dropListContainer"
           class="settings__list"
      >
      <div *ngFor="let artifactColumn of unselectedArtifactColumns; trackBy: trackByIndex"
           cdkDrag
           (cdkDragStarted)="dragStarted($event)"
           (cdkDragReleased)="dragReleased($event)"
           [cdkDragData]="artifactColumn"
           class="settings__list-item"
      >
        <div fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="settings__list-item__name"
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <mat-icon [fontIcon]="getArtifactColumnTypeIcon(artifactColumn)"
                      class="settings__list-item__icon">
            </mat-icon>
            {{ artifactColumn.alias || artifactColumn.displayName }}
          </div>
          <!-- <button mat-icon-button
                  [attr.e2e]="'designer-add-btn-' + (artifactColumn.aliasName || artifactColumn.displayName)"
                  (click)="addToGroupIfPossible(artifactColumn)">
            <mat-icon fontIcon="icon-plus"></mat-icon>
          </button> -->
        </div>
      </div>
      </div>
      <div *ngIf="!isEmpty(artifactColumns) && isEmpty(unselectedArtifactColumns)"
           fxLayout="row" fxLayoutAlign="center center">
        <div class="settings__unselected-fields--empty"
             i18n>
          There are no fields for this criteria
        </div>
      </div>
    </div>
  </div>
</div>
