@import "src/themes/base/colors";

.settings__container {
  overflow: hidden;
  display: grid;
  padding: 0 10px;
  height: 100%;
  grid-template:
    "filters" 54px
    "unselected-fields" 1fr
    // "selected-fields" 1fr
    / 100%;
}

.settings__filters {
  grid-area: filters;
  .mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 0;
    margin-right: 10px;

    .mat-input-underline.mat-form-field-underline {
      top: 90%;
    }
  }

  .mat-form-field-infix {
    border: 0;
  }

  .settings__filters__keyword {
    width: 100%;
    font-size: 11px !important;
  }

  ::ng-deep .mat-button-toggle-label-content {
    padding: 0 5px;
    line-height: 30px;

    .mat-icon {
      height: 14px;
      font-size: 14px;
    }
  }

  .mat-button-toggle-checked{
    background-color: $selection-highlight-col;
  }

  .settings__filters_toggle {
    font-size: 8px;
    width: 16px;
    height: 16px;
    padding-top: 4px;
    padding-left: 4px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    border: solid 1px transparent;

    &.selected {
      color: $primary-blue-b1;
    }

    &:hover {
      border: solid 1px $primary-blue-b1;
    }
  }
}

.settings__unselected-fields {
  grid-area: unselected-fields;
  overflow-x: hidden;
  overflow-y: auto;

  .icon-string-type::before {
    color: $string-type-color;
  }
  .icon-number-type::before {
    color: $number-type-color;
  }
  .icon-geo-chart ::before{
    color: $geo-type-color;
  }
  .icon-calendar::before {
    color: $date-type-color;
  }

  .settings__unselected-fields--empty {
    color: $primary-grey-g3;
    font-size: 26px;
  }
}

// .settings__selected-fields {
//   grid-area: selected-fields;
//   overflow-x: hidden;
//   overflow-y: auto;
//   border-top: 1px solid $primary-grey-g1;
//   margin-top: 10px;
// }

.settings__list-item {
  cursor: move;
  margin-top: 3px;
  padding: 5px;
  min-width: max-content;

  button.mat-icon-button {
    line-height: 24px;
    height: 26px;
    width: auto;
  }

  .settings__list-item__name {
    max-width: 230px;
    color: $primary-grey-g4;
    font-size: 11px;
    white-space: normal;
    word-wrap: normal;
    word-break: break-word;
  }

  .settings__list-item__icon {
    color: $primary-blue-b2;
    height: 11px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.settings__list.cdk-drop-list-dragging .settings__list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
