.md-button {
  text-transform: none;

  &.md-icon-button {
    overflow: visible;
    font-size: 23px;
  }
}

.md-button.#{$theme-cls}.btn-primary {
  &:not([disabled]):hover {
    background-color: $btn-primary-bg-color;
  }

  > md-icon {
    color: $btn-primary-text-color;
  }
  color: $btn-primary-text-color;
  background-color: #1A89D4;
  margin: 0;
}

.md-button.#{$theme-cls}.btn-secondary {
  border: $btn-secondary-border;
  color: $btn-secondary-color;

  &:not([disabled]):hover {
    background-color: $btn-secondary-hover-color;
  }
}

.md-button.#{$theme-cls}.btn-link {
  color: $btn-link-color;
}

.md-button.#{$theme-cls}.btn-card {
  color: $app-font-color;
}

.md-button.#{$theme-cls}.btn-link, .md-button.#{$theme-cls}.btn-card {
  font-size: 16px;
  margin: 0 !important;
  padding: 0;
  border-radius: 0;

  &:not([disabled]):hover {
    background-color: initial;
    opacity: 0.75;
  }
}

.button-group {
  > .md-button {
    font-size: 16px;
    color: rgba(89, 101, 116, 0.7);
    background-color: transparent;
    text-transform: none;
    margin: 0;
    padding: 0 8px;
    border-radius: 0;
    border: 1px solid #B0BFC8;

    //border-bottom-width: 1px;
    //border-top-width: 1px;
    //border-right-width: 1px;
    //border-color: #B0BFC8;
    //border-style: solid;

    &:first-child {
      border-radius: 3px 0 0 3px;
      //border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &:not([disabled]):hover {
      background-color: rgba(193, 193, 193, 0.96);
      color: rgba(44, 65, 164, 0.96);
      transition: 0.3s;
    }
  }

  > .md-button:not(.md-icon-button) {
    min-width:100px;
  }

  .md-active {
    background-color: #DEE4EA;
    opacity: 1;
  }

  .md-button.#{$theme-cls}:not([disabled]).md-icon-button:hover {
    background-color: #CAD3DB;
  }
}

.btn-round {
  border-radius: 100px;
}

.btn-primary > md-icon {
  color: white;
}
