.#{$theme-cls} {
  md-select-menu {
    md-content {
      md-option {
        height: 36px;
      }

      md-option[selected] {
        color: #596574;
        font-weight: bold;
      }

      md-option:not([disabled]):hover,
      md-option:not([disabled]):focus {
        background-color: #1A89D4;
        color: #FFFFFF;
      }
    }
  }
}

.md-select-menu-container {
  font-size: 14px !important;
  line-height: 18px;
}

.normal {
  .#{$theme-cls} {
    md-select {
      .md-select-value {
        background-color: $dropdown-normal-bg-color;
        border-radius: 100px;
        border: 1px solid #D9DFE9;
        color: #6D7D94;
        font-size: 14px;
      }
    }

    md-select:not([disabled]):focus {
      .md-select-value {
        border-color: $input-focused-border-color;
      }
    }
  }

  .md-select-value,
  .md-select-value.md-select-placeholder {
    margin: 8px 8px 0 0;
    padding: 0 12px 0 12px;
  }
}

md-input-container.normal.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  transform: none;
}

.#{$theme-cls} {
  md-select {
    margin: 0;
  }

  md-select-value {
    width: 160px;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}
