.#{$theme-cls} {
  & md-input-container {
    margin: 0;

    label {
      font-size: $input-font-size !important;
      font-weight: 400;
      color: $input-label-color !important;
    }

    .md-input {
      // background-color: $input-bg-color;
      // border: $input-border;
      // border-radius: 3px;
      // color: $input-color;
      // font-size: $input-font-size;
      // font-weight: 600;
      padding: 5px;

      /* Chrome/Opera/Safari */
      ::-webkit-input-placeholder,
        /* Firefox 19+ */
      ::-moz-placeholder,
        /* IE 10+ */
      :-ms-input-placeholder,
        /* Firefox 18- */
      :-moz-placeholder {
        color: $input-color;
        opacity: 0.55;
      }
    }
  }

  & md-checkbox {
    .md-icon {
      width: 18px;
      height: 18px;
      border-radius: 3px;
    }

    &:not(.md-checked) {
      .md-icon {
        background-color: $checkbox-inactive-bg-color;
        border: $checkbox-inactive-border;
      }
    }

    &.md-checked {
      .md-icon {
        background-color: $checkbox-active-bg-color;
        border: $checkbox-active-border;

        &:after {
          border-color: $checkbox-inactive-bg-color;
        }
      }
    }

    .md-label {
      font-size: 14px;
      color: $checkbox-label-color;
      font-weight: 600;
    }
  }

  & md-radio-button {
    .md-off {
      background-color: $radiobtn-iactive-bg-color;
      border: $radiobtn-inactive-border;
      border-radius: 100px;
    }

    .md-on {
      border-radius: 100px;
    }

    &.md-checked {
      .md-off {
        border-color: $radiobtn-active-bg-color;
      }

      .md-on {
        border: $radiobtn-active-border;
        background-color: $radiobtn-active-bg-color;
      }
    }

    .md-label {
      font-size: 14px;
      color: $radiobtn-label-color;
    }
  }
}
