md-input-container.#{$theme-cls} {
  .md-input {
    background-color: $input-bg-color;
    color: $input-color;
    border: $input-border;
    border-radius: $input-border-radius;

    padding: $input-padding;
    line-height: $input-line-height;
    font-size: $input-font-size;
  }
}

md-input-container .md-input {
  height: 34px;
}

md-input-container.#{$theme-cls} label {
  color: $input-label-color;
}

.#{$theme-cls} {
  & md-checkbox {
    .md-icon {
      width: 18px;
      height: 18px;
      border-radius: 3px;
    }

    &:not(.md-checked) {
      .md-icon {
        background-color: $checkbox-inactive-bg-color;
        border: $checkbox-inactive-border;
      }
    }

    &.md-checked {
      .md-icon {
        background-color: $checkbox-active-bg-color;
        border: $checkbox-active-border;

        &:after {
          border-color: $checkbox-inactive-bg-color;
        }
      }
    }

    .md-label {
      font-size: 14px;
      color: $checkbox-label-color;
    }
  }

  & md-radio-button {
    .md-off {
      background-color: $radiobtn-iactive-bg-color;
      border: $radiobtn-inactive-border;
      border-radius: 100px;
    }

    .md-on {
      border-radius: 100px;
    }

    &.md-checked {
      .md-off {
        border-color: $radiobtn-active-bg-color;
      }

      .md-on {
        border: $radiobtn-active-border;
        background-color: $radiobtn-active-bg-color;
      }
    }

    .md-label {
      font-size: 14px;
      color: $radiobtn-label-color;
    }
  }
}
