.input-container input {
  background-color: $input-bg-color;
  color: $input-color;
  border: $input-border;
  border-radius: $input-border-radius;
  padding: 0 $input-padding;
  line-height: $input-line-height;
  font-size: $input-font-size;
  height: 34px;
}
