md-dialog {
  max-height: 704px;
  max-width: 720px;

  &.#{$theme-cls} {
    border-radius: 3px;
  }

  md-toolbar.md-triton-theme:not(.md-menu-toolbar) {
    background-color: #FFFFFF;
    color: $app-font-color;
  }

  md-toolbar:after {
    content: "";
    display: block;
    border-top-color: $app-font-color;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0 24px;
  }

  .md-toolbar-tools {
    padding: 0 24px;
  }

  md-dialog-actions {
    padding: 24px;
  }
}

md-dialog-content {
  color: $app-font-color;
}