@import 'src/themes/base/colors';

.report-dx-grid {
  max-width: 100% !important;
  border: 1px solid #dedede;

  .dx-datagrid-table {
    .dx-row {
      > td {
        padding: 7px 30px 7px 10px;
        vertical-align: bottom;
      }

      &.dx-header-row {
        background-color: #f3f5f8;

        > td {
          border-bottom: none;
        }
      }

      &.dx-data-row {
        background-color: #fff;

        &.dx-row-alt {
          background-color: #f7f9fc;
        }
      }
    }
  }
}

.dx-menu-items-container {
  .grid-menu-item {
    width: 50px;

    &.m-small {
      font-size: 12px;
    }
  }
}

.selected-aggregate.icon-Sum {
  margin-top: 6px;
}

.selected-aggregate.icon-Count,
.selected-aggregate.icon-Percentage {
  margin-top: -6px;
}

.column-name {
  margin: 4px 10px 0 0;
  text-transform: uppercase;
}

.dx-header-row td .dx-datagrid-text-content {
  text-transform: uppercase;
}

.column-menu {
  padding-top: 7px;
}

.dx-datagrid .dx-column-indicators {
  vertical-align: -webkit-baseline-middle;
}

button.report-options {
  line-height: 35px !important;
  height: 35px !important;

  mat-icon {
    padding-top: 6px;
  }
}

//Global styles to align with other aggregate icons
.icon-ic-max,
.icon-ic-average,
.icon-ic-min {
  padding-top: 2px;
  font-size: 20px;
}

.report-options .icon-Count,
.report-options .icon-Percentage {
  margin-bottom: 17px;
}

.highlight-aggregate {
  color: $primary-blue-b2;
}
