analyze-pivot-preview {
  width: 100%;
  height: 100%;
}

.analyze-pivot-preview {
  .analyze-dialog {
    min-height: 100%;
    min-width: 100%;
    background-color: #3D3D3D;
  }

  pivot-grid {
    margin: 0 10px;
  }

  .arp {
    &-header {
      background-color: #3D3D3D;
      color: #FFF;

      &-close-btn {
        min-width: 36px;
        height: 45px;
        margin: 0;

        md-icon {
          font-size: 40px;
        }
      }
    }

    &_details-grid {
      .report-grid-container {
        padding: 20px;
      }
    }
  }
}
