<mat-sidenav-container class="analysis-details-container" [autosize]="false">
  <mat-sidenav #detailsSidenav mode="over"
               (openedChange)="onSidenavChange($event)"
               [opened]="false"
               position="end">
    <mat-card *ngIf="analysis">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <span class="expansion-title" i18n>Analysis Details</span>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <div class="detail-top">
          <strong *ngIf="analysis.userFullName">Created By:</strong>
          {{analysis.userFullName | changeCase:'title'}}
        </div>
        <div>
          <strong *ngIf="analysis.scheduleHuman">Schedule:</strong>
          {{analysis.scheduleHuman}}
        </div>
        <div>
          <strong *ngIf="executedBy">Executed By:</strong>
          {{executedBy}}
        </div>
        <div>
          <strong *ngIf="executedAt">Executed At:</strong>
          {{executedAt}}
        </div>
        <div class="analysis-detail-description">
          <strong *ngIf="analysis.description">Description</strong>
          <p>{{analysis.description}}</p>
        </div>
      </mat-expansion-panel>
    </mat-card>

    <mat-card>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <span class="expansion-title" i18n>Previous Versions</span>
        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <executed-list *ngIf="analysis && analyses && analyses.length"
                style="padding-top: 20px;"
                [analyses]="analyses"
                [analysis]="analysis"
                (selectExecution)="onSelectExecution($event)"
                ></executed-list>
      </mat-expansion-panel>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <button (click)="goBackToMainPage(analysis)" mat-icon-button style="margin-right: 10px;">
            <mat-icon class="back-button-icon" fontIcon="icon-arrow-left"></mat-icon>
          </button>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="analysis">
              <span class="analysis__title">{{analysis.name}}</span>
              <label *ngIf="isExecuting" class="execution-tag" i18n>Executing</label>
            </div>
            <div *ngIf="analysis" class="analysis__subheader">{{analysis.metrics}}</div>
          </div>
        </div>
        <div>
          <button *ngIf="canUserEdit"
                  mat-button
                  e2e="action-edit-btn"
                  (click)="edit()">
                  <span i18n>Edit</span>
          </button>
          <button *ngIf="canUserFork"
                  mat-button
                  e2e="action-fork-btn"
                  (click)="fork()">
                  <span i18n>Fork & Edit</span>
          </button>

          <analyze-actions-menu-u *ngIf="analysis"
                                  [analysis]="analysis"
                                  exclude="fork-edit"
                                  (detailsRequested)="detailsSidenav.toggle()"
                                  [actionsToDisable]="isExecuting ? 'execute' : ''"
                                  (afterDelete)="afterDelete(analysis)"
                                  (afterExport)="exportData()"></analyze-actions-menu-u>
        </div>
      </mat-toolbar>
      <mat-card class="executed-view-analysis">
        <filter-chips-u *ngIf="analysis && !(analysis.type === 'report' && analysis.edit) && executedAnalysis.sqlBuilder.filters.length > 0"
                        [filters]="executedAnalysis.sqlBuilder.filters"
                        [readonly]="true"
                        [artifacts]="analysis.artifacts"></filter-chips-u>

        <div *ngIf="analyses && !analyses.length && !onetimeExecution">
          <div class="prompt-execution-container" fxLayout="column" fxLayoutAlign="center center">
            <span i18n>This analysis hasn't been been executed yet. Execute it now?</span>
            <button mat-raised-button color="primary" [disabled]="isExecuting" (click)="executeAnalysis(analysis)" i18n>
              Execute
            </button>
          </div>
        </div>

        <div *ngIf="analysis" [ngSwitch]="analysis.type">
          <executed-report-view *ngSwitchCase="(analysis.type === 'report' || analysis.type === 'esReport') ? analysis.type : ''"
                                [analysis]="executedAnalysis"
                                [dataLoader]="dataLoader"
                                >
          </executed-report-view>
          <executed-pivot-view *ngSwitchCase="'pivot'"
                                [analysis]="executedAnalysis"
                                [data]="data"
                                [updater]="pivotUpdater$"
                                >
          </executed-pivot-view>
          <executed-chart-view *ngSwitchCase="'chart'"
                                [analysis]="executedAnalysis"
                                [data]="data"
                                [updater]="chartUpdater$"
          >
          </executed-chart-view>

          <div *ngSwitchCase="'map'">
            <executed-map-view *ngIf="analysis.type | isAnalysisType:'map':analysis?.chartType"
                              [analysis]="executedAnalysis"
                              [data]="data"
                              >
            </executed-map-view>
            <executed-map-chart-view *ngIf="analysis.type | isAnalysisType:'mapChart':analysis?.chartType"
                                  [analysis]="executedAnalysis"
                                  [data]="data"
                                  [updater]="chartUpdater$"
                                  [actionBus]="chartActionBus$"
            >
            </executed-map-chart-view>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
