<md-card class="analyze-card">
  <md-card-content layout="row" layout-align="space-between start">
    <div flex="95" class="analyze-card_report">
      <div ng-switch="::$ctrl.metadata.type">
        <div class="content-component"
             ng-switch-when="chart">
          <chart options="$ctrl.metadata.chart.options"></chart>
        </div>

        <div class="content-component"
             ng-switch-when="report">
          <div dx-data-grid="$ctrl.metadata.report.options"></div>
        </div>
      </div>
    </div>

    <div flex="5">
      <div class="analyze-card_label"
           ng-bind="::$ctrl.metadata.type | uppercase"></div>
    </div>
  </md-card-content>

  <md-card-footer layout="row" layout-align="end start">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"
              ng-bind="::$ctrl.metadata.name"></span>
        <span class="md-subhead">
            <span ng-bind="::($ctrl.metadata.metrics || []).join(', ')"></span>
            <span>
              <md-icon md-font-icon="icon-calendar"></md-icon>
              <span ng-bind="::$ctrl.metadata.scheduled"></span>
            </span>
          </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="center center">
      <md-button>
        <md-icon md-font-icon="icon-fork"></md-icon>
      </md-button>
      <md-button>
        <md-icon md-font-icon="icon-folder"></md-icon>
      </md-button>
      <md-button>
        <md-icon md-font-icon="icon-more"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card-footer>
</md-card>
