[Unit]
Description=SAW Transport Executor

[Service]
ExecStart=/opt/saw/service/bin/sawsrvc_start.sh --fxj
SyslogIdentifier=saw-transport-executor
User=mapr
Restart=always
Environment="JAVA_OPTS=-Dsaw.executor=true"

[Install]
WantedBy=default.target
