[Unit]
Description=SAW Transport

[Service]
ExecStart=/opt/saw/service/bin/sawsrvc_start.sh --fxj
SyslogIdentifier=saw-transport
User=mapr
Restart=on-failure
# Read environment variables from optional file, for example to set
# JAVA_OPTS during development
EnvironmentFile=/etc/saw-transport-service-env

[Install]
WantedBy=default.target
