[Unit]
Description=SIP Transport Proxy
Requires=sip-transport.service
After=sip-transport.service
Requires=sip-transport-proxy.socket
After=sip-transport-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:9201
PrivateTmp=yes
