<form [formGroup]="kpiForm" autocomplete="off">
  <mat-form-field>
    <input matInput placeholder="KPI Name" formControlName="name" />
  </mat-form-field>

  <mat-form-field *ngIf="_metric">
    <mat-select placeholder="Select Date Field" formControlName="dateField">
      <mat-option *ngFor="let field of _metric.dateColumns" [value]="field.columnName">
        {{ field.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Filter" formControlName="filter">
      <mat-option *ngFor="let filt of dateFilters" [value]="filt.value">
        {{filt.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput formControlName="gte" [max]="kpiForm.get('lte').value" [matDatepicker]="frompicker" (click)="frompicker.open()"
      placeholder="From" />
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="showDateFields">
    <input matInput formControlName="lte" [min]="kpiForm.get('gte').value" [matDatepicker]="topicker" (click)="topicker.open()"
      placeholder="To" />
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Primary Aggregation" formControlName="primAggregate">
      <mat-option *ngFor="let ag of aggregations" [value]="ag.value">
        {{ ag.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="secondary-aggregate-form" formGroupName="secAggregates" *ngIf="_kpiType!== 'bullet'">
    <h4>Secondary Aggregations</h4>
    <mat-slide-toggle *ngFor="let ag of aggregations" [formControlName]="ag.value">
      {{ag.name}}
    </mat-slide-toggle>
  </div>
  <div *ngIf="_kpiType=== 'bullet'">
    <div class="bullet-measures">
      <mat-form-field>
        <input matInput type="number" placeholder="Measure 1" formControlName="measure1" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Measure 2" formControlName="measure2" />
      </mat-form-field>
    </div>
    <mat-form-field class="target">
      <input matInput type="number" placeholder="Metric Target" formControlName="target" />
    </mat-form-field>

    <div class="bullet-bands">
      <span> Band Color Palette : </span>
      <mat-button-toggle-group #bulletPalette="matButtonToggleGroup" [(ngModel)]="bandPaletteValue" [value]="bandPaletteValue" [ngModelOptions]="{standalone: true}">
        <mat-button-toggle value="rog" class="rog">
          <span class="text">ROG</span>
        </mat-button-toggle>
        <mat-button-toggle value="greys" class="grey">
          <span class="text">GREYS</span>
        </mat-button-toggle>
        <mat-button-toggle value="blues" class="blues">
          <span class="text">BLUES</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="applyKPI()" [disabled]="kpiForm.invalid">
    Apply
  </button>
</form>