@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.ttf?up1fxn') format('truetype'),
    url('icomoon.woff?up1fxn') format('woff'),
    url('icomoon.svg?up1fxn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Candlestick-icon:before {
  content: "\e98c";
}
.icon-timeseries-chart:before {
  content: "\e98d";
}
.icon-help2:before {
  content: "\e98e";
}
.icon-pie-chart:before {
  content: "\e98f";
}
.icon-uniE902:before {
  content: "\e990";
}
.icon-uniE903:before {
  content: "\e991";
}
.icon-uniE901:before {
  content: "\e992";
}
.icon-uniE905:before {
  content: "\e993";
}
.icon-uniE906:before {
  content: "\e994";
}
.icon-uniE9022:before {
  content: "\e995";
}
.icon-arrow-left:before {
  content: "\e996";
}
.icon-uniE904:before {
  content: "\e997";
}
.icon-fork:before {
  content: "\e998";
}
.icon-uniE9052:before {
  content: "\e999";
}
.icon-bell-list:before {
  content: "\e99a";
}
.icon-bell:before {
  content: "\e99b";
}
.icon-spline-chart:before {
  content: "\e99c";
}
.icon-calendar2:before {
  content: "\e99d";
}
.icon-uniE910:before {
  content: "\e99e";
}
.icon-uniE911:before {
  content: "\e99f";
}
.icon-card-view:before {
  content: "\e9a0";
}
.icon-chart-placeholder:before {
  content: "\e9a1";
}
.icon-chart-view:before {
  content: "\e9a2";
}
.icon-close:before {
  content: "\e9a3";
}
.icon-collapse:before {
  content: "\e9a4";
}
.icon-uniE90F:before {
  content: "\e9a5";
}
.icon-uniE9102:before {
  content: "\e9a6";
}
.icon-description:before {
  content: "\e9a7";
}
.icon-folder2:before {
  content: "\e9a8";
}
.icon-full-screen:before {
  content: "\e9a9";
}
.icon-group-by-column:before {
  content: "\e9aa";
}
.icon-uniE91D:before {
  content: "\e9ab";
}
.icon-uniE91E:before {
  content: "\e9ac";
}
.icon-uniE91F:before {
  content: "\e9ad";
}
.icon-hor-bar-chart:before {
  content: "\e9ae";
}
.icon-uniE91C:before {
  content: "\e9af";
}
.icon-uniE922:before {
  content: "\e9b0";
}
.icon-uniE923:before {
  content: "\e9b1";
}
.icon-uniE924:before {
  content: "\e9b2";
}
.icon-uniE91D2:before {
  content: "\e9b3";
}
.icon-key:before {
  content: "\e9b4";
}
.icon-launchpad:before {
  content: "\e9b5";
}
.icon-uniE9232:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9b7";
}
.icon-more:before {
  content: "\e9b8";
}
.icon-navicon:before {
  content: "\e9b9";
}
.icon-pivot:before {
  content: "\e9ba";
}
.icon-plus2:before {
  content: "\e9bb";
}
.icon-uniE92E:before {
  content: "\e9bc";
}
.icon-uniE92F:before {
  content: "\e9bd";
}
.icon-uniE930:before {
  content: "\e9be";
}
.icon-print:before {
  content: "\e9bf";
}
.icon-Shape-Copy-2:before {
  content: "\e9c0";
}
.icon-Shape-Copy-22:before {
  content: "\e9c1";
}
.icon-sort2:before {
  content: "\e9c2";
}
.icon-Table-view:before {
  content: "\e9c3";
}
.icon-trash:before {
  content: "\e9c4";
}
.icon-upload2:before {
  content: "\e9c5";
}
.icon-user-placeholder:before {
  content: "\e9c6";
}
.icon-vert-bar-chart:before {
  content: "\e9c7";
}
.icon-query-mode:before {
  content: "\e9c9";
}
.icon-Sum:before {
  content: "\e9cb";
}
.icon-bubble-chart:before {
  content: "\e9cc";
}
.icon-line-chart:before {
  content: "\e9cd";
}
.icon-scatter-chart:before {
  content: "\e9ce";
}
.icon-export:before {
  content: "\e9cf";
}
.icon-combo-chart:before {
  content: "\e9d0";
}
.icon-designer-mode:before {
  content: "\e9d1";
}
.icon-remove:before {
  content: "\e9d2";
}
.icon-download2:before {
  content: "\e9d3";
}
.icon-report:before {
  content: "\e9d4";
}
.icon-edit2:before {
  content: "\e9d5";
}
.icon-uniE92D:before {
  content: "\e9d6";
}
.icon-expand:before {
  content: "\e9d7";
}
.icon-uniE92E2:before {
  content: "\e9d8";
}
.icon-eye-disabled:before {
  content: "\e9d9";
}
.icon-uniE92F2:before {
  content: "\e9da";
}
.icon-filter:before {
  content: "\e9db";
}
.icon-MIN {
  background-image:
    url(
      'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 24"><path fill="#727272" fill-rule="nonzero" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zM4.105 8.469l2.191 6.187 2.18-6.187h2.309V17H9.02v-2.332l.176-4.025L6.894 17H5.687L3.39 10.648l.176 4.02V17H1.808V8.469h2.297zM13.664 17h-1.758V8.469h1.758V17zm8.041 0h-1.758l-3.421-5.613V17h-1.758V8.469h1.758l3.427 5.625V8.469h1.752V17z"/></svg>'
    );
}
.icon-MAX {
  background-image:
    url(
      'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#727272" fill-rule="nonzero" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zM3.683 9l1.709 5.077L7.092 9h1.8v7H7.517v-1.913l.137-3.303L5.858 16h-.941l-1.791-5.212.137 3.299V16H1.892V9h1.791zm10.163 5.558H11.15L10.636 16H9l2.78-7h1.425L16 16h-1.636l-.518-1.442zm-2.56-.966l2.383-.022-1.23-2.756-1.152 2.778zM19 11.413L20.302 9h1.646l-2.023 3.471L22 16h-1.665L19 13.548 17.665 16H16l2.075-3.529L16.052 9h1.646L19 11.413z"/></svg>'
    );
}
.icon-AVG {
  background-image:
    url(
      'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#727272" fill-rule="nonzero" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm-5.154-9.648H4.15L3.636 16H2l2.78-8h1.425L9 16H7.364l-.518-1.648zM4.41 13.03l2.22-.028L5.394 9.88l-.985 3.15zm7.083.985L13.235 8H15l-2.678 8h-1.654L8 8h1.76l1.732 6.016zM21 14.91c-.088.11-.207.23-.359.356a2.685 2.685 0 0 1-.57.353c-.23.108-.5.2-.81.272-.312.073-.67.11-1.074.11-.475 0-.908-.083-1.3-.249a2.727 2.727 0 0 1-1.008-.73 3.377 3.377 0 0 1-.65-1.181c-.152-.467-.229-1.002-.229-1.605v-.46c0-.602.073-1.138.22-1.607.146-.468.353-.863.62-1.184.269-.32.593-.565.973-.733.38-.167.803-.251 1.268-.251.478 0 .891.063 1.24.19.348.126.64.304.873.532.234.228.417.5.548.818.132.317.218.665.258 1.043h-1.475a2.401 2.401 0 0 0-.141-.532 1.115 1.115 0 0 0-.674-.666 1.678 1.678 0 0 0-.584-.09c-.518 0-.912.207-1.182.622-.269.415-.404 1.031-.404 1.848v.47c0 .817.147 1.433.44 1.85.293.418.722.626 1.288.626.181 0 .34-.012.474-.037.135-.025.25-.056.346-.094.096-.037.176-.078.24-.123.064-.044.116-.088.157-.13v-1.343h-1.379v-1.182H21v3.107z"/></svg>'
    );
}
.icon-search2:before {
  content: "\e9dc";
}
.icon-uniE91E2:before {
  content: "\e9dd";
}
.icon-uniE9222:before {
  content: "\e9de";
}
.icon-uniE921:before {
  content: "\e9e0";
}
.icon-area-chart:before {
  content: "\e9e1";
}
.icon-uniE954:before {
  content: "\e9e2";
}
.icon-uniE955:before {
  content: "\e9e3";
}
.icon-clipboard-solid:before {
  content: "\e984";
}
.icon-clipboard:before {
  content: "\e985";
}
.icon-fullscreen:before {
  content: "\e983";
}
.icon-fullscreen-exit:before {
  content: "\e980";
}
.icon-save:before {
  content: "\e97f";
}
.icon-play-circle:before {
  content: "\e97b";
}
.icon-play-circle-solid:before {
  content: "\e97e";
}
.icon-clear-all:before {
  content: "\e977";
}
.icon-new-folder:before {
  content: "\e979";
}
.icon-file-solid:before {
  content: "\e97a";
}
.icon-newspaper-solid:before {
  content: "\e986";
}
.icon-soup-solid:before {
  content: "\e987";
}
.icon-theatre-solid:before {
  content: "\e988";
}
.icon-thinking-solid:before {
  content: "\e989";
}
.icon-tools-solid:before {
  content: "\e98a";
}
.icon-comment-solid:before {
  content: "\e975";
}
.icon-emptycat:before {
  content: "\e976";
}
.icon-finance-solid:before {
  content: "\e978";
}
.icon-news-solid:before {
  content: "\e97c";
}
.icon-productivity-solid:before {
  content: "\e97d";
}
.icon-userempty:before {
  content: "\e981";
}
.icon-utilities-solid:before {
  content: "\e982";
}
.icon-download:before {
  content: "\e974";
}
.icon-image-solid-add:before {
  content: "\e972";
}
.icon-image-solid:before {
  content: "\e973";
}
.icon-upload:before {
  content: "\e971";
}
.icon-dial:before {
  content: "\e96e";
}
.icon-stack:before {
  content: "\e96f";
}
.icon-search-results:before {
  content: "\e970";
}
.icon-barcode-scanner:before {
  content: "\e96c";
}
.icon-passcode:before {
  content: "\e96d";
}
.icon-calendar-solid:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-action-queue:before {
  content: "\e904";
}
.icon-action-solid:before {
  content: "\e90a";
}
.icon-action:before {
  content: "\e90c";
}
.icon-briefcase-solid:before {
  content: "\e90e";
}
.icon-briefcase:before {
  content: "\e90f";
}
.icon-calendar-day:before {
  content: "\e910";
}
.icon-call:before {
  content: "\e911";
}
.icon-chat-bot-solid:before {
  content: "\e912";
}
.icon-chat-bot:before {
  content: "\e913";
}
.icon-comments:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e915";
}
.icon-delete-solid:before {
  content: "\e916";
}
.icon-delete:before {
  content: "\e917";
}
.icon-edit-solid:before {
  content: "\e918";
}
.icon-edit:before {
  content: "\e919";
}
.icon-ellipsis-solid:before {
  content: "\e91a";
}
.icon-ellipsis:before {
  content: "\e91b";
}
.icon-email-draft-solid:before {
  content: "\e91c";
}
.icon-email-draft:before {
  content: "\e91d";
}
.icon-email-solid:before {
  content: "\e91e";
}
.icon-email:before {
  content: "\e91f";
}
.icon-folder-open:before {
  content: "\e920";
}
.icon-folder-solid:before {
  content: "\e921";
}
.icon-folder:before {
  content: "\e922";
}
.icon-globe-solid:before {
  content: "\e923";
}
.icon-globe:before {
  content: "\e924";
}
.icon-help-solid:before {
  content: "\e925";
}
.icon-help:before {
  content: "\e926";
}
.icon-info-solid:before {
  content: "\e929";
}
.icon-info:before {
  content: "\e92a";
}
.icon-link:before {
  content: "\e92b";
}
.icon-list-view:before {
  content: "\e92c";
}
.icon-lock-solid:before {
  content: "\e92d";
}
.icon-lock:before {
  content: "\e92e";
}
.icon-manage-columns:before {
  content: "\e92f";
}
.icon-messages-solid:before {
  content: "\e930";
}
.icon-Messages:before {
  content: "\e931";
}
.icon-nav-activity-solid:before {
  content: "\e932";
}
.icon-nav-activity:before {
  content: "\e933";
}
.icon-notifications-solid:before {
  content: "\e934";
}
.icon-notifications:before {
  content: "\e935";
}
.icon-pending-solid:before {
  content: "\e936";
}
.icon-pending:before {
  content: "\e937";
}
.icon-pin-solid:before {
  content: "\e938";
}
.icon-pin:before {
  content: "\e939";
}
.icon-profile-solid:before {
  content: "\e93a";
}
.icon-profile:before {
  content: "\e93b";
}
.icon-Refresh:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-settings-solid:before {
  content: "\e93e";
}
.icon-settings:before {
  content: "\e93f";
}
.icon-sort:before {
  content: "\e940";
}
.icon-star-solid:before {
  content: "\e941";
}
.icon-star:before {
  content: "\e942";
}
.icon-tile-view-solid:before {
  content: "\e943";
}
.icon-tile-view:before {
  content: "\e944";
}
.icon-unlocked:before {
  content: "\e945";
}
.icon-users-solid:before {
  content: "\e946";
}
.icon-users:before {
  content: "\e947";
}
.icon-warning2:before {
  content: "\e948";
}
.icon-workspace-solid:before {
  content: "\e949";
}
.icon-workspace:before {
  content: "\e94a";
}
.icon-wrench-solid:before {
  content: "\e94b";
}
.icon-wrench:before {
  content: "\e94c";
}
.icon-attachment:before {
  content: "\e94d";
}
.icon-barchart-solid:before {
  content: "\e94e";
}
.icon-barchart:before {
  content: "\e94f";
}
.icon-calendar-day-solid:before {
  content: "\e950";
}
.icon-caret-left:before {
  content: "\e951";
}
.icon-caret-right:before {
  content: "\e952";
}
.icon-caret-up:before {
  content: "\e953";
}
.icon-chevron-left:before {
  content: "\e954";
}
.icon-chevron-right:before {
  content: "\e955";
}
.icon-chevron-up:before {
  content: "\e956";
}
.icon-content-connector:before {
  content: "\e957";
}
.icon-emails-solid:before {
  content: "\e958";
}
.icon-emails:before {
  content: "\e959";
}
.icon-exchange-solid:before {
  content: "\e95a";
}
.icon-exchange:before {
  content: "\e95b";
}
.icon-flag-solid:before {
  content: "\e95c";
}
.icon-flag:before {
  content: "\e95d";
}
.icon-Minus:before {
  content: "\e95e";
}
.icon-portal-connectors:before {
  content: "\e95f";
}
.icon-portal-libraries:before {
  content: "\e960";
}
.icon-reply-all-solid:before {
  content: "\e961";
}
.icon-reply-all:before {
  content: "\e962";
}
.icon-reply-solid:before {
  content: "\e963";
}
.icon-reply:before {
  content: "\e964";
}
.icon-right-arrow:before {
  content: "\e965";
}
.icon-send-solid:before {
  content: "\e966";
}
.icon-send:before {
  content: "\e967";
}
.icon-share-solid:before {
  content: "\e968";
}
.icon-share:before {
  content: "\e969";
}
.icon-sync:before {
  content: "\e96a";
}
.icon-unread:before {
  content: "\e96b";
}
.icon-like:before {
  content: "\e90d";
}
.icon-logout:before {
  content: "\e90b";
}
.icon-hide:before {
  content: "\e908";
}
.icon-show:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e900";
}
.icon-caret:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e907";
}
.icon-warning:before {
  content: "\e9e9";
}
.icon-danger:before {
  content: "\e9ea";
  color: #ab0e27;
}
.icon-happy2 .path1:before {
  content: "\e9eb";
  color: rgb(255, 215, 102);
}
.icon-happy2 .path2:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(75, 104, 127);
}
.icon-happy2 .path3:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(234, 104, 94);
}
.icon-happy2 .path4:before {
  content: "\e9ee";
  margin-left: -1em;
  color: none;
}
.icon-happy2 .path5:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-happy2 .path6:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-happy2 .path7:before {
  content: "\e9f1";
  margin-left: -1em;
  color: none;
}
.icon-happy2 .path8:before {
  content: "\e9f2";
  margin-left: -1em;
  color: none;
}
.icon-happy2 .path9:before {
  content: "\e9f3";
  margin-left: -1em;
  color: none;
}
.icon-wip:before {
  content: "\ea1d";
  color: #f07601;
}
.icon-vhappy:before {
  content: "\e9e4";
}
.icon-very-sad:before {
  content: "\e9e5";
}
.icon-happy:before {
  content: "\e9e6";
}
.icon-neutral:before {
  content: "\e9e7";
}
.icon-sad:before {
  content: "\e9e8";
}
.icon-stop-circle:before {
  content: "\e9f4";
}
.icon-arrow-down-circle:before {
  content: "\e9f5";
}
.icon-arrow-up-circle:before {
  content: "\e9f6";
}
.icon-arrow-down-circle-filled:before {
  content: "\e9f7";
}
.icon-arrow-up-circle-filled:before {
  content: "\e9f8";
}
