<div class="search-box" [ngClass]="{'m-search-visible': states.hovered || states.focused || value}">

  <mat-icon fontIcon="icon-search"
            (click)="doAutoFocus()"
            i18n-matTooltip="Seach">
  </mat-icon>

  <input #searchInput
         (click)="states.focused = true"
         (input)="onChangeDebounced($event.target.value)"
         autocomplete="off"
         [value]="value"
         [placeholder]="placeholder"
         type="text" id="search-box-autofocus" />

  <mat-icon fontIcon="icon-close"
    (click)="onClose()"
  ></mat-icon>
</div>
