<!-- <div>
  <h1 e2e="branding-details">Set Brand Color and Logo</h1>
  <input type="text" [(ngModel)]="primaryColor" /><br/>
  <div class="choose_file">
    <span>Select Image For Upload</span>
    <input name="Select File" type="file" (change)="prepareBrandimgForUpload($event)" />
  </div>
  <img src="http://54.160.143.70/sip/sip-web/src/assets/img/brand-logo/blackbuck.png" alt="Smiley face" height="42" width="42">
</div> -->
<h1 e2e="branding-details">Brand Color and Logo</h1>
<form [formGroup]="saveForm"
      (submit)="saveBrandingDetails()">
  <div fxLayout="column" class="brand-form" style="width: 400px;">
    <mat-form-field>
      <label>Branding Color</label>
      <input
        matInput
        formControlName="color"
        [value]="primaryColor"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <label>Branding Logo</label>
      <input
        matInput
        autocomplete="off"
        formControlName="logo"
        required
      />
      <label class="file-upload">
          Click to Upload
         <input type="file" style="visibility: hidden;" (change)="prepareBrandimgForUpload($event)" accept=".png,.jpeg,.jpg"/>
         {{binaryFormatImage}}
     </label>
    </mat-form-field>
    <!-- <img *ngIf="brandImage.length > 0" [src]="brandImage" width="16" height="14" alt="embedded folder icon"> -->
  </div><br/>
  <button type="submit" mat-raised-button color="primary">Save</button>
  <button type="button" mat-button i18n (click)="resetBrandingData()">Reset to Default</button>
</form>

