<div class="settings__container">
  <mat-list>
    <mat-list-item *ngFor="let artifactColumn of artifactColumns; trackBy index"
                   class="settings__list-item">
      <div>
        <mat-checkbox [value]="artifactColumn.checked"
                      (change)="onCheckToggle(artifactColumn)"
                      class="settings__list-item__checkbox">
        </mat-checkbox>
        <span class="settings__list-item__name">
          {{ artifactColumn.alias || artifactColumn.displayName }}
        </span>
        <mat-icon [fontIcon]="TYPE_ICONS_OBJ[artifactColumn.type].icon"
            class="settings__list-item__icon">
        </mat-icon>
      </div>
      <!-- AREA MENU -->
      <div *ngIf="artifactColumn.checked">
        <button mat-icon-button
                [matMenuTriggerFor]="areamenu"
                e2e="pivot-area-menu-btn">
          <mat-icon [fontIcon]="AREA_TYPES_OBJ[artifactColumn.area].icon"></mat-icon>
        </button>
        <mat-menu #areamenu="matMenu">
          <button *ngFor="let areaType of AREA_TYPES | pivotAreaFilter:artifactColumn.type; trackBy: menuTrackByFn"
                  (click)="onSelectAreaType(areaType.value, artifactColumn)"
                  mat-menu-item>
            <mat-icon [fontIcon]="areaType.icon"></mat-icon>
            <span>{{areaType.label}}</span>
          </button>
        </mat-menu>
      </div>
      <!-- AGGREGATE MENU -->
      <div *ngIf="artifactColumn.checked && artifactColumn.area === 'data'">
        <button mat-icon-button
                [matMenuTriggerFor]="aggregatemenu"
                e2e="pivot-area-menu-btn">
          <mat-icon [fontIcon]="AGGREGATE_TYPES_OBJ[artifactColumn.aggregate].icon"></mat-icon>
        </button>
        <mat-menu #aggregatemenu="matMenu">
          <button *ngFor="let aggregateType of AGGREGATE_TYPES; trackBy: menuTrackByFn"
                  (click)="onSelectAggregateType(aggregateType.value, artifactColumn)"
                  mat-menu-item>
            <mat-icon [fontIcon]="aggregateType.icon"></mat-icon>
            <span>{{aggregateType.label}}</span>
          </button>
        </mat-menu>
      </div>
      <!-- DATE_INTERVAL MENU -->
      <div *ngIf="artifactColumn.checked && DATE_TYPES.includes(artifactColumn.type)">
        <button mat-icon-button
                [matMenuTriggerFor]="dateintervalmenu"
                e2e="pivot-area-menu-btn">
          <mat-icon fontIcon="icon-calendar"></mat-icon>
        </button>
        <mat-menu #dateintervalmenu="matMenu">
          <button *ngFor="let dateInterval of DATE_INTERVALS; trackBy: menuTrackByFn"
                  (click)="onSelectDateInterval(dateInterval.value, artifactColumn)"
                  mat-menu-item>
            <span>{{dateInterval.label}}</span>
          </button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</div>
