<div layout="column" layout-align="space-between stretch" class="container">
  <md-card>
    <md-card-content layout="row">
      <div dx-data-grid="$ctrl.gridConfig" dx-item-alias="analysis">
        <div data-options="dxTemplate: { name: 'actionCellTemplate' }">
          <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-button btn-card" aria-label="Export" ng-click="$ctrl.export(analysis.data)">
              <md-icon md-font-icon="icon-export"></md-icon>
            </md-button>
            <md-button class="md-button btn-card" aria-label="Print" ng-click="$ctrl.print(analysis.data)">
              <md-icon md-font-icon="icon-print"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
