<div fxLayout="row" fxLayoutAlign="start center">
  <label fxFlex i18n class="color-picker-label">{{ config.labelText }}</label>
  <input
    #colorPickerInput
    fxFlex="15"
    class="color-choser"
    [style.background]="config.bgColor"
    [(colorPicker)]="config.bgColor"
    [cpPosition]="config.position"
    [cpWidth]="config.width"
    [cpHeight]="config.height"
    [cpDialogDisplay]="config.display"
    [cpColorMode]="config.mode"
    [cpOKButton]="config.okButton"
    [cpOKButtonClass]="config.okButtonClass"
    [cpOKButtonText]="config.oKButtonText"
    [cpCancelButton]="config.cancelButton"
    [cpCancelButtonClass]="config.cancelButtonClass"
    [cpCancelButtonText]="config.cancelButtonText"
    [cpToggle]="config.toggle"
    [cpIgnoredElements]="config.ignoreHTMLElements"
    [cpPositionOffset]="config.positionOffset"
    [cpPositionRelativeToArrow]="config.positionRelativeToArrow"
    [cpSaveClickOutside]="config.saveOnClickOutside"
    [cpPresetLabel]="config.presetColorLabel"
    [cpPresetColors]="config.presetColors"
    [cpAlphaChannel]="config.alphaChannel"
    [cpPositionRelativeToArrow]="config.relativeToArrow"
    (click)="clickOnInput()"
    (colorPickerSelect)="chooseColor($event)"
    (cpSliderDragEnd)="chooseColor($event)"
    (cpInputChange)="chooseColor($event)"
  />
</div>
