[Unit]
Description=SIP Batch Ingestion Service
Requires=sip-batch-ingestion.service
After=sip-batch-ingestion.service
Requires=sip-batch-ingestion-proxy.socket
After=sip-batch-ingestion-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:9904
PrivateTmp=yes
