@import "src/themes/base/colors";

security-group {
  .mat-toolbar {
    background-color: transparent;

    .admin-title {
      color: $grey-text-color;
      font-weight: bold;
      margin-right: 10px;
    }

    .customer-name {
      color: $grey-text-color;
    }
  }

  .security-group-grid {
    width: 30% !important;
    float: left;
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #D1D3D3;
  }
}

.update-security-property {
  width: 24px !important;
  height: 24px !important;
  line-height: 20px !important;
  margin-right: 18px !important;
}
