<div ng-controller="TableCardsCtrl as ctrl" style="margin: 5px">

    <!--<draw-zone>-->
        <!--<div style="width: 250px; margin-right: 30px">-->
            <!--<md-list class="table-card">-->
                <!--<md-subheader class="md-no-sticky">-->
                    <!--<md-checkbox aria-label="Toppings">Toppings</md-checkbox>-->
                <!--</md-subheader>-->
                <!--<md-divider></md-divider>-->
                <!--<md-list-item ng-repeat="topping in ctrl.toppings">-->
                    <!--<md-checkbox ng-model="topping.wanted"></md-checkbox>-->
                    <!--<p> {{ topping.name }} </p>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</div>-->

        <!--<div style="width: 250px">-->
            <!--<md-list class="table-card" ng-drop="true" ng-drop-success="ctrl.onDropComplete($data,$event)">-->
                <!--<md-subheader class="md-no-sticky">-->
                    <!--<md-checkbox aria-label="Toppings">Toppings 2</md-checkbox>-->
                <!--</md-subheader>-->
                <!--<md-divider></md-divider>-->
                <!--<md-list-item ng-repeat="topping in ctrl.toppings2" class="md-no-proxy">-->
                    <!--<md-checkbox ng-model="topping.wanted"></md-checkbox>-->
                    <!--<p> {{ topping.name }} </p>-->
                    <!--<item-highlighter></item-highlighter>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</div>-->

    <!--</draw-zone>-->

    <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">
        <ng-include src="'partials/table.tmpl.html'" ng-repeat="table in tableObjects"></ng-include>
    </js-plumb-canvas>


</div>