<analyze-dialog class="analyze-report-sort">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong translate="SORT"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <div class="ars_sort-list">
      <div class="ars_sort-item" layout="row" layout-align="space-around center" layout-padding
           ng-repeat="sort in $ctrl.model.sorts track by $index">
        <span translate="SORT_BY"></span>

        <md-select ng-model="::sort.field">
          <md-option
            ng-repeat="field in $ctrl.model.fields | filter:$ctrl.filterSortOption.bind($ctrl, sort)"
            ng-bind="::field.getDisplayName ? field.getDisplayName() : field.label"
            ng-value="field"></md-option>
        </md-select>

        <div class="ars_sort-order">
          <!-- STRING SORT OPTIONS -->
          <md-radio-group ng-model="sort.order" layout="row" layout-align="center center"
                          ng-if="sort.field.type === 'string'">
            <md-radio-button class="ars_sort-rbtn" value="asc" aria-label="Ascending">
              A
              <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
              Z
            </md-radio-button>
            <md-radio-button class="ars_sort-rbtn" value="desc" aria-label="Descending">
              Z
              <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
              A
            </md-radio-button>
          </md-radio-group>

          <!-- NUMBER SORT OPTIONS -->
          <md-radio-group ng-model="sort.order" layout="row" layout-align="center center"
                          ng-if="$ctrl.NUMBER_TYPES.includes(sort.field.type)">
            <md-radio-button class="ars_sort-rbtn" value="asc" aria-label="Ascending">
              <div layout="column">
                123
                <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
              </div>
            </md-radio-button>
            <md-radio-button class="ars_sort-rbtn" value="desc" aria-label="Descending">
              <div layout="column">
                321
                <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
              </div>
            </md-radio-button>
          </md-radio-group>

          <!-- DATE SORT OPTIONS -->
          <md-radio-group ng-model="sort.order" layout="row" layout-align="center center"
                          ng-if="$ctrl.DATE_TYPES.includes(sort.field.type)">
            <md-radio-button class="ars_sort-rbtn" value="asc" aria-label="Ascending">
              <div layout="column">
                Jan
                <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
                Dec
              </div>
            </md-radio-button>
            <md-radio-button class="ars_sort-rbtn" value="desc" aria-label="Descending">
              <div layout="column">
                Dec
                <md-icon md-font-icon="icon-arrow-left" class="ars_arrow"></md-icon>
                Jan
              </div>
            </md-radio-button>
          </md-radio-group>
        </div>
        <md-button ng-click="$ctrl.deleteSort(sort, $index)" class="md-icon-button">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </div>

    <div layout="row" layout-padding>
      <strong ng-show="$ctrl.canAddSort()">
        <a class="ars_add-link"
           ng-click="$ctrl.addSort()"
           translate="SORT_BY_ANOTHER_COLUMN"></a>
      </strong>
    </div>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.apply()"
                 translate="APPLY_SORT">
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.cancel()"
                 translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
