<header class="base-dialog__header">
  <strong [ngSwitch]="data.mode">
    <ng-container *ngSwitchCase="'create'" i18n>
      Add Security Group
    </ng-container>
    <ng-container *ngSwitchCase="'edit'" i18n>
      Edit Security Group
    </ng-container>
  </strong>
</header>
<div class="base-dialog__content">
  <div fxLayout="column" fxLayoutAlign="center start">
    <div class="errors" *ngIf="errorState">
      <span [innerHtml]="errorMessage"></span>
    </div>
    <mat-form-field>
      <input matInput [(ngModel)]="securityGroup.securityGroupName" placeholder="Security Group Name" required/>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput [(ngModel)]="securityGroup.description" placeholder="Description"></textarea>
      </mat-form-field>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="base-dialog__actions">
  <button (click)="create()"
          e2e="create-analysis-btn"
          color="primary"
          [ngSwitch]="data.mode"
          mat-raised-button
  >
    <ng-container *ngSwitchCase="'create'" i18n>
      Create Group
    </ng-container>
    <ng-container *ngSwitchCase="'edit'" i18n>
      Save
    </ng-container>
  </button>
  <button mat-button
          mat-dialog-close i18n
  >Cancel</button>
</div>
