<md-card class="panel-card">
  <md-card-header>
    <span class="card-title" ng-bind="$ctrl.filter.label"></span>
    <span flex></span>
    <binary-option left="{{::$ctrl.BOOLEAN_CRITERIA.AND}}"
                   right="{{::$ctrl.BOOLEAN_CRITERIA.OR}}"
                   ng-model="$ctrl.filter.booleanCriteria"
                   on-change="$ctrl.onBooleanCriteriaSelected(value)">
    </binary-option>
  </md-card-header>

  <md-card-content>
    <ng-transclude></ng-transclude>
  </md-card-content>
</md-card>
<md-divider></md-divider>
