md-sidenav {
  height: 100%;

  .secondary-toolbar {
    height: 75px;
    justify-content: center;
  }

  md-content {
    padding: 0 !important;
  }

  accordion-menu {
    .sidenav-menu {
      margin: 0;
    }

    .parent-list-item {
      border-bottom: 1px solid #CCC;

      &:first-child {
        border-top: 1px solid #CCC;
      }
    }

    .menu-toggle-list {
      li {
        &:first-child {
          border-top: 1px solid #CCC;
        }
      }
    }

    .menu-toggle-list {
      .layout-row {
        padding-left: 15px;
      }
    }
  }

  accordion-menu-link {
    .md-button-toggle {
      .md-toggle-icon:not(.toggled) {
        transform: rotate(-90deg);
      }
    }
  }
}
