@import 'src/themes/base/colors';

.aggregate-chooser__btn {
  width: auto;
  color: $primary-grey-g3;

  & > .mat-button-wrapper {
    width: auto;

    & > .mat-icon {
      width: auto;

      &::before {
        width: auto;
      }
    }
  }
}

//Global styles to align with other aggregate icons
.icon-ic-max,
.icon-ic-average,
.icon-ic-min {
  font-size: 20px;
}
