widget-type {
  button.choose-widget-type {
    background-color: white;
    margin: 5px 0;
    width: 100%;
    padding: 20px 16px;

    &:first-child {
      margin-top: 10px;
    }

    .mat-button-wrapper {
      display: flex;
    }
  }

  .widget-icon {
    width: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .widget-desc {
    width: 80%;
    flex-grow: 1;
    text-align: left;
    padding-left: 15px;

    p {
      margin: 0;
    }
  }

  .analysis-widget {
    background-image: url('~img/widgets/existing-analysis.png');
  }

  .kpi-widget {
    background-image: url('~img/widgets/snapshot-kpi.png');
  }

  .custom-widget {
    background-image: url('~img/widgets/custom-widget.png');
  }
}
