@import "themes/base/colors";

designer-toolbar {
  .toolbar__container {
    height: 100%;
    padding: 10px;

    button {
      line-height: 24px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
