<mat-list role="list">

  <div class="table-name">
    <span>{{artifact.artifactName}}</span>
  </div>

  <mat-divider></mat-divider>

  <mat-list-item *ngFor="let column of artifact.columns; trackBy: index"
                 role="listitem">
    <mat-checkbox [checked]="column.checked"
                  (change)="onCheckBoxToggle(column, $event.checked)">
      <span class="jsp-table-column-name">
        {{getColumnLabel(column)}}
      </span>
    </mat-checkbox>
    <div *ngIf="column.joinEligible">
      <js-plumb-endpoint-u *ngFor="let side of sides; trackBy: index"
                           [column]="column"
                           [artifactName]="artifact.artifactName"
                           [side]="side"
                           [plumbInstance]="plumbInstance">
      </js-plumb-endpoint-u>
    </div>
  </mat-list-item>
</mat-list>
