<gridster [options]="options" #gridster class="dashboard-gridster">
  <gridster-item
    class="mat-elevation-z9"
    [item]="item"
    *ngFor="let item of dashboard; index as idx"
    [ngClass]="item.kpi ? 'cell-kpi' : 'cell-analysis'"
  >
    <!-- <span class="analysis-title">{{item.analysis.name}}</span> -->
    <div class="backdrop" *ngIf="!isViewMode()">
      <div class="tile-actions">
        <button
          mat-icon-button
          [attr.e2e]="'dashboard-edit-tile-button-' + idx"
          (click)="editTile(item)"
          *ngIf="item.kpi || item.bullet"
        >
          <mat-icon fontIcon="icon-edit-solid"></mat-icon>
        </button>
        <button
          mat-icon-button
          [attr.e2e]="'dashboard-remove-tile-button-' + idx"
          (click)="removeTile(item)"
        >
          <mat-icon fontIcon="icon-close"></mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="item.analysis">
      <mat-icon class="zoom-icon"  fontIcon="icon-full-screen" (click)="zoomAnalysis(item)" matTooltip="View Full Screen"></mat-icon>

      <observe-map *ngIf="item.analysis.type | isAnalysisType:'map':item.analysis?.chartType"
                   class="analysis-container"
                   [item]="item"
                   (onRefresh)="refreshTile($event)"
                   [analysis]="item.analysis"
                   [updater]="item.updater"
                   [ViewMode]="isViewMode()"
      >
      </observe-map>

      <observe-map-chart
        *ngIf="item.analysis.type | isAnalysisType:'mapChart':item.analysis?.chartType"
        class="analysis-container"
        [item]="item"
        (onRefresh)="refreshTile($event)"
        [analysis]="item.analysis"
        [enableChartDownload]="enableChartDownload"
        [updater]="item.updater"
        [ViewMode]="isViewMode()"
      >
      </observe-map-chart>

      <observe-chart
        *ngIf="item.analysis.type | isAnalysisType:'chart'"
        class="analysis-container"
        [item]="item"
        (onRefresh)="refreshTile($event)"
        [analysis]="item.analysis"
        [enableChartDownload]="enableChartDownload"
        [updater]="item.updater"
        [ViewMode]="isViewMode()"
      >
      </observe-chart>

      <observe-report
        *ngIf="['report', 'esReport'].includes(item.analysis.type)"
        class="analysis-container"
        [item]="item"
        (onRefresh)="refreshTile($event)"
        [analysis]="item.analysis"
        [updater]="item.updater"
      >
      </observe-report>

      <observe-pivot
        *ngIf="item.analysis.type === 'pivot'"
        class="analysis-container"
        [item]="item"
        (onRefresh)="refreshTile($event)"
        [analysis]="item.analysis"
        [updater]="item.updater"
      >
      </observe-pivot>
    </ng-container>

    <ng-container *ngIf="item.kpi">
      <observe-kpi
        [kpi]="item.kpi"
        [dimensions]="item.dimensions"
      ></observe-kpi>
    </ng-container>

    <ng-container *ngIf="item.bullet">
      <observe-kpi-bullet
        [item]="item"
        (onRefresh)="refreshTile($event)"
        [bulletKpi]="item.bullet"
        [enableChartDownload]="enableChartDownload"
        [updater]="item.updater"
      ></observe-kpi-bullet>
    </ng-container>

    <div class="dashboard-item-error-message" *ngIf="!item.success">
      <h2>This item could not be loaded. It may have been deleted.</h2>
    </div>
  </gridster-item>
</gridster>
