<div>
  <h1>Reset Password</h1>

  <form name="changePwdForm" method="post">
    <div class="error-msg"
         ng-bind="$ctrl.errorMsg"></div>
    <md-input-container>
      <label>Username</label>
      <input type="text" maxlength="30" required
             ng-model="$ctrl.dataHolder.masterLoginId"/>
    </md-input-container>
    <br/>
    <div class="login-buttons"
         layout="row" layout-align="space-between center">
      <md-button class="btn-primary"
                 ng-disabled="changePwdForm.$invalid"
                 ng-click="$ctrl.resetPwd()">Reset
      </md-button>

      <md-button class="btn-primary"
                 ng-click="$ctrl.login()">Login
      </md-button>
    </div>
  </form>
</div>
