<div class="tab">
  <button class="tablinks" (click)="openSchedule(event, 'daily')">Daily</button>
  <button class="tablinks" (click)="openSchedule(event, 'weeklybasis')">Weekly</button>
  <button class="tablinks" (click)="openSchedule(event, 'monthly')">Monthly</button>
  <button class="tablinks" (click)="openSchedule(event, 'yearly')">Yearly</button>
</div>

<div *ngIf="scheduleType == 'daily'" [ngClass]="{'scheduleType': selectedItem == 'daily'}" class="tabcontent">
  <mat-radio-group [(ngModel)]="daily.dailyType">
    <mat-radio-button class="everyDay" value="everyDay">Every </mat-radio-button>
    <mat-select placeholder="Days" [(ngModel)]="daily.days" (selectionChange)="regenerateCron()">
      <mat-option *ngFor="let day of days" [value]="day">
        {{day}}
      </mat-option>
    </mat-select><br/>
    Day(s) at
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker><br/><br/><br/>
    <mat-radio-button class="everyWeek" value="everyWeek">Every week day (Monday through Friday) at</mat-radio-button><br/>
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker>
  </mat-radio-group>
</div>

<div *ngIf="scheduleType == 'weeklybasis'" [ngClass]="{'active': scheduleType == 'weeklybasis'}" class="tabcontent">
  <input type="checkbox" [(ngModel)]="weekly.MON" (click)="regenerateCron()" /> Monday
  <input type="checkbox" [(ngModel)]="weekly.TUE" (click)="regenerateCron()" /> Tuesday
  <input type="checkbox" [(ngModel)]="weekly.WED" (click)="regenerateCron()" /> Wednesday
  <input type="checkbox" [(ngModel)]="weekly.THU" (click)="regenerateCron()" /> Thrusday
  <input type="checkbox" [(ngModel)]="weekly.FRI" (click)="regenerateCron()" /> Friday
  <input type="checkbox" [(ngModel)]="weekly.SAT" (click)="regenerateCron()" /> Saturday
  <input type="checkbox" [(ngModel)]="weekly.SUN" (click)="regenerateCron()" /> Sunday
  <br/>
  Start Time
  <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker><br/><br/>
</div>

<div *ngIf="scheduleType == 'monthly'" [ngClass]="{'active': scheduleType == 'monthly'}" class="tabcontent">
  <mat-radio-group [(ngModel)]="monthly.monthlyType">
    <mat-radio-button class="everyDay" value="specificDay">On the </mat-radio-button>
    <mat-select placeholder="Day" [(ngModel)]="monthly.specificDay">
      <mat-option *ngFor="let day of days" [value]="day">
        {{day}}
      </mat-option>
    </mat-select> st Day of every 
    <mat-select placeholder="Days" [(ngModel)]="monthly.specificMonth">
      <mat-option *ngFor="let month of months" [value]="month">
        {{month}}
      </mat-option>
    </mat-select>month(s) at <br/>
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker><br/><br/><br/>

    <mat-radio-button class="everyWeek" value="specificWeekDay">On the</mat-radio-button>
    <mat-select placeholder="Weeks" [(ngModel)]="monthly.specificWeekDayMonth">
      <mat-option *ngFor="let week of weeks" [value]="week.value">
        {{week.label}}
      </mat-option>
    </mat-select>
    <mat-select placeholder="Day" [(ngModel)]="monthly.specificWeekDayDay">
      <mat-option *ngFor="let dayString of dayStrings" [value]="dayString">
        {{dayString}}
      </mat-option>
    </mat-select>of every
    <mat-select placeholder="Month" [(ngModel)]="monthly.specificWeekDayMonthWeek">
      <mat-option *ngFor="let month of months" [value]="month">
        {{month}}
      </mat-option>
    </mat-select>month(s) at <br/>
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker>
  </mat-radio-group>
</div>

<div *ngIf="scheduleType == 'yearly'" [ngClass]="{'active': scheduleType == 'yearly'}" class="tabcontent">
  <mat-radio-group [(ngModel)]="yearly.yearlyType">
    <mat-radio-button class="everyDay" value="specificMonthDay">Every </mat-radio-button>
    <mat-select placeholder="Month" [(ngModel)]="yearly.specificMonthDayMonth">
      <mat-option *ngFor="let monthString of monthStrings" [value]="monthString.value">
        {{monthString.label}}
      </mat-option>
    </mat-select> on the  
    <mat-select placeholder="Days" [(ngModel)]="yearly.specificMonthDayDay">
      <mat-option *ngFor="let day of days" [value]="day">
        {{day}}
      </mat-option>
    </mat-select>st Day at <br/>
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker><br/><br/><br/>

    <mat-radio-button class="everyWeek" value="specificMonthWeek">On the</mat-radio-button>
    <mat-select placeholder="Weeks" [(ngModel)]="yearly.specificMonthWeekMonthWeek">
      <mat-option *ngFor="let week of weeks" [value]="week.value">
        {{week.label}}
      </mat-option>
    </mat-select>
    <mat-select placeholder="Day" [(ngModel)]="yearly.specificMonthWeekDay">
      <mat-option *ngFor="let dayString of dayStrings" [value]="dayString">
      {{dayString}}
      </mat-option>
    </mat-select>of 
    <mat-select placeholder="Month" [(ngModel)]="yearly.specificMonthWeekMonth">
      <mat-option *ngFor="let monthString of monthStrings" [value]="monthString.value">
        {{monthString.label}}
      </mat-option>
    </mat-select>at <br/>
    <cron-date-picker [model]="model" (onDateChange)="onDateChange($event)"></cron-date-picker>
  </mat-radio-group>
</div>