<div layout-gt-xs="row">
  <md-input-container flex-gt-xs>
    <label>From</label>
    <md-datepicker
      ng-model="$ctrl.ngModel.fromDate" ng-change="$ctrl.onDatesSelected($ctrl.ngModel)"
      md-placeholder="mm/dd/yyyy"></md-datepicker>
  </md-input-container>
  <div style="width: 20px;padding: 0 3px;">
    <div></div>
  </div>
  <md-input-container flex-gt-xs>
    <label>To</label>
    <md-datepicker
      ng-model="$ctrl.ngModel.toDate" ng-change="$ctrl.onDatesSelected($ctrl.ngModel)"
      md-placeholder="mm/dd/yyyy"></md-datepicker>
  </md-input-container>
</div>
<div class="time-range-shortcut-btns">
  <md-button class="md-primary" aria-label="1st Week">1st Week</md-button>
  <md-button class="md-primary" aria-label="2nd Week">2nd Week</md-button>
  <md-button class="md-primary" aria-label="More">More
    <md-icon md-font-icon="icon-Shape-Copy-2"></md-icon></md-button>
</div>
