<panel title="{{::$ctrl.filter.label}}" class="time-range-panel">
  <div layout-gt-xs="row">
    <md-input-container flex-gt-xs>
      <label translate="FROM"></label>
      <md-datepicker
        md-hide-icons="calendar"
        ng-model="$ctrl.ngModel.fromDate" ng-change="$ctrl.onDatesSelected($ctrl.ngModel)"
        md-placeholder="mm/dd/yyyy"></md-datepicker>
    </md-input-container>
    <div style="width: 20px;padding: 0 3px;">
      <div></div>
    </div>
    <md-input-container flex-gt-xs>
      <label translate="TO"></label>
      <md-datepicker
        md-hide-icons="calendar"
        ng-model="$ctrl.ngModel.toDate" ng-change="$ctrl.onDatesSelected($ctrl.ngModel)"
        md-placeholder="mm/dd/yyyy"></md-datepicker>
    </md-input-container>
  </div>
  <div class="time-range-shortcut-btns">

    <md-button class="md-primary" aria-label="1st Week"
               translate="NTH_WEEK" translate-values="{CAT: 1}"
               translate-interpolation="messageformat">
    </md-button>

    <md-button class="md-primary" aria-label="2nd Week"
               translate="NTH_WEEK" translate-values="{CAT: 2}"
               translate-interpolation="messageformat">
    </md-button>

    <md-button class="md-primary" aria-label="More" translate="MORE">
      <md-icon md-font-icon="icon-Shape-Copy-2"></md-icon>
    </md-button>

  </div>
</panel>
