<div class="dataSets-view" fxLayout="column">
  <mat-toolbar class="toolbar-white">
    <mat-toolbar-row>
      <div fxFlex="47" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <span>Data Channel Management</span>
      </div>
      <span fxFlex></span>
      <div class="action-buttons" fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="addDataSet()">
          <span>+ Channel</span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="gricontainer">
  </div>
</div>