@import "themes/base/colors";

analyze-executed-detail {
  width: 100%;

  .container {
    width: 100% !important;
  }

  label {
    padding: 0 2px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: $secondary-orange;
    color: $primary-white;
    vertical-align: top;
  }

  .prompt-execution-container {
    padding: 50px;
    text-align: center;
    font-size: 14px;

    button.md-button {
      margin-top: 15px;
    }
  }

  .analysis-detail-description {
    margin: 1em 0;

    p {
      margin: 0;
    }
  }
}

.chart-data-grid .dx-datagrid .dx-datagrid-rowsview .dx-datagrid-content table tbody tr.dx-data-row td {
  text-align: left !important;
}

.chart-data-grid .dx-datagrid .dx-datagrid-headers .dx-datagrid-content table tbody tr.dx-header-row td {
  text-align: left !important;
}

.toggle-icons {
  text-align: right;
  height: 25px;
  margin-right: 5%;
  font-size: 15px;
}

.mat-icon.active {
  color: $primary-blue-b2;
}
