.report-dx-grid {
  max-width: 100% !important;
  border: 1px solid #DEDEDE;

  .dx-datagrid-table {
    .dx-row {
      > td {
        padding: 7px 30px 7px 10px;
        vertical-align: bottom;
      }

      &.dx-header-row {
        background-color: #F3F5F8;

        > td {
          border-bottom: none;
        }
      }

      &.dx-data-row {
        background-color: #FFF;

        &.dx-row-alt {
          background-color: #F7F9FC;
        }
      }
    }
  }
}

.dx-menu-items-container {
  .grid-menu-item {
    width: 50px;

    &.m-small {
      font-size: 12px;
    }
  }
}

.dx-item-content.dx-menu-item-content {
  height: 35px;
}

.cell-aggregate-icon {
  float: left;
  margin: 9px 5px 0 0;
}

.cell-caption {
  float: left;
  margin: 7px 0 0;
}

.cell-context-menu {
  float: left;
  margin: 8px 0 0 -70px;

  .icon-menu {
    font-size: 15px;
  }
}

.icon-Count {
  margin-top: -10px;
}

.icon-Count,
.icon-Percentage {
  margin-top: -10px;
}

.dx-menu-item-wrapper {
  height: 35px !important;
}

.dx-context-menu.dx-datagrid.dx-menu-base {
  top: 545px !important;
  left: 154px !important;
}
