<dx-data-grid class="report-dx-grid"
    #dataGrid
    (onContextMenuPreparing)="onContextMenuPreparing($event)"
    (onContentReady)="onContentReady($event)"
    [customizeColumns]="customizeColumns"
    [columnAutoWidth]="columnAutoWidth"
    [columnMinWidth]="columnMinWidth"
    [columnResizingMode]="columnResizingMode"
    [allowColumnReordering]="allowColumnReordering"
    [allowColumnResizing]="allowColumnResizing"
    [showColumnHeaders]="showColumnHeaders"
    [showColumnLines]="showColumnLines"
    [showRowLines]="showRowLines"
    [showBorders]="showBorders"
    [rowAlternationEnabled]="rowAlternationEnabled"
    [hoverStateEnabled]="hoverStateEnabled"
    [wordWrapEnabled]="wordWrapEnabled"
    [scrolling]="scrolling"
    [sorting]="sorting"
    [height]="gridHeight"
    [width]="gridWidth"
    [dataSource]="data"
    [columns]="columns"
    [columnChooser]="columnChooser"
    [remoteOperations]="remoteOperations"
    [loadPanel]="loadPanel"
    [pager]="pager"
    [paging]="paging">
</dx-data-grid>
