<dx-data-grid class="report-dx-grid"
    #dataGrid
    (onContentReady)="onContentReady($event)"
    [customizeColumns]="customizeColumns"
    [columnAutoWidth]="columnAutoWidth"
    [columnMinWidth]="columnMinWidth"
    [columnResizingMode]="columnResizingMode"
    [allowColumnReordering]="allowColumnReordering"
    [allowColumnResizing]="allowColumnResizing"
    [showColumnHeaders]="showColumnHeaders"
    [showColumnLines]="showColumnLines"
    [showRowLines]="showRowLines"
    [showBorders]="showBorders"
    [rowAlternationEnabled]="rowAlternationEnabled"
    [hoverStateEnabled]="hoverStateEnabled"
    [wordWrapEnabled]="wordWrapEnabled"
    [scrolling]="scrolling"
    [sorting]="sorting"
    [height]="gridHeight"
    [width]="gridWidth"
    [dataSource]="data"
    [columns]="columns"
    [columnChooser]="columnChooser"
    [remoteOperations]="remoteOperations"
    [loadPanel]="loadPanel"
    [pager]="pager"
    [paging]="paging">
    <div class="headerCellTemplate" *dxTemplate="let cell of 'headerCellTemplate'">
        <div *ngIf="cell.column.payload.aggregate" class="cell-aggregate-icon">
            <mat-icon [style.width.px]="26" [fontIcon]="cell.column.payload.aggregate ? AGGREGATE_TYPES_OBJ[cell.column.payload.aggregate].icon : ''"></mat-icon>
        </div>
        <div class="cell-caption">
            {{cell.column.caption}}
        </div>
            <button *ngIf="isEditable" class="column-menu" mat-button [matMenuTriggerFor]="menu">
                <mat-icon [matMenuTriggerFor]="menu" fontIcon="icon-expand"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="analysis.type=='esReport'" class="report-options" mat-menu-item [matMenuTriggerFor]="aggregations" (mouseenter)="fetchAggregation(cell.column.payload.type)">
              <mat-icon fontIcon="icon-more"></mat-icon>
              Aggregation</button>
              <button (click)="renameColumn(cell.column)" class="report-options" mat-menu-item><mat-icon fontIcon="icon-edit"></mat-icon>  Rename</button>
              <button (click)="removeColumn(cell.column)" class="report-options" mat-menu-item><mat-icon fontIcon="icon-eye-disabled"></mat-icon>  Remove {{cell.column.payload.displayName}}</button>
              <button *ngIf="checkFormatDataCondition(cell.column.type)" (click)="formatColumn(cell.column)" class="report-options" mat-menu-item><mat-icon fontIcon="icon-filter"></mat-icon>  Format Data</button>
            </mat-menu>

            <mat-menu #aggregations="matMenu">
              <button class="report-options" mat-menu-item
                      *ngFor="let aggregateType of aggregates; trackBy: index"
                      (click)="aggregateColumn(cell.column.payload, aggregateType.value)">
                <mat-icon [fontIcon]="aggregateType.icon"></mat-icon>
                <span style="margin-left: 20px;">{{aggregateType.label}}</span>
              </button>
              <button (click)="aggregateColumn(cell.column.payload, 'clear')" mat-menu-item>Reset To Default</button>
            </mat-menu> 
    </div>
  <dxo-scrolling mode="virtual" showScrollbar="always" [useNative]="false"></dxo-scrolling>
</dx-data-grid>
