@import 'src/themes/base/colors';

:host {
  display: block;
  height: 100% !important;
  width: calc(100% - 20px);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.designer-chart-container {
  height: 100%;

  chart {
    height: 100%;
  }
}

.too-much-data-message {
  color: $primary-grey-g3;
  font-size: 26px;
}
