<analyze-dialog control="$ctrl" class="analyze-report-save">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong>Save Report</strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <div class="ars-content" layout-padding>
      <md-input-container class="md-block" md-no-float>
        <label>Analysis Name</label>
        <input type="text" placeholder="Name your analysis"
               ng-model="$ctrl.dataHolder.title"/>
      </md-input-container>

      <md-input-container class="md-block" md-no-float>
        <label>Analysis Description</label>
        <textarea type="text" placeholder="Describe the analysis"
                  ng-model="$ctrl.dataHolder.description"></textarea>
      </md-input-container>

      <div layout="column">
        <label>Analysis Category</label>
        <md-select placeholder="Select a Category"
                   ng-model="::$ctrl.dataHolder.category">
          <md-option
            ng-repeat="category in $ctrl.dataHolder.categories"
            ng-bind="::category.name"
            ng-value="category.id"></md-option>
        </md-select>
      </div>
    </div>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.save()">Save
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.cancel()">Cancel
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
