<div fxLayout="column">
  <div style="margin-top:5px;" class="value-limits" *ngIf="artifactColumn.area === 'y' && fieldCount < 2">
    <mat-radio-group [(ngModel)]="limitType" style="width:50%;">
      <mat-radio-button value="top">Top</mat-radio-button>
      <mat-radio-button style="margin-left: 4%;" value="bottom">Bottom</mat-radio-button>
    </mat-radio-group>
    <br/>
    <mat-form-field style="width:35%;">
        <input matInput type="number"
                        [(ngModel)]="limitValue"
                        autocomplete="off"
                        min="0"
                        placeholder="Value"/>
    </mat-form-field>
    <button mat-button color="primary" class="mat-raised-button mat-primary chart-title-button" (click)="onLimitDataChange()" style="float: right;">Apply Limit</button>
  </div>
  <mat-form-field fxFlex>
      <input matInput type="text"
             placeholder="Alias"
             autocomplete="off"
             (input)="onAliasChange($event.target.value)"
             [value]="artifactColumn.aliasName || ''"/>
  </mat-form-field>
  <div *ngIf="hasDateInterval"
       fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="start center">
      <mat-form-field (click)="openDateFormatDialog()">
        <input matInput
              type="text"
              placeholder="Format"
              disabled
              autocomplete="off"
              style="cursor: pointer;"
              [value]="DATE_FORMATS_OBJ[artifactColumn.dateFormat] ? DATE_FORMATS_OBJ[artifactColumn.dateFormat].label : ''"/>
      </mat-form-field>
      <button mat-icon-button
              (click)="openDateFormatDialog()">
        <mat-icon fontIcon="icon-filter"></mat-icon>
      </button>
    </div>
  </div>
</div>


