@import 'src/themes/base/colors';

:host {
  width: 100%;
  height: 100%;
}

.schedule-container {
  height: calc(100% - 5px);
  // border: 2px solid $background-color;
  border-radius: 5px;
  background-color: $background-color;

  ::ng-deep .mat-tab-body-wrapper {
    height: calc(100% - 50px);
  }

  ::ng-deep .mat-tab-label-active {
    color: $primary-blue-b2;
  }

  ::ng-deep .mat-tab-body-content {
    padding: 30px 30px 0;
    height: calc(100% - 30px);
  }

  .text-content {
    white-space: nowrap;
  }

  .form-select {
    max-width: 70px;
    font-size: 11px;

    ::ng-deep .mat-select-value-text,
    ::ng-deep .mat-select-placeholder {
      font-size: 16px;
    }

    ::ng-deep .mat-select-arrow-wrapper {
      vertical-align: bottom;
    }

    ::ng-deep .mat-form-field-infix {
      padding: 0.7em 0;
      border-top: 0;
    }
  }

  .everyday-days {
    margin-top: -6px;
  }
}

.dateDetails {
  float: left;
  margin: 12px;

  label {
    margin-right: 20px;
  }

  .clear {
    color: $primary-blue-b2;
    cursor: pointer;
    font-size: 14px;
  }
}

mat-radio-group.to-date {
  padding-left: 90px;

  .end-date {
    padding-left: 45px;
  }

  div mat-form-field {
    width: 115px !important;
    float: right;
    margin-top: -68px;
  }
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary-blue-b2;
}

.owl-dt-control-button-content {
  color: $primary-blue-b2 !important;
}

.owl-dt-container-info .owl-dt-container-info-active {
  color: $primary-blue-b2 !important;
}
