:host {
  display: block;
  width: 100%;
}

.aux__label__options {
  width: 100%;

  mat-checkbox {
    margin-right: 40px;
  }
}

.chart-title__input {
  padding-left: 10px;
}

button.chart-title-button {
  font-size: 14px;
  min-width: 9%;
}
