:host {
  display: block;
  width: 100%;
}

.chart-option {
  &__list {
    padding: 5px;
  }

  &__item {
    border-radius: 5px;
    background: white;
    margin-bottom: 5px;
    padding: 5px;

    .select-form-field[appearance="outline"] {
      margin: 5px 0;
    }
  }
}

.aux__label__options {
  width: 100%;

  mat-checkbox {
    margin-right: 40px;
  }
}

.chart-title__input {
  padding-left: 10px;
}

button.chart-title-button {
  font-size: 14px;
  min-width: 9%;
}
