@import 'src/themes/base/colors';
mat-toolbar {
  padding: 0 !important;
  background-color: transparent;
  border-bottom: 1px solid $primary-grey-g1;

  &.app-toolbar {
    display: flex;
    flex-direction: column;
  }

  .lh-toolbar {
    height: 70px;
    max-height: 70px;
    padding-right: 20px;
    background-color: white;
    width: 100%;

    .link {
      padding: 0 20px;
      float: left;
    }

    div mat-icon {
      margin-top: 7px;
      margin-right: 16px;
    }
  }

  .m-active {
    pointer-events: none;
  }

  .alert-bell-icon {
    background-image: url('/assets/img/alert-bell.png');
    background-size: 85% 85%;
    background-repeat: no-repeat;
    height: 21px;
    width: 39px;
    image-rendering: -webkit-optimize-contrast;
  }

  md-menu-bar {
    padding: 0;
  }

  .header {
    &__module-launcher-button {
      width: 20px;
      height: 20px;
      margin: 3px 16px 0;
      cursor: pointer;
      background-image: url('/assets/img/module-icons/launcher.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__module-launcher-content {
      ::ng-deep .ngxp__container {
        z-index: 10;
        background: white;
      }

      ::ng-deep .ngxp__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, 90px);
        max-width: 270px; // if a grid gap is applied, be sure to account for that here.
      }
    }

    &__module-launcher-option {
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background: whitesmoke;
      }

      .option-image {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-image: url('/assets/img/module-icons/campaign-insights.svg');
      }

      &.module-analyze > .option-image {
        background-image: url('/assets/img/module-icons/analyze.svg');
      }

      &.module-observe > .option-image {
        background-image: url('/assets/img/module-icons/observe.svg');
      }

      &.module-workbench > .option-image {
        background-image: url('/assets/img/module-icons/workbench.svg');
      }

      &.module-admin > .option-image {
        background-image: url('/assets/img/module-icons/admin.svg');
      }

      &.module-insights > .option-image {
        background-image: url('/assets/img/module-icons/insights.svg');
      }

      &.module-ratings > .option-image {
        background-image: url('/assets/img/module-icons/ratings.svg');
      }
    }
  }

  .active-module {
    display: inline-block !important;
    color: $primary-blue-b2;
    pointer-events: none;
  }

  .mods {
    display: none;
  }

  .mod-icon {
    margin-top: 5px !important;
    font-size: 20px !important;
  }

  .user-avatar {
    width: 25px;
    height: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 9px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.root-container > layout-header {
  position: fixed;
  // the z-index of the modal-backdrop is 79
  // the z-index of the sidenav is 60
  z-index: 70;
  width: 100%;
  max-width: 1600px;

  .lh-toolbar {
    background-color: white;
  }
}

header .company-logo {
  margin-left: 36px;
  height: 50px;
  width: 145px;
}

.mat-icon-help {
  color: $primary-black;
  font-size: 20px;
}
