<header>
  <mat-toolbar class="app-toolbar">
    <div class="lh-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <app-sidenav
          style="position: fixed;"
          id="left-side-nav"
          class="left-side-nav"
          flex="none"
        ></app-sidenav>
        <div class="company-logo"></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <div layout="row" class="lh-links">
          <div
            *ngFor="let module of modules"
            class="link"
            [routerLink]="module.path"
            [routerLinkActive]="'m-active'"
          >
            {{ module.label }}
          </div>
        </div>
        <div
          class="header__module-launcher-button"
          [popper]="moduleLauncherContent"
          [popperTrigger]="'click'"
          [popperHideOnClickOutside]="true"
          [popperPlacement]="'bottom-end'"
        ></div>
        <popper-content
          class="header__module-launcher-content"
          #moduleLauncherContent
        >
          <a
            class="header__module-launcher-option"
            [ngClass]="'module-' + module.name"
            (click)="moduleLauncherContent.hide()"
            [routerLink]="module.path"
            [routerLinkActive]="'m-active'"
            *ngFor="let module of modules"
          >
            <div class="option-image"></div>
            {{ module.name | changeCase: 'title' }}
          </a>
        </popper-content>

        <a
          href="help_docs/HELP_SAW_User_Guide.htm"
          e2e="account-settings-help-guide"
          target="_blank"
        >
          <mat-icon
            fontIcon="icon-help"
            class="mat-icon-help"
            matTooltip="HELP"
          ></mat-icon>
        </a>

        <div
          class="user-avatar"
          matTooltip="{{ UserDetails.ticket.userFullName | uppercase }}"
          [ngStyle]="{ background: userBGColor.backgroundColor }"
          [matMenuTriggerFor]="menu"
          e2e="account-settings-menu-btn"
        >
          {{ userInitials }}
        </div>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="changePwd()"
            e2e="account-settings-selector-change-password"
          >
            <ng-container i18n>Change Password</ng-container>
          </button>
          <button
            mat-menu-item
            (click)="logout()"
            e2e="account-settings-selector-logout"
          >
            <ng-container i18n>Log Out</ng-container>
          </button>
        </mat-menu>
      </div>
    </div>
    <mat-progress-bar
      *ngIf="showProgress"
      mode="indeterminate"
      value="40"
    ></mat-progress-bar>
  </mat-toolbar>
</header>
