@import "themes/base/colors";

import-component {
  width: 100%;
  padding: 10px;

  md-card-header {
    padding: 1px;
  }

  md-checkbox {
    margin-bottom: 1px;
  }

  md-input-container {
    margin: 18px 10px;
  }

  .warn-log {
    cursor: pointer;
  }

  .analysis-override {
    font-size: x-small;
  }

  .md-headline {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
  }

  .md-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .upload-button {
    color: $primary-white;
    background-color: $primary-blue-b2;
  }

  .remove-pointer {
    cursor: text !important;
  }
}
