@import '../../node_modules/@angular/material/theming';

$sncr-typography: mat-typography-config(
  $font-family: 'Source Sans Pro, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $button: mat-typography-level(16px, 24px, 500),
  $title: mat-typography-level(20px, 24px, 500)
);

@include mat-core($sncr-typography);

$mat-primary: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: var(--theme-primary-contrast-50),
    100: var(--theme-primary-contrast-100),
    200: var(--theme-primary-contrast-200),
    300: var(--theme-primary-contrast-300),
    400: var(--theme-primary-contrast-400),
    500: var(--theme-primary-contrast-500),
    600: var(--theme-primary-contrast-600),
    700: var(--theme-primary-contrast-700),
    800: var(--theme-primary-contrast-800),
    900: var(--theme-primary-contrast-900),
    A100: var(--theme-primary-contrast-A100),
    A200: var(--theme-primary-contrast-A200),
    A400: var(--theme-primary-contrast-A400),
    A700: var(--theme-primary-contrast-A700),
  )
);

$mat-warn: (
  50 : var(--theme-secondary-50),
  100 : var(--theme-secondary-100),
  200 : var(--theme-secondary-200),
  300 : var(--theme-secondary-300),
  400 : var(--theme-secondary-400),
  500 : var(--theme-secondary-500),
  600 : var(--theme-secondary-600),
  700 : var(--theme-secondary-700),
  800 : var(--theme-secondary-800),
  900 : var(--theme-secondary-900),
  A100 : var(--theme-secondary-A100),
  A200 : var(--theme-secondary-A200),
  A400 : var(--theme-secondary-A400),
  A700 : var(--theme-secondary-A700),
  contrast: (
    50: var(--theme-secondary-contrast-50),
    100: var(--theme-secondary-contrast-100),
    200: var(--theme-secondary-contrast-200),
    300: var(--theme-secondary-contrast-300),
    400: var(--theme-secondary-contrast-400),
    500: var(--theme-secondary-contrast-500),
    600: var(--theme-secondary-contrast-600),
    700: var(--theme-secondary-contrast-700),
    800: var(--theme-secondary-contrast-800),
    900: var(--theme-secondary-contrast-900),
    A100: var(--theme-secondary-contrast-A100),
    A200: var(--theme-secondary-contrast-A200),
    A400: var(--theme-secondary-contrast-A400),
    A700: var(--theme-secondary-contrast-A700),
  )
);

$sncr-app-primary: mat-palette($mat-primary);
$sncr-app-accent: mat-palette($mat-primary);
$sncr-app-warn: mat-palette($mat-warn);

$sncr-app-theme: mat-light-theme(
  $sncr-app-primary,
  $sncr-app-accent,
  $sncr-app-warn
);

@include angular-material-theme($sncr-app-theme);
