@import 'src/themes/base/colors';

:host {
  display: block;
  min-width: 75vw;
}

.base-dialog__content {
  margin: 10px !important;
  max-height: 450px;
  overflow: scroll;

  .mat-form-field {
    width: 100%;
  }

  .form-field {
    margin-bottom: 5px;
  }

  form {
    width: 97%;
    margin: 0 auto;
  }
}
