<div class="login-view">
  <div class="bg-container-wrapper"
       fxLayout="row"
       fxLayoutAlign="center center"
  >
    <div class="bg-container"
         fxLayout="row"
         fxLayoutAlign="center center"
    >
      <div class="login-container"
           fxLayout="column"
           fxLayoutAlign="space-around start"
      >
        <div class="brand-logo"></div>
        <router-outlet></router-outlet>
      </div>
      <div class="middle-logo-container"></div>
    </div>
    <div class="white-container"></div>
  </div>
  <layout-footer></layout-footer>
</div>
