<div>
  <h1>Reset Password</h1>
  <div class="error-msg" [innerHtml]="errorMsg"></div>
  <form name="resetPwdForm" method="post">

    <mat-form-field class="changePwd-formField">
      <input matInput maxlength="30" [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" placeholder="Username" required />
    </mat-form-field>
    <br/>

    <mat-form-field class="changePwd-formField">
      <input matInput type="password" maxlength="30" [(ngModel)]="newPwd"  placeholder="New Password" [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>
    <br/>

    <mat-form-field class="changePwd-formField">
      <input matInput type="password" maxlength="30" [(ngModel)]="confNewPwd"  placeholder="Confirm New Password" [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>
    <br/>


    <div class="login-buttons" layout="row" layout-align="space-between center">
      <button mat-raised-button color="primary" class="changePwd-change" type="submit" [disabled]="!username || !newPwd || !confNewPwd"  (click)="resetPwd()">Reset</button>
      <button mat-raised-button color="primary" class="changePwd-change changePwd-cancel mat-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>
