
@import "src/themes/base/colors";

user-edit-dialog {
  max-width: 500px;

  .base-dialog__content {
    padding: 10px 50px !important;
    width: 400px;

    .mat-form-field {
      width: 100%;
    }
  }
}
