<md-list>
  <md-subheader class="md-no-sticky" layout-padding>
    <span ng-bind="::$ctrl.model.name"></span>
  </md-subheader>

  <md-divider></md-divider>

  <md-list-item class="md-no-proxy"
                ng-repeat="field in $ctrl.model.fields | filter:{isHidden:false} track by $index"
                ng-click="$event.stopPropagation();"
                ng-mousedown="$ctrl.onFieldMouseDown($event, field);"
                e2e="js-plumb-field-{{field.getIdentifier()}}"
                ng-mouseup="$ctrl.onFieldMouseUp($event, field);">
    <md-checkbox style="width:300px" ng-model="field.checked">
      <span class="jsp-table-column-name" ng-bind="::field.getDisplayName()"></span>
    </md-checkbox>

    <!-- <aggregate-chooser flex="20" artifact-column="attr"
      on-select="$ctrl.onSelectAggregateType(aggregateType, field)">
    </aggregate-chooser> -->

    <md-menu ng-if="field.checked && $ctrl.checkType(field)">
      <md-button aria-label="TOOLTIP_AGGREGATE_TYPE"
                 class="md-icon-button"
                 e2e="pivot-aggregate-menu-btn"
                 ng-click="$ctrl.openMenu($mdMenu, $event)">
        <md-icon ng-if="!field.aggregate" md-menu-origin
                 md-font-icon="icon-more"></md-icon>
        <md-icon ng-if="field.aggregate" md-menu-origin
                 md-font-icon="{{$ctrl.AGGREGATE_TYPES_OBJ[field.aggregate].icon}}"></md-icon>
        <md-tooltip ng-bind="'TOOLTIP_AGGREGATE_TYPE' | translate"></md-tooltip>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="aggregateType in $ctrl.AGGREGATE_TYPES track by aggregateType.value">
          <md-button ng-click="$ctrl.onSelectAggregateType(aggregateType, field)"
                     e2e="pivot-aggregate-selector-{{aggregateType.value}}"
                     style="font-size: 14px;">
            <md-icon md-font-icon="{{::aggregateType.icon}}"
                     style="font-size: 14px;"
                     md-menu-align-target></md-icon>
            {{::aggregateType.label}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button ng-if="field.aggregate && field.checked" aria-label="TOOLTIP_AGGREGATE_TYPE"
               class="md-icon-button"
               e2e="pivot-aggregate-menu-btn"
               ng-click="$ctrl.clearAggegate(field)">
      <md-icon md-menu-origin
               md-font-icon="icon-close"></md-icon>
    <md-tooltip ng-bind="'TOOLTIP_CLEARAGGREGATE_TYPE' | translate"></md-tooltip>
    </md-button>

    <js-plumb-endpoint ng-repeat="endpoint in field.endpoints track by $index"
                       model="endpoint"></js-plumb-endpoint>
  </md-list-item>
</md-list>
