<md-input-container>
	<md-select ng-model="$ctrl.tempModel.preset" ng-change="$ctrl.onPresetSelected()">
		<md-option ng-repeat="preset in $ctrl.presets" ng-value="preset.value">
			{{preset.label}}
		</md-option>
	</md-select>
</md-input-container>
<md-chips ng-model="$ctrl.keywords.modelValues"
          required
          md-on-add="$ctrl.onChange({model: $ctrl.keywords})"
          md-on-remove="$ctrl.onChange({model: $ctrl.keywords})"
          md-removable="true"
          md-add-on-blur
          md-separator-keys="$ctrl.separatorKeys"
          placeholder="separate by ';'">
</md-chips>
