<div layout="row">
  <md-input-container md-no-float>
    <md-select ng-model="$ctrl.tempModel.preset" ng-change="$ctrl.onPresetSelected()" style="width: 130px">
      <md-option ng-repeat="preset in $ctrl.presets" ng-value="preset.value">
        {{preset.label}}
      </md-option>
    </md-select>
  </md-input-container>
  <div layout="row" layout-align="center" ng-if="!$ctrl.displayChips" flex>
    <md-input-container >
      <input ng-model="$ctrl.tempModel.value" md-placeholder="Enter Value" ng-change="$ctrl.onModelChange()"/>
    </md-input-container>
  </div>
</div>
<md-chips ng-if="$ctrl.displayChips"
          ng-model="$ctrl.keywords.modelValues"
          required
          md-on-add="$ctrl.onChange({model: $ctrl.keywords})"
          md-on-remove="$ctrl.onChange({model: $ctrl.keywords})"
          md-removable="true"
          md-add-on-blur
          md-separator-keys="$ctrl.separatorKeys"
          placeholder="separate by ';'">
</md-chips>