sql-script {
  height: 100%;
  width: 100%;

  textarea {
    margin-bottom: 10px;
  }

  .ace_editor {
    width: 100%;
    height: 98.5% !important;
  }

  .query-actions {
    display: flex;
    flex-direction: row-reverse;
  }

  .ace-sqlserver {
    background-color: #F5F9FC;
  }
}
