<div fxLayout="column" style="width: 400px;">
  <mat-form-field>
    <input
      matInput
      (input)="onNameChange($event.target.value)"
      [value]="analysis.name"
      e2e="save-dialog-name"
      autocomplete="off"
      placeholder="Name"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      (input)="onDescriptionChange($event.target.value)"
      [value]="analysis.description"
      placeholder="Description"
      e2e="save-dialog-description"
      autocomplete="off"
      matTextareaAutosize
      matAutosizeMinRows="2"
      matAutosizeMaxRows="10"
    >
    </textarea>
  </mat-form-field>

  <span>
    This analysis will be saved to
    <strong>{{ userCategoryName }} > {{ userSubCategoryName }}.</strong>
  </span>
</div>
