@import "themes/base/colors";

tr.dx-row.dx-header-row[role="row"] {
  td[role="columnheader"] {
    color: black;
    font-weight: 600;
  }
}

div[dx-data-grid] {
  tr.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
    background-color: $grid-hover-color;
  }
}

.dx-datagrid .dx-row > td {
  padding: 3px 7px !important;
}

.dx-datagrid {
  line-height: normal !important;
}

.dx-datagrid-headers .dx-header-row > td {
  padding: 7px !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td {
  vertical-align: middle !important;
}

.dx-pivotgrid td {
  vertical-align: middle !important;
}

.dx-pivotgrid .dx-pivotgrid-area td {
  padding: 3px 10px !important;
}

.dx-pivotgrid-fields-container .dx-area-field.dx-area-box {
  margin-bottom: 0 !important;
  padding: 7px 10px !important;
}

.dx-pivotgrid .dx-pivotgrid-fields-area-head td {
  padding: 7px 2px !important;
}

