@import "themes/base/colors";

mat-select {
  border: 1px solid $primary-grey-g1;
  padding: 8px;
  border-radius: 2px;
}

.select-form-field {
  .mat-input-underline.mat-form-field-underline {
    display: none;
  }

  label.mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder {
    padding: 8px;
  }
}
