@import "themes/base/colors";

analyze-executed-detail {
  width: 100%;

  .container {
    width: 100%;
  }

  label {
    padding: 0 2px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: $secondary-orange;
    color: $primary-white;
    vertical-align: top;
  }

  .prompt-execution-container {
    padding: 50px;
    text-align: center;
    font-size: 14px;

    button.md-button {
      margin-top: 15px;
    }
  }

  .analysis-detail-description {
    margin: 1em 0;

    p {
      margin: 0;
    }
  }
}
