<div layout="column" layout-align="space-between stretch" class="container">
  <md-toolbar class="secondary-toolbar">
    <div class="md-toolbar-tools" layout-align="space-between center">

      <div layout="row">
        <md-button ng-click="$ctrl._$window.history.back()" class="md-icon-button back-button" aria-label="Back">
          <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

        <div style="margin-left: 16px;" flex>
          <div class="md-headline">
            <span ng-bind="$ctrl.analysis.name"></span>
            <label ng-if="$ctrl.isExecuting" translate="STATUS_EXECUTING"></label>
          </div>
          <div class="md-subhead" ng-bind="$ctrl.analysis.metrics"></div>
        </div>
      </div>

      <div>
        <md-button ng-hide="!$ctrl.canUserEdit"
            class="btn-link"
            ng-click="$ctrl.edit()">
          <span translate="EDIT"></span>
        </md-button>
        <md-button ng-hide="!$ctrl.canUserFork"
                   class="btn-link"
                   ng-click="$ctrl.fork()">
          <span translate="FORK_AND_EDIT"></span>
        </md-button>

        <analyze-actions-menu analysis="$ctrl.analysis"
                              ng-if="$ctrl.analysis"
                              exclude="publish-fork-edit"
                              on-successful-deletion="$ctrl.onSuccessfulDeletion(analysis)"
        ></analyze-actions-menu>

        <md-button ng-hide="$ctrl.isPublished && !$ctrl.canUserPublish"
                   class="btn-primary"
                   ng-click="$ctrl.publish()">
          <span translate="PUBLISH"></span>
        </md-button>

      </div>
    </div>
  </md-toolbar>
  <md-card  ng-if="$ctrl.analyses && !$ctrl.analyses.length">
    <div class="prompt-execution-container">
      <span translate="NO_PREVIOUS_EXECUTION"></span>
      <div>
        <md-button class="btn-primary" ng-click="$ctrl.executeAnalysis()">
          <span translate="EXECUTE"></span>
        </md-button>
      </div>
    </div>
  </md-card>
  <div ng-switch="$ctrl.analysis.type" ng-if="$ctrl.analyses.length">
    <analyze-chart-detail ng-switch-when="chart" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-chart-detail>
    <analyze-report-detail ng-switch-when="report" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-report-detail>
    <analyze-pivot-detail ng-switch-when="pivot" analysis="$ctrl.analysis" requester="$ctrl.requester"></analyze-pivot-detail>
  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <div>
          <span class="md-title" translate="ANALYSIS_DETAILS_HEADER"></span>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div>
          <strong ng-if="$ctrl.analysis.userFullName" translate="ANALYSIS_DETAILS_CREATOR_LABEL"></strong>
          <span ng-bind="$ctrl.analysis.userFullName | changeCase:'title'"></span>
        </div>
      <div>
        <strong ng-if="$ctrl.analysis.scheduleHuman" translate="ANALYSIS_DETAILS_SCHEDULE_LABEL"></strong>
        <span ng-bind="$ctrl.analysis.scheduleHuman"></span>
      </div>
      <div class="row analysis-detail-description">
        <strong ng-if="$ctrl.analysis.description" translate="ANALYSIS_DETAILS_DESCRIPTION_LABEL"></strong>
        <p ng-bind="$ctrl.analysis.description"></p>
      </div>
    </md-card-content>
    <!-- gui-cleanup-2.0 -->
      <!--<md-card-footer>
        <md-icon md-font-icon="icon-fork"></md-icon>
        <span translate="FORKED_FROM_ANALYSIS_BY_CREATOR"
              translate-values="{analysis: $ctrl.analysis.forkedFrom.analysisName, creator: $ctrl.analysis.forkedFrom.creatorName}"></span>
      </md-card-footer>-->
  </md-card>
  <panel start-collapsed="false" ng-if="$ctrl.analyses" title="'OTHER_PUBLISHED_ANALYSES' | translate">
    <analyze-executed-list ng-if="$ctrl.analyses.length" analysis="$ctrl.analysis" analyses="$ctrl.analyses"></analyze-executed-list>
  </panel>
</div>
