<mat-progress-bar [mode]="'indeterminate'" *ngIf="showProgress"></mat-progress-bar>
<mat-accordion [multi]="true" [displayMode]="flat">

  <mat-expansion-panel *ngFor="let metric of metrics" (opened)="onLoadMetricArtifacts(metric.id)">
    <mat-expansion-panel-header>
      {{metric.metricName}}
    </mat-expansion-panel-header>

    <button mat-button class="choose-metric" *ngFor="let column of metric.kpiColumns" (click)="onSelectMetricColumn(column, metric)">
      {{column.displayName || column.columnName}}
    </button>

    <h4 class="metric-ineligible-message" *ngIf="metric.kpiEligible === false">
      This Dataset either is not configured with any KPI eligible metrics or it does not contain at least one eligible Date type
      field.
    </h4>
  </mat-expansion-panel>
</mat-accordion>
