<div class="auth-page" show-authed="false">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
       
       <list-errors errors="$ctrl.errors"></list-errors>
        <form ng-submit="$ctrl.submitForm()">
          <fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                ng-model="$ctrl.formData.masterLoginId"required />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                ng-model="$ctrl.formData.password" required/>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit"  ng-bind="$ctrl.title">
              Register
            </button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
<div show-authed="true" style="text-align:center">
You are Logged in!!
</div>