@import 'src/themes/base/colors';

.alert-action-dialog-content {
  font-size: 16px;
  font-weight: 600;
  line-height: 3;
  padding: 0 9px;
  color: $primary-blue-b1;

  &__prop-name {
    color: #727272;
    width: 136px;
  }
}
