@import "src/themes/base/colors";

:host {
  display: block;
  max-width: 500px;
  width: 700px;
}

.wide {
  max-width: 700px;
  width: 700px;
}

strong {
  font-weight: 600;
}

.base-dialog__content {
  padding: 10px 40px !important;

  .mat-button-toggle.mat-button-toggle-checked {
    background-color: $grid-header-bg-color;
  }

  .sub-categories-form {
    margin-top: 20px;
    width: 620px;
  }

  .sub-categories-list {
    overflow-y: auto;
    max-height: 200px;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-field {
    margin-bottom: 5px;
  }

  .mat-radio-group {
    margin-right: 5px;
    min-width: 210px;
    width: 210px;
    overflow-y: auto;
    max-height: 160px;
    min-height: 160px;

    .mat-radio-button {
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 190px;

      .mat-radio-label-content {
        word-break: break-all;
        width: 160px;
        white-space: normal;
      }
    }
  }
}
