<analyze-dialog class="analyze-report-description">
  <analyze-dialog-header layout="row" layout-align="start center" flex="grow">
    <strong TRANSLATE="DESCRIPTION"></strong>
  </analyze-dialog-header>

  <analyze-dialog-content>
    <md-input-container class="md-block" md-no-float style="margin: 20px 20px 0 20px;">
      <textarea rows="5" placeholder="Describe this analysis"
                md-select-on-focus
                ng-model="$ctrl.dataHolder.description"></textarea>
    </md-input-container>
  </analyze-dialog-content>

  <analyze-dialog-footer>
    <div layout="row">
      <md-button class="btn-primary"
                 ng-click="$ctrl.save()"
                 translate="SAVE_DESCRIPTION">
      </md-button>

      <md-button class="btn-card"
                 ng-click="$ctrl.cancel()"
                 translate="CANCEL">
      </md-button>
    </div>
  </analyze-dialog-footer>
</analyze-dialog>
