<div fxLayout="row wrap" fxLayoutAlign="start center" class="choice-group">
  <div *ngFor="let item of items; trackBy: index"
          (click)="onItemSelected(item)"
          fxFlex="20"
          fxLayout="column" fxLayoutAlign="center center"
          class="choice-group__item"
          [class.selected]="value === item"
          [class.disabled]="item.disabled"
          [attr.e2e]="'choice-group-item-type-' + item.type"
          mat-button
  >
    <mat-icon [fontIcon]="item.icon.font"></mat-icon>
    <label>{{item.label}}</label>
</div>
</div>
