@import "themes/base/colors";

choice-group-u {
  .choice-group {
    .choice-group__item {
      padding: 8px;
      flex: 0 0 25%;
      border: 1px solid #B0BFC8;
      border-radius: 0;
      font-size: 16px;
      color: #596574;
      text-align: center;

      label {
        font-weight: 600;
      }

      mat-icon {
        font-size: 48px;
        height: 48px;
        width: 48px;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &.disabled {
        background-color: transparent;
        color: rgba(#596574, 0.7);
      }

      &.selected {
        background-color: $primary-blue-b2;
        color: rgb(255, 255, 255);

        mat-icon {
          color: #FFF;
        }
      }
    }
  }
}
