md-card {
  padding: 0;

  md-card-header {
    padding: 24px 24px 16px 24px;
  }

  md-card-content {
    padding: 5px 24px;
  }

  md-card-actions {
    margin: 0;
    padding: 0;
  }

  .footer-headline {
    font-size: 18px;
    font-weight: bold;
  }

  .footer-subtitle {
    font-size: 12px;
  }

  &.@{theme-cls} {
    color: @app-font-color;
  }

  md-card-footer {
    border-top: 1px solid #D8D8D8;
    padding: 24px;
  }
}