md-select-menu.@{theme-cls} {
  md-content {
    md-option:not([disabled]):hover, md-option:not([disabled]):focus {
      background-color: #1A89D4;
      color: #FFFFFF;
    }

    md-option[selected] {
      color: #596574;
      font-weight: bold;
    }

    md-option {
      height: 36px;
    }
  }
}

.md-select-menu-container {
  font-size: 14px !important;
  line-height: 18px;
}