md-select-menu.@{theme-cls} {
  md-content {
    md-option:not([disabled]):hover, md-option:not([disabled]):focus {
      background-color: #1A89D4;
      color: #FFFFFF;
    }

    md-option[selected] {
      color: #596574;
      font-weight: bold;
    }

    md-option {
      height: 36px;
    }
  }
}

.md-select-menu-container {
  font-size: 14px !important;
  line-height: 18px;
}

.normal {
  md-select.md-triton-theme .md-select-value {
    background-color: @dropdown-normal-bg-color;
    border-radius: 100px;
    border: 1px solid #D9DFE9;
    color: #6D7D94;
    font-size: 14px;
  }

  .md-select-value, .md-select-value.md-select-placeholder {
    margin: 8px 8px 0 0;
    padding: 0 12px 0 12px;
  }

  md-select.md-triton-theme:not([disabled]):focus .md-select-value {
    border-color: rgb(25,118,210);
  }
}

md-input-container.normal.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  transform: none;
}