<mat-accordion>
  <mat-expansion-panel *ngIf="!hasChildren()" class="menu-panel-header sidenav-mainmenu" [expanded]="expanded">
    <mat-expansion-panel-header class="sidenav-mainmenu" *ngIf="!hasChildren()">
      <mat-panel-title class="sidenav-mainmenu">
        <span [innerHtml]="metadata.name"></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="!hasChildren()">
      <div *ngFor="let child of metadata.children">
        <accordion-menu-link [metadata]="child" class="accordion-root"></accordion-menu-link>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="no-children" [class.activeButton]="checkActiveMenu(metadata.url)" fxLayout="row" fxLayoutAlign="end center" *ngIf="hasChildren()">
    <a fxFlex class="child-item" [routerLink]="metadata.url" [queryParams]="metadata.queryParams" (click)="closeSideNav()" [class.active]="active">{{metadata.name}}</a>
    <mat-icon fxFlex="1 1 25px" *ngIf="checkActiveMenu(metadata.url)" [class.activeButton]="checkActiveMenu(metadata.url)" fontIcon="icon-caret-left"></mat-icon>
  </div>
</mat-accordion>
