md-card {
  padding: 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

  md-card-header {
    padding: 24px 24px 16px 24px;
  }

  md-card-content {
    padding: 5px 24px;
  }

  md-card-actions {
    margin: 0;
    padding: 0;
  }

  .footer-headline {
    font-size: 18px;
    font-weight: bold;
  }

  .footer-subtitle {
    font-size: 12px;
  }

  &.#{$theme-cls} {
    color: $app-font-color;
  }

  md-card-footer {
    border: $card-footer-border-top;
  }
}