.#{$theme-cls} {
  &.md-datepicker-open {
    .md-datepicker-input {
      background-color: $date-picker-open-background-color;
      border-color: $date-picker-open-background-color;
    }
  }

  .md-datepicker-input-container {
    border: $input-border;

    .md-datepicker-input {
      min-width: 100px;
      line-height: $input-line-height;
      font-size: $input-font-size;
    }

    &.md-datepicker-focused {
      border-color: $input-focused-border-color;
    }

    .md-datepicker-triangle-button {
      top: 8px;
      right: 2px;
    }
  }

  .md-calendar-date {
    &.md-calendar-date-today {
      .md-calendar-date-selection-indicator {
        border-color: $date-picker-selection-indicator-color !important;
      }
    }

    &.md-calendar-selected-date {
      .md-calendar-date-selection-indicator {
        background-color: $date-picker-selection-indicator-color !important;
      }
    }
  }
}
