<div fxLayout="column">
  <mat-form-field fxFlex>
      <input matInput type="text"
             placeholder="Alias"
             (input)="onAliasChange($event.target.value)"
             [value]="artifactColumn.aliasName || ''"/>
  </mat-form-field>
  <div *ngIf="hasDateInterval"
       fxLayout="column">
    <div fxLayout="row"
         fxLayoutAlign="start center">
      <mat-form-field (click)="openDateFormatDialog()">
        <input matInput
              type="text"
              placeholder="Format"
              disabled
              style="cursor: pointer;"
              [value]="DATE_FORMATS_OBJ[artifactColumn.dateFormat] ? DATE_FORMATS_OBJ[artifactColumn.dateFormat].label : ''"/>
      </mat-form-field>
      <button mat-icon-button
              (click)="openDateFormatDialog()">
        <mat-icon fontIcon="icon-filter"></mat-icon>
      </button>
    </div>
  </div>
</div>


