<h1 mat-dialog-title i18n>Select fodler</h1>
<mat-divider></mat-divider>
<div mat-dialog-content style="height: 250px;">
  <remote-folder-selector (selectionChange)="onFolderSelected($event)"
                          [fileSystemAPI]="fileSystemAPI"
                          [rootNode]="rootNode"
  >
  </remote-folder-selector>
</div>
<div mat-dialog-actions>
  <button mat-raised-button i18n
          color="primary"
          (click)="onNoClick()"
  >
    Cancel
  </button>
  <div fxFlex></div>
  <button mat-raised-button cdkFocusInitial i18n
          color="warn"
          (click)="onYesClick()"
          [disabled]="!selectedPath"
  >
    Select
  </button>
</div>
